Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

fix: Определение подходящего цвета ShadekinSystem
  Content.Client/ADT/Shadekin/Systems/ShadekinSystem.Tint.cs
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
Owners: @JerryImMouse

испанские закарючки и новый шрифт
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
  Resources/Fonts/ADT/Airfool.ttf
  Resources/Fonts/ADT/Testo.ttf
  Resources/Prototypes/ADT/Languages/species-exclusive.yml
  Resources/Prototypes/ADT/fonts.yml
Owners: @JerryImMouse

Резаки снова можно изучить
  Resources/Prototypes/ADT/Research/industrial.yml
Owners: @JerryImMouse

Резаки снова можно изучить (#1933)
  Resources/Prototypes/ADT/Research/industrial.yml
Owners: @JerryImMouse

Кризис среднего возраста
  Content.Client/ADT/BookPrinter/BookPrinterBoundUserInterface.cs
  Content.Client/ADT/BookPrinter/BookPrinterWindow.xaml
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
  Content.Server/ADT/BookPrinter/BookCommands.cs
  Content.Server/ADT/BookPrinter/BookPrinterSystem.cs
  Content.Server/ADT/BookPrinter/CooldownManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Shared/ADT/BookPrinter/SharedBookPrinter.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
  Resources/Locale/ru-RU/ADT/bookprinter/bookprinter.ftl
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/hallucinations.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/book_printer.yml
  Resources/Prototypes/ADT/Hallucinations/supermatter.yml
  Resources/Prototypes/ADT/InventoryTemplates/ghost_inventory_template.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Owners: @JerryImMouse, @ficcialfaint, @DrSmugleaf

Update Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
Owners: @JerryImMouse

Тестирую апдейт юи
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
  Content.Server/ADT/BookPrinter/BookPrinterSystem.cs
  Content.Server/ADT/BookPrinter/CooldownManager.cs
  Content.Shared/ADT/BookPrinter/SharedBookPrinter.cs
  Resources/Locale/ru-RU/ADT/bookprinter/bookprinter.ftl
Owners: @JerryImMouse, @ficcialfaint

[ADD] Монитор бригмедика (#1914)
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/brigmedic_crew_monitor.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Textures/ADT/Objects/Specific/Medical/blueshield_handheldcrewmonitor.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Medical/blueshield_handheldcrewmonitor.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Medical/blueshield_handheldcrewmonitor.rsi/scanner-inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Medical/blueshield_handheldcrewmonitor.rsi/scanner-inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Medical/blueshield_handheldcrewmonitor.rsi/scanner.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner-inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner-inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner.png
Owners: @JerryImMouse, @ficcialfaint

Добавлена великая трагедия (Удалена бабушка гренни с барков)
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-queen.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/granny_1.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/granny_2.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/granny_3.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/granny_4.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/granny_5.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/granny_6.ogg
  Resources/Prototypes/ADT/Barks/misc.yml
  Resources/Prototypes/ADT/SoundCollections/barks.yml
Owners: @JerryImMouse

Моды ГВ, Капитана, БМа и Смотрителя
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Clothing/Hands/modsuit_gloves.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/modsuit_boots.yml
  Resources/Textures/ADT/Clothing/Back/Modsuit/smo.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/smo.rsi/icon.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/smo.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/smo.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/smo.rsi/meta.json
  Resources/Textures/ADT/Clothing/Hands/Modsuit/smo.rsi/equipped-HAND.png
  Resources/Textures/ADT/Clothing/Hands/Modsuit/smo.rsi/icon.png
  Resources/Textures/ADT/Clothing/Hands/Modsuit/smo.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Modsuit/smo.rsi/equipped-head-light.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/smo.rsi/equipped-head.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/smo.rsi/icon-flash.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/smo.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/smo.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/smo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/smo.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/smo.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Modsuit/smo.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Modsuit/smo.rsi/icon-on.png
  Resources/Textures/ADT/Clothing/Shoes/Modsuit/smo.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Modsuit/smo.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Modsuit/smo.rsi/on-equipped-FEET.png
Owners: @JerryImMouse

Небольшие правки в УИ
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
Owners: @JerryImMouse

Update Resources/Prototypes/Entities/Structures/Machines/silo.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @JerryImMouse

hero
  Content.Server/ADT/StationEvents/Components/IanHeroEvent.cs
  Content.Server/ADT/StationEvents/Events/IanHeroEvent.cs
  Resources/Locale/ru-RU/ADT/station-events/events/IanHero.ftl
  Resources/Maps/ADTMaps/Shuttles/Ian.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/structures.yml
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/icon-flash.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/off-equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/on-equipped-HELMET.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/meta.json
Owners: @JerryImMouse, @ficcialfaint, @Ko4ergaPunk

hero2
  Resources/Prototypes/ADT/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/GameRules/events.yml
Owners: @JerryImMouse

возможно фиксы (#1935)
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.cs
  Content.Server/ADT/GameTicking/Rules/DynamicRuleSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @JerryImMouse

Update hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
Owners: @JerryImMouse

Update hardsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @JerryImMouse

Update modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
Owners: @JerryImMouse

Update modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
Owners: @JerryImMouse

Update modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
Owners: @JerryImMouse

И ещё немного фиксов
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
  Content.Server/ADT/BookPrinter/BookPrinterSystem.cs
  Content.Server/ADT/BookPrinter/CooldownManager.cs
Owners: @JerryImMouse

Update modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
Owners: @JerryImMouse

Update modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
Owners: @JerryImMouse

Update modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
Owners: @JerryImMouse

Update modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
Owners: @JerryImMouse

Update modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
Owners: @JerryImMouse

уменьшение засёра
  Resources/Prototypes/ADT/Recipes/Lathes/misc.yml
Owners: @JerryImMouse

Немного подправил код + убрал лишнее использование картриджа
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
  Content.Server/ADT/BookPrinter/BookPrinterSystem.cs
  Content.Server/ADT/BookPrinter/Components/BookPrinterComponent.cs
Owners: @JerryImMouse

Заказ на крылья и уши от Пангари
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/Human.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Human.yml
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/feathered_ears.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/feathered_wings.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

fix: Теперь у щита один монитор
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
Owners: @ficcialfaint, @JerryImMouse

Перенос именных маркингов Пангари в соответствующие файлы
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/Human.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Human.yml
  Resources/Prototypes/ADT/Entities/Personalization/Markings/personalization_markings.yml
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/meta.json
  Resources/Textures/ADT/Personalization/pangaari_feathered.rsi/feathered_ears.png
  Resources/Textures/ADT/Personalization/pangaari_feathered.rsi/feathered_wings.png
  Resources/Textures/ADT/Personalization/pangaari_feathered.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

[ADD] Заказ на крылья и уши от Пангари (#1938)
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Markings/personalization_markings.yml
  Resources/Textures/ADT/Personalization/pangaari_feathered.rsi/feathered_ears.png
  Resources/Textures/ADT/Personalization/pangaari_feathered.rsi/feathered_wings.png
  Resources/Textures/ADT/Personalization/pangaari_feathered.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

fix: Правки бота (про ymlы видов чухня)
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Resources/Prototypes/Body/Organs/vox.yml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Arachnid.xml
Owners: @JerryImMouse, @DrSmugleaf

- tweak: улучшил UI BookPrinter с локализацией и исправление мерцания кулдауна в UI
  Content.Client/ADT/BookPrinter/BookPrinterBoundUserInterface.cs
  Content.Client/ADT/BookPrinter/BookPrinterWindow.xaml
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
  Resources/Locale/ru-RU/ADT/bookprinter/bookprinter.ftl
Owners: @JerryImMouse, @ficcialfaint

- tweak: Правка обрезание, и делаем нижнюю часть окна статичной
  Content.Client/ADT/BookPrinter/BookPrinterWindow.xaml
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
Owners: @JerryImMouse

- я дурак, делаем нижнее окно статичным
  Content.Client/ADT/BookPrinter/BookPrinterWindow.xaml
Owners: @JerryImMouse

- рефактор UI убираю свой хардкод
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
Owners: @JerryImMouse

больше благодарностей
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

hero3
  Content.Server/ADT/StationEvents/Events/IanHeroEvent.cs
  Resources/Locale/ru-RU/ADT/station-events/events/IanHero.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/meta.json
Owners: @JerryImMouse, @ficcialfaint

ААААА НЕМЦЫ!!!!
  Content.Server/ADT/Speech/EntitySystems/DeutschAccentSystem.cs
Owners: @JerryImMouse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
