Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

Спрайт + мета коньков ez
  Resources/Textures/Clothing/Shoes/Specific/skates.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Specific/skates.rsi/meta.json
Owners: @Morb0

fix(src): Пофикшено, AdditionalMap снова работает
  Content.Server/ADT/AdditionalMapLoader/AdditionalMapLoaderSystem.cs
  Resources/Prototypes/ADT/Maps/additionalmap.yml
Owners: @Morb0

tweak(proto): откатываю DEv тест штуки
  Resources/Prototypes/ADT/Maps/additionalmap.yml
Owners: @Morb0

fix(map): ФИКс /Resources/Maps/loop.yml
  Resources/Maps/loop.yml
Owners: @Ko4ergaPunk

Добавление ролей Юр. департамента в Kerberos, Avrit.
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_avrite.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_kerberos.yml
Owners: @Morb0

fix(map): Фикс линтера гридов
  Resources/Maps/ADTMaps/Ghostbars/calm_ghostly_bar.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/cbun.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/default-rev.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/default.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/engineer.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/janitor.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/medical.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/security.yml
  Resources/Maps/centcomm.yml
  Resources/Maps/loop.yml
Owners: @Ko4ergaPunk

fix(map): id: BloodMinerDungeMarker закоменчен везде
  Resources/Prototypes/ADT/Procedural/Themes/lavadunges.yml
  Resources/Prototypes/ADT/planets.yml
Owners: @Morb0

fix(proto): у ClothingOuterArmorAirsoftRed и ClothingOuterArmorAirsoftBlue, убран BaseRestrictedContraband из parent:
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
Owners: @Morb0

Исправление бага + Локализация Numb
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
Owners: @ficcialfaint, @Morb0

Update disabilities.yml
  Resources/Prototypes/Traits/disabilities.yml
Owners: @Morb0

fix(map): Fix, раскоменчиваем
  Resources/Maps/packed.yml
Owners: @Ko4ergaPunk

[TEST FIX] Фикс дебаг-теста (#1125)
  Resources/Maps/packed.yml
Owners: @Ko4ergaPunk

fix(map): Fix packed
  Resources/Maps/packed.yml
Owners: @Ko4ergaPunk

Разделение времени на часы и время в подсказках лобби выбора приоритета ролей
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/OverallPlaytimeRequirement.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
Owners: @Morb0, @ficcialfaint

fix(map): corvax_centcomm.yml сохранен как грид, Misc/terminal.yml сохранена как карта
  Resources/Maps/Corvax/corvax_centcomm.yml
  Resources/Maps/Misc/terminal.yml
Owners: @Ko4ergaPunk

fix(map): corvax_centcomm.yml небольшие правки в прототипе
  Resources/Maps/Misc/terminal.yml
Owners: @Ko4ergaPunk

fix(map): опять правки в терминале
  Resources/Maps/Misc/terminal.yml
Owners: @Ko4ergaPunk

tweak(proto): закомменчен magazinevisual в WeaponDragonBreath
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/Megafauna/Drake.yml
Owners: @Morb0

fix(proto): фикс скафандра ОСЩ
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @Morb0

fix(proto): ADTWeaponEnergyCrossbow, добавлен AppearanceComponent
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
Owners: @Morb0

fix(proto): Фиксы скафандров, и энерго арбалетов
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Owners: @Morb0

Переработчик руды имеет кнопку для получения очков
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Owners: @Morb0

Исправление бага + Локализация Numb (#1128)
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
Owners: @ficcialfaint, @Morb0

додумала работу функции ContentLocalizationManager
  Content.Shared/Localizations/ContentLocalizationManager.cs
Owners: @Morb0

Комменты ADT к коду
  Content.Shared/Localizations/ContentLocalizationManager.cs
Owners: @Morb0

add(proto): Расширение саунд коллекций
  Resources/Prototypes/ADT/SoundCollections/events.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/SoundCollections/screams.yml
Owners: @Morb0

add(proto): Добавление и замена звуков в прототипы
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/toy.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @Morb0

tweak(src): Изменения в PowerGridCheckRule для большего соответствия звукам
  Content.Server/StationEvents/Components/PowerGridCheckRuleComponent.cs
  Content.Server/StationEvents/Events/PowerGridCheckRule.cs
Owners: @Morb0

tweak(src): Ещё изменения для соответствия звукам
  Content.Server/StationEvents/Events/PowerGridCheckRule.cs
Owners: @Morb0

style: Комменты
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @Morb0

[Feature] Build control
  build_start_ss14.bat
  build_start_ss14.py
Owners: @Morb0

style: Ещё комменты
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @Morb0

fix(proto): Фикс линтера
  Resources/Prototypes/AlertLevels/alert_levels.yml
Owners: @Morb0

remove(py): Убран лишний месседж бокс
  build_start_ss14.py
Owners: @Morb0

tweak: полный рефактор, переписываем на customtkinter
  build_start_ss14.bat
  build_start_ss14.py
Owners: @Morb0

Revert "[MAPPING] Любовьвенды на картах ко Дню Святого Валентина"
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_box.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_marathon.yml
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
  Resources/Maps/ADTMaps/ADTStations/adt_saltern.yml
Owners: @Ko4ergaPunk

Revert "[MAPPING] Любовьвенды на картах ко Дню Святого Валентина" (#1133)
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_box.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_marathon.yml
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
  Resources/Maps/ADTMaps/ADTStations/adt_saltern.yml
Owners: @Ko4ergaPunk

[FIX] Фиксы спрайтов и ошибок билдтеста
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Cartons/black.rsi/icon.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Cartons/blue.rsi/icon.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Cartons/green.rsi/icon.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Cartons/mixed.rsi/icon.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Cartons/red.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/mag-cap-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/mag-cap-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/mag-cap-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/base-big.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-big-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-big-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-big-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-flare-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-flare-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-flare-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-flare-4.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-incend-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-incend-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-incend-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-incend-4.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-practice-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-practice-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-practice-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-practice-4.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-slug-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-slug-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-slug-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-slug-4.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-tranq-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-tranq-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-tranq-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-tranq-4.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-uranium-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-uranium-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-uranium-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-uranium-4.png
  Resources/migration.yml
Owners: @Morb0

[FIX] Удаление спрайтов лишних
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-beanbag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-beanbag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-beanbag-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-beanbag-4.png
Owners: @Morb0

BugFixes (#1121)
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/OverallPlaytimeRequirement.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
  Resources/Prototypes/ADT/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Salvage/lavaland_loot.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlock/airlocks.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_avrite.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_kerberos.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Textures/Clothing/Shoes/Specific/skates.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Specific/skates.rsi/meta.json
Owners: @Morb0, @ficcialfaint

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk
