Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

refactor(src): Соответствующие изменения в системах, взаимодействующих с языками
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
  Content.Server/ADT/TapeRecorder/TapeRecorderSystem.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Owners: @Morb0

add(src): Добавление языков, которые появятся у представителя расы несмотря ни на что
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
Owners: @Morb0

remove(src): Удаление старого коллективного разума в связи с переводом на языки
  Content.Client/ADT/CollectiveMind/Systems/CollectiveMindSystem.cs
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Server/ADT/CollectiveMind/CollectiveMindCommand.cs
  Content.Shared/ADT/CollectiveMind/CollectiveMindComponent.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
Owners: @Morb0

remove(src): Убрал ненужное
  Content.Server/ADT/Language/ChatSystem.Language.cs
Owners: @Morb0

add(proto): Шрифты для языков
  Resources/Fonts/ADT/Blackcraft.ttf
  Resources/Fonts/ADT/CaesarDressing.ttf
  Resources/Fonts/ADT/CarloMelowSans.ttf
  Resources/Fonts/ADT/Futurespore.ttf
  Resources/Fonts/ADT/Miroslav.ttf
  Resources/Fonts/ADT/Pixelizer.ttf
  Resources/Fonts/ADT/Plantype.otf
  Resources/Fonts/ADT/Propaniac.ttf
  Resources/Fonts/ADT/Specialelite.ttf
  Resources/Fonts/ADT/Testo.ttf
  Resources/Prototypes/ADT/fonts.yml
Owners: @Morb0

refactor(proto): Изменение существующих прототипов языков под новый код
  Resources/Prototypes/ADT/Languages/languages.yml
  Resources/Prototypes/ADT/Languages/roundstart.yml
  Resources/Prototypes/ADT/Languages/species-exclusive.yml
Owners: @Morb0

refactor(proto): Перевод коллективного разума с прототипов радиоканалов на прототипы языка
  Resources/Prototypes/ADT/CollectiveMind/channels.yml
  Resources/Prototypes/ADT/Languages/collective-mind.yml
Owners: @Morb0

fix(lang): САМЫЙ ВАЖНЫЙ фикс, без которого шрифты языков не применяются
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
Owners: @ficcialfaint

refactor(proto): Перевод прототипов сущности на "языки" коллективного разума
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Owners: @Morb0

add(proto): Перманентный коллективный разум дионам
  Resources/Prototypes/Species/diona.yml
Owners: @Morb0

add(lang): Локаль
  Resources/Locale/ru-RU/ADT/Languages/languages.ftl
  Resources/Locale/ru-RU/ADT/collectivemind/collective-mind.ftl
Owners: @ficcialfaint

add(src): Коллективный разум генокрадам
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.cs
Owners: @Morb0

tweak(proto): Мелкие изменения дион и их языков
  Resources/Prototypes/ADT/Languages/collective-mind.yml
  Resources/Prototypes/ADT/Languages/species-exclusive.yml
Owners: @Morb0

fix(src): Фикс возможности говорить в рацию с коллективного разума
  Content.Server/Chat/Systems/ChatSystem.cs
Owners: @Morb0

fix(proto): Fix linter
  Resources/Prototypes/ADT/Languages/species-exclusive.yml
Owners: @Morb0

Золотая Бита (#1149)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/goldbat.yml
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/wielded-inhand-right.png
Owners: @ficcialfaint, @Morb0

fix(src): Фикс билд тестера
  Content.Server/ADT/Language/LanguageSystem.cs
  Content.Shared/ADT/Language/Systems/SharedLanguageSystem.cs
Owners: @Morb0

add(src): `ILanguageCondition` и основные языковые условия
  Content.Server/ADT/Chat/Events/CanHearVoiceEvent.cs
  Content.Server/ADT/Language/Conditions/CanEmote.cs
  Content.Server/ADT/Language/Conditions/CanHear.cs
  Content.Server/ADT/Language/Conditions/CanSee.cs
  Content.Server/ADT/Language/Conditions/CanSpeak.cs
  Content.Server/ADT/Language/Conditions/OnlyToCanUnderstand.cs
  Content.Shared/ADT/Language/ILanguageCondition.cs
Owners: @Morb0

add(src): Добавление `ILanguageCondition[]` в прототип языка, а так же парентинг языков
  Content.Shared/ADT/Language/LanguagePrototype.cs
Owners: @Morb0

add(src): Добавление проверок на `ILanguageCondition`
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
  Content.Server/Chat/Systems/ChatSystem.cs
Owners: @Morb0

tweak(proto): Изменения прототипов в соответствии с кодом
  Resources/Prototypes/ADT/Languages/base.yml
  Resources/Prototypes/ADT/Languages/languages.yml
  Resources/Prototypes/ADT/Languages/roundstart.yml
  Resources/Prototypes/ADT/Languages/species-exclusive.yml
Owners: @Morb0

add(src, ui): Добавлен переключаемый через настройки шрифт
  Content.Client/ADT/UserInterface/RichText/ToggleableFondTag.cs
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
Owners: @Morb0

fix(src): Перенос `ChatTransmissionRange` в `Shared` и соответствующие фиксы
  Content.Server/ADT/Administration/Commands/EchoChatCommand.cs
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatSystem.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatSystem.cs
  Content.Server/ADT/BloodCough/BloodCoughSystem.cs
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
  Content.Server/ADT/ComponentalActions/EntitySystems/ComponentalActions.Abilities.cs
  Content.Server/ADT/Language/LanguageTypes/CollectiveMind.cs
  Content.Server/ADT/Language/LanguageTypes/Emotes.cs
  Content.Server/ADT/Language/LanguageTypes/Generic.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Chat/Commands/MeCommand.cs
  Content.Server/Chat/Commands/SayCommand.cs
  Content.Server/Chat/Commands/WhisperCommand.cs
  Content.Server/Chat/Systems/AutoEmoteSystem.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Chat/Systems/EmoteOnDamageSystem.cs
  Content.Server/Cluwne/CluwneSystem.cs
  Content.Server/EntityEffects/Effects/Emote.cs
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Mobs/CritMobActionsSystem.cs
  Content.Shared/ADT/Language/ILanguageType.cs
  Content.Shared/Chat/SharedChatSystem.cs
Owners: @Morb0

tweak(lang): Локаль для настройки и переключаемого шрифта
  Resources/Locale/ru-RU/ADT/collectivemind/collective-mind.ftl
  Resources/Locale/ru-RU/ADT/user-interface/options.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
Owners: @ficcialfaint

remove(src): Убрал лишний енум
  Content.Shared/ADT/Language/ILanguageType.cs
Owners: @Morb0

fix(src): Возможно фикс билд тестера
  Content.Server/ADT/Phantom/EntitySystems/PhantomSystem.cs
Owners: @Morb0

tweak(proto): Перевод языка новакидов на эмоут язык
  Resources/Prototypes/ADT/Languages/species-exclusive.yml
Owners: @Morb0

fix(src): Фикс линтера
  Content.Server/ADT/Language/LanguageTypes/Emotes.cs
Owners: @Morb0

add(proto): Добавил звук языку жестов
  Resources/Prototypes/ADT/Languages/languages.yml
Owners: @Morb0

fix(src): Ещё одна попытка фикса
  Content.Server/ADT/Language/LanguageTypes/Generic.cs
Owners: @Morb0

fix(src): Фиксики
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
  Content.Server/ADT/Language/Conditions/CanEmote.cs
  Content.Server/ADT/Language/Conditions/CanHear.cs
  Content.Server/ADT/Language/Conditions/CanSee.cs
  Content.Server/ADT/Language/Conditions/CanSpeak.cs
  Content.Server/ADT/Language/Conditions/OnlyToCanUnderstand.cs
  Content.Server/ADT/Language/LanguageTypes/CollectiveMind.cs
  Content.Server/ADT/Language/LanguageTypes/Emotes.cs
  Content.Server/ADT/Language/LanguageTypes/Generic.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/ADT/Language/ILanguageCondition.cs
Owners: @Morb0

add(src, lang): Код трейта глухоты
  Content.Client/ADT/Bark/Systems/SpeechBarksSystem.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Server/ADT/Language/LanguageSystem.Traits.cs
  Content.Server/ADT/Language/LanguageSystem.cs
  Content.Shared/ADT/Language/Components/DeafTraitComponent.cs
  Resources/Locale/ru-RU/ADT/traits/popup.ftl
Owners: @Morb0, @ficcialfaint

add(proto, lang): Прототипы и локаль для глухоты
  Resources/Locale/ru-RU/ADT/traits/disabilities.ftl
  Resources/Prototypes/ADT/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/ADT/Traits/disabilities.yml
Owners: @ficcialfaint, @Morb0

fix(proto): Фикс "???" в коллективном разуме генокрада
  Resources/Prototypes/ADT/Languages/collective-mind.yml
Owners: @Morb0

style(src): Убрал пару лишних строк
  Content.Shared/ADT/Language/Systems/SharedTranslatorImplantSystem.cs
Owners: @Morb0

fix(src): Убрал добавление компонента ранга колл разума генокраду (оно не нужно)
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.cs
Owners: @Morb0

style: Коммент
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
Owners: @Morb0

no more avrit
  Resources/Prototypes/Maps/Pools/default.yml
Owners: @Ko4ergaPunk

IPC (#1146)
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyestall.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_loading.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nature.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_pink.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_rainbowdiag.png
Owners: @Morb0

tweak(src): Небольшие изменения ActionBoughtEvent
  Content.Server/ADT/Store/ActionBoughtEvent.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
Owners: @Morb0

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk
