Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

tweak: Кнопки Amount обновляются, добавлены кнопки переноса всего количества вещества и удаления шаблона.
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
Owners: @JerryImMouse, @ficcialfaint

Hopefuly final update
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/chairs.ftl
Owners: @ficcialfaint

MaxOccurrences ion storm (#298)
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

add beer
  Resources/Locale/ru-RU/ADT/Flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Drinks/drinks.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/consumable/alcohol.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/ADT/Flavors/flavors.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Update construction.ftl
  Resources/Locale/ru-RU/ADT/recipes/construction.ftl
Owners: @ficcialfaint

Hopefuly final update
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
Owners: @JerryImMouse

Revert "хотфикс (#1979)"
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Content.Shared/Weapons/Melee/Components/MeleeThrowOnHitComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
Owners: @JerryImMouse, @metalgearsloth

Revert "Переработка тел без души (#1944)"
  Resources/Prototypes/ADT/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @JerryImMouse, @DrSmugleaf

[ADD] Два новых пива. (#1983)
  Resources/Locale/ru-RU/ADT/Flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Drinks/drinks.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/consumable/alcohol.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/ADT/Flavors/flavors.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Фикс локализации со стульями (#1982)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/chairs.ftl
Owners: @ficcialfaint

Update map-proto-check.yml (#1980)
  .github/workflows/map-proto-check.yml
Owners: @JerryImMouse

Update big_boxes.yml
  Resources/Prototypes/ADT/Entities/Structures/Storage/Closets/big_boxes.yml
Owners: @JerryImMouse

Update big_boxes.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/Closets/big_boxes.ftl
Owners: @ficcialfaint

Больше коробок богу коробок (#1972)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/Closets/big_boxes.ftl
  Resources/Prototypes/ADT/Entities/Structures/Storage/Closets/big_boxes.yml
  Resources/Textures/ADT/Structures/Storage/boxes/medical.rsi/cardboard.png
  Resources/Textures/ADT/Structures/Storage/boxes/medical.rsi/cardboard_open.png
  Resources/Textures/ADT/Structures/Storage/boxes/medical.rsi/meta.json
  Resources/Textures/ADT/Structures/Storage/boxes/security.rsi/cardboard.png
  Resources/Textures/ADT/Structures/Storage/boxes/security.rsi/cardboard_open.png
  Resources/Textures/ADT/Structures/Storage/boxes/security.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Update trinkets.yml
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/trinkets.yml
Owners: @JerryImMouse

Update loadout_groups.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Owners: @JerryImMouse

Добавление компактной карты в лоадаут (#1981)
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Owners: @JerryImMouse

sponsor false
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Tajaran.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Vulpkanin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Vulpkanin_hair.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/ipc_screens.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/sponsor.yml
  Resources/Prototypes/ADT/Species/Ursus.yml
  Resources/Prototypes/ADT/Traits/speech.yml
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
Owners: @JerryImMouse

add bso halberd (#158)
  Resources/Locale/ru-RU/ADT/salvage/mining-voucher.ftl
  Resources/Locale/ru-RU/SD/prototypes/entitites/objects/melee/melee.ftl
  Resources/Prototypes/ADT/Catalog/blueshield_voucher.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/misc_voucher.yml
  Resources/Prototypes/SD/Entities/Objects/Weapons/melee.yml
  Resources/Textures/SD/Objects/Weapons/Melee/halberd.rsi/equipped-BACKPACK.png
  Resources/Textures/SD/Objects/Weapons/Melee/halberd.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SD/Objects/Weapons/Melee/halberd.rsi/icon.png
  Resources/Textures/SD/Objects/Weapons/Melee/halberd.rsi/inhand-left.png
  Resources/Textures/SD/Objects/Weapons/Melee/halberd.rsi/inhand-right.png
  Resources/Textures/SD/Objects/Weapons/Melee/halberd.rsi/meta.json
  Resources/Textures/SD/Objects/Weapons/Melee/halberd.rsi/wielded-inhand-left.png
  Resources/Textures/SD/Objects/Weapons/Melee/halberd.rsi/wielded-inhand-right.png
Owners: @ficcialfaint, @JerryImMouse

update maps
  Resources/Maps/SDMaps/SDStations/SD_Joule.yml
Owners: @Ko4ergaPunk

Small RND Update
  Content.Client/ADT/MiningShop/MiningShopButton.xaml.cs
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Client/ADT/Research/UI/TechnologyInfoPanel.xaml
  Content.Client/ADT/Research/UI/TechnologyInfoPanel.xaml.cs
  Resources/Audio/ADT/Lobby/Pursuit_Corner_the_Culprit_2004.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Textures/Structures/Storage/Crates/science.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/open.png
  Resources/Textures/Structures/Storage/closet.rsi/bio_sci_door.png
  Resources/Textures/Structures/Storage/closet.rsi/gen_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/robo_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/sci_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/science.png
  Resources/Textures/Structures/Storage/closet.rsi/science_door.png
Owners: @JerryImMouse

Update statues.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/statues.yml
Owners: @JerryImMouse

Поправил шоколадный батончик
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
Owners: @JerryImMouse

Добавление функции молитвы на других алтарях (#1984)
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
Owners: @JerryImMouse

Поправил шоколадный батончик (#1987)
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
Owners: @JerryImMouse

radioTextIncrease fix 2 (#299)
  Content.Client/ADT/UserInterface/RichText/ToggleableFondTag.cs
Owners: @JerryImMouse

tweak: Добавлены кнопки для создания бутылок с препаратами (наконец-то блять, спустя полмесяца)
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
Owners: @JerryImMouse, @ficcialfaint

barks on (#300)
  Content.Shared/ADT/CCVar/ADTCCVars.cs
Owners: @JerryImMouse

фиксы
  Resources/Maps/ADTMaps/ADTStations/adt_reach.yml
Owners: @Ko4ergaPunk

tweak: Исправлено добавление бутылочек в химмастер (теперь первая бутылка появляется правильно)
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Owners: @JerryImMouse

- tweak(ui): Слегка обновил УИ
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/ADT/Research/UI/TechnologyInfoPanel.xaml
  Resources/Textures/Objects/Weapons/Guns/Shuttles/laser.rsi/lse-1200c.png
Owners: @JerryImMouse

Small RND Update (#1985)
  Content.Client/ADT/MiningShop/MiningShopButton.xaml.cs
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Client/ADT/Research/UI/TechnologyInfoPanel.xaml
  Content.Client/ADT/Research/UI/TechnologyInfoPanel.xaml.cs
  Resources/Audio/ADT/Lobby/Pursuit_Corner_the_Culprit_2004.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Textures/Objects/Weapons/Guns/Shuttles/laser.rsi/lse-1200c.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/open.png
  Resources/Textures/Structures/Storage/closet.rsi/bio_sci_door.png
  Resources/Textures/Structures/Storage/closet.rsi/gen_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/robo_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/sci_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/science.png
  Resources/Textures/Structures/Storage/closet.rsi/science_door.png
Owners: @JerryImMouse

try to fix RGA and YAML map scheme validators (#4410)
  .github/Schemas/mapfile_requirements.txt
  .github/Schemas/rga.yml
  .github/Schemas/rga_requirements.txt
  .github/Schemas/rga_validators.py
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
Owners: @JerryImMouse

Раскоментил тест
  .github/workflows/map-proto-check.yml
Owners: @JerryImMouse

Фикс тестов (#1988)
  .github/Schemas/mapfile_requirements.txt
  .github/Schemas/rga.yml
  .github/Schemas/rga_requirements.txt
  .github/Schemas/rga_validators.py
  .github/workflows/map-proto-check.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
Owners: @JerryImMouse

fix: Мензурка не вылетает; tweak: изменён форм-фактор кнопок для бутылочек; add: Добавлена кнопка Eject для бутылочек add: Добавлена кнопка Eject для строк бутылочек
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
Owners: @JerryImMouse

Реверт псевдо респрайта
  Resources/Textures/Structures/Storage/Crates/science.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/open.png
  Resources/Textures/Structures/Storage/closet.rsi/bio_sci_door.png
  Resources/Textures/Structures/Storage/closet.rsi/robo_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/sci_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/science.png
  Resources/Textures/Structures/Storage/closet.rsi/science_door.png
Owners: @JerryImMouse

Реверт псевдо респрайта (#1989)
  Resources/Textures/Structures/Storage/Crates/science.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/open.png
  Resources/Textures/Structures/Storage/closet.rsi/bio_sci_door.png
  Resources/Textures/Structures/Storage/closet.rsi/robo_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/sci_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/science.png
  Resources/Textures/Structures/Storage/closet.rsi/science_door.png
Owners: @JerryImMouse

фиксы
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/siliconchargers.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Lavaland/lavalandplants.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/bats.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/cleawing_saw.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/frostpunk.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/ert_startinggear.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Corvax/Damage/modifier_sets.yml
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/air_alarm.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Textures/Tiles/steel_dirty.png
Owners: @JerryImMouse, @Ko4ergaPunk

enum.ToggleVisuals.Toggled --> enum.ToggleableVisuals.Enabled
  Resources/Prototypes/ADT/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/exoskeletons.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/jumpboots.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/handheld.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/IAAcane.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/bats.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/cleawing_saw.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
Owners: @JerryImMouse
