Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

Update handheld_crew_monitor.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
Owners: @JerryImMouse

Update security.yml
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/security.yml
Owners: @JerryImMouse

pets make sentient
  Content.Server/EntityEffects/Effects/MakeSentient.cs
Owners: @JerryImMouse

Update paranormal.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/paranormal.yml
Owners: @JerryImMouse

pats
  Content.Server/EntityEffects/Effects/MakeSentient.cs
  Resources/Locale/en-US/ADT/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/toxins.ftl
Owners: @JerryImMouse, @ficcialfaint

Update paranormal.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/paranormal.yml
Owners: @JerryImMouse

init commit
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/CommandExecutorWindow.xaml
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/CommandExecutorWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Resources/Locale/ru-RU/ADT/administration/ui/tabs/command-executor-panel.ftl
Owners: @JerryImMouse, @ficcialfaint

- убираю лишнюю локаль
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/CommandExecutorWindow.xaml
  Resources/Locale/ru-RU/ADT/administration/ui/tabs/command-executor-panel.ftl
Owners: @JerryImMouse, @ficcialfaint

- Правка локали + подписи футеры на свои панели
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/CommandExecutorWindow.xaml
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/EchoChatPanelWindow.xaml
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/PlayTimeEditorWindow.xaml
  Resources/Locale/ru-RU/ADT/administration/ui/tabs/command-executor-panel.ftl
Owners: @JerryImMouse, @ficcialfaint

tweak
  Content.Server/EntityEffects/Effects/MakeSentient.cs
  Resources/Locale/en-US/ADT/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/toxins.ftl
Owners: @JerryImMouse, @ficcialfaint

clear
  Content.Server/EntityEffects/Effects/MakeSentient.cs
  Resources/Locale/en-US/ADT/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/toxins.ftl
Owners: @JerryImMouse, @ficcialfaint

fix(map): Фиксы карт
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
  Resources/Maps/ADTMaps/Shuttles/adt_emergency.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Personalization/sirtalter_mining_uniform.rsi/equipped-INNERCLOTHING.png
Owners: @Ko4ergaPunk, @JerryImMouse

[FIX] Фиксы карт (#1919)
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
  Resources/Maps/ADTMaps/Shuttles/adt_emergency.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Personalization/sirtalter_mining_uniform.rsi/equipped-INNERCLOTHING.png
Owners: @Ko4ergaPunk, @JerryImMouse

[Tweak] pets make sentient (#1917)
  Content.Server/EntityEffects/Effects/MakeSentient.cs
  Resources/Locale/en-US/ADT/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/toxins.ftl
Owners: @JerryImMouse, @ficcialfaint

[FIX] Chaos mode (#1894)
  Content.Server/StationEvents/Components/RampingStationEventSchedulerComponent.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
Owners: @JerryImMouse

[ADD] Случайная динамика (#1870)
  Content.Server/ADT/GameTicking/Rules/Components/DynamicRandomRuleComponent.cs
  Content.Server/ADT/GameTicking/Rules/DynamicRandomRuleSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
  Resources/Locale/ru-RU/ADT/game-ticking/game-presets/preset-traitor.ftl
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/dynamic_weights.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/game_presets.yml
Owners: @JerryImMouse, @ficcialfaint

init commit
  Content.Server/ADT/Systems/AIDownloadSystem.cs
  Content.Server/ADT/Utils/AITileHelper.cs
  Resources/Prototypes/ADT/Entities/Objects/Core_AI/toy_ai.yml
Owners: @JerryImMouse

fast fix
  Content.Server/Power/EntitySystems/ChargerSystem.cs
Owners: @JerryImMouse

fast fix (#1922)
  Content.Server/Power/EntitySystems/ChargerSystem.cs
Owners: @JerryImMouse

всё-свё
  Content.Server/ADT/GameTicking/Rules/DynamicRuleSystem.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/ADT/Magic/ImmovableVoidRodSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Owners: @JerryImMouse

фикс ЯМЛя
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Resources/Prototypes/ADT/GameRules/roundstart.yml
Owners: @JerryImMouse

Update Content.Server/ADT/Chemistry/HasComponentCondition.cs
  Content.Server/ADT/Chemistry/HasComponentCondition.cs
Owners: @JerryImMouse

Update Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
Owners: @JerryImMouse

Update Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Owners: @JerryImMouse

Update Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Owners: @JerryImMouse

Update Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Owners: @JerryImMouse

fast mob fix
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

фикс
  Content.Server/ADT/Chemistry/HasComponentCondition.cs
Owners: @JerryImMouse

фиксы ЯМЛя
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Owners: @JerryImMouse

фикс ЯМЛя
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Owners: @JerryImMouse

- Перенос в админабуз
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/CommandExecutorWindow.xaml
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/CommandExecutorWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml
Owners: @JerryImMouse

[Admin] Admin tab new CommandExecute (#1918)
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/CommandExecutorWindow.xaml
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/CommandExecutorWindow.xaml.cs
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/EchoChatPanelWindow.xaml
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/PlayTimeEditorWindow.xaml
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml
  Resources/Locale/ru-RU/ADT/administration/ui/tabs/command-executor-panel.ftl
Owners: @JerryImMouse, @ficcialfaint

локаль динамики
  Content.Server/ADT/GameTicking/Rules/DynamicRuleSystem.cs
  Resources/Locale/ru-RU/ADT/Dymanic/dynamic.ftl
Owners: @JerryImMouse, @ficcialfaint

Update Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Void.cs
Owners: @JerryImMouse

Mob Fix (#1924)
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

ЫЫЕ
  Content.Server/ADT/Heretic/EntitySystems/HereticSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @JerryImMouse

фикс тестов
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @JerryImMouse

улучшения
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

Лишнее чик чик
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

сортировка
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse
