Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

Убрал неубранный сезонный контент (#1895)
  Resources/Locale/ru-RU/ADT/Objects/Fun/lethal_company_air_horn.ftl
  Resources/Locale/ru-RU/ADT/Objects/Tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Eyes/glasses.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hoods.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/boots.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Underwear/socks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/cookies.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/donuts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/toys.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/swords.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Dispensers/witch_cauldron.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Wallmount/Signs/posters.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
  Resources/Prototypes/ADT/Entities/Clothing/Underwear/Socks/socks.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/underwear.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
Owners: @ficcialfaint, @JerryImMouse

fix(proto): Пофиксил цену MaterialSilo
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
Owners: @JerryImMouse

Мороженки!!!
  Resources/Locale/ru-RU/ADT/guidebook/guides.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/meat.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Guidebook/references.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/ServerInfo/ADT/Guidebook/Service/BaseRecipes.xml
  Resources/ServerInfo/ADT/Guidebook/Service/FoodRecipes.xml
  Resources/ServerInfo/ADT/Guidebook/Service/IcecreamRecipes.xml
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/bars.rsi/bar-chunk.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/bars.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/meat.rsi/smoked-sausage-slice.png
  Resources/Textures/ADT/Objects/Consumable/Food/meat.rsi/smoked-sausage.png
Owners: @ficcialfaint, @JerryImMouse

fix: добавлена белая бесконечная свеча, исправлены стейты огня
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
Owners: @JerryImMouse

fix: Поправлена локаль
  Resources/Locale/ru-RU/ADT/chaplain/chaplain.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Actions/chaplain.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/candles.ftl
Owners: @ficcialfaint

tweak: теперь можно освящать свечи, делая их бесконечными
  Content.Server/ADT/Chaplain/Systems/ChaplainSystem.cs
Owners: @JerryImMouse

Небольшие правки кода, изменение описания ролей, а так же удаление борга сб как самостоятельной роли.
  Content.Server/ADT/BlueSpaceCrystalTeleport/Component/BsCrystalTeleportComponent.cs
  Content.Server/ADT/BlueSpaceCrystalTeleport/System/BsCrystalTeleportSystem.cs
  Content.Shared/ADT/Vehicle/Components/InVehicleComponent.cs
  Content.Shared/ADT/Vehicle/Components/RiderComponent.cs
  Content.Shared/ADT/Vehicle/Components/VehicleComponent.cs
  Content.Shared/ADT/Vehicle/Systems/SharedVehicleSystem.cs
  Resources/Locale/ru-RU/ADT/Job/department-desc.ftl
  Resources/Locale/ru-RU/ADT/Job/department.ftl
  Resources/Locale/ru-RU/ADT/Job/departments.ftl
  Resources/Locale/ru-RU/ADT/Job/job-description.ftl
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Prototypes/ADT/Roles/Jobs/Borgs/secborg.yml
  Resources/Prototypes/ADT/Roles/play_time_trackers.yml
  Resources/Prototypes/ADT/audio.yml
  Resources/Prototypes/audio.yml
Owners: @JerryImMouse, @ficcialfaint

дегибизация еретика
  Content.Server/ADT/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.AshAscend.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Shared/ADT/Heretic/Components/SacrificedComponent.cs.cs
  Content.Shared/ADT/ThermalVision/SharedThermalVisionSystem.cs
  Resources/Locale/ru-RU/ADT/Heretic/sacrificed.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Datasets/Names/names_eligibleTags.ftl
  Resources/Prototypes/ADT/Datasets/tags.yml
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/Heretic/Catalog/Heretic/path_side.yml
  Resources/Prototypes/ADT/Heretic/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/ADT/game_presets.yml
Owners: @JerryImMouse, @ficcialfaint

защита от граба
  Content.Shared/ADT/Grab/Events/ModifyGrabStageTimeEvent.cs
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Content.Shared/ADT/GrabProtection/GrabProtectionComponent.cs
  Content.Shared/ADT/GrabProtection/GrabProtectionSystem.cs
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/ADT/Heretic/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/argocyte.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Owners: @JerryImMouse, @DrSmugleaf

нёрф пушки пиратов
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Owners: @JerryImMouse

усложнение варки амбузола
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Owners: @JerryImMouse

защита дракона от своих жа фаербаллсов
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Owners: @DrSmugleaf

маленький фикс морфа
  Content.Server/ADT/Morph/MorphSystem.cs
Owners: @JerryImMouse

фикс ЯМЛя
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Owners: @JerryImMouse

фиксы
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Resources/Locale/ru-RU/ADT/prototypes/Datasets/Names/names_eligibleTags.ftl
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
Owners: @JerryImMouse, @ficcialfaint

эскимо в виде слайма и банановое эскимо
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/frozen.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/ADT/Objects/Consumable/Food/Frozen/ice.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Frozen/ice.rsi/popsicleslime.png
Owners: @ficcialfaint, @JerryImMouse

Изменения боёвки и прочего бреда (#1897)
  Content.Server/ADT/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.AshAscend.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/ADT/Morph/MorphSystem.cs
  Content.Shared/ADT/Grab/Events/ModifyGrabStageTimeEvent.cs
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Content.Shared/ADT/GrabProtection/GrabProtectionComponent.cs
  Content.Shared/ADT/GrabProtection/GrabProtectionSystem.cs
  Content.Shared/ADT/Heretic/Components/SacrificedComponent.cs.cs
  Content.Shared/ADT/ThermalVision/SharedThermalVisionSystem.cs
  Resources/Locale/ru-RU/ADT/Heretic/sacrificed.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Datasets/Names/names_eligibleTags.ftl
  Resources/Prototypes/ADT/Datasets/tags.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/Heretic/Catalog/Heretic/path_side.yml
  Resources/Prototypes/ADT/Heretic/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/ADT/Heretic/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/argocyte.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Owners: @JerryImMouse, @ficcialfaint, @DrSmugleaf

фиксы
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
Owners: @JerryImMouse

фикс локали
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/frozen.ftl
Owners: @ficcialfaint

Массированный фикс локали
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/frozen.ftl
Owners: @ficcialfaint

хотфикс
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Content.Shared/Weapons/Ranged/Systems/UseDelayOnShootSystem.cs
Owners: @JerryImMouse, @metalgearsloth

ХОТФИКС (#1899)
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Content.Shared/Weapons/Ranged/Systems/UseDelayOnShootSystem.cs
Owners: @JerryImMouse, @metalgearsloth

рецепт мяса клоуна
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
Owners: @JerryImMouse

- Обновляю форматирование чейнжлогера в дискорд
  Tools/ADT/pr_to_discord.py
Owners: @JerryImMouse

второй фикс локали
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/frozen.ftl
Owners: @ficcialfaint

третий фикс локали
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/frozen.ftl
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
Owners: @ficcialfaint, @JerryImMouse

[PORT] Леденцы (#141)
  Resources/Locale/ru-RU/SD/prototypes/entitites/objects/consumable/food/lollypops.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/trash.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SD/Entities/Objects/Consumable/Food/lollypops.yml
  Resources/Prototypes/SD/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/color.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/equipped-MASK.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/inhand-left.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/inhand-right.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-captain.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-carp.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-centcomm.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-dispenser.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-rainbow.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-trash.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-weh.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapped-centcomm.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapped-nanotrasen.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapped-syndicate.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapped.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapper-centcomm.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapper-nanotrasen.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapper-syndicate.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop-wrapper.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/lollypop.png
  Resources/Textures/SD/Objects/Consumable/Food/lollypop.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Updated SD_Flicker map (#142)
  Resources/migration.yml
Owners: @JerryImMouse

[PORT] Новые реагенты (#143)
  Content.Server/SD/Chemistry/TakeStaminaDamage.cs
  Content.Server/SD/EntityEffects/EffectConditions/StaminaDamageThreshold.cs
  Content.Server/SD/EntityEffects/EffectConditions/TypedDamageThreshold.cs
  Content.Server/SD/EntityEffects/EffectConditions/UniqueBloodstreamChemThreshold.cs
  Resources/Locale/ru-RU/SD/guidebook/chemistry/conditions.ftl
  Resources/Locale/ru-RU/SD/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/SD/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/SD/reagents/meta/toxins.ftl
  Resources/Prototypes/SD/Reagents/medicine.yml
  Resources/Prototypes/SD/Reagents/toxins.yml
  Resources/Prototypes/SD/Recipes/Reactions/medicine.yml
  Resources/Prototypes/SD/Recipes/Reactions/toxins.yml
Owners: @JerryImMouse, @ficcialfaint

fix
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
Owners: @JerryImMouse

kaski
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Recipes/Lathes/misc.yml
Owners: @JerryImMouse

больше фиксов локали
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/frozen.ftl
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
Owners: @ficcialfaint, @JerryImMouse

Теперь тела крысиных слуг можно запихивать в мешки для мусора (#1829)
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Owners: @JerryImMouse

Спавнера мапперам (#1821)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/mobs.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/mobs.yml
Owners: @ficcialfaint, @JerryImMouse

[TWEAK] Торгоматы сервиса теперь не требуют деньги за вещи (#1836)
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Owners: @JerryImMouse

locale fix (#1863)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
Owners: @ficcialfaint

hotfix
  Resources/Maps/ADTMaps/Nonstation/voxbase.yml
Owners: @Ko4ergaPunk

[FIX] Fix movement speed not resetting after death or revival (#1890)
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
Owners: @JerryImMouse

[HOTFIX] Фикс карт (#1901)
  Resources/Maps/ADTMaps/Nonstation/voxbase.yml
Owners: @Ko4ergaPunk

Фикс кристалла, баланс его
  Content.Server/ADT/BlueSpaceCrystalTeleport/System/BsCrystalTeleportSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/bluespace.ftl
Owners: @JerryImMouse, @ficcialfaint

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
