Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk

fix(src): Фикс рассинхрона ДНК клиента и сервера после полиморфа генокрада
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
Owners: @Morb0

refactor(src): Перенос многих значений из компонента генокрада в акшен ивенты и удаление ненужных
  Content.Shared/ADT/Changeling/Components/ChangelingComponent.cs
  Content.Shared/ADT/Changeling/SharedChangeling.cs
Owners: @Morb0

refactor(src): Небольшой рефактор системы генокрада для соответствия компоненту и акшонам
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Combat.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Headslug.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Useful.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.cs
Owners: @Morb0

refactor(src): Рефактор условия для покупки способности
  Content.Server/ADT/Changeling/ChangelingActionNotPresentCondition.cs
Owners: @Morb0

fix(src): Радиальное меню генокрада теперь соответствует по стилю новым
  Content.Client/ADT/Changeling/UI/ChangelingTransformMenu.xaml.cs
Owners: @Morb0

fix(src): Фикс цели на кражу ДНК
  Content.Server/ADT/Objectives/Components/AbsorbChangelingConditionComponent.cs
  Content.Server/ADT/Objectives/Systems/StealDnaConditionSystem.cs
Owners: @Morb0

add(src): Добавление цели на поглощение другого генокрада (я проебался и закоммитил не те компоненты)
  Content.Server/ADT/Objectives/Components/StealDnaConditionComponent.cs
  Content.Server/ADT/Objectives/Systems/AbsorbChangelingConditionSystem.cs
Owners: @Morb0

add(texture): Добавил старые текстуры для замены в прототипах целей
  Resources/Textures/ADT/Interface/ling-objectives.rsi/absorb_dna.png
  Resources/Textures/ADT/Interface/ling-objectives.rsi/meta.json
  Resources/Textures/ADT/Interface/ling-objectives.rsi/sting_extract.png
Owners: @Morb0

add(proto): Добавил прототип цели на поглощение генокрада и сменил спрайты
  Resources/Prototypes/ADT/Objectives/changeling.yml
Owners: @Morb0

fix(lang): Фиксы локали
  Resources/Locale/ru-RU/ADT/changeling/preset-changeling.ftl
Owners: @ficcialfaint

add(lang): Локаль цели на поглощение генокрада
  Resources/Locale/ru-RU/ADT/changeling/objectives.ftl
Owners: @ficcialfaint

fix(proto): Фикс получения ДНК с неопознанных трупов
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
Owners: @Morb0

Фиксики генокрада (#1153)
  Content.Client/ADT/Changeling/UI/ChangelingTransformMenu.xaml.cs
  Content.Server/ADT/Changeling/ChangelingActionNotPresentCondition.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Combat.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Headslug.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Useful.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.cs
  Content.Server/ADT/Objectives/Components/AbsorbChangelingConditionComponent.cs
  Content.Server/ADT/Objectives/Components/StealDnaConditionComponent.cs
  Content.Server/ADT/Objectives/Systems/AbsorbChangelingConditionSystem.cs
  Content.Server/ADT/Objectives/Systems/StealDnaConditionSystem.cs
  Content.Server/ADT/Store/ActionBoughtEvent.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/ADT/Changeling/Components/ChangelingComponent.cs
  Content.Shared/ADT/Changeling/SharedChangeling.cs
  Resources/Locale/ru-RU/ADT/changeling/objectives.ftl
  Resources/Locale/ru-RU/ADT/changeling/preset-changeling.ftl
  Resources/Prototypes/ADT/Objectives/changeling.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Textures/ADT/Interface/ling-objectives.rsi/absorb_dna.png
  Resources/Textures/ADT/Interface/ling-objectives.rsi/meta.json
  Resources/Textures/ADT/Interface/ling-objectives.rsi/sting_extract.png
Owners: @Morb0, @ficcialfaint

add(src): Prototypes
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Silicons/Laws/SiliconLawsetPrototype.cs
  Content.Shared/Silicons/StationAi/StationAIScreenPrototype.cs
Owners: @Morb0

add(src, ui): Exsisting UI tweaks and SAI customization window
  Content.Client/Lobby/UI/Loadouts/BaseLoadoutWindow.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml.cs
  Content.Client/Lobby/UI/Loadouts/StationAILoadoutWindow.xaml
  Content.Client/Lobby/UI/Loadouts/StationAILoadoutWindow.xaml.cs
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml.cs
  Content.Shared/Lobby/ILoadoutOverride.cs
Owners: @Morb0

add(src, ui): Copy-paste of AnimatedTextureRect to make it scaled
  Content.Client/UserInterface/Controls/ScaledAnimatedTextureRect.cs
Owners: @Morb0

add(src, ui): Loadout overrides support in editor + SAI screen preview
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Owners: @Morb0

add(src): SAI customization applying
  Content.Client/Silicons/StationAi/StationAiSystem.Visuals.cs
  Content.Client/Silicons/StationAi/StationAiSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Shared/Silicons/StationAi/Components/StationAiCoreComponent.cs
  Content.Shared/Silicons/StationAi/Components/StationAiHeldComponent.cs
  Content.Shared/Silicons/StationAi/Components/StationAiHolderComponent.cs
  Content.Shared/Silicons/StationAi/Components/StationAiOverlayComponent.cs
  Content.Shared/Silicons/StationAi/Components/StationAiVisionComponent.cs
  Content.Shared/Silicons/StationAi/Components/StationAiWhitelistComponent.cs
  Content.Shared/Silicons/StationAi/Systems/SharedStationAiSystem.Airlock.cs
  Content.Shared/Silicons/StationAi/Systems/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/Systems/SharedStationAiSystem.Light.cs
  Content.Shared/Silicons/StationAi/Systems/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/Systems/StationAiVisionSystem.cs
Owners: @Morb0

tweak(proto): AI and silicon laws prototypes tweaks
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/silicon-laws.yml
Owners: @Morb0

add(proto): Add screen prototypes and loadout override to AI role
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/station-ai-screens.yml
Owners: @Morb0

tweak(src): Move ILoadoutOverride to Content.Client
  Content.Client/Lobby/UI/Loadouts/ILoadoutOverride.cs
Owners: @Morb0

refactor(src): Replace `StationAiData` with `RoleLoadout.ExtraData`
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
  Content.Shared/Preferences/Loadouts/RoleLoadoutPrototype.cs
  Content.Shared/Roles/ApplyLoadoutExtraDataEvent.cs
  Content.Shared/Silicons/StationAi/Components/StationAiBrainComponent.cs
  Content.Shared/Silicons/StationAi/Components/StationAiCoreComponent.cs
  Content.Shared/Silicons/StationAi/Systems/SharedStationAiSystem.Loadout.cs
  Content.Shared/Silicons/StationAi/Systems/SharedStationAiSystem.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
Owners: @Morb0

refactor(src): i forgor
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Owners: @Morb0

refactor(src, ui): Loadout override changes to work properly with ExtraData
  Content.Client/Lobby/UI/Loadouts/ILoadoutOverride.cs
  Content.Client/Lobby/UI/Loadouts/StationAILoadoutWindow.xaml
  Content.Client/Lobby/UI/Loadouts/StationAILoadoutWindow.xaml.cs
Owners: @Morb0

add(src, proto): Extra loadout data preview
  Content.Client/Lobby/LobbyUIController.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Owners: @Morb0

add(proto): Allow SAI to have it's loadout extras
  Resources/Prototypes/Loadouts/role_loadouts.yml
Owners: @Morb0

add(lang): Locale
  Resources/Locale/en-US/silicons/station-ai.ftl
Owners: @ficcialfaint

fix(src): Fix save button click sound spam
  Content.Client/Lobby/UI/Loadouts/StationAILoadoutWindow.xaml.cs
Owners: @Morb0

tweak(ui, lang): Smol AI customization window improvements
  Content.Client/Lobby/UI/Loadouts/StationAILoadoutWindow.xaml
  Resources/Locale/en-US/silicons/station-ai.ftl
Owners: @Morb0, @ficcialfaint

style: Комментарии
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml.cs
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml.cs
  Content.Client/Silicons/StationAi/StationAiSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
  Content.Shared/Preferences/Loadouts/RoleLoadoutPrototype.cs
  Content.Shared/Silicons/Laws/SiliconLawsetPrototype.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/silicon-laws.yml
Owners: @Morb0

style: Переместил созданные файлы в ADT папки
  Content.Shared/ADT/Roles/ApplyLoadoutExtraDataEvent.cs
  Content.Shared/ADT/StationAi/SharedStationAiSystem.Loadout.cs
  Content.Shared/ADT/StationAi/StationAIScreenPrototype.cs
  Content.Shared/ADT/StationAi/StationAiBrainComponent.cs
  Resources/Prototypes/ADT/station-ai-screens.yml
Owners: @Morb0

fix(proto): Фикс невалидных спрайтов
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Owners: @Morb0

fix(ui): Фикс отображения "Объявить законы", когда объявлять их нечем в `LawDisplay`
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml
Owners: @Morb0

fix(src): Фикс спрайта пустого ядра, если не выбирать ничего в меню
  Content.Shared/ADT/StationAi/SharedStationAiSystem.Loadout.cs
Owners: @Morb0

add(src): Миграция бд
  Content.Server.Database/Migrations/Postgres/20250228201853_LoadoutExtraData.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250228201853_LoadoutExtraData.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20250228201919_LoadoutExtraData.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250228201919_LoadoutExtraData.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
Owners: @Morb0

tweak(proto): Убрал спорные законы из раундстартовых
  Resources/Prototypes/silicon-laws.yml
Owners: @Morb0

tweak(src): Своё название меню кастомизации ИИ
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Loadouts/StationAILoadoutWindow.xaml.cs
Owners: @Morb0

add(lang): Локаль
  Resources/Locale/en-US/silicons/lawsets.ftl
  Resources/Locale/ru-RU/ADT/silicons/station-ai.ftl
Owners: @ficcialfaint

style: Перенёс оставшиеся новые файлы в папку ADT
  Content.Client/ADT/Lobby/UI/Loadout/BaseLoadoutWindow.cs
  Content.Client/ADT/Lobby/UI/Loadout/ILoadoutOverride.cs
  Content.Client/ADT/Lobby/UI/Loadout/StationAILoadoutWindow.xaml
  Content.Client/ADT/Lobby/UI/Loadout/StationAILoadoutWindow.xaml.cs
Owners: @Morb0

style: Вот теперь точно последний перенос
  Content.Client/ADT/UserInterface/Controls/ScaledAnimatedTextureRect.cs
Owners: @Morb0
