Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

revert gen_wardrobe_door
  Resources/Textures/Structures/Storage/closet.rsi/gen_wardrobe_door.png
Owners: @JerryImMouse

Фикс сеньоров (#2002)
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Owners: @JerryImMouse

Hopefuly last update
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
Owners: @DrSmugleaf

Органы мелкой живности теперь можно пихать в мешок для мусора (#2003)
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
Owners: @DrSmugleaf

Hopefuly last update
  Resources/Prototypes/ADT/Reagents/biological.yml
Owners: @JerryImMouse

Локаль
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Back/mods.ftl
Owners: @ficcialfaint

Hopefuly final update
  Resources/Locale/ru-RU/ADT/escape-menu/ui/options-menu.ftl
Owners: @ficcialfaint

Фикс бага со слипом на резоми во время спринта (#2004)
  Resources/Prototypes/ADT/Reagents/biological.yml
Owners: @JerryImMouse

Фикс локализации в меню управления (#2005)
  Resources/Locale/ru-RU/ADT/escape-menu/ui/options-menu.ftl
Owners: @ficcialfaint

Проверка
  Resources/Locale/ru-RU/ADT/escape-menu/ui/options-menu.ftl
Owners: @ficcialfaint

Revert "Operation Remove Gun Bloat (#38104)"
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/tags.yml
  Resources/migration.yml
Owners: @JerryImMouse

Второй пак фиксов ямл линтера
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/ADT/Actions/changeling.yml
  Resources/Prototypes/ADT/Actions/implants.yml
  Resources/Prototypes/ADT/Actions/morph.yml
  Resources/Prototypes/ADT/Actions/phantom.yml
  Resources/Prototypes/ADT/Actions/poltergeist.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Objects/Vehicles/actions.yml
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Structures/Dispensers/coffee.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/ert_startinggear.yml
  Resources/Prototypes/Actions/changeling.yml
  Resources/Prototypes/Body/Organs/vox.yml
  Resources/Prototypes/Corvax/Species/ipc.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Fun/wizard_startinggear.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/migration.yml
Owners: @JerryImMouse, @DrSmugleaf

Удалил дубликат
  Resources/Prototypes/ADT/Roles/Jobs/Fun/ert_startinggear.yml
Owners: @JerryImMouse

Дубликат 2 Атака клонов
  Resources/Prototypes/ADT/Roles/Jobs/Fun/ert_startinggear.yml
Owners: @JerryImMouse

Локализация шоколадок
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
Owners: @ficcialfaint

буква ё
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
Owners: @ficcialfaint

Надеюсь, мы больше никогда не увидимся вновь
  Resources/Locale/ru-RU/ADT/traits/disabilities.ftl
  Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/recipes/tags.ftl
  Resources/Maps/Relic.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/additions.yml
  Resources/Prototypes/ADT/Actions/phantom.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/jumpboots.yml
  Resources/Prototypes/ADT/Entities/Effects/portal.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/Abomination.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/teabox.yml
  Resources/Prototypes/ADT/Entities/Structures/Dispensers/coffee.yml
  Resources/Prototypes/ADT/Heretic/Entities/Mobs/NPC/polymorph.yml
  Resources/Prototypes/ADT/Parallaxes/NES_parallaxes.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/furniture/altars.yml
  Resources/Prototypes/ADT/Traits/disabilities.yml
  Resources/Prototypes/ADT/lobbyscreens.yml
  Resources/Prototypes/Actions/revenant.yml
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Traits/disabilities.yml
Owners: @ficcialfaint, @Ko4ergaPunk, @JerryImMouse

relic return
  Resources/Maps/relic.yml
Owners: @Ko4ergaPunk

фикс модов
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Owners: @JerryImMouse

зер гуд
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/ADT/Entities/Structures/Dispensers/coffee.yml
  Resources/Prototypes/Traits/disabilities.yml
Owners: @ficcialfaint, @JerryImMouse

F
  Resources/Prototypes/ADT/Actions/phantom.yml
  Resources/Prototypes/ADT/Parallaxes/NES_parallaxes.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
Owners: @JerryImMouse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
