Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

style: Мини правка прототипа борга
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Owners: @Morb0

add(lang): Локаль
  Resources/Locale/ru-RU/ADT/collectivemind/rank.ftl
Owners: @ficcialfaint

Небольшой фикс кастомизации СИИ и коллективный разум ему (#1163)
  Content.Shared/ADT/StationAi/SharedStationAiSystem.Loadout.cs
  Resources/Locale/ru-RU/ADT/collectivemind/rank.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Owners: @Morb0, @ficcialfaint

Починены шторки
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/curtains.yml
Owners: @Morb0

Ядро питанция
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/MODsuits/construction.ftl
Owners: @ficcialfaint

Update 1ChangelogADT.yml
  Resources/Changelog/1ChangelogADT.yml
Owners: @Morb0

Акшон отправки json файлов на вики
  .github/workflows/update-wiki.off
  .github/workflows/update-wiki.yml
Owners: @Morb0

Изменил айдишник с ADTClothingHeadHatBeretСE на ADTClothingHeadHatBeretCEngineer
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
Owners: @ficcialfaint, @Morb0

Test
  .github/workflows/update-wiki.yml
Owners: @Morb0

Test Wiki update (#1164)
  .github/workflows/update-wiki.yml
Owners: @Morb0

Revert "Test Wiki update (#1164)"
  .github/workflows/update-wiki.yml
Owners: @Morb0

Revert "Test Wiki update" (#1165)
  .github/workflows/update-wiki.yml
Owners: @Morb0

Добавлены недостающие рецепты в паки рецептов для автолата
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
Owners: @Morb0

Исправлено название научного мода
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/clothing/modsuits/cience.yml
  Resources/Prototypes/ADT/Recipes/Construction/modsuits.yml
  Resources/Textures/ADT/Objects/Specific/Modsuits/modcore_construction.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Modsuits/modcore_construction.rsi/science.png
Owners: @Morb0

add(git): Соглашение о коммитах
  Conventional-Commits.md
Owners: @Morb0

add(git): Соглашение о коммитах (#1166)
  Conventional-Commits.md
Owners: @Morb0

Восстановлены текстурки древнего голиафа
  Resources/Textures/Mobs/Aliens/Asteroid/goliath.rsi/goliath.png
  Resources/Textures/Mobs/Aliens/Asteroid/goliath.rsi/goliath_dead.png
Owners: @Morb0

add(git): Добавлено соглашение о коммитах на основную страницу гитхаба
  CODE_OF_CONDUCT.md
Owners: @Morb0

docs:: add badges for conventional commits
  CODE_OF_CONDUCT.md
Owners: @Morb0

Update modsuits.yml
  Resources/Prototypes/ADT/Recipes/Construction/modsuits.yml
Owners: @Morb0

hotfix: Фикс нерабочей кастомизации ИИ
  Content.Client/Silicons/StationAi/StationAiSystem.Visuals.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Shared/ADT/StationAi/SharedStationAiSystem.Loadout.cs
  Content.Shared/ADT/StationAi/StationAiBrainComponent.cs
  Content.Shared/Silicons/StationAi/Systems/SharedStationAiSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Owners: @Morb0

remove: Удалил хрень с корвакса
  Resources/Prototypes/Corvax/Entities/Mobs/Player/station_ai.yml
  Resources/migration.yml
Owners: @Morb0

fix(src): Фикс невозможности писать в эмоуты глухим
  Content.Server/Chat/Systems/ChatSystem.cs
Owners: @Morb0

modif2
  Content.Server/ADT/Anomaly/Effects/StaticAnomaly/StaticAnomalySystem.cs
  Content.Shared/ADT/Anomaly/Effects/StaticAnomaly/NervousSource.cs
  Resources/Prototypes/ADT/Entities/Misc/staticTV.yml
Owners: @Morb0

наука, наука..
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/clothing/modsuits/cience.yml
  Resources/Prototypes/ADT/Recipes/Construction/modsuits.yml
  Resources/Textures/ADT/Objects/Specific/Modsuits/modcore_construction.rsi/cience.png
  Resources/Textures/ADT/Objects/Specific/Modsuits/modcore_construction.rsi/meta.json
Owners: @Morb0

наука x2
  Resources/Textures/ADT/Objects/Specific/Modsuits/modcore_construction.rsi/science.png
Owners: @Morb0

hotfix: Фикс нерабочей кастомизации ИИ (#1168)
  Content.Client/Silicons/StationAi/StationAiSystem.Visuals.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Shared/ADT/StationAi/SharedStationAiSystem.Loadout.cs
  Content.Shared/ADT/StationAi/StationAiBrainComponent.cs
  Content.Shared/Silicons/StationAi/Systems/SharedStationAiSystem.cs
  Resources/Prototypes/Corvax/Entities/Mobs/Player/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/migration.yml
Owners: @Morb0

hotfix: Фикс невозможности писать в эмоуты глухим (#1169)
  Content.Server/Chat/Systems/ChatSystem.cs
Owners: @Morb0

Буква
  Resources/Prototypes/ADT/Recipes/Construction/modsuits.yml
Owners: @Morb0

Update mods.yml
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
Owners: @Morb0

Revert "Update mods.yml"
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
Owners: @Morb0

Cience->Science
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/clothing/modsuits/cience.yml
  Resources/Prototypes/ADT/Recipes/Construction/modsuits.yml
Owners: @Morb0

Ненавижу.
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Clothing/Hands/modsuit_gloves.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/modsuit_boots.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modsuit_construction.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/clothing/modsuits/science.yml
  Resources/Prototypes/ADT/Recipes/Construction/modsuits.yml
  Resources/Textures/ADT/Clothing/Back/Modsuit/science.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/science.rsi/icon.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/science.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/science.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/science.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Modsuits/modcore_construction.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Modsuits/modcore_construction.rsi/science.png
Owners: @Morb0

Science
  Resources/Textures/ADT/Clothing/Hands/Gloves/Modsuit/science.rsi/equipped-HAND.png
  Resources/Textures/ADT/Clothing/Hands/Gloves/Modsuit/science.rsi/icon.png
  Resources/Textures/ADT/Clothing/Hands/Gloves/Modsuit/science.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Modsuit/science.rsi/equipped-head-light.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/science.rsi/equipped-head-unshaded.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/science.rsi/equipped-head.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/science.rsi/icon-flash.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/science.rsi/icon-unshaded.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/science.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/science.rsi/light-overlay.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/science.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/science.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/science.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/science.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Boots/Modsuit/science.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/Modsuit/science.rsi/icon-on.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/Modsuit/science.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/Modsuit/science.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Boots/Modsuit/science.rsi/on-equipped-FEET.png
Owners: @Morb0

Тесаем лишнее
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/curtains.yml
Owners: @Morb0

tweak_remove_radiation_from_uranus
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Walls/meteor.yml
Owners: @Morb0

[TWEAK] Убираем радиацию у урановых штук (#1172)
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Walls/meteor.yml
Owners: @Morb0

Звуки слаймов
  Resources/Audio/ADT/Effects/Gasp/Slime/attributions.yml
  Resources/Audio/ADT/Effects/Gasp/Slime/s_deathgasp_1.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_deathgasp_2.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_female_deathgasp_1.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_female_deathgasp_2.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_female_deathgasp_3.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_female_deathgasp_4.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_female_deathgasp_5.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_gasp_female_1.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_gasp_female_2.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_gasp_female_3.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_gasp_male_1.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_gasp_male_2.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_male_deathgasp_1.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_male_deathgasp_2.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_male_deathgasp_3.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_male_deathgasp_4.ogg
  Resources/Audio/ADT/Effects/Gasp/Slime/s_male_deathgasp_5.ogg
  Resources/Audio/ADT/Voice/Slime/attributions.yml
  Resources/Audio/ADT/Voice/Slime/s_whistle_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_whistle_2.ogg
  Resources/Audio/ADT/Voice/Slime/s_whistle_3.ogg
  Resources/Audio/ADT/Voice/Slime/s_whistle_4.ogg
  Resources/Audio/ADT/Voice/Slime/slimewhistle.ogg
  Resources/Prototypes/ADT/SoundCollections/deathgasp.yml
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Owners: @Morb0

Сделал, про занавески пока хз
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/hardsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Power/generation/solar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/solar.ftl
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
Owners: @ficcialfaint, @Morb0

Adding a black lab coat for the pathologist (#1157)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/patcholodrobe.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Medical/patholog.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/icon-open.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/open-inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/open-inhand-right.png
Owners: @ficcialfaint, @Morb0

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk
