Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

- add: Добавлен новый тест на проверку прототипов карт
  .github/workflows/map-proto-check.yml
  Tools/ADT/LibCheck.py
  Tools/ADT/MapsProtoTargeter.py
  Tools/ADT/ProtoCollector.py
  Tools/ADT/RUN_THIS.bat
  Tools/ADT/check_maps_vs_protos.py
Owners: @JerryImMouse

- add: Добавлен ручной запуск акшону
  .github/workflows/map-proto-check.yml
Owners: @JerryImMouse

- style: Правки комментов
  Tools/ADT/check_maps_vs_protos.py
Owners: @JerryImMouse

- tweak: Улучшен скрипт проверки мап, и исправлен стиль файла Resources\Prototypes\ADT\Recipes\Crafting\Graphs\Improvised\shield.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/shield.yml
  Tools/ADT/check_maps_vs_protos.py
Owners: @JerryImMouse

- Увеличиваем скорость работы скрипта?
  Tools/ADT/check_maps_vs_protos.py
Owners: @JerryImMouse

- Добавляю загрузку мигарции, удаляю лишние файлы
  Tools/ADT/LibCheck.py
  Tools/ADT/MapsProtoTargeter.py
  Tools/ADT/ProtoCollector.py
  Tools/ADT/RUN_THIS.bat
  Tools/ADT/check_maps_vs_protos.py
Owners: @JerryImMouse

- Улучшение скрипта, удаление не нужной карты
  Resources/Maps/ADTMaps/ADTStations/NewYear/adt_centcom.yml
  Tools/ADT/check_maps_vs_protos.py
Owners: @Ko4ergaPunk, @JerryImMouse

- Улучшенная проверка мап
  Tools/ADT/check_maps_vs_protos.py
Owners: @JerryImMouse

- Ещё один тест?
  .github/workflows/adt-stations-maps-test.yml
  Content.IntegrationTests/Tests/Mapping/ADTStationsMappingLoadTest.cs
Owners: @JerryImMouse

- Правка версии дотнета
  .github/workflows/adt-stations-maps-test.yml
Owners: @JerryImMouse

- ну нафиг
  .github/workflows/adt-stations-maps-test.yml
  Content.IntegrationTests/Tests/Mapping/ADTStationsMappingLoadTest.cs
Owners: @JerryImMouse

- Короче так оставляем
  Tools/ADT/check_maps_vs_protos.py
Owners: @JerryImMouse

[TEST DEV] New test proto map (#1954)
  .github/workflows/map-proto-check.yml
  Resources/Maps/ADTMaps/ADTStations/NewYear/adt_centcom.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/shield.yml
  Tools/ADT/check_maps_vs_protos.py
Owners: @JerryImMouse, @Ko4ergaPunk

увы
  Content.Client/ADT/Economy/UI/BankUiFragment.xaml
  Content.Client/ADT/Economy/UI/BankUiFragment.xaml.cs
  Content.Shared/ADT/Economy/BankTransactionHistoryComponent.cs
Owners: @JerryImMouse

- fix: Train
  Content.Server/ADT/Administration/Commands/ResaveADTCommand.cs
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
  Resources/Maps/ADTMaps/Shuttles/genesis.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/book_printer.yml
Owners: @JerryImMouse, @Ko4ergaPunk

Конец прогрева Поездом (#1955)
  Content.Server/ADT/Administration/Commands/ResaveADTCommand.cs
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
  Resources/Maps/ADTMaps/Shuttles/genesis.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/book_printer.yml
Owners: @JerryImMouse, @Ko4ergaPunk

демократическим путём
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
Owners: @JerryImMouse

Украшение кода типо
  Content.Server/ADT/BlueSpaceCrystalTeleport/System/BsCrystalTeleportSystem.cs
Owners: @JerryImMouse

Фикс кристаллов только в чистой ветке (#1907)
  Content.Server/ADT/BlueSpaceCrystalTeleport/System/BsCrystalTeleportSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/bluespace.ftl
Owners: @JerryImMouse, @ficcialfaint

Добавление проверки на имение компонента chaplain для святого оружия (#1905)
  Content.Server/ADT/Chaplain/Systems/ForTheWorthySystem.cs
  Content.Shared/ADT/Chaplain/Components/ForTheWorthyComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/paranormal.yml
Owners: @JerryImMouse

Изменение баланса некоторых предметов
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/paranormal.yml
Owners: @JerryImMouse

Фиксы (ПАДДИ и Набор покера)
  Resources/Prototypes/ADT/Entities/Objects/Fun/poker_chips.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Mech/Mech.yml
Owners: @JerryImMouse

Больше касок богу касок (#1900)
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Recipes/Lathes/misc.yml
Owners: @JerryImMouse

Фиксы (ПАДДИ и Набор покера) (#1956)
  Resources/Prototypes/ADT/Entities/Objects/Fun/poker_chips.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Mech/Mech.yml
Owners: @JerryImMouse

Фикс
  Resources/Prototypes/ADT/Entities/Markers/Spawners/jobs.yml
Owners: @JerryImMouse

конфликт локали
  Resources/Locale/ru-RU/ADT/Job/job-description.ftl
Owners: @ficcialfaint

правка локали
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
Owners: @ficcialfaint, @JerryImMouse

fix price
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Owners: @JerryImMouse

Разделение ролей утилизатора и шахтера (#1910)
  Resources/Locale/ru-RU/ADT/Job/job-description.ftl
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/jobs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/identification_cards.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/ADT/Roles/Jobs/Cargo/miner.yml
  Resources/Prototypes/ADT/Roles/play_time_trackers.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Owners: @ficcialfaint, @JerryImMouse

tweak: Пиротехника теперь не вредна новакидам
  Resources/Prototypes/ADT/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
Owners: @JerryImMouse

fix: review
  Content.Client/ADT/Shadekin/Systems/ShadekinSystem.Tint.cs
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Owners: @JerryImMouse

[TWEAK/FIX] BugFix.v2 (#1932)
  Content.Client/ADT/Shadekin/Systems/ShadekinSystem.Tint.cs
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Content.Shared/ADT/PickupHumans/Systems/SharedPickupHumansSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/Species/kobalt.yml
  Resources/Prototypes/Body/Organs/vox.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Arachnid.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Dwarf.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Kobalt.xml
Owners: @JerryImMouse, @ficcialfaint, @DrSmugleaf

init
  Content.Server/ADT/VentCrawling/VentCrawlerTubeSystem.cs
  Resources/Locale/ru-RU/ADT/ventcrawling/ventcrawling.ftl
Owners: @JerryImMouse, @ficcialfaint

[FIX] В вентиляцию нельзя залезть находясь в контейнере (#1957)
  Content.Server/ADT/VentCrawling/VentCrawlerTubeSystem.cs
  Resources/Locale/ru-RU/ADT/ventcrawling/ventcrawling.ftl
Owners: @JerryImMouse, @ficcialfaint

Revert "Communication interception disable (#189)" (#278)
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

init
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
Owners: @Ko4ergaPunk

Фикс трейна by Spidern (#1958)
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
Owners: @Ko4ergaPunk

Update chairs.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Owners: @JerryImMouse

localization fixed
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/softsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/softsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/softsuits.ftl
Owners: @ficcialfaint

Gave back corvax commentary
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/softsuits.ftl
Owners: @ficcialfaint
