Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

- убраны лишнии юсинги
  Content.Server/Administration/Managers/AdminManager.cs
Owners: @JerryImMouse

[Admin] Фикс админ прав (#1840)
  Content.Server/Administration/Managers/AdminManager.cs
Owners: @JerryImMouse

Квартирмейстер возвращен в командование [откат тестмерджа] (#263)
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/assembly.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/closed.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/closing.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/meta.json
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/open.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/opening.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/assembly.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/closed.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/closing.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/meta.json
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/open.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/opening.png
  Resources/Textures/Interface/Misc/job_icons.rsi/QuarterMaster.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/qm_label.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idquartermaster.png
Owners: @JerryImMouse

Fixed bug with pka modules (hopefuly)
  Content.Shared/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
Owners: @metalgearsloth

- tweak(src): Отключаем проверку сертификата у дискорд вэбхуков
  Content.Server/Discord/DiscordWebhook.cs
Owners: @JerryImMouse

- remove(proto): Удаляем все корвакс обломки из прототипов
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_saltern.yml
  Resources/Prototypes/ADT/Maps/salvage.yml
Owners: @JerryImMouse

НУ ОКей Update Content.Server/Discord/DiscordWebhook.cs
  Content.Server/Discord/DiscordWebhook.cs
Owners: @JerryImMouse

Revert "[DEV] Update config development.toml (#1839)"
  Resources/ConfigPresets/Build/development.toml
Owners: @JerryImMouse

Revert "[DEV] Update config development.toml" (#1843)
  Resources/ConfigPresets/Build/development.toml
Owners: @JerryImMouse

Added comment
  Content.Shared/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
Owners: @metalgearsloth

Изменения в изучениях утилизаторского оружия
  Resources/Locale/ru-RU/ADT/prototypes/Research/arsenal.ftl
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/ADT/Recipes/Lathes/armory.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-open.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-static.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes.png
  Resources/Textures/Structures/Power/smes.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Добавление контроля механодроча, добавление освящения свечек
  Content.Server/ADT/Chaplain/Systems/AltarLimitSystem.cs
  Content.Server/ADT/Chaplain/Systems/ChaplainSystem.cs
  Content.Shared/ADT/Chaplain/Components/AltarComponent.cs
  Resources/Locale/ru-RU/ADT/chaplain/chaplain.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Actions/chaplain.ftl
  Resources/Prototypes/ADT/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
Owners: @JerryImMouse, @ficcialfaint

Исправил изучение клаксона от оффов
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/push_horn.ftl
  Resources/Locale/ru-RU/ADT/research/technologies.ftl
  Resources/Prototypes/Research/civilianservices.yml
Owners: @ficcialfaint, @JerryImMouse

- remove: Минус неиспользуемые саунды 9 мая и нового года
  Resources/Audio/ADT/Jukebox/9May/day-pobedy.ogg
  Resources/Audio/ADT/Jukebox/9May/desyatiy-nash-desantniy-batalon.ogg
  Resources/Audio/ADT/Jukebox/9May/katyusha.ogg
  Resources/Audio/ADT/Jukebox/9May/mayskiy-vals.ogg
  Resources/Audio/ADT/Jukebox/9May/proshchanie-slavyanki.ogg
  Resources/Audio/ADT/Jukebox/9May/smuglyanka.ogg
  Resources/Audio/ADT/Jukebox/9May/svyashchennaya-voyna.ogg
  Resources/Audio/ADT/Jukebox/9May/tanki.ogg
  Resources/Audio/ADT/Jukebox/9May/tyomnaya-noch.ogg
  Resources/Audio/ADT/Jukebox/9May/zhuravli.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-countdown-deck-the-halls.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-is-coming.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-mood.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-vibes.ogg
  Resources/Audio/ADT/Jukebox/NewYear/attributions.yml
  Resources/Audio/ADT/Jukebox/NewYear/maxkomusic-christmas-is-coming.ogg
  Resources/Audio/ADT/Jukebox/NewYear/roa-music-winter-magic.ogg
  Resources/Audio/ADT/Jukebox/NewYear/the-piano-says-yuletide.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_1.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_2.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_3.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_4.ogg
  Resources/Audio/Corvax/Adminbuse/aimalf.ogg
  Resources/Audio/Corvax/Adminbuse/i-storm1.ogg
  Resources/Audio/Corvax/Adminbuse/irod.ogg
  Resources/Audio/Corvax/Adminbuse/outbreak5.ogg
  Resources/Audio/Corvax/Adminbuse/portal.ogg
  Resources/Audio/Corvax/Adminbuse/vox_arrival.ogg
  Resources/Audio/Corvax/Adminbuse/vox_returns.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_crew_win.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help_fail.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help_fail.ogg
Owners: @JerryImMouse

Update lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Owners: @JerryImMouse

упаковка яиц в поварской гардероб
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
Owners: @JerryImMouse

новая одежда для повара
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/misc.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/head.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Recipes/Lathes/biogen.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Recipes/Lathes/Packs/biogen.yml
  Resources/Textures/ADT/Clothing/Head/Hats/chefhat_red.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hats/chefhat_red.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hats/chefhat_red.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Hats/chefhat_red.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Hats/chefhat_red.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/apron_butcher.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/apron_butcher.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/apron_butcher.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/apron_butcher.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/apron_butcher.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/chef_red.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/chef_red.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/chef_red.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/chef_red.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/chef_red.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

новая одежда повара в лодауты
  Resources/Prototypes/Loadouts/loadout_groups.yml
Owners: @JerryImMouse

шейный платок и респрайт колпака
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Textures/ADT/Clothing/Head/Hats/chefhat_red.rsi/equipped-HELMET.png
Owners: @ficcialfaint, @JerryImMouse

небольшой фикс локали
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/misc.ftl
Owners: @ficcialfaint

add(proto): Добавление спонсорского предмета
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/taumaturg_personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_books.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_catalog.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_clothes.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_job.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_presets.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_spells.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_tools.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/anomaly_prespawn.rsi/icon.png
  Resources/Textures/ADT/Personalization/anomaly_prespawn.rsi/meta.json
  Resources/Textures/ADT/Personalization/sokoring.rsi/icon.png
  Resources/Textures/ADT/Personalization/sokoring.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/sokoring.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/sokoring.rsi/meta.json
  Resources/Textures/ADT/Personalization/taumaturg_boxers.rsi/equipped-UNDERWEARB.png
  Resources/Textures/ADT/Personalization/taumaturg_boxers.rsi/icon.png
  Resources/Textures/ADT/Personalization/taumaturg_boxers.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

фикс локали а то я дура
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
Owners: @ficcialfaint

последний фикс
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
Owners: @ficcialfaint

[ADD] КАСАНЕ ТЕТО!!! (#1832)
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/boxes/other.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Textures/ADT/Clothing/Head/Misc/teto-wig.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Misc/teto-wig.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Misc/teto-wig.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Misc/teto-wig.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Misc/teto-wig.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/teto.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/teto.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/teto.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/teto.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/teto.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Убираем ненужные rsi
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candy.rsi/brains.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candy.rsi/bunny.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candy.rsi/candy_corn.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candy.rsi/coin-packed.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candy.rsi/coin.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candy.rsi/eyes_1.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candy.rsi/eyes_2.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candy.rsi/eyes_3.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candy.rsi/heart.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_apple.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_bat.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_blue.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_creeper.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_green.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_kinito.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_kratos.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_pumpkin.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_purple.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_red.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/candy_yellow.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/candysticks.rsi/trach.png
  Resources/Textures/ADT/Objects/Storage/Boxes/halloween_box.rsi/alastor.png
  Resources/Textures/ADT/Objects/Storage/Boxes/halloween_box.rsi/bad_police.png
  Resources/Textures/ADT/Objects/Storage/Boxes/halloween_box.rsi/empress_of_light.png
  Resources/Textures/ADT/Objects/Storage/Boxes/halloween_box.rsi/lethal_company.png
  Resources/Textures/ADT/Objects/Storage/Boxes/halloween_box.rsi/redhat.png
  Resources/Textures/ADT/Objects/Storage/Boxes/halloween_box.rsi/sollux.png
  Resources/Textures/ADT/Objects/Storage/Boxes/halloween_box.rsi/squid_org.png
  Resources/Textures/ADT/Objects/Storage/Boxes/halloween_box.rsi/squid_player.png
Owners: @JerryImMouse

Убрал лишний прототип
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/boxes.yml
Owners: @JerryImMouse

Убраны хеллоуинские плакаты
  Resources/Prototypes/ADT/Entities/Structures/Wallmount/Signs/posters.yml
Owners: @JerryImMouse

Убираем все хеллоуинские предметы с карт и их самим
  Resources/Maps/ADTMaps/Ghostbars/ghostbar_goob.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/ADT/Entities/Clothing/Masks/mask.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Baked/cookies.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Baked/donuts.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Baked/fill.txt
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/lethal_company_air_horn.yml
  Resources/Prototypes/ADT/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/ADT/Entities/Objects/Tools/web_weaver.yml
  Resources/Prototypes/ADT/Entities/Structures/Specific/witch_cauldron.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
Owners: @Ko4ergaPunk, @JerryImMouse

Чиним тесты
  Resources/Prototypes/ADT/Catalog/Fills/Items/gas_tanks.yml
Owners: @JerryImMouse

еще чиним тесты
  Resources/Prototypes/ADT/Entities/Clothing/Head/helmets.yml
Owners: @JerryImMouse

Убрана телега со снегом
  Resources/Prototypes/ADT/Entities/Structures/Storage/Crates/snowballcrate.yml
Owners: @JerryImMouse

Уборано поле с перчатками у отшельника
  Resources/Prototypes/ADT/StartingGear/HermitEquipment.yml
Owners: @JerryImMouse

Из набора ревы(наверное) убран пак хеллоуинского костюма
  Resources/Prototypes/ADT/Catalog/revolution_toolbox_sets.yml
Owners: @JerryImMouse

Убрал из алтаря серебрянный и золотой подсвечник
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
Owners: @JerryImMouse

Update Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/personalization.ftl
Owners: @ficcialfaint

Update casinotables.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/casinotables.yml
Owners: @JerryImMouse

add(proto): Вещи сиртальтера
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/mining_helmet_sirtalter.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Personalization/mining_helmet_sirtalter.rsi/icon.png
  Resources/Textures/ADT/Personalization/mining_helmet_sirtalter.rsi/meta.json
  Resources/Textures/ADT/Personalization/sirtalter_armorminer.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/sirtalter_armorminer.rsi/icon.png
  Resources/Textures/ADT/Personalization/sirtalter_armorminer.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/sirtalter_armorminer.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/sirtalter_armorminer.rsi/meta.json
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear-inhands.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear-inhands.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear-inhands.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear-inhands.rsi/meta.json
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear-inhands.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear-inhands.rsi/wielded-inhand-right.png
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear.rsi/icon-lit.png
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear.rsi/icon-uncharged.png
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear.rsi/icon.png
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear.rsi/meta.json
  Resources/Textures/ADT/Personalization/sirtalter_mining_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/sirtalter_mining_uniform.rsi/icon.png
  Resources/Textures/ADT/Personalization/sirtalter_mining_uniform.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/sirtalter_mining_uniform.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/sirtalter_mining_uniform.rsi/meta.json
  Resources/Textures/ADT/Personalization/sirtalterpkpistol.rsi/animation-icon.png
  Resources/Textures/ADT/Personalization/sirtalterpkpistol.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/sirtalterpkpistol.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Personalization/sirtalterpkpistol.rsi/icon.png
  Resources/Textures/ADT/Personalization/sirtalterpkpistol.rsi/icon_a.png
  Resources/Textures/ADT/Personalization/sirtalterpkpistol.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/sirtalterpkpistol.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/sirtalterpkpistol.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

fix(sprite)
  Resources/Textures/ADT/Personalization/sirtalter_crusher_spear-inhands.rsi/meta.json
Owners: @JerryImMouse

ADT-Tweak
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
Owners: @JerryImMouse, @ficcialfaint

Update Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/personalization.ftl
Owners: @ficcialfaint

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
