Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

Update furniture.yml
  Resources/Prototypes/ADT/Recipes/Construction/furniture.yml
Owners: @JerryImMouse

[ADD] Рулетка и дайс с выбором граней
  Content.Client/ADT/Roulette/Systems/RouletteVisualsSystem.cs
  Content.Shared/ADT/Roulette/Components/RouletteComponent.cs
  Content.Shared/ADT/Roulette/Systems/RouletteVerbSystem.cs
  Resources/Locale/ru-RU/ADT/Roulette/roulette.ftl
  Resources/Prototypes/Entities/Objects/ADT/Roulette/roulette.yml
Owners: @JerryImMouse, @ficcialfaint

больше склонений
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

Я ненавижу пробелы
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

улучшение немецкого
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
Owners: @JerryImMouse

надеюсь что coderabbitai мне не пиздит
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

фикс комментариев
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
Owners: @JerryImMouse

Доверюсь ИИ
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

Update meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/meta.json
Owners: @JerryImMouse

Update IanHeroEvent.cs
  Content.Server/ADT/StationEvents/Components/IanHeroEvent.cs
Owners: @JerryImMouse

Update hardsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @JerryImMouse

воздушные шары 1
  Content.Server/ADT/Mime/MimeBaloonSystem.cs
  Resources/Locale/ru-RU/ADT/actions/mime.ftl
  Resources/Prototypes/ADT/Actions/baloon.yml
Owners: @JerryImMouse, @ficcialfaint

воздушные шары 2
  Content.Server/ADT/Mime/MimeBaloonSystem.cs
  Resources/Audio/ADT/Misc/attributions.yml
  Resources/Audio/ADT/Misc/baloon-inflating.ogg
  Resources/Locale/ru-RU/ADT/actions/mime.ftl
  Resources/Prototypes/ADT/Entities/Objects/Fun/toys.yml
Owners: @JerryImMouse, @ficcialfaint

Воздушные шары 3
  Content.Server/ADT/Mime/MimeBaloonSystem.cs
  Resources/Locale/ru-RU/ADT/actions/mime.ftl
Owners: @JerryImMouse, @ficcialfaint

воздушные шары 4
  Content.Server/ADT/Mime/MimeBaloonSystem.cs
  Resources/Locale/ru-RU/ADT/actions/mime.ftl
Owners: @JerryImMouse, @ficcialfaint

перенос шаров в основной код мима
  Content.Server/ADT/Mime/MImeBaloonComponent.cs
  Content.Server/ADT/Mime/MimeBaloonSystem.cs
  Content.Server/ADT/Mime/fill.txt
  Content.Server/Abilities/Mime/MimePowersComponent.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
Owners: @JerryImMouse

emote вместо popup
  Content.Server/Abilities/Mime/MimePowersSystem.cs
Owners: @JerryImMouse

Убираем лишнее
  Resources/Prototypes/ADT/Actions/baloon.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Owners: @JerryImMouse

фикс лицензии
  Resources/Audio/ADT/Misc/attributions.yml
Owners: @JerryImMouse

почему это было в обычной папке?
  Resources/Audio/ADT/Misc/attributions.yml
  Resources/Prototypes/ADT/Actions/baloon.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/toys.yml
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/clown-balloon.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/clown-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/clown-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/corgi-balloon.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/corgi-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/corgi-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/icon-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/icon-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/icon.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/meta.json
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/nt-balloon.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/nt-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/nt-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/Balloon/fill.txt
Owners: @JerryImMouse

made code smaller + comment EasyMode
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Resources/Prototypes/ADT/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @JerryImMouse, @DrSmugleaf

Реворк КПБ + фикс команды
  Content.Client/ADT/BookPrinter/BookPrinterWindow.xaml
  Content.Server/ADT/BookPrinter/BookCommands.cs
  Content.Server/ADT/IPC/Charge/Systems/SiliconChargeSystem.cs
  Content.Server/ADT/IPC/Components/BatterySlotRequiresLockComponent.cs
  Content.Server/ADT/IPC/Systems/BatterySlotRequiresLockSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Power/Components/ChargerComponent.cs
  Content.Shared/ADT/IPC/Components/SiliconComponent.cs
  Resources/Locale/ru-RU/ADT/silicons/silicon.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
Owners: @JerryImMouse, @ficcialfaint

Раскрытие правды
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Owners: @JerryImMouse

Реворк КПБ (#1945)
  Content.Client/ADT/BookPrinter/BookPrinterWindow.xaml
  Content.Server/ADT/BookPrinter/BookCommands.cs
  Content.Server/ADT/IPC/Charge/Systems/SiliconChargeSystem.cs
  Content.Server/ADT/IPC/Components/BatterySlotRequiresLockComponent.cs
  Content.Server/ADT/IPC/Systems/BatterySlotRequiresLockSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Power/Components/ChargerComponent.cs
  Content.Shared/ADT/IPC/Components/SiliconComponent.cs
  Resources/Locale/ru-RU/ADT/silicons/silicon.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Owners: @JerryImMouse, @ficcialfaint

переделал все
  Content.Server/ADT/Mime/MimeBaloonComponent.cs
  Content.Server/ADT/Mime/MimeBaloonSystem.cs
  Content.Server/ADT/Mime/fill.txt
  Content.Server/Abilities/Mime/MimePowersComponent.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Resources/Locale/ru-RU/ADT/actions/mime.ftl
  Resources/Prototypes/ADT/Actions/baloon.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Owners: @JerryImMouse, @ficcialfaint

Убираем лишнее
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Resources/Textures/ADT/Objects/Fun/Balloon/fill.txt
Owners: @JerryImMouse

еще немного изменений
  Content.Server/Abilities/Mime/MimePowersSystem.cs
Owners: @JerryImMouse

Убрал лишние usingи и зависимости
  Content.Server/ADT/Mime/MimeBaloonSystem.cs
Owners: @JerryImMouse

нужна свободная рука, комментарий и лишний using
  Content.Server/ADT/Mime/MimeBaloonSystem.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Resources/Locale/ru-RU/ADT/actions/mime.ftl
Owners: @JerryImMouse, @ficcialfaint

Update hardsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @JerryImMouse

Update hardsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @JerryImMouse

Hopefuly for final update
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Owners: @JerryImMouse

Fixed SD_Joule map (#157)
  Resources/Maps/SDMaps/SDStations/SD_Joule.yml
Owners: @Ko4ergaPunk

КПА
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/PKAs/PKAs.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/wielded-inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/wielded-inhand-right.png
Owners: @JerryImMouse

респрайт дробовика
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/wielded-inhand-right.png
Owners: @JerryImMouse

небольшой апдейт
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

удаляем рудиментарный DeutschAccent
  Content.Server/ADT/Speech/Component/DeutschAccentComponent.cs
  Content.Server/ADT/Speech/EntitySystems/DeutschAccentSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Resources/Prototypes/ADT/Traits/speech.yml
Owners: @JerryImMouse

оффицир-э
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
Owners: @JerryImMouse

[TWEAK] Полировка способностей мима (#1943)
  Content.Server/ADT/Mime/MimeBaloonComponent.cs
  Content.Server/ADT/Mime/MimeBaloonSystem.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Resources/Audio/ADT/Misc/attributions.yml
  Resources/Audio/ADT/Misc/baloon-inflating.ogg
  Resources/Locale/ru-RU/ADT/actions/mime.ftl
  Resources/Prototypes/ADT/Actions/baloon.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/toys.yml
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/clown-balloon.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/clown-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/clown-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/corgi-balloon.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/corgi-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/corgi-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/icon-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/icon-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/icon.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/meta.json
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/nt-balloon.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/nt-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon.rsi/nt-inhand-right.png
Owners: @JerryImMouse, @ficcialfaint

ИИ оказался умнее меня
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
Owners: @JerryImMouse
