Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

Фикс лотереи лидера РХБЗЗ, локаль и блюспейс руда
  Resources/Locale/ru-RU/xenoarchaeology/artifact-effects.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/Recipes/Lathes/sheet.yml
Owners: @ficcialfaint, @JerryImMouse

fixed problem
  Resources/Prototypes/ADT/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @JerryImMouse, @DrSmugleaf

Here-we-go
  Resources/Audio/ADT/Voice/Shadekin/attributions.yml
  Resources/Audio/ADT/Voice/Shadekin/woosh.ogg
  Resources/Audio/ADT/Voice/Shadekin/wurble.ogg
  Resources/Locale/ru-RU/ADT/Chat/emotes.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/Voice/speech_emote_sounds.yml
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/ADT/Interface/Emotes/Vocal/purse.png
Owners: @JerryImMouse, @ficcialfaint

Отключаю спавн морфа (#1871)
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

Отключаю спавн морфа (#1887)
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

Опять АДТ..
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/silicon_chargers.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/siliconchargers.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/silicon_chargers.yml
  Resources/Prototypes/ADT/Recipes/Lathes/electronics.yml
Owners: @ficcialfaint, @JerryImMouse

lmao lmao
  Content.Server/ADT/Storage/EntitySystem/SuitStorageSystem.cs
  Resources/Locale/ru-RU/ADT/storage/components/suitstorage-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Owners: @JerryImMouse, @ficcialfaint

Новые изучения (снова) (#1866)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/silicon_chargers.ftl
  Resources/Locale/ru-RU/ADT/research/technologies.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/siliconchargers.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/silicon_chargers.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/ADT/Recipes/Lathes/electronics.yml
  Resources/Prototypes/ADT/Recipes/Lathes/powercells.yml
  Resources/Prototypes/ADT/Research/civilianservices.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
Owners: @ficcialfaint, @JerryImMouse

lmao
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Owners: @JerryImMouse

весело
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Owners: @JerryImMouse

Выбор народу (#1837)
  Content.Client/ADT/Storage/SuitStorage/UI/SuitStorageBoundUserInterface.cs
  Content.Client/ADT/Storage/SuitStorage/UI/SuitStorageMenu.xaml
  Content.Client/ADT/Storage/SuitStorage/UI/SuitStorageMenu.xaml.cs
  Content.Server/ADT/Storage/EntitySystem/SuitStorageSystem.cs
  Content.Shared/ADT/Storage/Components/SuitStorageComponent.cs
  Resources/Locale/ru-RU/ADT/storage/components/suitstorage-component.ftl
  Resources/Prototypes/ADT/Entities/Objects/Specific/misc_voucher.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
Owners: @JerryImMouse, @ficcialfaint

Фикс лотереи лидера РХБЗЗ, локаль и блюспейс руда (#1885)
  Resources/Locale/ru-RU/xenoarchaeology/artifact-effects.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/Recipes/Lathes/sheet.yml
Owners: @ficcialfaint, @JerryImMouse

Update adt-pr-to-discord.yml
  .github/workflows/adt-pr-to-discord.yml
Owners: @JerryImMouse

SickTeethAccent bounty
  Content.Server/ADT/Speech/Component/SickTeethAccentComponent.cs
  Content.Server/ADT/Speech/EntitySystems/SickTeethAccentSystem.cs
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Traits/speech.yml
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Owners: @JerryImMouse, @ficcialfaint, @DrSmugleaf

fix CRLF
  Content.Server/ADT/Speech/Component/SickTeethAccentComponent.cs
  Content.Server/ADT/Speech/EntitySystems/SickTeethAccentSystem.cs
Owners: @JerryImMouse

[Bounty] SickTeethAccent (#1888)
  Content.Server/ADT/Speech/Component/SickTeethAccentComponent.cs
  Content.Server/ADT/Speech/EntitySystems/SickTeethAccentSystem.cs
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Traits/speech.yml
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Owners: @JerryImMouse, @ficcialfaint, @DrSmugleaf

TEST WEBHOOK (#1889)
  .github/workflows/adt-pr-to-discord.yml
Owners: @JerryImMouse

Update pr_to_discord.py. Теперь учитываются оба варианта в описании ПРа :cl: и 🆑
  Tools/ADT/pr_to_discord.py
Owners: @JerryImMouse

- remove(proto): Из блэк листа для нашей мили-боёвки убран таг (Pen), и он больше не учитывается
  Resources/Prototypes/Entities/Mobs/base.yml
Owners: @JerryImMouse

fix dead
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
Owners: @JerryImMouse

fix MobState
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
Owners: @JerryImMouse

fixim
  Resources/Audio/ADT/Voice/Shadekin/woosh.ogg
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/Voice/speech_emote_sounds.yml
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
Owners: @JerryImMouse

fixim2
  Resources/Prototypes/ADT/Voice/speech_emote_sounds.yml
Owners: @JerryImMouse

locale
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/mobs.ftl
Owners: @ficcialfaint

fix
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Owners: @JerryImMouse

Небольшие правки (#1891)
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Owners: @JerryImMouse

harvester diff
  Content.Server/ADT/BluespaceHarvester/BluespaceHarvesterSystem.cs
Owners: @JerryImMouse

Изменение получения святого урона, добавление к священному урону бонуса для еретика
  Content.Server/ADT/Damage/Systems/ChangeDamageContainerSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/ADT/Phantom/EntitySystems/PhantomSystem.cs
  Content.Shared/ADT/Damage/Events/ChangeDamageContainerComponent.cs
  Resources/Prototypes/ADT/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
Owners: @JerryImMouse

Эмоции сумерам (#1886)
  Resources/Audio/ADT/Voice/Shadekin/attributions.yml
  Resources/Audio/ADT/Voice/Shadekin/wurble.ogg
  Resources/Locale/ru-RU/ADT/Chat/emotes.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/Voice/speech_emote_sounds.yml
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/ADT/Interface/Emotes/Vocal/purse.png
Owners: @JerryImMouse, @ficcialfaint

Мелкие фиксы урона
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/paranormal.yml
Owners: @JerryImMouse

Убираю лишнюю строку из эмбиенда чейнжлога Update pr_to_discord.py
  Tools/ADT/pr_to_discord.py
Owners: @JerryImMouse

[Tweak] Limit harvesters (#1892)
  Content.Server/ADT/BluespaceHarvester/BluespaceHarvesterSystem.cs
Owners: @JerryImMouse

fix chaos
  Content.Server/StationEvents/Components/RampingStationEventSchedulerComponent.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
Owners: @JerryImMouse

ops
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
Owners: @JerryImMouse

some little fixes
  Content.Server/ADT/Economy/EftposSystem.cs
  Content.Server/ADT/Jumpoots/JumpbootsSystem.cs
  Content.Server/ADT/Supermatter/Systems/SupermatterEffectsSystem.cs
  Content.Server/ADT/TimeDespawnDamage/TimeDespawnDamageSystem.cs
  Content.Server/ADT/VentCrawling/VentCrawlerTubeSystem.cs
  Content.Server/Administration/Commands/OpenAdminLogsCommand.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
Owners: @JerryImMouse

init
  Resources/Locale/ru-RU/ADT/Objects/Fun/lethal_company_air_horn.ftl
  Resources/Locale/ru-RU/ADT/Objects/Tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Eyes/glasses.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hoods.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/boots.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Underwear/socks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/cookies.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/donuts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/toys.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/swords.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Dispensers/witch_cauldron.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Wallmount/Signs/posters.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
  Resources/Prototypes/ADT/Entities/Clothing/Underwear/Socks/socks.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/underwear.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
Owners: @ficcialfaint, @JerryImMouse

фикс ямла
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
Owners: @JerryImMouse

чиним ямлик
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
Owners: @JerryImMouse

еще чиним
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
Owners: @JerryImMouse

вернул паутину
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Wallmount/Signs/posters.ftl
Owners: @ficcialfaint
