Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

disable TeleportRandomly (#153)
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
Owners: @JerryImMouse

fix
  Resources/Prototypes/ADT/mining_shop.yml
Owners: @JerryImMouse

Returned ADTPatchPackFilled
  Resources/Prototypes/ADT/Catalog/Fills/Items/patchpack.yml
  Resources/Prototypes/ADT/mining_shop.yml
Owners: @JerryImMouse

https://discord.com/channels/901772674865455115/1405632868901715968
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Content.Shared/ADT/PickupHumans/Systems/SharedPickupHumansSystem.cs
Owners: @JerryImMouse

https://discord.com/channels/901772674865455115/1403724844314525886
  Resources/Prototypes/ADT/Species/kobalt.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Arachnid.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Dwarf.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Kobalt.xml
Owners: @JerryImMouse

fix: </Document>
  Resources/ServerInfo/ADT/SpeciesDescriptions/Arachnid.xml
Owners: @JerryImMouse

https://discord.com/channels/901772674865455115/1402116262137561198
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Owners: @JerryImMouse

https://discord.com/channels/901772674865455115/1411832377126420621
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/silicon.yml
Owners: @ficcialfaint, @JerryImMouse

https://discord.com/channels/901772674865455115/1412483693624430644
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
Owners: @ficcialfaint

хотфикс
  Content.Server/ADT/GameTicking/Rules/DynamicRuleSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Knowledge.cs
Owners: @JerryImMouse

больше акцента!
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

с микроволновки на духовки
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
Owners: @JerryImMouse

улучшение 3
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

фикс 1
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

больше ругательств
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

инструкции для TTS
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

Комментарии
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

- Возращение рандомной динамики
  Resources/Prototypes/ADT/game_presets.yml
Owners: @JerryImMouse

[revert] Возращение рандомной динамики (#1929)
  Resources/Prototypes/ADT/game_presets.yml
Owners: @JerryImMouse

минимальный порог
  Resources/Prototypes/ADT/GameRules/roundstart.yml
Owners: @JerryImMouse

[ADD] Минимальный порог игроков для динамики (#1930)
  Resources/Prototypes/ADT/GameRules/roundstart.yml
Owners: @JerryImMouse

хотфикс (#1928)
  Content.Server/ADT/GameTicking/Rules/DynamicRuleSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Knowledge.cs
Owners: @JerryImMouse

upd
  .github/PULL_REQUEST_TEMPLATE.md
  Resources/Audio/Corvax/Adminbuse/ai_malf_1.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_2.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_3.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_4.ogg
  Resources/Audio/Corvax/Adminbuse/aimalf.ogg
  Resources/Audio/Corvax/Adminbuse/i-storm1.ogg
  Resources/Audio/Corvax/Adminbuse/irod.ogg
  Resources/Audio/Corvax/Adminbuse/outbreak5.ogg
  Resources/Audio/Corvax/Adminbuse/portal.ogg
  Resources/Audio/Corvax/Adminbuse/vox_arrival.ogg
  Resources/Audio/Corvax/Adminbuse/vox_returns.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_crew_win.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help_fail.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help_fail.ogg
  Resources/Locale/ru-RU/ADT/Job/department-desc.ftl
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse, @ficcialfaint

корректировка транскрипции
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

Сломал...
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

Больше
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

ещё больше слов
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

комментарии
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

fix: не туда записал if/расширение спектра цвета глаз
  Content.Client/ADT/Shadekin/Systems/ShadekinSystem.Tint.cs
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
Owners: @JerryImMouse

https://discord.com/channels/901772674865455115/1415314306261848135
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Owners: @JerryImMouse

Revert "https://discord.com/channels/901772674865455115/1415314306261848135"
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Owners: @JerryImMouse

возможно фиксы
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.cs
  Content.Server/ADT/GameTicking/Rules/DynamicRuleSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @JerryImMouse

перезалив https://discord.com/channels/901772674865455115/1415314306261848135
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Owners: @JerryImMouse

корректировки
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

https://discord.com/channels/901772674865455115/1415512943398748241
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Owners: @JerryImMouse

фиксы и улучшения
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

fix
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/patchs.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
Owners: @JerryImMouse

https://discord.com/channels/901772674865455115/1415120808422146068
  Resources/Prototypes/Body/Organs/vox.yml
Owners: @DrSmugleaf

Returned ADTPatchPackFilled (#155)
  Resources/Prototypes/ADT/Catalog/Fills/Items/patchpack.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/patchs.yml
  Resources/Prototypes/ADT/mining_shop.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
Owners: @JerryImMouse

https://discord.com/channels/901772674865455115/1414316019836518570
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Owners: @JerryImMouse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
