Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

Update Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/personalization.ftl
Owners: @ficcialfaint

Update Resources/Textures/ADT/Personalization/mining_helmet_sirtalter.rsi/meta.json
  Resources/Textures/ADT/Personalization/mining_helmet_sirtalter.rsi/meta.json
Owners: @JerryImMouse

Update Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/personalization.ftl
Owners: @ficcialfaint

[OPTIMIZATION] Удалены неиспользуемые саунды 9 мая и нового года (#1846)
  Resources/Audio/ADT/Jukebox/9May/day-pobedy.ogg
  Resources/Audio/ADT/Jukebox/9May/desyatiy-nash-desantniy-batalon.ogg
  Resources/Audio/ADT/Jukebox/9May/katyusha.ogg
  Resources/Audio/ADT/Jukebox/9May/mayskiy-vals.ogg
  Resources/Audio/ADT/Jukebox/9May/proshchanie-slavyanki.ogg
  Resources/Audio/ADT/Jukebox/9May/smuglyanka.ogg
  Resources/Audio/ADT/Jukebox/9May/svyashchennaya-voyna.ogg
  Resources/Audio/ADT/Jukebox/9May/tanki.ogg
  Resources/Audio/ADT/Jukebox/9May/tyomnaya-noch.ogg
  Resources/Audio/ADT/Jukebox/9May/zhuravli.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-countdown-deck-the-halls.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-is-coming.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-mood.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-vibes.ogg
  Resources/Audio/ADT/Jukebox/NewYear/attributions.yml
  Resources/Audio/ADT/Jukebox/NewYear/maxkomusic-christmas-is-coming.ogg
  Resources/Audio/ADT/Jukebox/NewYear/roa-music-winter-magic.ogg
  Resources/Audio/ADT/Jukebox/NewYear/the-piano-says-yuletide.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_1.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_2.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_3.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_4.ogg
  Resources/Audio/Corvax/Adminbuse/aimalf.ogg
  Resources/Audio/Corvax/Adminbuse/i-storm1.ogg
  Resources/Audio/Corvax/Adminbuse/irod.ogg
  Resources/Audio/Corvax/Adminbuse/outbreak5.ogg
  Resources/Audio/Corvax/Adminbuse/portal.ogg
  Resources/Audio/Corvax/Adminbuse/vox_arrival.ogg
  Resources/Audio/Corvax/Adminbuse/vox_returns.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_crew_win.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help_fail.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help_fail.ogg
Owners: @JerryImMouse

Удалил все упоминания октоберфеста
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Drinks/drinks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/statues.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/chairs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/tables.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/Tanks/tanks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/storage.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Wallmount/Signs/posters.ftl
  Resources/Locale/ru-RU/ADT/recipes/construction.ftl
  Resources/Prototypes/ADT/Entities/Structures/Decorations/statues.yml
  Resources/Prototypes/ADT/Flavors/flavors.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
Owners: @ficcialfaint, @JerryImMouse

Чиним RSI тест
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/misc.rsi/brezel_pumpkin.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/misc.rsi/muffin_pumpkin.png
  Resources/Textures/ADT/Objects/Consumable/Food/meat.rsi/meta.json
Owners: @JerryImMouse

Убрал, то что не заметил
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/ADT/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/ADT/Recipes/Construction/furniture.yml
Owners: @JerryImMouse

Убрал из заказов бочки и рецепт готовки
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/ADT/Recipes/Reactions/drinks.yml
Owners: @JerryImMouse

Убрал постеры, стулья, столы
  Resources/Prototypes/ADT/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/ADT/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/ADT/Entities/Structures/Wallmount/Signs/posters.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
Owners: @JerryImMouse

Убрал стулья с карт и их крафт
  Resources/Prototypes/ADT/Recipes/Construction/Graph/furniture/seats.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/furniture/tables.yml
Owners: @JerryImMouse

- refactor: Рефактор систем и полное убирание Update из AutoSpeakPostingChatSystem и utoEmotePostingChatSystem
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatComponent.cs
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatSystem.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatComponent.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatSystem.cs
Owners: @JerryImMouse

[OPTIMIZATION] Рефактор систем AutoEmotePostingChatSystem и AutoSpeakPostingChatSystem (#1850)
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatComponent.cs
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatSystem.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatComponent.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatSystem.cs
Owners: @JerryImMouse

- refactor: Переписана система BloodCoughSystem, полностью убран Update и всё заменено на таймер
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatSystem.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatSystem.cs
  Content.Server/ADT/BloodCough/BloodCoughComponent.cs
  Content.Server/ADT/BloodCough/BloodCoughSystem.cs
Owners: @JerryImMouse

- tweak: Отключение тестов на голосование
  Content.IntegrationTests/PoolManager.Cvars.cs
Owners: @JerryImMouse

- remove: Убрано timeSpan поле
  Content.Server/ADT/BloodCough/BloodCoughComponent.cs
Owners: @JerryImMouse

- убран атрибут
  Content.Server/ADT/BloodCough/BloodCoughComponent.cs
Owners: @JerryImMouse

- Убран ещё один атрибут
  Content.Server/ADT/BloodCough/BloodCoughComponent.cs
Owners: @JerryImMouse

[OPTIMIZATION] Переписана система BloodCoughSystem, полностью убран Update и заменён на таймер (#1851)
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatSystem.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatSystem.cs
  Content.Server/ADT/BloodCough/BloodCoughComponent.cs
  Content.Server/ADT/BloodCough/BloodCoughSystem.cs
Owners: @JerryImMouse

- fix Xml файла
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
  Resources/ServerInfo/Guidebook/Service/altars.xml
Owners: @JerryImMouse

- убираем ошибку сериализации
  Content.Shared/Cuffs/Components/CanForceHandcuffComponent.cs
Owners: @JerryImMouse

- Fix Test Failed TryStopNukeOpsFromConstantlyFailing
  Content.Server/Voting/Managers/VoteManager.cs
Owners: @JerryImMouse

- Убран ADTClothingHeadHatsBavarianHatRed с БАзы ВОКСОв Resources\Maps\ADTMaps\Nonstation\voxbase.yml
  Resources/Maps/ADTMaps/Nonstation/voxbase.yml
Owners: @Ko4ergaPunk

- Удалён ADTSpiderStool с Resources\Maps\ADTMaps\Nonstation\voxbase.yml
  Resources/Maps/ADTMaps/Nonstation/voxbase.yml
Owners: @Ko4ergaPunk

- Fix локализации в Resources\ServerInfo\Guidebook\Service\altars.xml
  Resources/ServerInfo/Guidebook/Service/altars.xml
Owners: @JerryImMouse

- Правка xml алтарей опять
  Resources/ServerInfo/Guidebook/Service/altars.xml
Owners: @JerryImMouse

- опять правки xml алтарей
  Resources/ServerInfo/Guidebook/Service/altars.xml
Owners: @JerryImMouse

- ОПЯТЬ ФИКС XML АЛТАРЕЙ
  Resources/ServerInfo/Guidebook/Service/altars.xml
Owners: @JerryImMouse

init
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/big.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/cheesy.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/small.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/sweetroll.png
Owners: @ficcialfaint, @JerryImMouse

- опять фиксы
  Content.Server/ADT/NPC/NTH/EntityWhitelistOperator.cs
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
  Resources/ServerInfo/Guidebook/Service/altars.xml
Owners: @JerryImMouse

- опять
  Resources/ServerInfo/Guidebook/Service/altars.xml
Owners: @JerryImMouse

Чиним RSI тест
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Owners: @JerryImMouse

- Возращаю BibleSystem к офф файлу ибо он был НАХУЙ ПЕРЕПИСАН ПОЛНОСТЬЮ
  Content.Server/Bible/BibleSystem.cs
Owners: @JerryImMouse

init commit
  Content.Client/ADT/Administration/ExportManager.cs
Owners: @JerryImMouse

Убираем носки из лодаута
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/underwear.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
Owners: @JerryImMouse

[OPTIMIZATION] Убран пасхальный контент (#1853)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/big.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/cheesy.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/small.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/sweetroll.png
Owners: @ficcialfaint, @JerryImMouse

origin
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_origin.yml
Owners: @JerryImMouse

додэп
  Resources/Prototypes/Maps/Pools/default.yml
Owners: @Ko4ergaPunk

Куртка Макишимы (#137)
  Resources/Locale/ru-RU/SD/clothing.ftl
  Resources/Prototypes/SD/Entities/Clothing/OuterClothing/Coats/makishima-coat.yml
  Resources/Textures/SD/Clothing/OuterClothing/CustomCoats/bloody-red.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SD/Clothing/OuterClothing/CustomCoats/bloody-red.rsi/icon.png
  Resources/Textures/SD/Clothing/OuterClothing/CustomCoats/bloody-red.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

add personal items (#136)
  Resources/Locale/ru-RU/SD/personal.ftl
  Resources/Prototypes/SD/Personal/Relictez/relictez_clothing.yml
  Resources/Textures/SD/Personal/Relictez/black_unifrom.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SD/Personal/Relictez/black_unifrom.rsi/icon.png
  Resources/Textures/SD/Personal/Relictez/black_unifrom.rsi/inhand-left.png
  Resources/Textures/SD/Personal/Relictez/black_unifrom.rsi/inhand-right.png
  Resources/Textures/SD/Personal/Relictez/black_unifrom.rsi/meta.json
  Resources/Textures/SD/Personal/Relictez/cloak_officer.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SD/Personal/Relictez/cloak_officer.rsi/icon.png
  Resources/Textures/SD/Personal/Relictez/cloak_officer.rsi/inhand-left.png
  Resources/Textures/SD/Personal/Relictez/cloak_officer.rsi/inhand-right.png
  Resources/Textures/SD/Personal/Relictez/cloak_officer.rsi/meta.json
  Resources/Textures/SD/Personal/Relictez/dq_hardsuit_commander.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/SD/Personal/Relictez/dq_hardsuit_commander.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SD/Personal/Relictez/dq_hardsuit_commander.rsi/icon.png
  Resources/Textures/SD/Personal/Relictez/dq_hardsuit_commander.rsi/inhand-left.png
  Resources/Textures/SD/Personal/Relictez/dq_hardsuit_commander.rsi/inhand-right.png
  Resources/Textures/SD/Personal/Relictez/dq_hardsuit_commander.rsi/meta.json
  Resources/Textures/SD/Personal/Relictez/dq_helmet_commander.rsi/icon-flash.png
  Resources/Textures/SD/Personal/Relictez/dq_helmet_commander.rsi/icon.png
  Resources/Textures/SD/Personal/Relictez/dq_helmet_commander.rsi/meta.json
  Resources/Textures/SD/Personal/Relictez/dq_helmet_commander.rsi/off-equipped-HELMET.png
  Resources/Textures/SD/Personal/Relictez/dq_helmet_commander.rsi/off-inhand-left.png
  Resources/Textures/SD/Personal/Relictez/dq_helmet_commander.rsi/off-inhand-right.png
  Resources/Textures/SD/Personal/Relictez/dq_helmet_commander.rsi/on-equipped-HELMET.png
  Resources/Textures/SD/Personal/Relictez/dq_helmet_commander.rsi/on-inhand-left.png
  Resources/Textures/SD/Personal/Relictez/dq_helmet_commander.rsi/on-inhand-right.png
Owners: @ficcialfaint, @JerryImMouse

add corvax shuttle
  Resources/Maps/Corvax/Shuttles/emergency_corvaxdelta.yml
Owners: @Ko4ergaPunk
