Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

удаление гипер меча из лавы
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/crates.yml
Owners: @JerryImMouse

Дамская сумка и кондитер
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/identification_cards.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Owners: @ficcialfaint, @JerryImMouse

джету маловато, пожалуй
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Owners: @JerryImMouse

чиним ямл
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
Owners: @JerryImMouse

фикс светлого капюшона священника?
  Resources/Prototypes/ADT/Entities/Clothing/Head/hoods.yml
Owners: @JerryImMouse

Some tweaks (#1835)
  Content.Client/ADT/Modsuits/UI/ModSuitMenu.xaml.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitModComponent.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.cs
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/crates.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Owners: @JerryImMouse

[FIX] Правки локали, добавление баффа сб бот другим сб тапкам, изменение щита синдиката и тд читать в описание пра (#1788)
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Chemistry/chemistry.ftl
  Resources/Locale/ru-RU/corvax/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/shotgun.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
  Resources/Prototypes/ADT/Entities/Objects/Shields/fullshield.yml
  Resources/Prototypes/ADT/Entities/Objects/Shields/fullshieldsindi.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/emergenctresponceteam.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert_leader.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/ADT/Objects/Weapons/Melee/fullshieldsindi.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Objects/Weapons/Melee/fullshieldsindi.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Melee/fullshieldsindi.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/buckler.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/buckler.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/buckler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/buckler.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/metal.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/metal.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/metal.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

убрал еще протототипы курятины
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/meat.yml
Owners: @JerryImMouse

фикс пути светлого капюшона священника?
  Resources/Prototypes/ADT/Entities/Clothing/Head/hoods.yml
  Resources/Textures/ADT/Clothing/Head/hoods/chaplain_white_hood.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/hoods/chaplain_white_hood.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/hoods/chaplain_white_hood.rsi/meta.json
Owners: @JerryImMouse

tweak(proto): Убрал мандарин из вендингов
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
Owners: @JerryImMouse

tweak(proto): Убрал курицу из разделывания курицы
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Owners: @JerryImMouse

tweak(proto): Добавил тег ADTBeerCan, так как он был случайно убран
  Resources/Prototypes/ADT/tags.yml
Owners: @JerryImMouse

убран неиспользуемый спрайт
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/templar_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/templar_armor.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/templar_armor.rsi/meta.json
Owners: @JerryImMouse

чиним
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
Owners: @JerryImMouse

еще чини
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
Owners: @JerryImMouse

ещё один фикс капюшона
  Resources/Prototypes/ADT/Entities/Clothing/Head/hoods.yml
Owners: @JerryImMouse

изменил путь спрайта
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
Owners: @JerryImMouse

убран лодаут несуществующего рюкзака
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/clown.yml
Owners: @JerryImMouse

Все еще чиним ямл
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/drinks.yml
Owners: @JerryImMouse

торгоматы сервиса
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Owners: @JerryImMouse

убрал прототипы плакатов с карт
  Resources/Maps/ADTMaps/ADTStations/NewYear/adt_centcom.yml
  Resources/Maps/ADTMaps/Ghostbars/ghostbar_goob.yml
  Resources/ServerInfo/ADT/NewCocktails.xml
Owners: @Ko4ergaPunk, @JerryImMouse

убрал вендинги с карт
  Resources/Maps/ADTMaps/ADTStations/NewYear/adt_centcom.yml
  Resources/Maps/ADTMaps/Ghostbars/ghostbar_goob.yml
Owners: @Ko4ergaPunk

трактирщик и официант
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/identification_cards.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
Owners: @ficcialfaint, @JerryImMouse

peremoga
  Content.Client/ADT/Modsuits/Systems/ModSuitVoucherVisualizerSystem.cs
  Content.Server/ADT/Modsuit/Systems/ModSuitVoucherSystem.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitVoucherComponent.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitVoucherSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/misc_voucher.yml
  Resources/Textures/ADT/Objects/Specific/Modsuits/vouchers/hard.png
  Resources/Textures/ADT/Objects/Specific/Modsuits/vouchers/meta.json
  Resources/Textures/ADT/Objects/Specific/Modsuits/vouchers/mod.png
Owners: @JerryImMouse

Удалил Индустриальный СМЭС, заменил спрайты Продвинутого
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/engineering.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/Machine/production.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Power/industrialSMES.ftl
  Resources/Maps/Shuttles/emergency_frontier.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/ADT/Entities/Structures/Power/industrialSMES.yml
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/meta.json
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc0.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og3.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og4.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og5.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op0.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-open.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-open.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-static.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes.png
  Resources/Textures/Structures/Power/smes.rsi/meta.json
Owners: @ficcialfaint, @Ko4ergaPunk, @JerryImMouse

ДОБАВИЛ RSI
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/ADT/Objects/Consumable/Drinks/cocoa_drink.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cocoa_drink.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cocoa_drink.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cocoa_drink.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cocoa_drink.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cocoa_drink.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cocoa_drink.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cocoa_drink.rsi/meta.json
Owners: @JerryImMouse

прменял путь до ris
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
Owners: @JerryImMouse

бариста и официант
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/identification_cards.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Owners: @ficcialfaint, @JerryImMouse

фартук баристы
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/misc.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/gloves.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/apron_barista.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/apron_barista.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/apron_barista.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/apron_barista.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/apron_barista.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Убрал ненужную инфу
  Resources/ServerInfo/ADT/NewRecipes.xml
Owners: @JerryImMouse

оверхауль святого урона, множественные правки в компонентах и системах
  Content.Server/ADT/Chaplain/Systems/ForTheWorthySystem.cs
  Content.Server/ADT/Damage/Systems/ChangeDamageContainerSystem.cs
  Content.Server/ADT/Gamerule/System/SpawnGameRuleSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/ADT/Phantom/EntitySystems/PhantomSystem.cs
  Content.Shared/ADT/Chaplain/Components/ForTheWorthyComponent.cs
  Content.Shared/ADT/Damage/Events/ChangeDamageContainerComponent.cs
  Content.Shared/ADT/Gamerule/Components/SpawnGameRuleComponent.cs
  Resources/Locale/ru-RU/ADT/chaplain/chaplain.ftl
  Resources/Locale/ru-RU/ADT/paper/gamblingtroll.ftl
  Resources/Locale/ru-RU/ADT/recipes/construction.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/casinotables.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/chancesacrafices.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Chapel/droppods.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/paranormal.yml
  Resources/Prototypes/ADT/Recipes/Construction/tools.yml
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/ServerInfo/Guidebook/Service/altars.xml
Owners: @JerryImMouse, @ficcialfaint

Сделал миграцию для СМЭСов
  Resources/migration.yml
Owners: @JerryImMouse

удалил файл локали
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/NewYears/Clothing/Head/hats.ftl
Owners: @ficcialfaint

Update gamblingtroll.ftl
  Resources/Locale/ru-RU/ADT/paper/gamblingtroll.ftl
Owners: @ficcialfaint

Update droppods.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Chapel/droppods.yml
Owners: @JerryImMouse

Удалил изучение Индустриального СМЭСа (#1826)
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/engineering.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/Machine/production.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Power/industrialSMES.ftl
  Resources/Maps/Shuttles/emergency_frontier.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Structures/Power/industrialSMES.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Recipes/Lathes/electronics.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/meta.json
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc0.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og3.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og4.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og5.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op0.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-open.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-open.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-static.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes.png
  Resources/Textures/Structures/Power/smes.rsi/meta.json
  Resources/migration.yml
Owners: @ficcialfaint, @Ko4ergaPunk, @JerryImMouse

[DEV] Update config development.toml
  Resources/ConfigPresets/Build/development.toml
Owners: @JerryImMouse

Issuexd (#284)
  Content.Client/ADT/MesonVision/MesonVisionOverlay.cs
  Content.Client/_Ganimed/Geras/GerasComponent.cs
  Content.Client/_Ganimed/Geras/GerasSystem.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.Trigger.cs
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
  Content.Server/_Ganimed/Geras/GerasComponent.cs
  Content.Server/_Ganimed/Geras/GerasSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
  Content.Shared/CCVar/CCVars.Vote.cs
  Content.Shared/_Ganimed/Geras/SharedGerasComponent.cs
  Content.Shared/_Ganimed/Geras/SharedGerasSystem.cs
  Resources/Locale/ru-RU/_Ganimed/actions/types.ftl
  Resources/Locale/ru-RU/_Ganimed/geras/geras.ftl
  Resources/Prototypes/ADT/Recipes/Construction/Graph/furniture/tables.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_Ganimed/Actions/types.yml
  Resources/Prototypes/_Ganimed/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/_Ganimed/Polymorphs/polymorph.yml
  Resources/Textures/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/Mobs/Aliens/slimes.rsi/white_adult_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/white_adult_slime_dead.png
Owners: @JerryImMouse, @ficcialfaint, @DrSmugleaf

[DEV] Update config development.toml (#1839)
  Resources/ConfigPresets/Build/development.toml
Owners: @JerryImMouse

init commit
  Content.Server/Administration/Managers/AdminManager.cs
Owners: @JerryImMouse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
