Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

новые звуки для Слаймов (тесают новые звуки для людей, так что хз)
  Resources/Audio/ADT/Voice/Slime/attributions.yml
  Resources/Audio/ADT/Voice/Slime/s_cry_female_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_cry_female_2.ogg
  Resources/Audio/ADT/Voice/Slime/s_cry_female_3.ogg
  Resources/Audio/ADT/Voice/Slime/s_cry_female_4.ogg
  Resources/Audio/ADT/Voice/Slime/s_cry_male_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_cry_male_2.ogg
  Resources/Audio/ADT/Voice/Slime/s_cry_male_3.ogg
  Resources/Audio/ADT/Voice/Slime/s_cry_male_4.ogg
  Resources/Audio/ADT/Voice/Slime/s_female_cough_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_female_cough_2.ogg
  Resources/Audio/ADT/Voice/Slime/s_female_sigh.ogg
  Resources/Audio/ADT/Voice/Slime/s_female_sneeze_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_female_yawn_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_femalescream_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_femalescream_2.ogg
  Resources/Audio/ADT/Voice/Slime/s_femalescream_3.ogg
  Resources/Audio/ADT/Voice/Slime/s_femalescream_4.ogg
  Resources/Audio/ADT/Voice/Slime/s_femalescream_5.ogg
  Resources/Audio/ADT/Voice/Slime/s_male_cough_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_male_cough_2.ogg
  Resources/Audio/ADT/Voice/Slime/s_male_sigh.ogg
  Resources/Audio/ADT/Voice/Slime/s_male_sneeze_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_male_yawn_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_malescream_1.ogg
  Resources/Audio/ADT/Voice/Slime/s_malescream_2.ogg
  Resources/Audio/ADT/Voice/Slime/s_malescream_3.ogg
  Resources/Audio/ADT/Voice/Slime/s_malescream_4.ogg
  Resources/Audio/ADT/Voice/Slime/s_malescream_5.ogg
  Resources/Audio/ADT/Voice/Slime/s_malescream_6.ogg
  Resources/Audio/ADT/Voice/Slime/s_manlaugh1.ogg
  Resources/Audio/ADT/Voice/Slime/s_manlaugh2.ogg
  Resources/Audio/ADT/Voice/Slime/s_womanlaugh.ogg
  Resources/Prototypes/ADT/SoundCollections/disease.yml
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/SoundCollections/gasp.yml
  Resources/Prototypes/ADT/SoundCollections/screams.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Owners: @Morb0

fix again
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
Owners: @Morb0

Добавлен .cs компонент. Перенес список в компонент
  Content.Server/ADT/Radiation/RadiationPopupComponent.cs
  Content.Server/ADT/Radiation/RadiationPopupSystems.cs
Owners: @Morb0

Удвоение баллонов (#1160)
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
Owners: @Morb0

Добавлены эмоуты воксов
  Resources/Audio/ADT/Effects/Gasp/Vox/voxgasp1.ogg
  Resources/Audio/ADT/Effects/Gasp/Vox/voxgasp2.ogg
  Resources/Audio/ADT/Effects/Gasp/Vox/voxgasp3.ogg
  Resources/Audio/ADT/Voice/Vox/attributions.yml
  Resources/Audio/ADT/Voice/Vox/voxchitter1.ogg
  Resources/Audio/ADT/Voice/Vox/voxchitter2.ogg
  Resources/Audio/ADT/Voice/Vox/voxcoo1.ogg
  Resources/Audio/ADT/Voice/Vox/voxcoo2.ogg
  Resources/Audio/ADT/Voice/Vox/voxcry.ogg
  Resources/Audio/ADT/Voice/Vox/voxhiss.ogg
  Resources/Locale/ru-RU/ADT/Chat/emotes.ftl
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/SoundCollections/gasp.yml
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Owners: @Morb0, @ficcialfaint

ADT-Tweaks
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Owners: @Morb0

Добавлены ещё 2 эмоута воксам и слаймолюдам
  Resources/Audio/ADT/Voice/Slime/s_bubble.ogg
  Resources/Audio/ADT/Voice/Slime/s_pop.ogg
  Resources/Locale/ru-RU/ADT/Chat/emotes.ftl
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Textures/ADT/Interface/Emotes/Vocal/bubbles.png
  Resources/Textures/ADT/Interface/Emotes/Vocal/pop.png
  Resources/Textures/Interface/Emotes/bubbles.png
  Resources/Textures/Interface/Emotes/pop.png
  dotnet
Owners: @Morb0, @ficcialfaint

Букова
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Owners: @Morb0

Delete dotnet
  dotnet
Owners: @Morb0

tweak(git): Изменён шаблон пулл реквеста на более простой вариант от Петра
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Morb0

- tweak: Попробовал изменить плащи до формфактора, какой был у предыдущих
  Resources/Textures/ADT/Clothing/Neck/Cloaks/HoP_alt_cloak.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/centcomcloakformal.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/equipped-NECK.png
Owners: @Morb0

fix: Подделан дисплейс сумеров до сносного уровня (на мой взгляд)
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/back.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/jumpsuit.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/shoes.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/underwearb.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/underweart.png
Owners: @Morb0

add (proto): Добавление новых голосов для ТТС из Доты 2
  Resources/Prototypes/Corvax/tts-voices.yml
Owners: @Morb0

Небольшая редакция обновленного текста ПР
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Morb0

Доработка шаблона пулл-реквеста
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Morb0

fix: Баги исправлены
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Owners: @Morb0

fix: Букова в айди ;/
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Owners: @Morb0

add: Иконки эмоутам воксов
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Textures/Interface/Emotes/attributions.yml
  Resources/Textures/Interface/Emotes/coo.png
  Resources/Textures/Interface/Emotes/voxchitter.png
Owners: @Morb0

FootWraps
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Owners: @Morb0

Добавлен компонент мобам
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @Morb0

[ADD] Добавление новых голосов для ТТС из Доты 2 (#1176)
  Resources/Prototypes/Corvax/tts-voices.yml
Owners: @Morb0

fix: Сделал
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Textures/ADT/Interface/Emotes/Vocal/attributions.yml
  Resources/Textures/ADT/Interface/Emotes/Vocal/coo.png
  Resources/Textures/ADT/Interface/Emotes/Vocal/voxchitter.png
  Resources/Textures/Interface/Emotes/attributions.yml
Owners: @Morb0

fix: сделал
  Resources/Textures/ADT/Clothing/Neck/Cloaks/HoP_alt_cloak.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/centcomcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/meta.json
Owners: @Morb0

Revert "fix: сделал"
  Resources/Textures/ADT/Clothing/Neck/Cloaks/HoP_alt_cloak.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/centcomcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/meta.json
Owners: @Morb0

fix: Сделал лучше
  Resources/Textures/ADT/Clothing/Neck/Cloaks/HoP_alt_cloak.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/centcomcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/meta.json
Owners: @Morb0

Update speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Owners: @Morb0

Плащики (#1175)
  Resources/Textures/ADT/Clothing/Neck/Cloaks/HoP_alt_cloak.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/HoP_alt_cloak.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/centcomcloakformal.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/centcomcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/meta.json
Owners: @Morb0

no more avrit (#1152)
  Resources/Prototypes/Maps/Pools/default.yml
Owners: @Ko4ergaPunk

fix: Убрано лишнее
  Resources/Textures/Interface/Emotes/bubbles.png
  Resources/Textures/Interface/Emotes/pop.png
Owners: @Morb0

Оповещение о радиации в организме (#1161)
  Content.Server/ADT/Radiation/RadiationPopupComponent.cs
  Content.Server/ADT/Radiation/RadiationPopupSystems.cs
  Resources/Locale/ru-RU/ADT/prototypes/radiationPopup.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @Morb0, @ficcialfaint

Fix(Texture) Фикс недостающей текстуры ботинок
  Resources/Textures/Clothing/Shoes/Specific/large_clown.rsi/equipped-FEET-reptilian.png
Owners: @Morb0

Исправления
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/wraps.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Owners: @Morb0

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk
