Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk

[Personal] Добавлена именная вещь Anvel (#1105)
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/polaroid_anvel.rsi/icon.png
  Resources/Textures/ADT/Personalization/polaroid_anvel.rsi/meta.json
Owners: @ficcialfaint, @Morb0

резоми низя
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/guard_officer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Owners: @Morb0

fix(proto): нарушение разметки YAML в прототипе id: AirSensorBase
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Owners: @Morb0

Запрет ролей для Резоми. (#1106)
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/guard_officer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Owners: @Morb0

fix(proto): ВЕКТОР УДАЛИЛи, втф. Возращаю текстуры обратно, прототип в ADT/ папку
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/SMGs/fill.txt
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/SMGs/vector.rsi/base.png
  Resources/Textures/ADT/Objects/Weapons/Guns/SMGs/vector.rsi/bolt-open.png
  Resources/Textures/ADT/Objects/Weapons/Guns/SMGs/vector.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Objects/Weapons/Guns/SMGs/vector.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/SMGs/vector.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/SMGs/vector.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/SMGs/vector.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/SMGs/vector.rsi/mag-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/SMGs/vector.rsi/meta.json
Owners: @Morb0

fix(texture): Чиню meta.json у /Vests/hazard.rsi. Не прописана "icon"
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/meta.json
Owners: @Morb0

fix(proto): staticRecipes: закоменчено у PrinterDoc и ADTUniversalPipeDispenser
  Resources/Prototypes/ADT/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
Owners: @Morb0

fix(texture): shelllethal.png возращаю
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/shelllethal.png
Owners: @Morb0

fix(proto, map): правка рецепта и пути мапы
  Resources/Prototypes/Maps/convex.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Owners: @Ko4ergaPunk, @Morb0

вторая часть
  Content.Server/ADT/AddComponentsOnUse/Components/AddComponentsOnUseComponent.cs
  Content.Server/ADT/AddComponentsOnUse/Systems/AddComponentsOnUseSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/ADT/CantShoot/Components/CantShootComponent.cs
  Content.Shared/ADT/CantShoot/Systems/CantShootSystem.cs
  Content.Shared/ADT/Combat/ComboEvents.cs
  Content.Shared/ADT/Combat/Components/ComboComponent.cs
  Content.Shared/ADT/Combat/Systems/ComboSystem.cs
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Resources/Locale/ru-RU/ADT/Combo/combo_end_popup.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/cqc.png
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/ptrc.png
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/sleeping_carp.png
Owners: @Morb0, @ficcialfaint

фикс
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Owners: @Morb0

fix(src): фикс бага с резоми, чатом
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
Owners: @Morb0

уэ
  Content.Shared/ADT/Combat/Components/ComboComponent.cs
  Resources/Audio/ADT/Misc/ui_togglecombat.ogg
  Resources/Audio/ADT/Misc/ui_toggleoffcombat.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
Owners: @Morb0, @ficcialfaint

Доделал цель. Осталось мелочь фиксов и добавить получение ноблия
  Content.Server/Objectives/Systems/CascadeConditionSystem.cs
  Resources/Prototypes/Objectives/traitor.yml
Owners: @Morb0

[HOTFIX] fix(src): фикс бага с резоми, чатом (#1107)
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
Owners: @Morb0

Update Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Owners: @Morb0

Update Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Owners: @Morb0

Update Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Owners: @Morb0

Перенос систем/компонентов в папки ADT
  Content.Server/ADT/Objectives/Components/CascadeConditionComponent.cs
  Content.Server/ADT/Objectives/Systems/CascadeConditionSystem.cs
  Content.Server/ADT/Supermatter/System/SupermatterSystem.Processing.cs
  Content.Server/ADT/Supermatter/System/SupermatterSystem.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
  Content.Shared/CCVar/CCVars.Supermatter.cs
  Content.Shared/Supermatter/Components/SupermatterComponent.cs
  Content.Shared/Supermatter/Components/SupermatterFoodComponent.cs
  Content.Shared/Supermatter/Components/SupermatterImmuneComponent.cs
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Owners: @Morb0

Update Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Owners: @Morb0

Update Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
Owners: @Morb0

Ище больше переноса компонентиков
  Content.Shared/ADT/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/ADT/Supermatter/Components/SupermatterComponent.cs
  Content.Shared/ADT/Supermatter/Components/SupermatterFoodComponent.cs
  Content.Shared/ADT/Supermatter/Components/SupermatterImmuneComponent.cs
Owners: @Morb0

Update Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Owners: @Morb0

Update Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Owners: @Morb0

Update Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @Morb0

Update Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @Morb0

Update Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @Morb0

Update Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @Morb0

Update Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Owners: @Morb0

Ище больше правок
  Resources/Prototypes/ADT/Entities/Effects/SupermatterExplosion.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/SupermatterKudzu.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/SupermatterSilver.yml
  Resources/Prototypes/ADT/Entities/Structures/Power/Generation/Supermatter/SupermatterCrystal.yml
  Resources/Prototypes/ADT/Entities/Structures/Power/Generation/Supermatter/SupermatterTrash.yml
  Resources/Prototypes/ADT/Entities/Structures/Power/Generation/Supermatter/supermattercascade.yml
  Resources/Prototypes/ADT/Entities/Structures/Power/Generation/Supermatter/tags.yml
  Resources/Prototypes/ADT/tags.yml
Owners: @Morb0

fix
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @Morb0

return
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @Morb0

Начало переноса консоли.
  Content.Client/ADT/Supermatter/Components/SupermatterVisualizerComponent.cs
  Content.Client/ADT/Supermatter/Consoles/SupermatterConsoleBoundUserInterface.cs
  Content.Client/ADT/Supermatter/Consoles/SupermatterConsoleWindow.xaml
  Content.Client/ADT/Supermatter/Consoles/SupermatterConsoleWindow.xaml.cs
  Content.Client/ADT/Supermatter/Consoles/SupermatterEntryContainer.xaml
  Content.Client/ADT/Supermatter/Consoles/SupermatterEntryContainer.xaml.cs
  Content.Client/ADT/Supermatter/Consoles/SupermatterGasBarContainer.xaml
  Content.Client/ADT/Supermatter/Consoles/SupermatterGasBarContainer.xaml.cs
  Content.Client/ADT/Supermatter/Systems/SupermatterVisualizerSystem.cs
  Content.Server/ADT/Supermatter/Consoles/SupermatterConsoleSystem.cs
Owners: @Morb0

добавляем по мелочи
  Content.Shared/ADT/Combat/Components/ComboComponent.cs
  Content.Shared/ADT/Combat/Systems/ComboSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/material_arts.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
Owners: @Morb0, @ficcialfaint

ревью
  Content.Shared/ADT/Combat/ComboComponentParts.cs
  Content.Shared/ADT/Combat/ComboEffects.cs
  Content.Shared/ADT/Combat/Components/ComboComponent.cs
  Content.Shared/ADT/Combat/Systems/ComboSystem.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
Owners: @Morb0

modification
  Content.Server/ADT/Anomaly/Effects/StaticAnomaly/FakeStaticTVSystem.cs
  Content.Server/ADT/Anomaly/Effects/StaticAnomaly/StaticAnomalySystem.cs
  Content.Server/ADT/Anomaly/Effects/StaticAnomaly/StaticTVSystem.cs
  Resources/Prototypes/ADT/Voice/auto_emotes.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Voice/auto_emotes.yml
Owners: @Morb0

add(ui): Добавлены кнопки с ссылками на бусти в ESC меню и окно очереди
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Content.Client/Corvax/JoinQueue/QueueState.cs
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Shared/CCVar/CCVars.Game.Infolinks.cs
Owners: @Morb0

style
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
Owners: @Morb0

Update QueueState.cs
  Content.Client/Corvax/JoinQueue/QueueState.cs
Owners: @Morb0

Update QueueGui.xaml.cs
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
Owners: @Morb0
