Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

зачем тут комментарии?
  Content.Server/ADT/Speech/EntitySystems/DeutschAccentSystem.cs
Owners: @JerryImMouse

немцы 2.0
  Content.Server/ADT/Speech/EntitySystems/DeutschAccentSystem.cs
Owners: @JerryImMouse

немцы 3.0
  Content.Server/ADT/Speech/EntitySystems/DeutschAccentSystem.cs
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

транскрипция
  Content.Server/ADT/Speech/EntitySystems/DeutschAccentSystem.cs
Owners: @JerryImMouse

немцы теперь германцы
  Content.Server/ADT/Speech/EntitySystems/DeutschAccentSystem.cs
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
Owners: @JerryImMouse

откат
  Content.Server/ADT/Speech/EntitySystems/DeutschAccentSystem.cs
Owners: @JerryImMouse

откат 2
  Content.Server/ADT/Speech/EntitySystems/DeutschAccentSystem.cs
Owners: @JerryImMouse

Комментарии
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
Owners: @JerryImMouse

Комментарии 2
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
Owners: @JerryImMouse

Update meta.json
  Resources/Textures/ADT/Decals/Symbols/alphabet.rsi/meta.json
Owners: @JerryImMouse

hero4
  Content.Server/ADT/StationEvents/Events/IanHeroEvent.cs
Owners: @JerryImMouse

Update stairs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/stairs.ftl
Owners: @ficcialfaint

Фикс юи + логи + вернул оставшиеся прототипы
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
  Content.Server/ADT/BookPrinter/BookPrinterSystem.cs
  Content.Server/ADT/BookPrinter/Components/BookPrinterComponent.cs
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/refill_cartridge.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
Owners: @JerryImMouse

Конец "книжного книга", а так же поменял локаль. До тех пор, пока Джунгарик не проверит...
  Resources/Locale/ru-RU/ADT/bookprinter/bookprinter.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/book_printer.ftl
Owners: @ficcialfaint

Update construction.ftl
  Resources/Locale/ru-RU/ADT/recipes/construction.ftl
Owners: @ficcialfaint

Подредактировал гостов
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Owners: @DrSmugleaf

Update construction.ftl
  Resources/Locale/ru-RU/ADT/recipes/construction.ftl
Owners: @ficcialfaint

init
  Resources/Prototypes/ADT/InventoryTemplates/ghost_inventory_template.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Owners: @JerryImMouse, @DrSmugleaf

Убираем лишнее у гостов (#1940)
  Resources/Prototypes/ADT/InventoryTemplates/ghost_inventory_template.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Owners: @JerryImMouse, @DrSmugleaf

Вы все гады
  Resources/Prototypes/ADT/Hallucinations/supermatter.yml
Owners: @JerryImMouse

[FIX] Фиксы фиксы..
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Shared/ADT/Salvage/Systems/MiningVoucherSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/bats.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

Пофиксил картридж
  Content.Server/ADT/BookPrinter/BookPrinterSystem.cs
Owners: @JerryImMouse

подредачил
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/hallucinations.yml
Owners: @JerryImMouse

ХВАТИТ СУВАТЬ СВОЮ ВАВИЛОНСКУЮ КНИГУ В МОЙ ПРИНТЕР КНИГ
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/book_printer.yml
Owners: @JerryImMouse

корпораты
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

[LIBRARIAN UPDATE VOL 1] Долгожданный апдейт принтера книг. (#1934)
  Content.Client/ADT/BookPrinter/BookPrinterBoundUserInterface.cs
  Content.Client/ADT/BookPrinter/BookPrinterWindow.xaml
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
  Content.Server/ADT/BookPrinter/BookCommands.cs
  Content.Server/ADT/BookPrinter/BookPrinterSystem.cs
  Content.Server/ADT/BookPrinter/Components/BookPrinterComponent.cs
  Content.Server/ADT/BookPrinter/CooldownManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Shared/ADT/BookPrinter/SharedBookPrinter.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
  Resources/Locale/ru-RU/ADT/bookprinter/bookprinter.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/book_printer.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/hallucinations.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/refill_cartridge.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/book_printer.yml
  Resources/Prototypes/ADT/Hallucinations/supermatter.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Owners: @JerryImMouse, @ficcialfaint, @DrSmugleaf

Update sofas.yml
  Resources/Prototypes/ADT/Entities/Structures/Furniture/sofas.yml
Owners: @JerryImMouse

Update elevation.yml
  Resources/Prototypes/ADT/Entities/Structures/Walls/elevation.yml
Owners: @JerryImMouse

Update sofas.yml
  Resources/Prototypes/ADT/Entities/Structures/Furniture/sofas.yml
Owners: @JerryImMouse

сило за 30к
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
Owners: @JerryImMouse

фикс коментов.
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
Owners: @JerryImMouse

[FIX] Фиксы фиксы.. (#1941)
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Shared/ADT/Salvage/Systems/MiningVoucherSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/bats.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

Joule_Station
  Resources/Maps/SDMaps/SDStations/SD_Joule.yml
  Resources/Prototypes/SD/Maps/SD_Joule.yml
Owners: @Ko4ergaPunk, @JerryImMouse

LethalCompany
  Resources/Maps/SDMaps/SDEvents/Dolzhnik/LethalCompFactory.yml
  Resources/Maps/SDMaps/SDEvents/Dolzhnik/LethalCompanishuttle (1).yml
  Resources/Maps/SDMaps/SDEvents/Dolzhnik/LethalCompanishuttle.yml
  Resources/Maps/SDMaps/SDEvents/Dolzhnik/LethalCompanyShuttleMK2
Owners: @Ko4ergaPunk

Joule Station (#156)
  Resources/Maps/SDMaps/SDEvents/Dolzhnik/LethalCompFactory.yml
  Resources/Maps/SDMaps/SDEvents/Dolzhnik/LethalCompanishuttle (1).yml
  Resources/Maps/SDMaps/SDEvents/Dolzhnik/LethalCompanishuttle.yml
  Resources/Maps/SDMaps/SDEvents/Dolzhnik/LethalCompanyShuttleMK2
  Resources/Maps/SDMaps/SDStations/SD_Joule.yml
  Resources/Prototypes/SD/Maps/SD_Joule.yml
Owners: @Ko4ergaPunk, @JerryImMouse

-lethalcompany
  Resources/Maps/SDMaps/SDEvents/Dolzhnik/LethalCompanishuttle (1).yml
Owners: @Ko4ergaPunk

fix: Телепорт сумеров не багует в стены (я не знаю как иначе сделать)
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
Owners: @JerryImMouse

fix: Теперь сумеречники и на столы рандомно не взбираются (ура)
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Owners: @JerryImMouse

fix: .Handled
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
Owners: @JerryImMouse

fix: ForceFixRotations
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
Owners: @JerryImMouse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
