Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

[ADD] SuperHero (#1937)
  Content.Server/ADT/StationEvents/Components/IanHeroEvent.cs
  Content.Server/ADT/StationEvents/Events/IanHeroEvent.cs
  Resources/Locale/ru-RU/ADT/station-events/events/IanHero.ftl
  Resources/Maps/ADTMaps/Shuttles/Ian.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/structures.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/GameRules/events.yml
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/icon-flash.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/off-equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/ian_hero.rsi/on-equipped-HELMET.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/ian_hero.rsi/meta.json
Owners: @JerryImMouse, @ficcialfaint, @Ko4ergaPunk

Hopefuly last update
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Owners: @JerryImMouse

Update chemical-containers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemical-containers.ftl
Owners: @ficcialfaint

Update engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
Owners: @JerryImMouse

Update vendomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
Owners: @JerryImMouse

Update youtool.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Owners: @JerryImMouse

Update masks.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Owners: @JerryImMouse

Update hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @JerryImMouse

Update xeno.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Owners: @JerryImMouse

Update books.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
Owners: @JerryImMouse

Update game_presets.yml
  Resources/Prototypes/game_presets.yml
Owners: @JerryImMouse

Update chargers.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Owners: @JerryImMouse

Update books.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
Owners: @JerryImMouse

Update figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
Owners: @JerryImMouse

Update security.yml
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
Owners: @JerryImMouse

Update fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Owners: @JerryImMouse

Update drinks_canisters.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Chemistry/drinks_canisters.yml
Owners: @JerryImMouse

Update centdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
Owners: @JerryImMouse

Update engivend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
Owners: @JerryImMouse

Update games.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
Owners: @JerryImMouse

Update theater.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Owners: @JerryImMouse

Update box.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
Owners: @JerryImMouse

Update battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Owners: @JerryImMouse

Update present.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
Owners: @JerryImMouse

будь что будет
  Content.Client/ADT/Economy/UI/BankUi.cs
  Content.Client/ADT/Economy/UI/BankUiFragment.xaml
  Content.Client/ADT/Economy/UI/BankUiFragment.xaml.cs
  Content.Server/ADT/Economy/ATMSystem.cs
  Content.Server/ADT/Economy/BankCardSystem.cs
  Content.Server/ADT/Economy/BankCartridgeSystem.cs
  Content.Server/ADT/Economy/BankTransactionHistorySystem.cs
  Content.Server/ADT/Economy/EftposSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/ADT/Economy/BankCartridgeUiState.cs
  Content.Shared/ADT/Economy/BankTransactionHistoryComponent.cs
  Resources/Locale/ru-RU/ADT/economy/bank.ftl
Owners: @JerryImMouse, @ficcialfaint

Update books.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
Owners: @JerryImMouse

Update toolbox.ftl
  Resources/Locale/ru-RU/ADT/revolution/toolbox.ftl
Owners: @ficcialfaint

IPC-screens
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/ipc.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/ipc_screens.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_absolute_poxui.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_awesome.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_best_friend.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_bigsmile.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_boredom.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_breakout.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_clown.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_console.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_creeper.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_dealmaker.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_ecgwave.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eight.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_exclaim.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyes.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyesangry.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyestall.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_frown.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_glider.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_heart.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_l.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_loading.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_mime.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_monoeye.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_mr_gutsy.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nerd.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nya.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_oko.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_poxui.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_question.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_redtext.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_ring.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_rock.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_skull.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_smile.png
Owners: @ficcialfaint, @JerryImMouse

Return minimal brightness check (#292)
  Content.Shared/Humanoid/SkinColor.cs
Owners: @JerryImMouse

displacement
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
Owners: @JerryImMouse

Небольшие фиксы локали
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/ipc.ftl
Owners: @ficcialfaint

Проблема в уи видимо, починю
  Content.Server/ADT/Economy/BankCartridgeSystem.cs
  Content.Server/ADT/Economy/BankTransactionHistorySystem.cs
Owners: @JerryImMouse

[TWEAK] Внешность КПБ (#1951)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/ipc.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/ipc_screens.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_absolute_poxui.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_awesome.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_best_friend.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_bigsmile.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_boredom.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_breakout.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_clown.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_console.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_creeper.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_dealmaker.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_ecgwave.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eight.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_exclaim.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyes.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyesangry.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyestall.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_frown.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_glider.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_heart.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_l.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_loading.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_mime.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_monoeye.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_mr_gutsy.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nerd.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nya.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_oko.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_poxui.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_question.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_redtext.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_ring.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_rock.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_skull.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_smile.png
Owners: @ficcialfaint, @JerryImMouse

Трейн
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
  Resources/Maps/ADTMaps/Shuttles/genesis.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_train.yml
  Resources/Prototypes/Maps/Pools/default.yml
Owners: @Ko4ergaPunk, @JerryImMouse

упс
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_train.yml
Owners: @JerryImMouse

Трейн (#1952)
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
  Resources/Maps/ADTMaps/Shuttles/genesis.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_train.yml
  Resources/Prototypes/Maps/Pools/default.yml
Owners: @Ko4ergaPunk, @JerryImMouse

fastfix
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_train.yml
Owners: @JerryImMouse

1984 стрельба с транспорта
  Content.Shared/ADT/Vehicle/Systems/SharedVehicleSystem.Rider.cs
Owners: @JerryImMouse

1984 стрельба с транспорта (#1953)
  Content.Shared/ADT/Vehicle/Systems/SharedVehicleSystem.Rider.cs
Owners: @JerryImMouse

доволен, кодрэббит?
  Content.Server/ADT/Economy/BankCartridgeSystem.cs
Owners: @JerryImMouse
