Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

рич реал
  Resources/Maps/ADTMaps/ADTStations/adt_reach.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_reach.yml
  Resources/Prototypes/Maps/Pools/default.yml
Owners: @Ko4ergaPunk, @JerryImMouse

Маленький большой рефактор модов (#1970)
  Content.Client/ADT/Modsuits/UI/ModSuitMenu.xaml
  Content.Client/ADT/Modsuits/UI/ModSuitMenu.xaml.cs
  Content.Client/ADT/Modsuits/UI/ModSuitMenuBoundUserInterface.cs
  Content.Client/ADT/Modsuits/UI/ModSuitRadialBoundUserInterface.cs
  Content.Client/ADT/Modsuits/UI/ModSuitRadialMenu.xaml.cs
  Content.Client/ADT/Modsuits/UI/ModuleControl.xaml
  Content.Client/ADT/Modsuits/UI/ModuleControl.xaml.cs
  Content.Client/ADT/UserInterface/Controls/FancyButton/DrawButton.cs
  Content.Client/ADT/UserInterface/Controls/FancyButton/FancyButton.xaml
  Content.Client/ADT/UserInterface/Controls/FancyButton/FancyButton.xaml.cs
  Content.Shared/ADT/Modsuit/Components/ModAttachedClothingComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModPartComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitModComponent.cs
  Content.Shared/ADT/Modsuit/Events/ActionEvents.cs
  Content.Shared/ADT/Modsuit/Events/ModBoundUiState.cs
  Content.Shared/ADT/Modsuit/Events/ModLockMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModuleActivateMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModuleDeactivateMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModuleRemoveMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModulesUiStateReadyEvent.cs
  Content.Shared/ADT/Modsuit/Events/ToggleClothingAttemptEvent.cs
  Content.Shared/ADT/Modsuit/Events/ToggleModPartsDoAfterEvent.cs
  Content.Shared/ADT/Modsuit/Events/ToggleModSuitPartMessage.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Modules.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Parts.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Suit.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.cs
  Resources/Locale/ru-RU/ADT/clothing/mosduits.ftl
  Resources/Prototypes/ADT/Actions/types.yml
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Owners: @JerryImMouse, @ficcialfaint

мелкий фикс
  Resources/Textures/ADT/Structures/Storage/boxes/medical.rsi/cardboard.png
  Resources/Textures/ADT/Structures/Storage/boxes/medical.rsi/meta.json
  Resources/Textures/ADT/Structures/Storage/boxes/security.rsi/meta.json
Owners: @JerryImMouse

Рано или поздно
  Content.Client/Administration/UI/Tabs/RoundTab.xaml
  Content.Client/Administration/UI/Tabs/RoundTab.xaml.cs
  Content.Server/ADT/Bark/Systems/VoiceMaskSystem.Barks.cs
  Content.Server/ADT/Fishing/FishingSystem.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/ADT/Heretic/EntitySystems/GhoulSystem.cs
  Content.Server/ADT/IPC/Charge/Components/SiliconDownOnDeadComponent.cs
  Content.Server/ADT/IPC/Charge/Systems/SiliconChargeDeathSystem.cs
  Content.Server/ADT/Morph/MorphSystem.cs
  Content.Server/ADT/Speech/EntitySystems/SickTeethAccentSystem.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Corvax/TTS/TTSManager.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/EntityEffects/EntityEffectSystem.cs
  Content.Server/GhostKick/GhostKickManager.cs
  Content.Server/Info/ShowRulesCommand.cs
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Server/Mind/Commands/MakeSentientCommand.cs
  Content.Server/NPC/Systems/NPCUseActionOnTargetSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Server/Vocalization/Systems/VocalizationSystem.cs
  Content.Shared/ADT/ShowMessageOnItemUse/ShowMessageOnItemUseComponent.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
Owners: @JerryImMouse, @metalgearsloth

Фикс модов
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Modules.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Suit.cs
Owners: @JerryImMouse

revert
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/EntityEffects/Effects/MakeSentient.cs
  Resources/Locale/en-US/ADT/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/toxins.ftl
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Owners: @JerryImMouse, @ficcialfaint

Очередной фикс Трейна
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
  Resources/Maps/ADTMaps/Shuttles/genesis.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_train.yml
Owners: @Ko4ergaPunk, @JerryImMouse

Иллюми просил
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_train.yml
Owners: @JerryImMouse

Traintrain (#1976)
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
  Resources/Maps/ADTMaps/Shuttles/genesis.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_train.yml
Owners: @Ko4ergaPunk, @JerryImMouse

fastfix
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
Owners: @Ko4ergaPunk

fastfix (#1977)
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
Owners: @Ko4ergaPunk

шахтеры и фиксы
  Resources/Maps/ADTMaps/ADTStations/adt_reach.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_reach.yml
Owners: @Ko4ergaPunk, @JerryImMouse

Фикс "Око"
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/meta.json
Owners: @JerryImMouse

еще фиксы
  Resources/Maps/ADTMaps/ADTStations/adt_reach.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_reach.yml
Owners: @Ko4ergaPunk, @JerryImMouse

Weather fix
  Content.Client/Weather/WeatherSystem.cs
Owners: @JerryImMouse

tweak
  Content.Client/Weather/WeatherSystem.cs
Owners: @JerryImMouse

final code fix
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Combat.cs
  Content.Server/ADT/Chaplain/Systems/ForTheWorthySystem.cs
  Content.Server/ADT/Economy/EftposSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/HereticCombatMarkSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/HereticKnowledgeSystem.cs
  Content.Server/ADT/IPC/Systems/SiliconEmpSystem.cs
  Content.Server/ADT/Magic/ImmovableVoidRodSystem.cs
  Content.Server/ADT/Mech/Systems/MechGunSystem.cs
  Content.Server/ADT/Medical/EntitySystems/MedicalRecipeDataSystem.cs
  Content.Server/ADT/OfferItemSystem/OfferItemSystem.cs
  Content.Server/ADT/Phantom/Role/PhantomRuleSystem.cs
  Content.Server/ADT/Poltergeist/Systems/PoltergeistSystem.cs
  Content.Server/ADT/Salvage/Systems/CursedHeartSystem.cs
  Content.Server/ADT/Salvage/Systems/Megafauna/MegafaunaSystem.Drake.cs
  Content.Server/ADT/SpeedBoostWake/System/SpeedBoostWakeSystem.cs
  Content.Server/ADT/Spreader/SupermatterSpreaderSystem.cs
  Content.Server/ADT/Supermatter/Systems/SupermatterEffectsSystem.cs
  Content.Server/ADT/SwitchableWeapon/SwitchableWeapon/SwitchableWeaponSystem.cs
  Content.Server/ADT/VentCrawling/VentCrawlerTubeSystem.cs
  Content.Server/ADT/_TornadoTech/FriendlyFire/FriendlyFireSystem.Toggleable.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/NPC/Systems/NPCUseActionOnTargetSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.InstantEffects.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Paper/PaperSystem.cs
Owners: @JerryImMouse, @DrSmugleaf, @metalgearsloth

ЧТО ЭТО НАХУЙ
  Resources/Prototypes/Corvax/tts-voices.yml
Owners: @JerryImMouse

Update ancient_bones.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/ancient_bones.ftl
Owners: @ficcialfaint

Небольшой фикс прототипов
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Corvax/tts-voices.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
Owners: @JerryImMouse

Старый ТТС файл
  Resources/Prototypes/Corvax/tts-voices.yml
Owners: @JerryImMouse

Немного фикса локали
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/push_horn.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/cargo/cargo-department-console.ftl
  Resources/Locale/ru-RU/cargo/cargo-order-crates.ftl
  Resources/Locale/ru-RU/corvax/job/job-description.ftl
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/corvax/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/weapons/ranged/upgrades.ftl
Owners: @ficcialfaint

бла-бла-бла, мне лень писать
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/ADT/Heretic/Components/PathSpecific/AristocratComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/PKAs/PKAs.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
  Resources/Prototypes/ADT/Species/drask.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Species/dwarf.yml
Owners: @JerryImMouse, @DrSmugleaf

фикс ЯМЛя
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
Owners: @JerryImMouse

не сохранилось чуток
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Resources/Prototypes/ADT/Entities/Mobs/Species/Drask.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
Owners: @JerryImMouse, @DrSmugleaf

бла-бла-бла, мне лень писать (#1978)
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/ADT/Heretic/Components/PathSpecific/AristocratComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Resources/Prototypes/ADT/Entities/Mobs/Species/Drask.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/PKAs/PKAs.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
  Resources/Prototypes/ADT/Species/drask.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Species/dwarf.yml
Owners: @JerryImMouse, @DrSmugleaf

Update walls.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Walls/walls.ftl
Owners: @ficcialfaint

Update walls.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Walls/walls.ftl
Owners: @ficcialfaint

Update stairs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/stairs.ftl
Owners: @ficcialfaint

Update stairs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/stairs.ftl
Owners: @ficcialfaint

забыла
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Content.Shared/Weapons/Melee/Components/MeleeThrowOnHitComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
Owners: @JerryImMouse, @metalgearsloth

Delete Resources/Prototypes/game_presets.yml
  Resources/Prototypes/game_presets.yml
Owners: @JerryImMouse

Update map-proto-check.yml
  .github/workflows/map-proto-check.yml
Owners: @JerryImMouse

фикс локали
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_headtops.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/meta.json
Owners: @JerryImMouse

хотфикс (#1979)
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Content.Shared/Weapons/Melee/Components/MeleeThrowOnHitComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
Owners: @JerryImMouse, @metalgearsloth

Hopefuly last update
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Owners: @JerryImMouse

Deleted spaces
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Owners: @JerryImMouse

Clean up README content
  README.md
Owners: @JerryImMouse

Deleted from wizz my changes
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Owners: @JerryImMouse

Переработка тел без души (#1944)
  Resources/Prototypes/ADT/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @JerryImMouse, @DrSmugleaf
