Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

полу-баффы
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Content.Shared/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/spiders.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Owners: @JerryImMouse, @metalgearsloth

фикс морфа
  Content.Server/ADT/Morph/MorphSystem.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Shared/ADT/Morph/MorphComponent.cs
Owners: @JerryImMouse

обратно в раунд
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

фикс табуляции
  Resources/Prototypes/ADT/GameRules/roundstart.yml
Owners: @JerryImMouse

пару обновлений (#1858)
  Content.Server/ADT/Morph/MorphSystem.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Content.Shared/ADT/Morph/MorphComponent.cs
  Content.Shared/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/spiders.yml
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse, @metalgearsloth

[MAP] origin (#1857)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_origin.yml
  Resources/Prototypes/Maps/Pools/default.yml
Owners: @JerryImMouse, @Ko4ergaPunk

id
  Resources/Prototypes/ADT/Entities/Markers/Spawners/mobs.yml
Owners: @JerryImMouse

new1
  Content.Client/ADT/Storage/SuitStorage/UI/SuitStorageBoundUserInterface.cs
  Content.Client/ADT/Storage/SuitStorage/UI/SuitStorageMenu.xaml
  Content.Client/ADT/Storage/SuitStorage/UI/SuitStorageMenu.xaml.cs
  Content.Server/ADT/Storage/EntitySystem/SuitStorageSystem.cs
  Content.Shared/ADT/Storage/Components/SuitStorageComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/misc_voucher.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Owners: @JerryImMouse

чистка
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Textures/ADT/Objects/Specific/Modsuits/vouchers/hard.png
  Resources/Textures/ADT/Objects/Specific/Modsuits/vouchers/meta.json
  Resources/Textures/ADT/Objects/Specific/Modsuits/vouchers/mod.png
Owners: @JerryImMouse

mapping_barratry
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/ADTMaps/ADTStations/adt_barratry.yml
  Resources/Maps/ADTMaps/Nonstation/lavaland_outpost.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_barratry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/base.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/bolt-open.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/mag-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Rifles/ak.rsi/wielded-inhand-right.png
Owners: @JerryImMouse, @Ko4ergaPunk

add(map): Обновление с барратри
  Resources/Maps/ADTMaps/ADTStations/adt_barratry.yml
Owners: @Ko4ergaPunk

fix(proto): Фикс манифеста
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_barratry.yml
Owners: @JerryImMouse

чистим чистим
  Content.Client/ADT/Modsuits/Systems/ModSuitVoucherVisualizerSystem.cs
  Content.Server/ADT/Modsuit/Systems/ModSuitVoucherSystem.cs
  Content.Server/ADT/Storage/EntitySystem/AltSuitStorageSystem.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitVoucherComponent.cs
  Content.Shared/ADT/Storage/Components/SuitStorageUnitComponent.cs
Owners: @JerryImMouse

[MAP] Барратри (#1859)
  Resources/Maps/ADTMaps/ADTStations/adt_barratry.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_barratry.yml
Owners: @Ko4ergaPunk, @JerryImMouse

Добавление механику святому оружию (Бумеранг, вампиризм).
  Content.Shared/ADT/Chaplain/Components/MeleeHolyVampirismComponent.cs
  Content.Shared/ADT/Chaplain/HolyVampirismSystem.cs
  Content.Shared/ADT/Weapons/Misc/BoomerangComponent.cs
  Content.Shared/ADT/Weapons/Misc/BoomerangSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/paranormal.yml
Owners: @JerryImMouse

Починка блюспейсс кристаллов, как материал. Добавление нового тега в Силло
  Resources/Prototypes/ADT/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @JerryImMouse

Починка блюспейсс кристаллов, как материал. Добавление нового тега в Силло
  Resources/Prototypes/ADT/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @JerryImMouse

Revert "Починка блюспейсс кристаллов, как материал. Добавление нового тега в Силло"
  Resources/Prototypes/ADT/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @JerryImMouse

Update silo.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @JerryImMouse

[FIX] Починка блюспейс кристаллов, как материал. Фикс Хранилища материалов (#1861)
  Resources/Prototypes/ADT/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @JerryImMouse

Долгожданный апдейт пулл реквестов
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JerryImMouse

Cowboy JackBoots Fix
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
Owners: @JerryImMouse

locale fix
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
Owners: @ficcialfaint

Resprite
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/ADT/Objects/Specific/Hydroponics/strawberry.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Hydroponics/strawberry.rsi/produce-inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Hydroponics/strawberry.rsi/produce-inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Hydroponics/strawberry.rsi/produce.png
Owners: @JerryImMouse

fixed?
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Owners: @JerryImMouse

заменяем комменты губов на комменты АДТ
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/Antag/AntagSelectionSystem.API.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Damage/Components/PassiveDamageComponent.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
  Content.Shared/Eye/Blinding/Components/BlurryVisionComponent.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Relay.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Store/ListingPrototype.cs
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/ai_factions.yml
  Resources/Prototypes/ADT/Body/Organs/Drask.yml
  Resources/Prototypes/ADT/Body/Organs/felinid.yml
  Resources/Prototypes/ADT/Body/Organs/shadekin.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/ai_factions.yml
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Entities/Clothing/Masks/base_clothingmask.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Devices/geiger.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Prototypes/tags.yml
Owners: @JerryImMouse, @DrSmugleaf

бца
  Content.Server/ADT/Silicon/Systems/EmpZoneSystem.cs
  Content.Shared/ADT/Silicon/Components/EmpInterferenceComponent.cs
  Content.Shared/ADT/Silicon/Components/EmpZoneComponent.cs
  Resources/Prototypes/ADT/Entities/Effects/emp_zone.yml
  Resources/Prototypes/ADT/Shaders/shaders.yml
  Resources/Prototypes/ADT/StatusEffects/status_effects.yml
  Resources/Textures/ADT/Shaders/emp_interference.swsl
Owners: @JerryImMouse

- add: Добавлен один рог в кастомизацию
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/demon.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/demon_horns.yml
  Resources/Textures/ADT/Mobs/Customization/Demon/custom.rsi/horns_devil_one.png
  Resources/Textures/ADT/Mobs/Customization/Demon/custom.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Добавлен один рог в кастомизацию(Щитспавн) (#1865)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/demon.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/demon_horns.yml
  Resources/Textures/ADT/Mobs/Customization/Demon/custom.rsi/horns_devil_one.png
  Resources/Textures/ADT/Mobs/Customization/Demon/custom.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Update meta.json
  Resources/Textures/ADT/Decals/Symbols/alphabet.rsi/meta.json
Owners: @JerryImMouse

Временно окончательный вариант
  Content.Server/ADT/Storage/EntitySystem/AltSuitStorageSystem.cs
  Content.Shared/ADT/Storage/Components/SuitStorageUnitComponent.cs
Owners: @JerryImMouse

ТЗ ИЛЛЮМИ
  Content.Server/ADT/Silicon/Systems/EmpInterface.cs
  Content.Server/ADT/Silicon/Systems/EmpZoneSystem.cs
  Content.Shared/ADT/Silicon/Components/EmpZoneComponent.cs
  Resources/Prototypes/ADT/StatusEffects/status_effects.yml
Owners: @JerryImMouse

удаление лишнего
  Resources/Prototypes/ADT/Entities/Effects/emp_zone.yml
  Resources/Prototypes/ADT/Shaders/shaders.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/ADT/Shaders/emp_interference.swsl
Owners: @JerryImMouse, @DrSmugleaf

Правки
  Content.Server/ADT/Silicon/Systems/EmpZoneSystem.cs
  Resources/Prototypes/ADT/StatusEffects/status_effects.yml
Owners: @JerryImMouse

правки
  Content.Server/ADT/Silicon/Systems/EmpZoneSystem.cs
  Resources/Prototypes/ADT/StatusEffects/status_effects.yml
Owners: @JerryImMouse

Новые изучения (снова)
  Resources/Locale/ru-RU/ADT/research/technologies.ftl
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/ADT/Recipes/Lathes/electronics.yml
  Resources/Prototypes/ADT/Recipes/Lathes/powercells.yml
  Resources/Prototypes/ADT/Research/civilianservices.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
Owners: @ficcialfaint, @JerryImMouse

мяу
  Content.Server/ADT/Silicon/Systems/EmpInterface.cs
  Content.Server/ADT/Silicon/Systems/EmpZoneSystem.cs
  Resources/Prototypes/ADT/Shaders/shaders.yml
  Resources/Prototypes/ADT/StatusEffects/status_effects.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @JerryImMouse, @DrSmugleaf

Добавление праздника, удаление других
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
  Resources/Prototypes/holidays.yml
Owners: @ficcialfaint, @JerryImMouse

Добавление праздника, удаление других
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
  Resources/Prototypes/holidays.yml
Owners: @ficcialfaint, @JerryImMouse

Починка
  Resources/Prototypes/holidays.yml
Owners: @JerryImMouse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
