Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk

[FIX] Синхронизация с багфиксом от Кейси
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_kerberos.yml
Owners: @Morb0

[SPONSOR] Добавление спонсорских вещей
  Resources/Audio/ADT/Weapons/Melee/egflaer_knife_opening.ogg
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_ineedpizza486.png
Owners: @Morb0, @ficcialfaint

[FIX] Фиксы карты и проверок на "не маппить"
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/cannons.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Owners: @Morb0

[FIX] Ну я еще раз убираю категорию не маппить, кто добавил этот тест - проверял бы хотя бы карты
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Owners: @Morb0

[SPONSOR] Добавление спонсорских вещей (#1135)
  Resources/Audio/ADT/Weapons/Melee/egflaer_knife_opening.ogg
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_ineedpizza486.png
Owners: @Morb0, @ficcialfaint

[FIX] Отключение теста на прототипы с категорией DO NOT MAP
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Owners: @Morb0

[FIX] Отключение теста на прототипы с категорией DO NOT MAP (#1137)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Owners: @Morb0

Update personalization.ftl
  Resources/Locale/ru-RU/ADT/personalization.ftl
Owners: @ficcialfaint

Update personalization.ftl (#1138)
  Resources/Locale/ru-RU/ADT/personalization.ftl
Owners: @ficcialfaint

Рефактор полный. Ну что тут сказать
  build_start_ss14.bat
  build_start_ss14.py
Owners: @Morb0

fix(src): Фикс активации мышеловок
  Content.Server/Mousetrap/MousetrapSystem.cs
Owners: @Morb0

style(loc): Правка локализации
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Prototypes/Entities/Objects/Weapons/Ammunition/shipgun_cartridges.ftl
  Resources/Locale/ru-RU/ADT/Heretic/abilities/heretic.ftl
  Resources/Locale/ru-RU/ADT/Heretic/objectives/heretic.ftl
  Resources/Locale/ru-RU/ADT/administration/verbs.ftl
  Resources/Locale/ru-RU/ADT/lathe/production.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Belt/belts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Mask/mask.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/shadekin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/frozen.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Guns.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Doors/Airlock/access.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/misc.ftl
  Resources/Locale/ru-RU/advertisements/vending/atmosdrobe.ftl
Owners: @ficcialfaint

delete
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/misc.ftl
  Resources/Locale/ru-RU/store/revenant-catalog.ftl
Owners: @ficcialfaint

Update timepatrol.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/timepatrol.yml
Owners: @Morb0

Три новых лобби-арта
  Resources/Textures/ADT/LobbyScreens/VPsha_blueprint.webp.yml
  Resources/Textures/ADT/LobbyScreens/VPsha_boom.webp.yml
  Resources/Textures/ADT/LobbyScreens/VPsha_logo.webp.yml
  Resources/Textures/ADT/LobbyScreens/attributions.yml
Owners: @Morb0

Три новых лобби-арта (#1142)
  Resources/Textures/ADT/LobbyScreens/VPsha_blueprint.webp.yml
  Resources/Textures/ADT/LobbyScreens/VPsha_boom.webp.yml
  Resources/Textures/ADT/LobbyScreens/VPsha_logo.webp.yml
  Resources/Textures/ADT/LobbyScreens/attributions.yml
Owners: @Morb0

[ADD] Новый логотип в загрузочнике
  Resources/Textures/ADT/Logo/adt_logo.png
  Resources/Textures/ADT/Logo/old_logo2.png
  Resources/Textures/ADT/Logo/old_logo_1.png
  Resources/manifest.yml
Owners: @Morb0

[ADD] Обновление иконок
  Resources/Textures/ADT/Logo/icon-adt/icon-128x128.png
  Resources/Textures/ADT/Logo/icon-adt/icon-16x16.png
  Resources/Textures/ADT/Logo/icon-adt/icon-24x24.png
  Resources/Textures/ADT/Logo/icon-adt/icon-256x256.png
  Resources/Textures/ADT/Logo/icon-adt/icon-32x32.png
  Resources/Textures/ADT/Logo/icon-adt/icon-48x48.png
  Resources/Textures/ADT/Logo/icon-adt/icon-64x64.png
Owners: @Morb0

[ADD] Новый логотип в загрузочнике (#1143)
  Resources/Textures/ADT/Logo/adt_logo.png
  Resources/Textures/ADT/Logo/icon-adt/icon-128x128.png
  Resources/Textures/ADT/Logo/icon-adt/icon-16x16.png
  Resources/Textures/ADT/Logo/icon-adt/icon-24x24.png
  Resources/Textures/ADT/Logo/icon-adt/icon-256x256.png
  Resources/Textures/ADT/Logo/icon-adt/icon-32x32.png
  Resources/Textures/ADT/Logo/icon-adt/icon-48x48.png
  Resources/Textures/ADT/Logo/icon-adt/icon-64x64.png
  Resources/Textures/ADT/Logo/old_logo2.png
  Resources/Textures/ADT/Logo/old_logo_1.png
  Resources/manifest.yml
Owners: @Morb0

ftl, yaml, meta
  Resources/Locale/ru-RU/ADT/prototypes/Actions/types.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/boxes/other.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/hardsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/tables.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/ADT/Datasets/tags.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/cards.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/poker_chips.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
  Resources/Textures/ADT/Clothing/Head/Hardsuits/paramedic_hardsuithead.rsi/equipped-head-light-vox.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/paramedic_hardsuithead.rsi/equipped-head-light.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/paramedic_hardsuithead.rsi/equipped-head-vox.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/paramedic_hardsuithead.rsi/equipped-head.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/paramedic_hardsuithead.rsi/meta.json
Owners: @ficcialfaint, @Morb0

Нафиг, Виздены это починили уже
  Content.Server/Mousetrap/MousetrapSystem.cs
Owners: @Morb0

Буква ы
  Resources/Locale/ru-RU/ADT/personalization.ftl
Owners: @ficcialfaint

Update timepatrol.yml (#1141)
  Resources/Prototypes/ADT/Roles/Jobs/Fun/timepatrol.yml
Owners: @Morb0

[STYLE] Просто правки строк локализации (#1140)
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Prototypes/Entities/Objects/Weapons/Ammunition/shipgun_cartridges.ftl
  Resources/Locale/ru-RU/ADT/Heretic/abilities/heretic.ftl
  Resources/Locale/ru-RU/ADT/Heretic/objectives/heretic.ftl
  Resources/Locale/ru-RU/ADT/administration/verbs.ftl
  Resources/Locale/ru-RU/ADT/lathe/production.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Belt/belts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Mask/mask.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/shadekin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/frozen.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Guns.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Doors/Airlock/access.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/misc.ftl
  Resources/Locale/ru-RU/advertisements/vending/atmosdrobe.ftl
  Resources/Locale/ru-RU/store/revenant-catalog.ftl
Owners: @ficcialfaint

Upstream2302 (#1144)
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Doors/DoorEvents.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Roles/SharedRoleSystem.cs
  Content.Shared/Silicons/Laws/SharedSiliconLawSystem.cs
Owners: @Morb0

IPC
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyestall.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_loading.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nature.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_pink.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_rainbowdiag.png
Owners: @Morb0

фикс
  Resources/Maps/ADTMaps/Shuttles/mining_guest.yml
Owners: @Ko4ergaPunk

тестовая версия сигнализаций кпк
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Resources/Locale/ru-RU/ADT/PDA/pda-components.ftl
  Resources/Locale/ru-RU/ADT/alerts/alerts-level-PDA-instructions.ftl
Owners: @Morb0, @ficcialfaint

Акустическая гитара и гармошка в лодаут
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Owners: @Morb0

return to base for little - time
  Content.Client/PDA/PdaMenu.xaml.cs
Owners: @Morb0

FixOutfitPrinter
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Owners: @Morb0

Золотая Бита
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/goldbat.yml
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/wielded-inhand-right.png
Owners: @ficcialfaint, @Morb0

фикс
  Resources/Maps/ADTMaps/Shuttles/salvager.yml
Owners: @Ko4ergaPunk

маленькое обновление карго (#1127)
  Content.Shared/ADT/Shuttles/Components/MiningShuttleGuestComponent.cs
  Content.Shared/Salvage/SharedSalvageSystem.Magnet.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/Computers/computers.ftl
  Resources/Maps/ADTMaps/Nonstation/lavaland_outpost.yml
  Resources/Maps/ADTMaps/Shuttles/mining.yml
  Resources/Maps/ADTMaps/Shuttles/mining_guest.yml
  Resources/Maps/ADTMaps/Shuttles/pioneer.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/ADT/Maps/salvage.yml
  Resources/Prototypes/ADT/planets.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Procedural/biome_ore_templates.yml
Owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

Update goldbat.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/goldbat.yml
Owners: @Morb0

Update meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/meta.json
Owners: @Morb0

Update goldbat.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/goldbat.yml
Owners: @Morb0

add(src): Основные типы языков
  Content.Server/ADT/Language/LanguageTypes/CollectiveMind.cs
  Content.Server/ADT/Language/LanguageTypes/Emotes.cs
  Content.Server/ADT/Language/LanguageTypes/Generic.cs
  Content.Shared/ADT/Language/ILanguageType.cs
Owners: @Morb0

refactor(src): Рефактор `LanguagePrototype` для перевода языков на `ILanguageType`
  Content.Client/ADT/Language/UI/LanguageEntry.xaml.cs
  Content.Server/ADT/Language/LanguageSystem.cs
  Content.Shared/ADT/Language/LanguagePrototype.cs
Owners: @Morb0

refactor(src): Добавление в `ChatSystem` логики, связанной с `ILanguageType`
  Content.Server/Chat/Systems/ChatSystem.cs
Owners: @Morb0
