Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

tweak(loc, ccvar): правки локали и конфигов
  Content.Shared/CCVar/CCVars.Game.Infolinks.cs
  Resources/Locale/ru-RU/ADT/ui.ftl
Owners: @Morb0, @ficcialfaint

tweak(loc): Правка локали
  Resources/Locale/ru-RU/ADT/ui.ftl
Owners: @ficcialfaint

fix(loc, ui): Опять правки локали и UI
  Content.Client/Options/UI/EscapeMenu.xaml
  Resources/Locale/ru-RU/ADT/ui.ftl
Owners: @Morb0, @ficcialfaint

tweak(ui): Правка кнопки в окне очереди
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
Owners: @Morb0

add(loc): Добавлена локализация окну очереди
  Resources/Locale/ru-RU/ADT/ui.ftl
Owners: @ficcialfaint

tweak(loc): Правка локализации окна очереди
  Resources/Locale/ru-RU/ADT/ui.ftl
Owners: @ficcialfaint

Вульпизатор
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Basic/battery_guns.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
Owners: @Morb0

фиксы и не только
  Content.Shared/ADT/CantShoot/Components/CantShootComponent.cs
  Content.Shared/ADT/CantShoot/Systems/CantShootSystem.cs
  Content.Shared/ADT/Combat/ComboEffects.cs
  Resources/Locale/ru-RU/ADT/CantShoot/cant-shoot-popups.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Revolvers/saber_revolvers.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Owners: @Morb0, @ficcialfaint

add(proto, loc, texture): Add personal item
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/kiwi_fruit_tartalio.rsi/icon.png
  Resources/Textures/ADT/Personalization/kiwi_fruit_tartalio.rsi/meta.json
Owners: @ficcialfaint, @Morb0

fix(texture, proto): Фиксы меты и прототипа
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/kiwi_fruit_tartalio.rsi/meta.json
Owners: @Morb0

Залил консольку, осталось баги пофиксить блинб
  Content.Client/ADT/Supermatter/Consoles/SupermatterConsoleBoundUserInterface.cs
  Content.Client/ADT/Supermatter/Consoles/SupermatterConsoleWindow.xaml.cs
  Content.Client/ADT/Supermatter/Consoles/SupermatterEntryContainer.xaml.cs
  Content.Client/ADT/Supermatter/Consoles/SupermatterGasBarContainer.xaml.cs
  Content.Client/ADT/Supermatter/Systems/SupermatterVisualizerSystem.cs
  Content.Server/ADT/Supermatter/Consoles/SupermatterConsoleSystem.cs
  Content.Server/ADT/Supermatter/System/SupermatterSystem.Processing.cs
  Content.Server/ADT/Supermatter/System/SupermatterSystem.cs
  Content.Shared/ADT/Supermatter/Components/SupermatterComponent.cs
  Content.Shared/ADT/Supermatter/Console/SharedSupermatterConsoleSystem.cs
  Content.Shared/ADT/Supermatter/Console/SupermatterConsoleComponent.cs
  Content.Shared/ADT/Supermatter/Monitor/SupermatterStatusType.cs
Owners: @Morb0

[FEATURE] Personal item (#1111)
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/kiwi_fruit_tartalio.rsi/icon.png
  Resources/Textures/ADT/Personalization/kiwi_fruit_tartalio.rsi/meta.json
Owners: @ficcialfaint, @Morb0

Чуть фиксов.
  Content.Client/ADT/Supermatter/Components/SupermatterVisualizerComponent.cs
  Content.Shared/ADT/Supermatter/Console/SupermatterConsoleComponent.cs
  Content.Shared/ADT/Supermatter/Monitor/SupermatterStatusType.cs
Owners: @Morb0

[UI] Добавлены кнопки с ссылками на бусти в ESC меню и в окно очереди (#1109)
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Shared/CCVar/CCVars.Game.Infolinks.cs
  Resources/Locale/ru-RU/ADT/ui.ftl
Owners: @Morb0, @ficcialfaint

[ADMIN] Добавлен новый Verb "Scale" в трюки для администрации (#1099)
  Content.Server/ADT/Administration/Systems/AddADTTricksVerbs.cs
  Content.Server/ADT/Administration/Systems/AdminADTSmitesVerbs.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Resources/Locale/ru-RU/ADT/administration/verbs.ftl
Owners: @Morb0, @ficcialfaint

фиксы локали из багрепортов 01
  Resources/Locale/ru-RU/ADT/changeling/antags.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/tables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Prototypes/Datasets/Names/fortunes.yml
Owners: @ficcialfaint, @Morb0

фикс локаль 02
  Resources/Prototypes/ADT/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
Owners: @Morb0

пластыри и акцент таяран + вульпканин
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Items/patchpack.ftl
  Resources/Prototypes/Traits/speech.yml
Owners: @ficcialfaint, @Morb0

фикс документа в принтере
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
Owners: @ficcialfaint

сегвей синди
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
Owners: @Morb0

КПБ и Скелетов нельзя имплантировать
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
Owners: @Morb0

Фикс от линтера
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Basic/battery_guns.yml
Owners: @Morb0

fix(doc): Из-за неверного оформления, было сломано 9-ое правило в документации.
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule9.xml
Owners: @Morb0

[BugFix] Из-за неверного оформления, было сломано 9-ое правило в документации. (#1114)
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule9.xml
Owners: @Morb0

[FIX] Локаль и прочее из багрепортов (#1112)
  Resources/Locale/ru-RU/ADT/changeling/antags.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Items/patchpack.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/tables.ftl
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/ADT/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Datasets/Names/fortunes.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Traits/speech.yml
Owners: @ficcialfaint, @Morb0

Update battery_guns.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Basic/battery_guns.yml
Owners: @Morb0

[ADMIN] Добавлены аналоги команд playtime но с приставкой "_as" на конце, которые работают асинхронно ни с сессией игрока, а по его GUID. (#1100)
  Content.Server/ADT/Administration/Commands/PlayTimeRoleDataBaseCommand.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
Owners: @Morb0

локаль
  Resources/Locale/ru-RU/ADT/Objects/Weapons/Guns/battery_guns.ftl
Owners: @ficcialfaint

Паки крафтов
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
Owners: @Morb0

Update battery_guns.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Basic/battery_guns.yml
Owners: @Morb0

Update magic.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
Owners: @Morb0

Update magic.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
Owners: @Morb0

Принтер документов
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
Owners: @Morb0

Принтер труб
  Resources/Prototypes/ADT/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
Owners: @Morb0

вульпизатор
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Battery/battery_gun.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
Owners: @ficcialfaint, @Morb0

Мелкие правки
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
Owners: @Morb0

время для АВД и Магистрата
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Owners: @Morb0

Update magic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
Owners: @Morb0

Update magic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
Owners: @Morb0

в адт закинул
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
Owners: @Morb0

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk
