Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

Update ancient_bones.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/ancient_bones.yml
Owners: @JerryImMouse

Update statues.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/statues.ftl
Owners: @ficcialfaint

Update elevation.yml
  Resources/Prototypes/ADT/Entities/Structures/Walls/elevation.yml
Owners: @JerryImMouse

- ROFOLS
  Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
Owners: @JerryImMouse

Потихоньку...
  Content.Server/ADT/NPC/NTH/PickNearbyContrabandOperator.cs
  Content.Server/NPC/NPCBlackboard.cs
  Resources/Locale/ru-RU/ADT/npc/beepsky.ftl
  Resources/Prototypes/ADT/NPCs/secbot.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Owners: @JerryImMouse, @metalgearsloth, @ficcialfaint

- ADD AUDIO
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
  Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
  Content.Shared/ADT/Minesweeper/MinesweeperComponent.cs
  Resources/Audio/ADT/Machines/license.txt
  Resources/Audio/ADT/Machines/minesweeaper_lost_boom.ogg
  Resources/Audio/ADT/Machines/tick.ogg
  Resources/Audio/ADT/Machines/win.ogg
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/arcades.yml
Owners: @JerryImMouse

Fixed problem with rats and trash bag
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Owners: @JerryImMouse

Fixed bug with PDA Blue Shield officer and pathologist
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
Owners: @JerryImMouse

Update Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
  Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
Owners: @JerryImMouse

Хмм
  Content.Server/ADT/NPC/NTH/PickNearbyContrabandOperator.cs
  Content.Server/ADT/NPC/NTH/PickNearbyWantedOperator.cs
  Resources/Prototypes/ADT/NPCs/secbot.yml
Owners: @JerryImMouse

okay
  Content.Server/ADT/NPC/NTH/PickNearbyContrabandOperator.cs
  Content.Server/ADT/NPC/NTH/PickNearbyWantedOperator.cs
  Content.Server/NPC/NPCBlackboard.cs
  Resources/Prototypes/ADT/NPCs/secbot.yml
Owners: @JerryImMouse, @metalgearsloth

последние штрихи
  Resources/Prototypes/ADT/Heretic/Entities/Objects/magic_contraband.yml
  Resources/Prototypes/ADT/NPCs/secbot.yml
Owners: @JerryImMouse

Подчистил системы
  Content.Server/ADT/NPC/NTH/PickNearbyContrabandOperator.cs
  Content.Server/ADT/NPC/NTH/PickNearbyWantedOperator.cs
Owners: @JerryImMouse

подправил локаль
  Resources/Locale/ru-RU/ADT/npc/beepsky.ftl
Owners: @ficcialfaint

Извините, ошибся
  Resources/Prototypes/ADT/Heretic/Entities/Objects/magic_contraband.yml
Owners: @JerryImMouse

Фиксы Бипски (#1828)
  Content.Server/ADT/NPC/NTH/PickNearbyContrabandOperator.cs
  Resources/Locale/ru-RU/ADT/npc/beepsky.ftl
  Resources/Prototypes/ADT/Heretic/Entities/Objects/magic_contraband.yml
  Resources/Prototypes/ADT/NPCs/secbot.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Owners: @JerryImMouse, @ficcialfaint

Будем считать никто не увидел
  Resources/Prototypes/ADT/NPCs/secbot.yml
Owners: @JerryImMouse

- add: Добавлена возможность емагать аркаду Сапёр
  Content.Server/ADT/Minesweeper/MinesweeperEmagComponent.cs
  Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
  Content.Shared/ADT/Minesweeper/MinesweeperComponent.cs
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/arcades.yml
Owners: @JerryImMouse

- add: Добавлена возможность емага аркады и добавлено выпадение игрушек с игрового автомата
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
  Content.Server/ADT/Minesweeper/MinesweeperEmagComponent.cs
  Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
  Content.Shared/ADT/Minesweeper/MinesweeperComponent.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/Computers/computers.ftl
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/arcades.yml
Owners: @JerryImMouse, @ficcialfaint

Update minesweeper.ftl
  Resources/Locale/ru-RU/ADT/user-interface/minesweeper.ftl
Owners: @ficcialfaint

Update arcades.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/arcades.yml
Owners: @JerryImMouse

- Минорные правки
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
  Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
Owners: @JerryImMouse

- правки
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/arcades.yml
Owners: @JerryImMouse

- ИСПРАВЛЕНИЕ БАГА С РЕКУРСИВНЫМ ВЫЗОВОМ ФУНКЦИИ ВЫЙГРЫША
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
Owners: @JerryImMouse

✨ Добавлена новая аркада "Minesweeper" (Сапёр) 🧨 (#1824)
  Content.Client/ADT/Minesweeper/MinesweeperBoundUserInterface.cs
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
  Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
  Content.Shared/ADT/Minesweeper/MinesweeperComponent.cs
  Content.Shared/ADT/Minesweeper/MinesweeperUiKey.cs
  Resources/Audio/ADT/Machines/license.txt
  Resources/Audio/ADT/Machines/minesweeaper_lost_boom.ogg
  Resources/Audio/ADT/Machines/tick.ogg
  Resources/Audio/ADT/Machines/win.ogg
  Resources/Locale/ru-RU/ADT/Adverisements/arcade.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/computer.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/Computers/computers.ftl
  Resources/Locale/ru-RU/ADT/user-interface/minesweeper.ftl
  Resources/Prototypes/ADT/Catalog/Arcade/arcade.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/arcade.yml
  Resources/Textures/ADT/Structures/Machines/minesweeper.rsi/arcade.png
  Resources/Textures/ADT/Structures/Machines/minesweeper.rsi/arcade_broken.png
  Resources/Textures/ADT/Structures/Machines/minesweeper.rsi/icon.png
  Resources/Textures/ADT/Structures/Machines/minesweeper.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/minesweeper.rsi/panel.png
  Resources/Textures/ADT/Structures/Machines/minesweeper.rsi/screen_minesweeper.png
Owners: @JerryImMouse, @ficcialfaint

кожаная сумка в лодаут утилизатора
  Resources/Prototypes/Loadouts/loadout_groups.yml
Owners: @JerryImMouse

ТЕТО!!!!
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/boxes/other.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Textures/ADT/Clothing/Head/Misc/teto-wig.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Misc/teto-wig.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Misc/teto-wig.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Misc/teto-wig.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Misc/teto-wig.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/teto.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/teto.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/teto.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/teto.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/teto.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Revert "The Greatest Ghost Return (#1675)"
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Owners: @JerryImMouse, @DrSmugleaf

Update pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
Owners: @JerryImMouse

Теперь за ОСЩ и патологоанатома можно открывать кпк наводясь мышкой и нажимая E (#1831)
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
Owners: @JerryImMouse

tweak(ftl): Убрал лишнее
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Mask/mask.ftl
Owners: @ficcialfaint

tweak(ftl): Убрал локаль
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Underwear/socks.ftl
Owners: @ficcialfaint

tweak(flt): Убрал локаль постеров
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Wallmount/Signs/posters.ftl
Owners: @ficcialfaint

tweak(proto): Убрал лишнеий прототип
  Resources/Prototypes/ADT/Entities/Clothing/Masks/mask.yml
Owners: @JerryImMouse

tweak(proto): Убрал прототипы носков
  Resources/Prototypes/ADT/Entities/Clothing/Underwear/Socks/socks.yml
Owners: @JerryImMouse

tweak(proto): Убрал постеры
  Resources/Prototypes/ADT/Entities/Structures/Wallmount/Signs/posters.yml
Owners: @JerryImMouse

tweak(proto): убрал пробел
  Resources/Prototypes/ADT/Flavors/flavors.yml
Owners: @JerryImMouse

добавил таб в прототипе
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
Owners: @JerryImMouse

еще изменил прототипы
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Owners: @JerryImMouse

расход энергии модулями модов
  Content.Client/ADT/Modsuits/UI/ModSuitMenu.xaml.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitModComponent.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.cs
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Owners: @JerryImMouse
