Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

Revert "[OPTIMIZATION] Убран пасхальный контент (#1853)"
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/big.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/cheesy.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/small.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/sweetroll.png
Owners: @ficcialfaint, @JerryImMouse

дюп батареек ликвидирован
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardhats.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/ADT/Recipes/Lathes/misc.yml
Owners: @ficcialfaint, @JerryImMouse

micro fix
  Resources/Locale/ru-RU/ADT/armor/armor-examine.ftl
Owners: @ficcialfaint

shit
  Content.Client/ADT/Mining/Systems/GibtoniteSystem.cs
  Content.Server/ADT/Mining/Systems/GibtoniteSystem.cs
  Content.Server/ADT/Salvage/Systems/GibtoniteSystem.cs
  Content.Shared/ADT/Mining/Components/GibtoniteComponent.cs
  Content.Shared/ADT/Salvage/Components/GibtoniteComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/ADT/Entities/Structures/Walls/meteor.yml
  Resources/Textures/ADT/Objects/Materials/gibtonite.rsi/active.png
  Resources/Textures/ADT/Objects/Materials/gibtonite.rsi/gibtonite.png
  Resources/Textures/ADT/Objects/Materials/gibtonite.rsi/meta.json
  Resources/Textures/ADT/Objects/Materials/gibtonite.rsi/normal.png
  Resources/Textures/ADT/Objects/Materials/gibtonite.rsi/ohfuck.png
Owners: @JerryImMouse

лоКАЛь
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hardhats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardhats.ftl
Owners: @ficcialfaint

[ FIX ] Ликвидация дюпа батареек через каски. (#1969)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hardhats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardhats.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/ADT/Recipes/Lathes/misc.yml
Owners: @ficcialfaint, @JerryImMouse

экранчики
  Content.Server/ADT/IpcScreen/IpcScreenComponent.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/ipc.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/ipc_screens.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_angry.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_cryed.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_eyes.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_laughing.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_neutral.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_questioningly.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_smirk.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_suspicious.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_unsurprised.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_worried.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/meta.json
Owners: @JerryImMouse, @ficcialfaint

refactor(src, ui): Рефактор юзеринтерфейса модов
  Content.Client/ADT/Modsuits/UI/ModSuitMenu.xaml.cs
  Content.Client/ADT/Modsuits/UI/ModSuitMenuBoundUserInterface.cs
  Content.Client/ADT/Modsuits/UI/ModSuitRadialBoundUserInterface.cs
  Content.Client/ADT/Modsuits/UI/ModSuitRadialMenu.xaml.cs
  Content.Client/ADT/Modsuits/UI/ModuleControl.xaml
  Content.Client/ADT/Modsuits/UI/ModuleControl.xaml.cs
  Content.Client/ADT/UserInterface/Controls/FancyButton/DrawButton.cs
  Content.Client/ADT/UserInterface/Controls/FancyButton/FancyButton.xaml
  Content.Client/ADT/UserInterface/Controls/FancyButton/FancyButton.xaml.cs
Owners: @JerryImMouse

tweak(src): Правки в компонентах
  Content.Shared/ADT/Modsuit/Components/ModAttachedClothingComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModPartComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitModComponent.cs
Owners: @JerryImMouse

style(src): Раскидывание ивентов по разным файлам
  Content.Shared/ADT/Modsuit/Events/ActionEvents.cs
  Content.Shared/ADT/Modsuit/Events/ModBoundUiState.cs
  Content.Shared/ADT/Modsuit/Events/ModLockMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModuleActivateMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModuleDeactivateMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModuleRemoveMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModulesUiStateReadyEvent.cs
  Content.Shared/ADT/Modsuit/Events/ToggleClothingAttemptEvent.cs
  Content.Shared/ADT/Modsuit/Events/ToggleModPartsDoAfterEvent.cs
  Content.Shared/ADT/Modsuit/Events/ToggleModSuitPartMessage.cs
Owners: @JerryImMouse

refactor(src): Бальшой рефактор модов
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Modules.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Parts.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Suit.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.cs
Owners: @JerryImMouse

tweak(proto): Требуемые правки в прототипах
  Resources/Prototypes/ADT/Actions/types.yml
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Owners: @JerryImMouse

add(lang): попып
  Resources/Locale/ru-RU/ADT/clothing/mosduits.ftl
Owners: @ficcialfaint

tweak(ui): Приукрашивание
  Content.Client/ADT/Modsuits/UI/ModSuitMenu.xaml
  Content.Client/ADT/Modsuits/UI/ModuleControl.xaml
Owners: @JerryImMouse

add(src): Возможность изменять цвета из компонента более точечно
  Content.Client/ADT/Modsuits/UI/ModSuitMenu.xaml.cs
  Content.Client/ADT/Modsuits/UI/ModuleControl.xaml.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitComponent.cs
Owners: @JerryImMouse

fix(src): Маленькие фиксы
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Parts.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Suit.cs
Owners: @JerryImMouse

add(proto): Цвета юи синди модов
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
Owners: @JerryImMouse

tweak(proto): Убрал PowerCellDraw у синдикатов обратно
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
Owners: @JerryImMouse

fix(src): Фикс исключений
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Suit.cs
Owners: @JerryImMouse

больше коробок богу коробок
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/Closets/big_boxes.ftl
  Resources/Prototypes/ADT/Entities/Structures/Storage/Closets/big_boxes.yml
  Resources/Textures/ADT/Structures/Storage/boxes/medical.rsi/cardboard.png.png
  Resources/Textures/ADT/Structures/Storage/boxes/medical.rsi/cardboard_open.png
  Resources/Textures/ADT/Structures/Storage/boxes/medical.rsi/meta.json
  Resources/Textures/ADT/Structures/Storage/boxes/security.rsi/cardboard.png
  Resources/Textures/ADT/Structures/Storage/boxes/security.rsi/cardboard_open.png
  Resources/Textures/ADT/Structures/Storage/boxes/security.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

Маленький фикс проблем с ботинками юристов
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Owners: @JerryImMouse

fix: ymlinter
  Resources/Prototypes/ADT/StartingGear/HermitEquipment.yml
Owners: @JerryImMouse

хештеги
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Owners: @JerryImMouse

чиню хештеги
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
Owners: @JerryImMouse

теперь-то с хештегами всё ок
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Owners: @JerryImMouse

fix курицы
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Owners: @JerryImMouse

еще один фикс ебать его в сраку
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/boxes.yml
Owners: @JerryImMouse

убираем соллукс
  Resources/Prototypes/ADT/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/vendingMachine.yml
  Resources/Prototypes/ADT/Catalog/revolution_toolbox_sets.yml
Owners: @JerryImMouse

да какого хера оно ломается
  Resources/Prototypes/ADT/Barks/misc.yml
  Resources/Prototypes/ADT/Barks/roundstart.yml
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/ADT/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
Owners: @JerryImMouse, @DrSmugleaf

А как карты-то сломались ебана
  Resources/Prototypes/ADT/Entities/Objects/Fun/cards.yml
Owners: @JerryImMouse

Фикс локали
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/ipc.ftl
Owners: @ficcialfaint

Исправление RSI
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_cute_smirking.png
Owners: @JerryImMouse

теперь всё круто
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
Owners: @JerryImMouse

Маленький фикс проблем с ботинками юристов (#1973)
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Owners: @JerryImMouse

Исправлены опечатки в локалях
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/Closets/big_boxes.ftl
Owners: @ficcialfaint

SMO -> CMO
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Back/mods.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Clothing/Hands/modsuit_gloves.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/modsuit_boots.yml
  Resources/Textures/ADT/Clothing/Back/Modsuit/cmo.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/cmo.rsi/icon.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/cmo.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/cmo.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Back/Modsuit/cmo.rsi/meta.json
  Resources/Textures/ADT/Clothing/Hands/Modsuit/cmo.rsi/equipped-HAND.png
  Resources/Textures/ADT/Clothing/Hands/Modsuit/cmo.rsi/icon.png
  Resources/Textures/ADT/Clothing/Hands/Modsuit/cmo.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Modsuit/cmo.rsi/equipped-head.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/cmo.rsi/icon-flash.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/cmo.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Modsuit/cmo.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/cmo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/cmo.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/cmo.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Modsuit/cmo.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Modsuit/cmo.rsi/icon-on.png
  Resources/Textures/ADT/Clothing/Shoes/Modsuit/cmo.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Modsuit/cmo.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Modsuit/cmo.rsi/on-equipped-FEET.png
Owners: @ficcialfaint, @JerryImMouse

Забыл в шкафах поменять
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Owners: @JerryImMouse

ADT tweak забыв
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Owners: @JerryImMouse

Update meta.json
  Resources/Textures/ADT/Structures/Storage/boxes/security.rsi/meta.json
Owners: @JerryImMouse

Update meta.json
  Resources/Textures/ADT/Structures/Storage/boxes/medical.rsi/meta.json
Owners: @JerryImMouse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
