Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk

fix: Я вспомнил, почему не переносил их никуда. Возвращаю на место.
  Content.Client/Lobby/UI/Loadouts/BaseLoadoutWindow.cs
  Content.Client/Lobby/UI/Loadouts/ILoadoutOverride.cs
  Content.Client/Lobby/UI/Loadouts/StationAILoadoutWindow.xaml
  Content.Client/Lobby/UI/Loadouts/StationAILoadoutWindow.xaml.cs
Owners: @Morb0

sec tweaks
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Owners: @Morb0

style: Оставшиеся комменты
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
Owners: @Morb0

DoFix
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Owners: @Morb0

FixOutfitPrinter (#1148)
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Owners: @Morb0

Update pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
Owners: @Morb0

Update shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Owners: @Morb0

sec tweaks (#1155)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Owners: @Morb0

Исправил локаль скафандра голиафа
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
Owners: @ficcialfaint

Adding an alternative dressing gown for the pathologist
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/patcholodrobe.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Medical/patholog.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/icon (2).png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/icon-open.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/open-inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/open-inhand-right.png
Owners: @ficcialfaint, @Morb0

Исправление халата
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/open-equipped-OUTERCLOTHING.png
Owners: @Morb0

Добавлена локаль берету Старшего инженера
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
Owners: @ficcialfaint

Добавлена локаль новых солнечных панелей
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/solar.ftl
Owners: @ficcialfaint

вульпизатор (#1115)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Battery/battery_gun.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
Owners: @ficcialfaint, @Morb0

убрана эррорка у больших сапог клоуна
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Owners: @Morb0

Изменён шлем парамеда (Пока не найду нужные текстуры)
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
Owners: @Morb0

Почищена папка
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/icon (2).png
Owners: @Morb0

Update meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/meta.json
Owners: @Morb0

Update Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
Owners: @Morb0

Update 1ChangelogADT.yml
  Resources/Changelog/1ChangelogADT.yml
Owners: @Morb0

tweak(proto): Снизил "цену" мобам фракции мерзостей
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/Abomination.yml
  Resources/Prototypes/ADT/Procedural/salvage_factions.yml
Owners: @Morb0

add(map): Добавлены 3 карты данжей с прошлой сборки
  Resources/Maps/ADTMaps/Dungeon/botany.yml
  Resources/Maps/ADTMaps/Dungeon/bunker.yml
  Resources/Maps/ADTMaps/Dungeon/medicine.yml
Owners: @Ko4ergaPunk

add(proto): Перенесены данжи со старой сборки
  Resources/Prototypes/ADT/Procedural/Themes/botany.yml
  Resources/Prototypes/ADT/Procedural/Themes/bunker.yml
  Resources/Prototypes/ADT/Procedural/Themes/medicine.yml
  Resources/Prototypes/ADT/Procedural/dungeon_configs.yml
  Resources/Prototypes/ADT/tags.yml
Owners: @Morb0

add(proto): Добавлены модификаторы с данжами со старой сборки
  Resources/Prototypes/ADT/Procedural/salvage_mods.yml
Owners: @Morb0

wip(proto): Пытаюсь исправить данжи
  Resources/Prototypes/ADT/Procedural/dungeon_configs.yml
  Resources/Prototypes/ADT/Procedural/salvage_mods.yml
Owners: @Morb0

fix(src): Фикс отсутствия акцента при шёпоте
  Content.Server/ADT/Language/LanguageTypes/Generic.cs
Owners: @Morb0

style(src): Убрал модификатор `public` у функции `Speak` в `ILanguageType`
  Content.Shared/ADT/Language/ILanguageType.cs
Owners: @Morb0

Hotfix: Фикс отсутствия акцентов при шёпоте (#1159)
  Content.Server/ADT/Language/LanguageTypes/Generic.cs
  Content.Shared/ADT/Language/ILanguageType.cs
Owners: @Morb0

Update patholog.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Medical/patholog.yml
Owners: @Morb0

Update loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
Owners: @Morb0

Update meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/meta.json
Owners: @Morb0

Gas_tanks update
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
Owners: @Morb0

fix
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
Owners: @Morb0

fix2
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
Owners: @Morb0

Системка
  Content.Server/ADT/Radiation/RadiationPopaSystems.cs
  Resources/Locale/ru-RU/ADT/prototypes/radiationPopup.ftl
Owners: @Morb0, @ficcialfaint

Да, это гениально(поменял название файла)
  Content.Server/ADT/Radiation/RadiationPopupSystems.cs
Owners: @Morb0

fix3
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
Owners: @Morb0

fix(src): Фикс "выключенного" экрана СИИ, если не выбирать его в меню
  Content.Shared/ADT/StationAi/SharedStationAiSystem.Loadout.cs
Owners: @Morb0

add(proto): Колл. разум СИИ
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Owners: @Morb0

add(proto): Колл разум пИИ
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Owners: @Morb0
