Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

normal fix
  Content.Server/ADT/Administration/Systems/AdminADTSmitesVerbs.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
Owners: @JerryImMouse

Ох уж эти нормы красивого кода
  Content.Server/Power/EntitySystems/ChargerSystem.cs
Owners: @JerryImMouse

вот так ещё правильнее
  Content.Server/Power/EntitySystems/ChargerSystem.cs
Owners: @JerryImMouse

Более адекватный фикс (#1926)
  Content.Server/ADT/Administration/Systems/AdminADTSmitesVerbs.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
Owners: @JerryImMouse

fix OnTargetLevel
  Content.Server/ADT/BluespaceHarvester/BluespaceHarvesterSystem.cs
Owners: @JerryImMouse

fix
  Content.Shared/ADT/Heretic/Components/SacrificedComponent.cs.cs
Owners: @JerryImMouse

fix dublicate
  Resources/Locale/en-US/_Ganimed/silicons/silicons.ftl
  Resources/Locale/ru-RU/_Ganimed/silicons/silicons.ftl
Owners: @ficcialfaint

Improved languages (#290)
  Resources/Locale/ru-RU/ADT/Languages/languages.ftl
  Resources/Prototypes/ADT/Languages/languages.yml
  Resources/Prototypes/ADT/Languages/roundstart.yml
  Resources/Prototypes/ADT/Species/Tajaran.yml
  Resources/Prototypes/ADT/Species/Ursus.yml
  Resources/Prototypes/ADT/Species/demon.yml
  Resources/Prototypes/ADT/Species/ipc.yml
  Resources/Prototypes/Species/reptilian.yml
Owners: @ficcialfaint, @JerryImMouse

check_duplicates.py
  .github/workflows/check_duplicates.yml
  Tools/ganimed/check_duplicates.py
Owners: @JerryImMouse

- fix(proto): Забыл добавить в правах доступа к панельке исполнения команд
  Resources/engineCommandPerms.yml
Owners: @JerryImMouse

test
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JerryImMouse

fix conflict
  Content.Server/ADT/BlueSpaceCrystalTeleport/System/BsCrystalTeleportSystem.cs
Owners: @JerryImMouse

local
  .github/workflows/check_duplicates.yml
  Tools/ganimed/check_duplicates.py
Owners: @JerryImMouse

debug
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JerryImMouse

фикс буенос
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

duplicates
  .github/workflows/check_duplicates.yml
  Tools/ganimed/check_duplicates.py
Owners: @JerryImMouse

opat test
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JerryImMouse

bliat
  Tools/ganimed/check_ftl_duplicates.py
Owners: @JerryImMouse

utf-8-sig
  Tools/ganimed/check_ftl_duplicates.py
Owners: @JerryImMouse

last?
  .github/workflows/check_duplicates.yml
  Tools/ganimed/check_duplicates.py
Owners: @JerryImMouse

Editing
  Content.Server/ADT/BlueSpaceCrystalTeleport/System/BsCrystalTeleportSystem.cs
Owners: @JerryImMouse

cp1251
  Tools/ganimed/check_ftl_duplicates.py
Owners: @JerryImMouse

uwi
  Tools/ganimed/check_ftl_duplicates.py
Owners: @JerryImMouse

end
  Tools/ganimed/check_ftl_duplicates.py
Owners: @JerryImMouse

test
  Resources/Locale/ru-RU/_Ganimed/cyborg/cyborg_energy.ftl
Owners: @ficcialfaint

end 2?
  Tools/ganimed/check_ftl_duplicates.py
Owners: @JerryImMouse

test?
  Tools/ganimed/check_ftl_duplicates.py
Owners: @JerryImMouse

dell
  .github/workflows/check_duplicates.yml
  Tools/ganimed/check_ftl_duplicates.py
Owners: @JerryImMouse

end
  Resources/Locale/ru-RU/_Ganimed/cyborg/cyborg_energy.ftl
  Resources/Locale/ru-RU/_Ganimed/heretic/sacrificed.ftl
Owners: @ficcialfaint

fix?
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Owners: @JerryImMouse

remove
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Owners: @JerryImMouse

abolt
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/slimes.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Owners: @JerryImMouse

d
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Owners: @JerryImMouse

[Fix] Harvester target level (#1927)
  Content.Server/ADT/BluespaceHarvester/BluespaceHarvesterSystem.cs
Owners: @JerryImMouse

remove i-storm
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

оптимизация
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

ещё улучшение
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

https://discord.com/channels/901772674865455115/1411017969747623936
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Owners: @ficcialfaint

улучшение 2.0
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

remove trash
  .github/workflows/check_duplicates.yml
  Tools/ganimed/check_duplicates.py
Owners: @JerryImMouse
