Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

finished the fix
  Resources/Locale/en-US/ss14-ru/prototypes/body/organs/animal/animal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/animal.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Prototypes/Animal/animal.yml
  Resources/Prototypes/Body/Prototypes/Animal/bloodsucker.yml
  Resources/Prototypes/Body/Prototypes/Animal/hemocyanin.yml
  Resources/Prototypes/Body/Prototypes/Animal/nymph.yml
  Resources/Prototypes/Body/Prototypes/Specific/mothroach.yml
  Resources/Prototypes/Body/Prototypes/primate.yml
  Resources/Prototypes/Body/Prototypes/rat.yml
  Resources/Prototypes/Body/Prototypes/reptilian.yml
Owners: @ficcialfaint, @DrSmugleaf

Added comments
  Resources/Prototypes/Body/Prototypes/Animal/animal.yml
  Resources/Prototypes/Body/Prototypes/Animal/bloodsucker.yml
  Resources/Prototypes/Body/Prototypes/Animal/hemocyanin.yml
  Resources/Prototypes/Body/Prototypes/Animal/nymph.yml
  Resources/Prototypes/Body/Prototypes/primate.yml
  Resources/Prototypes/Body/Prototypes/rat.yml
  Resources/Prototypes/Body/Prototypes/reptilian.yml
Owners: @DrSmugleaf

Hopefully final update for comments
  Resources/Prototypes/Body/Prototypes/Animal/animal.yml
  Resources/Prototypes/Body/Prototypes/Animal/nymph.yml
  Resources/Prototypes/Body/Prototypes/Specific/mothroach.yml
Owners: @DrSmugleaf

Fix with reptilian torso
  Resources/Prototypes/Body/Prototypes/reptilian.yml
Owners: @DrSmugleaf

Добавление проверки на имение компонента chaplain для святого оружия
  Content.Server/ADT/Chaplain/Systems/ForTheWorthySystem.cs
  Content.Shared/ADT/Chaplain/Components/ForTheWorthyComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/paranormal.yml
Owners: @JerryImMouse

Код Гемофилии - В С Ё
  Content.Server/ADT/Hemophilia/HemophiliaSystem.cs
  Content.Shared/ADT/hemophilia/HemophiliaComponent.cs
Owners: @JerryImMouse

Слегка облагородил код, не более
  Content.Server/ADT/Paint/PaintSystem.cs
  Content.Server/ADT/PickupHumans/PickupHumansSystem.cs
  Content.Server/ADT/Quirks/QuirksSystem.cs
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Content.Shared/ADT/Shadekin/Components/ShadekinComponent.cs
Owners: @JerryImMouse

и ещё чуть-чуть
  Content.Server/ADT/Salvage/Systems/GrantAllLanguagesOnUseSystem.cs
  Content.Server/ADT/Salvage/Systems/PreventChasmFallingSystems.cs
  Content.Shared/ADT/TheManWhoSoldTheWorld/TheManWhoSoldTheWorldSystem.cs
Owners: @JerryImMouse

- Опять РЕФАКТОР ЧЕЙНЖЛОГА Update pr_to_discord.py
  Tools/ADT/pr_to_discord.py
Owners: @JerryImMouse

- Новая секретка в акшоне, для чейнжлога
  .github/workflows/adt-pr-to-discord.yml
Owners: @JerryImMouse

ADT-Tweak, локаль
  Resources/Locale/ru-RU/ADT/chaplain/chaplain.ftl
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
Owners: @ficcialfaint, @JerryImMouse

fix: Успех == -2 очка, Промах == ничего
  Content.Server/ADT/Chaplain/Systems/ChaplainSystem.cs
Owners: @JerryImMouse

Прототип, текстурки, сканер, фильтр, enum
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner-inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner-inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner.png
Owners: @JerryImMouse

Update candles.yml
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
Owners: @JerryImMouse

Update admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Owners: @DrSmugleaf

Change the path to ADT
  Resources/Locale/en-US/ss14-ru/prototypes/body/organs/animal/animal.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/animal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/animal.ftl
Owners: @ficcialfaint

[FIX] Фикс Агостов, взамен теряем фикс для ревенантов (#1906)
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Owners: @DrSmugleaf

Fix commit of bs crystal with fixes from review
  Content.Server/ADT/BlueSpaceCrystalTeleport/System/BsCrystalTeleportSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/bluespace.ftl
Owners: @JerryImMouse, @ficcialfaint

пробел(глобальная обнова)
  Resources/Prototypes/ADT/Recipes/Lathes/armory.yml
Owners: @JerryImMouse

Изменение баланса аплинка
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Owners: @JerryImMouse

Fix locale
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/bluespace.ftl
Owners: @ficcialfaint

Изменение баланса аплинка
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Owners: @JerryImMouse

IPC Great Refactor part 1
  Content.Server/ADT/IPC/Charge/Components/BatteryDrinkerSourceComponent.cs
  Content.Server/ADT/IPC/Charge/Components/SiliconDownOnDeadComponent.cs
  Content.Server/ADT/IPC/Charge/Systems/SiliconChargeDeathSystem.cs
  Content.Server/ADT/IPC/Charge/Systems/SiliconChargeSystem.cs
  Content.Server/ADT/IPC/Components/BatteryDrinkerComponent.cs
  Content.Server/ADT/IPC/Components/SiliconEmitSoundOnDrainedComponent.cs
  Content.Server/ADT/IPC/Systems/BatteryDrinkerSystem.cs
  Content.Server/ADT/IPC/Systems/BatteryElectrocuteChargeSystem.cs
  Content.Server/ADT/IPC/Systems/SiliconEmpSystem.cs
  Content.Server/ADT/Power/Systems/RTGHeatSystem.cs
  Content.Server/ADT/Power/Systems/SiliconEmitSoundOnDrainedSystem.cs
  Content.Server/ADT/Silicon/Charge/Systems/SiliconChargerSystem.cs
  Content.Server/ADT/Silicon/Systems/SiliconMiscSystem.cs
  Content.Shared/ADT/IPC/BatteryDrinkerEvent.cs
  Content.Shared/ADT/IPC/Components/SeeingStaticComponent.cs
  Content.Shared/ADT/IPC/Components/SiliconComponent.cs
  Content.Shared/ADT/IPC/SharedSiliconSystem.cs
  Content.Shared/ADT/IPC/Systems/SeeingStaticSystem.cs
  Content.Shared/ADT/Silicon/Components/SiliconChargerComponent.cs
  Content.Shared/ADT/Silicon/SiliconChargerVisuals.cs
  Content.Shared/ADT/Silicon/Systems/SharedSiliconSystem.cs
  Resources/Locale/ru-RU/ADT/Job/department.ftl
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/silicons/silicon.ftl
  Resources/Prototypes/ADT/Alerts/alerts.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Textures/ADT/Interface/Alerts/charge.rsi/charge-empty.png
  Resources/Textures/ADT/Interface/Alerts/charge.rsi/charge0.png
  Resources/Textures/ADT/Interface/Alerts/charge.rsi/charge1.png
  Resources/Textures/ADT/Interface/Alerts/charge.rsi/charge2.png
  Resources/Textures/ADT/Interface/Alerts/charge.rsi/charge3.png
  Resources/Textures/ADT/Interface/Alerts/charge.rsi/charge4.png
  Resources/Textures/ADT/Interface/Alerts/charge.rsi/meta.json
Owners: @JerryImMouse, @ficcialfaint

Update Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
Owners: @JerryImMouse

Update Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
Owners: @JerryImMouse

Добавление роли шахтера, удаление в лодауте утилизатора шахтерского КПК
  Resources/Locale/ru-RU/ADT/Job/job-description.ftl
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/jobs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/identification_cards.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/ADT/Roles/Jobs/Cargo/miner.yml
  Resources/Prototypes/ADT/Roles/play_time_trackers.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Owners: @ficcialfaint, @JerryImMouse

Update Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Owners: @JerryImMouse

Update Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Owners: @JerryImMouse

Изменение баланса аплинка (#1909)
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Owners: @JerryImMouse

Изменения в изучениях утилизаторского оружия (#1845)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/push_horn.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Research/arsenal.ftl
  Resources/Locale/ru-RU/ADT/research/technologies.ftl
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/ADT/Recipes/Lathes/armory.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-open.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-static.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes.png
  Resources/Textures/Structures/Power/smes.rsi/meta.json
Owners: @ficcialfaint, @JerryImMouse

[Fix] Clone trait (#1873)
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Owners: @DrSmugleaf

[FIX] Очистка прототипов книг и мелкие исправления (#1751)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/books.ftl
  Resources/Prototypes/ADT/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Corvax/Loadouts/Miscellaneous/corporate_law.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/migration.yml
Owners: @ficcialfaint, @JerryImMouse

Добавление глазных яблок животным при расчленении (#1904)
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/animal.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Prototypes/Animal/animal.yml
  Resources/Prototypes/Body/Prototypes/Animal/bloodsucker.yml
  Resources/Prototypes/Body/Prototypes/Animal/hemocyanin.yml
  Resources/Prototypes/Body/Prototypes/Animal/nymph.yml
  Resources/Prototypes/Body/Prototypes/Specific/mothroach.yml
  Resources/Prototypes/Body/Prototypes/primate.yml
  Resources/Prototypes/Body/Prototypes/rat.yml
Owners: @ficcialfaint, @DrSmugleaf

Ну вроде бы..
  Content.Server/ADT/Chaplain/Systems/ChaplainSystem.cs
Owners: @JerryImMouse

fix: Не то засейвил ;L (теперь всё гут)
  Content.Server/ADT/Chaplain/Systems/ChaplainSystem.cs
Owners: @JerryImMouse

Фикс спавна репликаторов (#149)
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

[Add] Plushки (#148)
  Resources/Locale/ru-RU/SD/toys.ftl
  Resources/Prototypes/SD/Entities/Objects/Fun/toys.yml
  Resources/Textures/SD/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/SD/Objects/Fun/toys.rsi/plush_diana.png
  Resources/Textures/SD/Objects/Fun/toys.rsi/plush_melima.png
  Resources/Textures/SD/Objects/Fun/toys.rsi/plush_sammy.png
Owners: @ficcialfaint, @JerryImMouse

АДТ ТВИАК
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Owners: @JerryImMouse

АДТ ТВИАК
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

АДТ ТВИАК
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Owners: @JerryImMouse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
