Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

Теперь всё встало на свои места
  Content.Server/ADT/EntityEffects/Effects/RandomTeleport.cs
  Content.Server/EntityEffects/EntityEffectSystem.cs
  Content.Shared/ADT/EntityEffects/Conditions/Whitelist.cs
  Content.Shared/ADT/EntityEffects/Embalm.cs
  Content.Shared/ADT/EntityEffects/RandomTeleport.cs
  Resources/Maps/ADTMaps/Salvage/research_medium.yml
  Resources/migration.yml
Owners: @JerryImMouse, @Ko4ergaPunk

ЫЫЕ
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/basic.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/medical.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/salvage.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Suits/iansuit.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/tacoshell_back.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/tacoshell_forward.png
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/eng_evac_door.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/eng.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/eng_evac_door.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/eng_open.png
Owners: @JerryImMouse

ы
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/adtomnilaser.png
  Resources/Textures/Structures/Piping/Atmospherics/thermomachine.rsi/freezer-Unshaded.png
  Resources/Textures/Structures/Piping/Atmospherics/thermomachine.rsi/heater-Unshaded.png
Owners: @JerryImMouse

удаление спрайтов дальше
  Resources/Textures/Objects/Devices/pinpointer.rsi/pinpointer-syndicate-way.png
  Resources/Textures/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/freezer-Unshaded.png
  Resources/Textures/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/heater-Unshaded.png
Owners: @JerryImMouse

Update meta.json
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
Owners: @JerryImMouse

Update meta.json
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
Owners: @JerryImMouse

Update meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/basic.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/medical.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/salvage.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Suits/iansuit.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/tacoshell_back.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/tacoshell_forward.png
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/adtomnilaser.png
  Resources/Textures/Structures/Storage/closet.rsi/eng_evac_door.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/eng.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/eng_evac_door.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/eng_open.png
Owners: @JerryImMouse

Revert "Merge branch 'upstream-130825' of https://github.com/AdventureTimeSS14/space_station_ADT into upstream-130825"
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/Objects/Devices/pinpointer.rsi/pinpointer-syndicate-way.png
  Resources/Textures/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/freezer-Unshaded.png
  Resources/Textures/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/heater-Unshaded.png
  Resources/Textures/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/thermomachine.rsi/freezer-Unshaded.png
  Resources/Textures/Structures/Piping/Atmospherics/thermomachine.rsi/heater-Unshaded.png
  Resources/Textures/Structures/Piping/Atmospherics/thermomachine.rsi/meta.json
Owners: @JerryImMouse

удаление скафа пилота
  Resources/Prototypes/Corvax/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @JerryImMouse

фикс ЯМЛЯ
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/stripe.png
Owners: @JerryImMouse

опять ЯМЛ
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
Owners: @JerryImMouse

олпять ямл
  Resources/Prototypes/ADT/Entities/Objects/Specific/mechequipment.yml
Owners: @JerryImMouse

lil bro
  Content.Shared/Salvage/Fulton/FultonComponent.cs
  Resources/Prototypes/ADT/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/cards.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/poker_chips.yml
Owners: @JerryImMouse

Update CCVars.Salvage.cs
  Content.Shared/CCVar/CCVars.Salvage.cs
Owners: @JerryImMouse

Update FultonComponent.cs
  Content.Shared/Salvage/Fulton/FultonComponent.cs
Owners: @JerryImMouse

Эль для новакидов
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
Owners: @JerryImMouse

Эль для новакидов (#1994)
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
Owners: @JerryImMouse

Update duffelbag.yml
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/duffelbag.yml
Owners: @JerryImMouse

[FIX] Доб. Баллон в наборе на каскад (#1995)
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/duffelbag.yml
Owners: @JerryImMouse

parallaxes
  Resources/Prototypes/ADT/Parallaxes/games_of_gods.yml
  Resources/Textures/ADT/Parallaxes/Multiverse/parallax_stars.png
  Resources/Textures/ADT/Parallaxes/Multiverse/purple_parallax.png
Owners: @JerryImMouse

Update Resources/Prototypes/ADT/Parallaxes/games_of_gods.yml
  Resources/Prototypes/ADT/Parallaxes/games_of_gods.yml
Owners: @JerryImMouse

локаль биты гсб
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
Owners: @ficcialfaint

частичный реворк лавы
  Content.Server/ADT/SpawnInRange/SpawnInRangeComponent.cs
  Content.Server/ADT/SpawnInRange/SpawnInRangeSystem.cs
  Resources/Prototypes/ADT/planets.yml
Owners: @JerryImMouse

обновление консоли вызова шаттла сразу после нажатия
  Content.Server/ADT/Shuttles/Systems/DockingConsoleSystem.cs
Owners: @JerryImMouse

удаление планетоида и мусора
  Resources/Locale/ru-RU/ADT/spawnInRange/fax.ftl
  Resources/Prototypes/Entities/Stations/base.yml
Owners: @ficcialfaint, @JerryImMouse

меньше атмосфера на экспах
  Resources/Prototypes/Procedural/salvage_mods.yml
Owners: @JerryImMouse

Второй параллакс, система работает, спрайты не до конца готовы
  Resources/Prototypes/ADT/Parallaxes/games_of_gods.yml
  Resources/Textures/ADT/Parallaxes/DarkDimension/clouds_parallax.png
  Resources/Textures/ADT/Parallaxes/DarkDimension/eyes_parallax.png
  Resources/Textures/ADT/Parallaxes/DarkDimension/rubbish1.png
  Resources/Textures/ADT/Parallaxes/DarkDimension/rubbish2.png
  Resources/Textures/ADT/Parallaxes/DarkDimension/rubbish3.png
Owners: @JerryImMouse

Баланс ЗаконШкафа
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
Owners: @JerryImMouse

расовые чистки
  Content.Server/ADT/SpawnInRange/SpawnInRangeComponent.cs
Owners: @JerryImMouse

фикс локали
  Resources/Locale/ru-RU/ADT/spawnInRange/fax.ftl
Owners: @ficcialfaint

Update Content.Server/ADT/SpawnInRange/SpawnInRangeComponent.cs
  Content.Server/ADT/SpawnInRange/SpawnInRangeComponent.cs
Owners: @JerryImMouse

Tweaks and salvage (#1997)
  Content.Server/ADT/Shuttles/Systems/DockingConsoleSystem.cs
  Content.Server/ADT/SpawnInRange/SpawnInRangeComponent.cs
  Content.Server/ADT/SpawnInRange/SpawnInRangeSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Locale/ru-RU/ADT/spawnInRange/fax.ftl
  Resources/Prototypes/ADT/planets.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Procedural/salvage_mods.yml
Owners: @JerryImMouse, @ficcialfaint

блять
  Content.Client/ADT/Mining/Systems/GibtoniteSystem.cs
  Content.Server/ADT/Mining/Systems/GibtoniteSystem.cs
  Content.Shared/ADT/Mining/Components/GibtoniteComponent.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/gibtonite.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/ores.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/sheets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Walls/asteroid.ftl
  Resources/Prototypes/ADT/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/ADT/Entities/Objects/Materials/sheets.yml
  Resources/Prototypes/ADT/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/ADT/Procedural/biome_ore_templates.yml
  Resources/Prototypes/ADT/Reagents/Materials/materials.yml
  Resources/Prototypes/ADT/Reagents/Materials/raw.yml
  Resources/Prototypes/ADT/Recipes/Lathes/sheet.yml
  Resources/Prototypes/ADT/Stacks/ore.yml
  Resources/Prototypes/ADT/Stacks/sheets.yml
  Resources/Prototypes/ADT/planets.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Department/science.yml
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/copper-inhand-left.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/copper-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/copper.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/copper_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/copper_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/other.rsi/zinc-inhand-left.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/zinc-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/zinc.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/zinc_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/zinc_3.png
  Resources/Textures/Objects/Materials/ore.rsi/copper-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/copper-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/copper.png
  Resources/Textures/Objects/Materials/ore.rsi/meta.json
  Resources/Textures/Objects/Materials/ore.rsi/zinc-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/zinc-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/zinc.png
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_zinc.png
Owners: @JerryImMouse, @ficcialfaint

fix
  Content.Server/ADT/SpawnInRange/SpawnInRangeSystem.cs
Owners: @JerryImMouse

fix (#1998)
  Content.Server/ADT/SpawnInRange/SpawnInRangeSystem.cs
Owners: @JerryImMouse

бпаллпалп
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/lead-inhand-left.aseprite
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/lead-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/lead.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/lead_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/lead_3.png
  Resources/Textures/Objects/Materials/ore.rsi/copper.png
  Resources/Textures/Objects/Materials/ore.rsi/lead-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/lead-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/lead.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_lead.png
Owners: @JerryImMouse

Баланс ЗаконШкафа (#2001)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
Owners: @JerryImMouse

ID после ADT tweak
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Owners: @JerryImMouse

Фикс сеньоров
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Owners: @JerryImMouse

разметка
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Owners: @JerryImMouse
