Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

Помогаем
  Resources/Prototypes/Entities/Objects/Tools/crowbars.yml
Owners: @Morb0

Update handmade_crowbar.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/handmade_crowbar.yml
Owners: @Morb0

Update improvised.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
Owners: @Morb0

Rename handmade_crowbar.yml to handmade_tools.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/handmade_tools.yml
Owners: @Morb0

Перенес крафт в категорию инструментов
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
Owners: @Morb0

Ревью 1: Сортировка .ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/marble.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/marble_structures/marble_lady.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/marble_structures/marble_peacemaker.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/marble_structures/marble_pillar.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/marble_structures/marble_stand.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/marble_structures/marble_structures.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/marble_structures/marblelady_flower.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/marble_structures/marbleman.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/marble_structures/marmandmg.ftl
  Resources/Prototypes/ADT/Decals/marble_decales.yml
  Resources/Prototypes/ADT/Entities/Objects/Materials/marble.yml
Owners: @ficcialfaint, @Morb0

Самодельные инструменты (#998)
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/handmade_tools.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Entities/Objects/Tools/crowbars.yml
Owners: @Morb0

Попытка починить 1
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/handmade_tools.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Entities/Objects/Tools/crowbars.yml
Owners: @Morb0

g
  Content.Client/ADT/BoomBox/Systems/BoomBoxClientSystem.cs
  Content.Server/ADT/Boombox/BoomBoxComponent.cs
  Content.Server/ADT/Boombox/BoomBoxSystem.cs
  Content.Shared/ADT/Boombox/SharedBoomBox.cs
Owners: @Morb0

грёбаные ивенты
  Content.Server/ADT/Combat/Systems/ComboSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/ADT/Combat/ComboEvents.cs
  Content.Shared/ADT/Combat/Components/ComboComponent.cs
  Content.Shared/ADT/Combat/Systems/ComboSystem.cs
  Content.Shared/ADT/Crawling/Components/CrawlerComponent.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Owners: @Morb0

[MAPPING] Обновление карт 14.02.25
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_saltern.yml
Owners: @Ko4ergaPunk

fix: Фикс ямлинтера
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/loveland.yml
Owners: @Morb0

[MAPPING] Любовьвенды на картах ко Дню Святого Валентина
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_box.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_marathon.yml
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
  Resources/Maps/ADTMaps/ADTStations/adt_saltern.yml
Owners: @Ko4ergaPunk

Правки
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/loveland.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Service/loveland.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/loveday_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/meta.json
Owners: @ficcialfaint, @Morb0

Правки
  Resources/Prototypes/ADT/Entities/Objects/Specific/Service/bouquets.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/loveday_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/meta.json
Owners: @Morb0

YAML
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/Recipes/Crafting/bouquet.yml
Owners: @Morb0

add(scr): Добавлен новый Verb "Scale" в трюки для администрации с флагом VarEdit
  Content.Server/ADT/Administration/Systems/AddADTTricksVerbs.cs
  Content.Server/ADT/Administration/Systems/AdminADTSmitesVerbs.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Resources/Locale/ru-RU/ADT/administration/verbs.ftl
Owners: @Morb0, @ficcialfaint

add(src): Добавлены аналоги команды playtime но с приставкой "_as" на конце, которые работают асинхронно ни с сессией игрока а по его GUID
  Content.Server/ADT/Administration/Commands/PlayTimeRoleDataBaseCommand.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
Owners: @Morb0

Ревью 2: Сортировал и переделал статуи
  Resources/Prototypes/ADT/Entities/Structures/Decorations/marble_structures/marble_lady.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/marble_structures/marble_lady_flower.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/marble_structures/marble_pillar.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/marble_structures/marble_stand.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/marble_structures/marble_statues.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/marble_structures/marbleman.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/marble_structures/marblemandamage.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/marble_structures/peacemaker.yml
Owners: @Morb0

Update lobby.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Owners: @Morb0

Update modules.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Owners: @Morb0

Update modules.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Owners: @Morb0

fix: Фикс шёпота
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
Owners: @Morb0

Цветы в руках (#1098)
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Service/bouquets.yml
  Resources/Prototypes/ADT/Recipes/Crafting/bouquet.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/loveday_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/meta.json
Owners: @Morb0

Small ixes (#1101)
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Owners: @Morb0

Ревью 3: Меняем копирайт спрайтов
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/meta.json
  Resources/Textures/ADT/Objects/Materials/marble.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marble_lady.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marble_stand.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marblelady_flower.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marbleman.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marblemandamage.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/peacemaker.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/pillar_marble.rsi/meta.json
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/meta.json
Owners: @Morb0

refactor(code): Выполнение требований ревью
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
Owners: @Morb0

Fix: Фикс шёпота (#1102)
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
Owners: @Morb0

final_final
  Content.Server/ADT/Anomaly/Effects/StaticAnomaly/FakeStaticTVSystem.cs
  Content.Shared/ADT/Anomaly/Effects/StaticAnomaly/NervousSource.cs
  Content.Shared/ADT/Anomaly/Effects/StaticAnomaly/StaticAnomalyComponent.cs
  Resources/Prototypes/ADT/Entities/Misc/staticTV.yml
Owners: @Morb0

hotfix
  Resources/Audio/ADT/Ambience/static_anomaly.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Specific/anomaly/anomalies.ftl
  Resources/Prototypes/ADT/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
Owners: @Morb0, @ficcialfaint

delete_other
  Resources/Textures/ADT/Structures/Specific/Anomalies/static_anum.rsi/core(unlumy).png
  Resources/Textures/ADT/Structures/Specific/Anomalies/static_anum.rsi/core1(unlumy).png
  Resources/Textures/ADT/Structures/Specific/Anomalies/static_anum.rsi/pulse_virus(unlumy).png
  Resources/Textures/ADT/Structures/Specific/Anomalies/static_anum.rsi/virus(unlumy).png
Owners: @Morb0

СУКА Я СДЕЛАЛ НАХУЙ.
  Content.Server/ADT/Spreader/SupermatterKudzuSystem.cs
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Owners: @Morb0

Забыл логирование убрать блятьб
  Content.Server/ADT/Spreader/SupermatterKudzuSystem.cs
Owners: @Morb0

Фикс локали и небольшие приколы со спрайтами.
  Content.Server/ADT/Spreader/SupermatterKudzuComponent.cs
  Content.Server/ADT/Spreader/SupermatterKudzuSystem.cs
  Resources/Locale/ru-RU/ADT/Supermatter/supermatter.ftl
  Resources/ServerInfo/ADT/Guidebook/Supermatter/Supermatter.xml
  Resources/Textures/ADT/Objects/Misc/supermatter_kudzu.rsi/kudzu_11.png
  Resources/Textures/ADT/Objects/Misc/supermatter_kudzu.rsi/kudzu_12.png
  Resources/Textures/ADT/Objects/Misc/supermatter_kudzu.rsi/kudzu_13.png
Owners: @Morb0, @ficcialfaint

tweak(src): Чучуть улучшаю функционал StationGoalCommand, добавлено оповещение ЦК при высылании новой цели
  Content.Server/Corvax/StationGoal/StationGoalCommand.cs
  Resources/Locale/ru-RU/ADT/administration/commands.ftl
Owners: @Morb0, @ficcialfaint

Начало делать цель сранную
  Content.Server/Objectives/Components/CascadeConditionComponent.cs
  Content.Server/Objectives/Systems/CascadeConditionSystem.cs
  Resources/Locale/ru-RU/ADT/Supermatter/supermatter.ftl
  Resources/Prototypes/Objectives/traitor.yml
Owners: @Morb0, @ficcialfaint

fix(proto): ClothingOuterArmorHeretic фикс прототипа брони еретика
  Resources/Prototypes/ADT/Heretic/Entities/Clothing/OuterClothing/armor.yml
Owners: @Morb0

tweak(src): Просто закоменченна подписка на ивент GotEmaggedEvent в VendingMachineSystem
  Content.Server/VendingMachines/VendingMachineSystem.cs
Owners: @Morb0

fix(proto): Убираю ClothingShoesBootsMoon из id: ScienceClothing
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
Owners: @Morb0

add(proto): Добавлена именная вещь Anvel
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/polaroid_anvel.rsi/icon.png
  Resources/Textures/ADT/Personalization/polaroid_anvel.rsi/meta.json
Owners: @ficcialfaint, @Morb0

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk
