Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

АДТ ТВИАК
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

А
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Owners: @JerryImMouse

Update lavaland.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

Update lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

Изменения баланса аплинка
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
Owners: @JerryImMouse

Update lavaland.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

IPC Great Refactor part 2
  Content.Server/Power/Components/ChargerComponent.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/silicon_chargers.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/base.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgcharger-u0.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgcharger-u1.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgcharger0.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgcharger1.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgcharger2.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgcharger3.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgcharger_1.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgcharger_2.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgcharger_unlit.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgdecon1.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgdecon2.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/borgdecon3.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/closed.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/open.png
Owners: @JerryImMouse

Небольшие фиксы ямл линтера
  Resources/Prototypes/ADT/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/timepatrol_startinggear.yml
  Resources/migration.yml
Owners: @JerryImMouse

Ладно кодрэббит, так уж и быть
  Content.Server/ADT/IPC/Components/SiliconEmitSoundOnDrainedComponent.cs
Owners: @JerryImMouse

Небольшой патч
  Content.Server/Power/Components/ChargerComponent.cs
  Resources/Prototypes/ADT/Entities/Structures/Machines/silicon_chargers.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Owners: @JerryImMouse

Update lavaland.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

Update projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Owners: @JerryImMouse

Update Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

Update lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

Update lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

Update lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

Update lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @JerryImMouse

Update asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Owners: @JerryImMouse

Ребаланс монстров лаваленда часть 1 (#1742)
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/ADT/mining_shop.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Owners: @JerryImMouse

update-wiki.yml
  .github/workflows/update-wiki.yml
Owners: @JerryImMouse

Акцент
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

fix
  .github/workflows/update-wiki.yml
Owners: @JerryImMouse

add: Фильтр датчиков по отделам, новый мониторинг бригмедика
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/brigmedic_crew_monitor.ftl
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/brigmedic_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner-inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner-inhand-right.png
Owners: @JerryImMouse, @ficcialfaint

фикс
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

[Fix] Попытка в починку Вики (#1912)
  .github/workflows/update-wiki.yml
Owners: @JerryImMouse

убран: "Ты"
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Owners: @JerryImMouse

version -> dept
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/brigmedic_crew_monitor.yml
Owners: @JerryImMouse

add: Монитор бригмедика (перезалив)
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/brigmedic_crew_monitor.ftl
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/brigmedic_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner-inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner-inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Medical/brigmedic_handheldcrewmonitor.rsi/scanner.png
Owners: @JerryImMouse, @ficcialfaint

[TWEAK] Chaplain-Candles QoL (#1896)
  Content.Server/ADT/Chaplain/Systems/ChaplainSystem.cs
  Resources/Locale/ru-RU/ADT/chaplain/chaplain.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Actions/chaplain.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/candles.ftl
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
Owners: @JerryImMouse, @ficcialfaint

Фикс бага с улучшениями для протокинетики (#1844)
  Content.Shared/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
Owners: @metalgearsloth

- fix(src): Фикс спонсорки, капитан теперь всегда будет выдаваться
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
Owners: @JerryImMouse

- Возращено сравнение по локальному времени
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
Owners: @JerryImMouse

[Fix Sponsor] Корректная выдача Я КАПИТАНА при истёкшей спонсорке (#1915)
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
Owners: @JerryImMouse

hopefully finished project
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/healing.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/chemistry-bottles.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
Owners: @ficcialfaint, @JerryImMouse

minokaa suggestions implemented
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
Owners: @JerryImMouse

Добавление шприцемета с баночкой ромерола в набор зомби вируса синдиката (#1916)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/healing.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/chemistry-bottles.ftl
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Owners: @ficcialfaint, @JerryImMouse

вроде пофиксил
  Resources/Prototypes/ADT/Entities/Structures/Power/chargers.yml
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/icon.png
  Resources/Textures/ADT/Structures/Machines/borgcharger.rsi/meta.json
Owners: @JerryImMouse

add: Монитор щита
  Resources/Textures/ADT/Objects/Specific/Medical/blueshield_handheldcrewmonitor.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Medical/blueshield_handheldcrewmonitor.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Medical/blueshield_handheldcrewmonitor.rsi/scanner-inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Medical/blueshield_handheldcrewmonitor.rsi/scanner-inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Medical/blueshield_handheldcrewmonitor.rsi/scanner.png
Owners: @JerryImMouse

tweak: ID, Locker, прототип
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/brigmedic_crew_monitor.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/brigmedic_crew_monitor.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
Owners: @ficcialfaint, @JerryImMouse

Update handheld_crew_monitor.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
Owners: @JerryImMouse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
