Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

- add(src): Добавлена запись рекордов
  Content.Client/ADT/Minesweeper/MinesweeperBoundUserInterface.cs
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
  Content.Server/ADT/GameSaper/MinesweeperSystem.cs
  Content.Shared/ADT/GameSaper/MinesweeperBoundUserInterfaceState.cs
  Content.Shared/ADT/GameSaper/MinesweeperComponent.cs
Owners: @JerryImMouse

- remove(src): Удалён стейт
  Content.Shared/ADT/GameSaper/MinesweeperBoundUserInterfaceState.cs
Owners: @JerryImMouse

Update structures.yml
  Resources/Prototypes/ADT/Recipes/Construction/structures.yml
Owners: @JerryImMouse

- add(src): Синхронизация со всеми аркадами на сервере
  Content.Server/ADT/GameSaper/MinesweeperSystem.cs
  Content.Shared/ADT/GameSaper/MinesweeperComponent.cs
Owners: @JerryImMouse

- add(src): Сортируем рекорды по минимальному времени
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
Owners: @JerryImMouse

- style: Удалена пустая строка
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
Owners: @JerryImMouse

Update Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/computer.yml
Owners: @JerryImMouse

okak.
  Content.Shared/ADT/Combat/Components/ComboWeaponComponent.cs
  Content.Shared/ADT/Combat/Systems/ComboWeaponSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Textures/ADT/Objects/Weapons/Melee/b-sword.rsi/b_sword_blade.png
  Resources/Textures/ADT/Objects/Weapons/Melee/b-sword.rsi/icon-of.png
  Resources/Textures/ADT/Objects/Weapons/Melee/b-sword.rsi/icon-prot.png
  Resources/Textures/ADT/Objects/Weapons/Melee/b-sword.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/b-sword.rsi/meta.json
Owners: @JerryImMouse

Update alphabet.yml
  Resources/Prototypes/ADT/Decals/alphabet.yml
Owners: @JerryImMouse

tweak (scr): добавил try catch функцию
  Content.Server/Ghost/GhostSystem.cs
Owners: @JerryImMouse

да мне лень уже писать эти ваши коммиты
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
Owners: @JerryImMouse

попробуем ещё вот так
  Content.Server/Ghost/GhostSystem.cs
Owners: @JerryImMouse

- refactor(src): Рефактор MinesweeperSystem
  Content.Server/ADT/GameSaper/MinesweeperSystem.cs
Owners: @JerryImMouse

- remove(src): Удалены закомментированые строки в компоненте
  Content.Shared/ADT/GameSaper/MinesweeperComponent.cs
Owners: @JerryImMouse

- tweak(proto): Аркада добавлена в рандомный спавнер RandomArcade, и изменён её ID
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/Computers/computers.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/arcade.yml
Owners: @ficcialfaint, @JerryImMouse

- style: Правка комментов в xaml
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml
Owners: @JerryImMouse

Ну нифига себе код рэббит дает
  Content.Server/Ghost/GhostSystem.cs
Owners: @JerryImMouse

The Greatest Ghost Return (#1675)
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Owners: @JerryImMouse, @DrSmugleaf

Удалил изучение Индустриального СМЭСа
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
Owners: @JerryImMouse

Update Resources/Prototypes/Entities/Markers/Spawners/Random/arcade.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/arcade.yml
Owners: @JerryImMouse

Удалил плату и крафт СМЭСа
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Structures/Power/industrialSMES.yml
  Resources/Prototypes/ADT/Recipes/Lathes/electronics.yml
Owners: @JerryImMouse

заебало
  Content.Server/ADT/Modsuit/Systems/ModSuitVoucher.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitVoucherComponent.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitVoucherSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/misc_voucher.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Textures/ADT/Objects/Specific/Modsuits/voucher.rsi/base-two.png
  Resources/Textures/ADT/Objects/Specific/Modsuits/voucher.rsi/base.png
  Resources/Textures/ADT/Objects/Specific/Modsuits/voucher.rsi/meta.json
Owners: @JerryImMouse

little fix + try update SM console
  Content.Client/ADT/Supermatter/Consoles/SupermatterEntryContainer.xaml.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
Owners: @JerryImMouse, @DrSmugleaf

БИПСКИ
  Content.Server/ADT/NPC/NTH/EntityWhitelistOperator.cs
  Content.Server/ADT/NPC/NTH/ForceHandcuffOperator.cs
  Content.Server/ADT/NPC/NTH/PickNearbyWantedOperator.cs
  Content.Server/ADT/NPC/NTH/SendRadioOperator.cs
  Content.Server/ADT/NPC/NTH/TargetStunnedPrecondition.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/NPC/NPCBlackboard.cs
  Content.Shared/Contraband/ContrabandComponent.cs
  Content.Shared/CriminalRecords/CriminalRecord.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsSystem.cs
  Content.Shared/Cuffs/Components/CanForceHandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Security/Components/CriminalRecordComponent.cs
  Content.Shared/Security/Systems/CriminalStatusSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Audio/ADT/Voice/Silicon/Beepsky/beepskyspinsabre.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/criminal.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/iamthelaw.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/justice.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/secureday.ogg
  Resources/Locale/ru-RU/ADT/Interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ADT/npc/beepsky.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/silicon.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/bots.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/ADT/NPCs/secbot.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/bots.yml
  Resources/Prototypes/ADT/Recipes/Crafting/bots.yml
  Resources/Prototypes/ADT/SoundCollections/beepsky.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Textures/ADT/Mobs/Silicon/Bots/securitron.rsi/meta.json
  Resources/Textures/ADT/Mobs/Silicon/Bots/securitron.rsi/secbot.png
  Resources/Textures/ADT/Mobs/Silicon/Bots/securitron.rsi/secbot_charged.png
Owners: @JerryImMouse, @metalgearsloth, @ficcialfaint, @DrSmugleaf

Подправил
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/silicon.yml
Owners: @JerryImMouse

okay...
  Content.Server/ADT/Supermatter/Systems/SupermatterProcessingSystem.cs
Owners: @JerryImMouse

Исправления
  Content.Server/ADT/NPC/NTH/EntityWhitelistOperator.cs
  Content.Server/ADT/NPC/NTH/ForceHandcuffOperator.cs
  Content.Server/ADT/NPC/NTH/PickNearbyWantedOperator.cs
  Resources/Locale/ru-RU/ADT/recipes/tag.ftl
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/bots.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Owners: @JerryImMouse, @ficcialfaint

Без комментариев
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/bots.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Owners: @JerryImMouse

Эээ ладно
  Resources/Locale/ru-RU/ADT/recipes/tag.ftl
Owners: @ficcialfaint

Бипски теперь дает отпор
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/ADT/NPCs/secbot.yml
Owners: @JerryImMouse

БИПСКИ (#1827)
  Content.Server/ADT/NPC/NTH/EntityWhitelistOperator.cs
  Content.Server/ADT/NPC/NTH/ForceHandcuffOperator.cs
  Content.Server/ADT/NPC/NTH/PickNearbyWantedOperator.cs
  Content.Server/ADT/NPC/NTH/SendRadioOperator.cs
  Content.Server/ADT/NPC/NTH/TargetStunnedPrecondition.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/NPC/NPCBlackboard.cs
  Content.Shared/Contraband/ContrabandComponent.cs
  Content.Shared/CriminalRecords/CriminalRecord.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsSystem.cs
  Content.Shared/Cuffs/Components/CanForceHandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Security/Components/CriminalRecordComponent.cs
  Content.Shared/Security/Systems/CriminalStatusSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Audio/ADT/Voice/Silicon/Beepsky/beepskyspinsabre.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/criminal.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/iamthelaw.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/justice.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/secureday.ogg
  Resources/Locale/ru-RU/ADT/Interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ADT/npc/beepsky.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/silicon.ftl
  Resources/Locale/ru-RU/ADT/recipes/tag.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/bots.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/ADT/NPCs/secbot.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/bots.yml
  Resources/Prototypes/ADT/Recipes/Crafting/bots.yml
  Resources/Prototypes/ADT/SoundCollections/beepsky.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Textures/ADT/Mobs/Silicon/Bots/securitron.rsi/meta.json
  Resources/Textures/ADT/Mobs/Silicon/Bots/securitron.rsi/secbot.png
  Resources/Textures/ADT/Mobs/Silicon/Bots/securitron.rsi/secbot_charged.png
Owners: @JerryImMouse, @metalgearsloth, @ficcialfaint, @DrSmugleaf

- refactor: Папка GameSaper заменена на Minesweeper на сервере, и отсортированы переменные в клиенте
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
  Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
Owners: @JerryImMouse

- tweak: В MinesweeperBoundUserInterface изменён неймеспейс на правильный
  Content.Client/ADT/Minesweeper/MinesweeperBoundUserInterface.cs
Owners: @JerryImMouse

- style: Правки по ревью
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
Owners: @JerryImMouse

- style: Убран _entityManager БЕЗ НЕГО Dirty тоже работает
  Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
Owners: @JerryImMouse

- style: Правки комментариев
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
  Content.Shared/ADT/GameSaper/MinesweeperComponent.cs
Owners: @JerryImMouse

- refactor: Добавлена локаль, правки стилей и комментариев, добавлено взаимодейтсиве с полями через ПКМ для установки флага на поля
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
  Content.Shared/ADT/Minesweeper/MinesweeperComponent.cs
  Content.Shared/ADT/Minesweeper/MinesweeperUiKey.cs
  Resources/Locale/ru-RU/ADT/user-interface/minesweeper.ftl
Owners: @JerryImMouse, @ficcialfaint

- add: Добавлен звук ogg при проигрыше
  Content.Client/ADT/Minesweeper/MinesweeperWindow.xaml.cs
  Content.Server/ADT/Minesweeper/MinesweeperSystem.cs
  Content.Shared/ADT/Minesweeper/MinesweeperComponent.cs
  Resources/Audio/ADT/Machines/minesweeaper_lost_boom.ogg
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/arcades.yml
Owners: @JerryImMouse

Update statues.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/statues.yml
Owners: @JerryImMouse

Update statues.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/statues.ftl
Owners: @ficcialfaint
