Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

Больше переименований
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/ADT/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/exoskeletons.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/jumpboots.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/handheld.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/IAAcane.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/bats.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/cleawing_saw.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
Owners: @JerryImMouse

небольшая правка
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Mobs/Silicon/chassis.rsi/meta.json
Owners: @JerryImMouse

фикс всего
  Content.Server/Explosion/Components/TimerStartOnSignalComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Signal.cs
  Resources/Locale/en-US/ADT/traits/disabilities.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Tools/pka_upgrade.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/LauncherHydra.ftl
  Resources/Locale/ru-RU/ADT/recipes/tag.ftl
  Resources/Locale/ru-RU/ADT/research/technologies.ftl
  Resources/Locale/ru-RU/ADT/traits/disabilities.ftl
  Resources/Locale/ru-RU/cargo/cargo-department-console.ftl
  Resources/Locale/ru-RU/cargo/cargo-order-crates.ftl
  Resources/Locale/ru-RU/corvax/markings/tajaran.ftl
  Resources/Locale/ru-RU/markings/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/desynchronizer_effecs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/box.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/silo.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-effects.ftl
  Resources/Prototypes/ADT/Actions/lava.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Lavaland/lavalandplants.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Body/Organs/vox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
Owners: @JerryImMouse, @ficcialfaint, @DrSmugleaf

tweak: Таблетки и Бутылки разделены на два тайтла в TabContainer
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
Owners: @JerryImMouse, @ficcialfaint

fix: Теперь ячейки не перееобновляются когда не нужно (Есть баг в выборе реагента)
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
Owners: @JerryImMouse, @ficcialfaint

add(proto): Спонсорские вещи Мелимы
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/melima_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/melima_dress.rsi/icon.png
  Resources/Textures/ADT/Personalization/melima_dress.rsi/meta.json
  Resources/Textures/ADT/Personalization/saeros_klevetz.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/saeros_klevetz.rsi/icon.png
  Resources/Textures/ADT/Personalization/saeros_klevetz.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/saeros_klevetz.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/saeros_klevetz.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_dianasaeros.png
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_melimasaeros.png
Owners: @ficcialfaint, @JerryImMouse

Update Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/personalization.ftl
Owners: @ficcialfaint

salo
  Content.Server/Salvage/Magnet/SalvageMagnetDataComponent.cs
  Content.Shared/CCVar/CCVars.Salvage.cs
  Content.Shared/Salvage/Fulton/FultonComponent.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/trash.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Prototypes/ADT/Actions/materialarts.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
  Resources/Prototypes/ADT/Research/biochemical.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Tools/fulton.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Owners: @JerryImMouse, @ficcialfaint

Update SalvageMagnetDataComponent.cs
  Content.Server/Salvage/Magnet/SalvageMagnetDataComponent.cs
Owners: @JerryImMouse

Update crushers.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
Owners: @JerryImMouse

Update xeno.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Owners: @JerryImMouse

Tweaks to species sizes (#250)
  Content.Server/ADT/SizeAttribute/SizeAttributeWhitelistComponent.cs
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Owners: @JerryImMouse, @ficcialfaint, @DrSmugleaf

Update SalvageMagnetDataComponent.cs
  Content.Server/Salvage/Magnet/SalvageMagnetDataComponent.cs
Owners: @JerryImMouse

Delete Content.Server/Salvage/Magnet/SalvageMagnetDataComponent.cs
  Content.Server/Salvage/Magnet/SalvageMagnetDataComponent.cs
Owners: @JerryImMouse

Update CCVars.Salvage.cs
  Content.Shared/CCVar/CCVars.Salvage.cs
Owners: @JerryImMouse

Update fulton.yml
  Resources/Prototypes/Entities/Objects/Tools/fulton.yml
Owners: @JerryImMouse

Update hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @JerryImMouse

Update FultonComponent.cs
  Content.Shared/Salvage/Fulton/FultonComponent.cs
Owners: @JerryImMouse

fuck im idiot
  Content.Server/Salvage/Magnet/SalvageMagnetDataComponent.cs
Owners: @JerryImMouse

fuck!!
  Resources/Prototypes/game_presets.yml
Owners: @JerryImMouse

init
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule8.xml
Owners: @JerryImMouse

[RULE] Добавил пункт о запрете убийства в первые 30 минут в 8 правило (#1992)
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule8.xml
Owners: @JerryImMouse

ползание
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Server/ADT/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Shared/ADT/Combat/Systems/ComboSystem.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Content.Shared/ADT/PickupHumans/Systems/SharedPickupHumansSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Stunnable/KnockedDownComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.Knockdown.cs
  Resources/keybinds.yml
Owners: @JerryImMouse

Фикс акшионов
  Resources/Prototypes/ADT/Actions/Abomination.yml
  Resources/Prototypes/ADT/Actions/XenoQueen.yml
  Resources/Prototypes/ADT/Actions/_TornadoTech/actions.yml
  Resources/Prototypes/ADT/Actions/baloon.yml
  Resources/Prototypes/ADT/Actions/borgs.yml
  Resources/Prototypes/ADT/Actions/changeling.yml
  Resources/Prototypes/ADT/Actions/chaplain.yml
  Resources/Prototypes/ADT/Actions/cloak.yml
  Resources/Prototypes/ADT/Actions/componental_actions.yml
  Resources/Prototypes/ADT/Actions/fishing.yml
  Resources/Prototypes/ADT/Actions/ghost.yml
  Resources/Prototypes/ADT/Actions/implants.yml
  Resources/Prototypes/ADT/Actions/ipc.yml
  Resources/Prototypes/ADT/Actions/jumpboots.yml
  Resources/Prototypes/ADT/Actions/lava.yml
  Resources/Prototypes/ADT/Actions/materialarts.yml
  Resources/Prototypes/ADT/Actions/mech.yml
  Resources/Prototypes/ADT/Actions/mimicry.yml
  Resources/Prototypes/ADT/Actions/morph.yml
  Resources/Prototypes/ADT/Actions/phantom.yml
  Resources/Prototypes/ADT/Actions/poltergeist.yml
  Resources/Prototypes/ADT/Actions/resomi.yml
  Resources/Prototypes/ADT/Actions/shadekin.yml
  Resources/Prototypes/ADT/Actions/slime.yml
  Resources/Prototypes/ADT/Actions/slimecatSleep.yml
  Resources/Prototypes/ADT/Actions/station_ai.yml
  Resources/Prototypes/ADT/Actions/turrets.yml
  Resources/Prototypes/ADT/Actions/types.yml
  Resources/Prototypes/ADT/Actions/vision.yml
Owners: @JerryImMouse

Окончательно починил
  Resources/Textures/Structures/Storage/Crates/science.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/science.rsi/open.png
  Resources/Textures/Structures/Storage/closet.rsi/bio_sci_door.png
  Resources/Textures/Structures/Storage/closet.rsi/robo_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/sci_wardrobe_door.png
  Resources/Textures/Structures/Storage/closet.rsi/science.png
  Resources/Textures/Structures/Storage/closet.rsi/science_door.png
Owners: @JerryImMouse

add(proto): Каска куроегора
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/icon.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/light-icon.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/meta.json
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/off-equipped-HELMET.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/off-inhand-left.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/off-inhand-right.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/on-equipped-HELMET.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/on-inhand-left.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/on-inhand-right.png
Owners: @ficcialfaint, @JerryImMouse

Update Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/personalization.ftl
Owners: @ficcialfaint

[SPONSOR] Спонсорские вещи от 29.09.2025 (#1990)
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/icon.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/light-icon.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/meta.json
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/off-equipped-HELMET.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/off-inhand-left.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/off-inhand-right.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/on-equipped-HELMET.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/on-inhand-left.png
  Resources/Textures/ADT/Personalization/blue_armored_hardhat.rsi/on-inhand-right.png
  Resources/Textures/ADT/Personalization/melima_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/melima_dress.rsi/icon.png
  Resources/Textures/ADT/Personalization/melima_dress.rsi/meta.json
  Resources/Textures/ADT/Personalization/saeros_klevetz.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/saeros_klevetz.rsi/icon.png
  Resources/Textures/ADT/Personalization/saeros_klevetz.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/saeros_klevetz.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/saeros_klevetz.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_dianasaeros.png
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_melimasaeros.png
Owners: @ficcialfaint, @JerryImMouse

revert dwarf
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
Owners: @DrSmugleaf

фикс от миба
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
Owners: @JerryImMouse

genpop
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_1.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_2.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_3.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_4.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_5.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_6.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_7.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_8.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_open.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/meta.json
Owners: @JerryImMouse

фиксы ползания и не только
  Content.Shared/ADT/Crawling/Components/CrawlerComponent.cs
  Content.Shared/ADT/Crawling/Components/CrawlingComponent.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
Owners: @JerryImMouse

little-fix
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
Owners: @JerryImMouse

тотальний crawling
  Content.Client/ADT/Crawling/CrawlingSystem.cs
  Content.Shared/ADT/Combat/ComboEffects.cs
Owners: @JerryImMouse

little-fixes
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/meta.json
Owners: @JerryImMouse, @DrSmugleaf

бла бла бла
  Content.Client/ADT/Mining/Systems/GibtoniteSystem.cs
  Content.Server/ADT/Mining/Systems/GibtoniteSystem.cs
  Content.Shared/ADT/Mining/Components/GibtoniteComponent.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/gibtonite.ftl
  Resources/Prototypes/ADT/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/ADT/Entities/Structures/Walls/meteor.yml
Owners: @JerryImMouse, @ficcialfaint

допустим
  Resources/Prototypes/ADT/Actions/lava.yml
Owners: @JerryImMouse

рейджбайт миба
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_box.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_marathon.yml
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
  Resources/Maps/ADTMaps/ADTStations/adt_saltern.yml
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
  Resources/Maps/ADTMaps/Ghostbars/calm_ghostly_bar.yml
  Resources/Maps/ADTMaps/Ghostbars/ghostbar_goob.yml
  Resources/Maps/ADTMaps/Ghostbars/ratbar.yml
  Resources/Maps/ADTMaps/Nonstation/shelters.yml
  Resources/Maps/ADTMaps/Nonstation/voxbase.yml
  Resources/Maps/ADTMaps/Ruins/lavadunges.yml
  Resources/Maps/ADTMaps/Salvage/piece_debris_med.yml
  Resources/Maps/ADTMaps/Shuttles/CBUN.yml
  Resources/Maps/ADTMaps/Shuttles/Ian.yml
  Resources/Maps/ADTMaps/Shuttles/genesis.yml
  Resources/Prototypes/ADT/Actions/lava.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/Megafauna/BloodMiner.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Attachments/Actions/actions.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/vending_machines.yml
Owners: @Ko4ergaPunk, @JerryImMouse

вобла
  Resources/Prototypes/ADT/Entities/Objects/Devices/translators.yml
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/medical.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/salvage.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/spatio.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/wizard.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Misc/redwizard.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Misc/wizard.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/wielded-inhand-right.png
Owners: @JerryImMouse

Перенос эффектов в шейред
  Content.Server/ADT/Hallucinations/EntityEffects/HallucinationsEffect.cs
  Content.Server/EntityEffects/EntityEffectSystem.cs
  Content.Shared/ADT/Chemistry/HasComponentCondition.cs
  Content.Shared/ADT/Hallucinations/HallucinationsEffect.cs
  Resources/Prototypes/Reagents/narcotics.yml
Owners: @JerryImMouse
