Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk

Update magic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
Owners: @Morb0

восстанавливаем коленки инвалидам
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Revolvers/saber_revolvers.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Owners: @Morb0

чутка баффаем осщ
  Resources/Prototypes/ADT/Entities/Objects/Power/powercell.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Revolvers/saber_revolvers.yml
Owners: @Morb0

style(src): мелкая правка в абилках ревенанта
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
Owners: @Morb0

fix(src): Фикс от визов, #34825
  Content.Client/StatusIcon/StatusIconSystem.cs
Owners: @Morb0

fix(src): Фикс конфликтов с экономикой, ивент Emag для VendingMachine перенесли с Сервере в Шейрад
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
Owners: @Morb0

style(proto): Просто подписаны комменты в автолатах к нашим пакам
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Owners: @Morb0

[TWEAK] Время на АВД и Магистрата (#1116)
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Owners: @Morb0

fix(proto): SheetRGlass фикс рецепта. Билд-тест
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Owners: @Morb0

Melee rework 1/4: combo system (#1108)
  Content.Server/ADT/AddComponentsOnUse/Components/AddComponentsOnUseComponent.cs
  Content.Server/ADT/AddComponentsOnUse/Systems/AddComponentsOnUseSystem.cs
  Content.Server/ADT/Combat/Systems/ComboSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/ADT/CantShoot/Components/CantShootComponent.cs
  Content.Shared/ADT/CantShoot/Systems/CantShootSystem.cs
  Content.Shared/ADT/Combat/ComboComponentParts.cs
  Content.Shared/ADT/Combat/ComboEffects.cs
  Content.Shared/ADT/Combat/Components/ComboComponent.cs
  Content.Shared/ADT/Combat/Systems/ComboSystem.cs
  Content.Shared/ADT/Crawling/Components/CrawlerComponent.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Audio/ADT/Misc/ui_togglecombat.ogg
  Resources/Audio/ADT/Misc/ui_toggleoffcombat.ogg
  Resources/Locale/ru-RU/ADT/CantShoot/cant-shoot-popups.ftl
  Resources/Locale/ru-RU/ADT/Combo/combo_end_popup.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/material_arts.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Power/powercell.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Revolvers/saber_revolvers.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/cqc.png
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/ptrc.png
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/sleeping_carp.png
Owners: @Morb0, @ficcialfaint

фикс локали
  Resources/Locale/ru-RU/ADT/CantShoot/cant-shoot-popups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/material_arts.ftl
Owners: @ficcialfaint

РУССКИЙ ЯЗЫК
  Resources/Locale/ru-RU/ADT/CantShoot/cant-shoot-popups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/material_arts.ftl
Owners: @ficcialfaint

фикс локали (#1118)
  Resources/Locale/ru-RU/ADT/CantShoot/cant-shoot-popups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/material_arts.ftl
Owners: @ficcialfaint

tweak(src): просто передвинул альт верб Арум чуть ниже
  Content.Server/ADT/Administration/Systems/AdminVariableTestArenaVerbs.cs
Owners: @Morb0

[FIX] просто передвинул альт верб Арум чуть ниже (#1120)
  Content.Server/ADT/Administration/Systems/AdminVariableTestArenaVerbs.cs
Owners: @Morb0

fix(map, proto): Фикс Cog rename in Convex
  Resources/Prototypes/Maps/convex.yml
Owners: @Ko4ergaPunk

3 BugFixes: Вавилок книга, паучий имплантер, церковный стеклянный шлюз
  Resources/Prototypes/ADT/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Salvage/lavaland_loot.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlock/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Owners: @Morb0

fixes
  Content.Shared/ADT/CantShoot/Systems/CantShootSystem.cs
  Content.Shared/ADT/Combat/ComboEffects.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
Owners: @Morb0

чутка чистим систему кравлинга
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
Owners: @Morb0

fix(src, proto): Фиксы всех наших систем после рефактора LoadMap. Eva-helmets небольшие фиксы в прототипе
  Content.Server/ADT/AdditionalMapLoader/AdditionalMapLoaderSystem.cs
  Content.Server/ADT/Administration/Commands/SendERTCommand.cs
  Content.Server/ADT/Administration/Systems/AdminTestArenaVariableSystem.cs
  Content.Server/ADT/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/ADT/Ghostbar/Systems/GhostBarSystem.cs
  Content.Server/ADT/Planet/PlanetSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
Owners: @Morb0

fix(proto): Изменяю везде parent: с ClothingHeadHardsuitWithLightBase на ClothingHeadSuitWithLightBase, Пр визардов #34657
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Owners: @Morb0

fix(src): Фикс загрузки админ арен. Теперь это работает
  Content.Server/ADT/Administration/Systems/AdminTestArenaVariableSystem.cs
  Content.Server/ADT/Planet/PlanetSystem.cs
  Content.Server/ADT/Station/Systems/StationPlanetSpawnerSystem.cs
Owners: @Morb0

фикс бага
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Shotguns/shotguns.yml
Owners: @Morb0

Фикс бага с тростью-ружьём (#1124)
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Shotguns/shotguns.yml
Owners: @Morb0

fix(src, map): Исправлен спавн ГостБара, карта calm_ghostly_bar.yml теперь является именно картой а не гридом.
  Content.Server/ADT/Ghostbar/Systems/GhostBarSystem.cs
  Resources/Maps/ADTMaps/Ghostbars/calm_ghostly_bar.yml
  Resources/Maps/packed.yml
Owners: @Morb0, @Ko4ergaPunk

fix(proto): Тестовый фикс дебаг-теста
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Owners: @Morb0

Revert "fix(proto): Тестовый фикс дебаг-теста"
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Owners: @Morb0

fix(map): delete shield on packed map
  Resources/Maps/packed.yml
Owners: @Ko4ergaPunk

фиксы тестов(не всех)
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Research/industrial.yml
Owners: @Morb0

fix(map): Fix, закомменчен компонент
  Resources/Maps/packed.yml
Owners: @Ko4ergaPunk

fix(map): Commented - type: Blocking
  Resources/Maps/packed.yml
Owners: @Ko4ergaPunk

fix(src, map): починена команда sendert, теперь происходит загрузка через метод TryLoadGrid. все шаттлы ERT переделаны из мап в гриды.
  Content.Server/ADT/Administration/Commands/SendERTCommand.cs
  Resources/Maps/ADTMaps/Shuttles/ERT/cbun.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/default-rev.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/default.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/engineer.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/janitor.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/medical.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/security.yml
Owners: @Morb0, @Ko4ergaPunk

fix(src): Фикс в PiratesRuleSystem, коректная загрузка грида шаттла пиратов через TryLoadGrid.
  Content.Server/ADT/GameTicking/Rules/PiratesRuleSystem.cs
Owners: @Morb0

remove(src): Удалены лишние using в SendERTCommand.cs
  Content.Server/ADT/Administration/Commands/SendERTCommand.cs
Owners: @Morb0

фиксы боевых искуств (#1122)
  Content.Shared/ADT/CantShoot/Systems/CantShootSystem.cs
  Content.Shared/ADT/Combat/ComboEffects.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
Owners: @Morb0

fix(src): По идее починена загрузка лаваленда
  Content.Server/ADT/Planet/PlanetSystem.cs
  Content.Server/ADT/Station/Systems/StationPlanetSpawnerSystem.cs
Owners: @Morb0

fix(src): Убрана лишняя проверка для загрузки лавалэнда
  Content.Server/ADT/Planet/PlanetSystem.cs
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Owners: @Morb0

fix(proto): Fix YAML Linter. id: ClothingHeadHelmetHardsuitCap fix parent
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Owners: @Morb0

маленькое обновление лавы
  Content.Shared/ADT/Shuttles/Components/MiningShuttleGuestComponent.cs
  Content.Shared/Salvage/SharedSalvageSystem.Magnet.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/Computers/computers.ftl
  Resources/Maps/ADTMaps/Nonstation/lavaland_outpost.yml
  Resources/Maps/ADTMaps/Shuttles/mining.yml
  Resources/Maps/ADTMaps/Shuttles/mining_guest.yml
  Resources/Maps/ADTMaps/Shuttles/pioneer.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/ADT/Maps/salvage.yml
  Resources/Prototypes/ADT/planets.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Procedural/biome_ore_templates.yml
Owners: @Morb0, @ficcialfaint, @Ko4ergaPunk

fix(proto): SupermatterGrenade заменено SingularityGrenade
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/Random/contraband.yml
Owners: @Morb0
