Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

Add ADT to forgotten god
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Player/god.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Specific/decrune.ftl
  Resources/Maps/ADTMaps/Ruins/lavadunges.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/forgotten-god.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/runes.yml
Owners: @ficcialfaint, @Ko4ergaPunk, @JerryImMouse

Добавление ADT к забытому богу и его руне (#1960)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Player/god.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Specific/decrune.ftl
  Resources/Maps/ADTMaps/Ruins/lavadunges.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/forgotten-god.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/runes.yml
Owners: @ficcialfaint, @Ko4ergaPunk, @JerryImMouse

Update chemical_canisters.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Chemistry/chemical_canisters.ftl
Owners: @ficcialfaint

Update toolbox.ftl
  Resources/Locale/ru-RU/ADT/revolution/toolbox.ftl
Owners: @ficcialfaint

фикс модов
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
Owners: @JerryImMouse

фикс данжей лавы
  Content.Server/ADT/SpawnInRange/SpawnInRangeSystem.cs
Owners: @JerryImMouse

прототипы карт
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_box.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_origin.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_train.yml
Owners: @JerryImMouse

фикс покера
  Resources/Prototypes/ADT/Entities/Objects/Fun/poker_chips.yml
Owners: @JerryImMouse

пара фиксов (#1961)
  Content.Server/ADT/SpawnInRange/SpawnInRangeSystem.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Fun/poker_chips.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_box.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_origin.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_train.yml
Owners: @JerryImMouse

Update toys.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/toys.ftl
Owners: @ficcialfaint

MODmodUpdate
  Content.Shared/ADT/Modsuit/Components/ModSuitModComponent.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Resources/Locale/ru-RU/ADT/modsuits/description-modsuit-mod.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/MODsuits/modules.ftl
Owners: @JerryImMouse, @ficcialfaint

small-tweak
  Resources/Locale/ru-RU/ADT/modsuits/description-modsuit-mod.ftl
Owners: @ficcialfaint

quickfix
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Resources/Locale/ru-RU/ADT/modsuits/description-modsuit-mod.ftl
Owners: @JerryImMouse, @ficcialfaint

Улучшенное описание модулей для МОДов (#1962)
  Content.Shared/ADT/Modsuit/Components/ModSuitModComponent.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Resources/Locale/ru-RU/ADT/modsuits/description-modsuit-mod.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/MODsuits/modules.ftl
Owners: @JerryImMouse, @ficcialfaint

Padwal ilumi Update youtool.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Owners: @JerryImMouse

GibtoniteV1
  Content.Server/ADT/Salvage/Systems/GibtoniteSystem.cs
  Content.Shared/ADT/Salvage/Components/GibtoniteComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Materials/ore.yml
Owners: @JerryImMouse

- Отключение логирование админ чата в дискорд
  Content.Server/Chat/Managers/ChatManager.cs
Owners: @JerryImMouse

- Отключение логирование админ чата в дискорд (#1964)
  Content.Server/Chat/Managers/ChatManager.cs
Owners: @JerryImMouse

Update Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Owners: @JerryImMouse

Update Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Owners: @JerryImMouse

fix: ADT-Tweak
  Resources/Prototypes/ADT/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
Owners: @JerryImMouse

[TWEAK] Пиротехника и новакиды (#1965)
  Resources/Prototypes/ADT/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
Owners: @JerryImMouse

Update Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Owners: @JerryImMouse

fix: Починил алфавитный порядок
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
Owners: @JerryImMouse, @ficcialfaint

ADT-Tweak
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
Owners: @JerryImMouse

add(proto): Новый экран лобби
  Resources/Locale/en-US/ADT/datasets/figurines.ftl
  Resources/Locale/ru-RU/ADT/datasets/figurines.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/lobbyscreens.yml
  Resources/Textures/ADT/LobbyScreens/luckyratsalvagers.webp
Owners: @ficcialfaint, @JerryImMouse

[LOBBY] Новый лобби-скрин (#1966)
  Resources/Locale/en-US/ADT/datasets/figurines.ftl
  Resources/Locale/ru-RU/ADT/datasets/figurines.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/lobbyscreens.yml
  Resources/Textures/ADT/LobbyScreens/luckyratsalvagers.webp
Owners: @ficcialfaint, @JerryImMouse

Фикс локализации костюма евы синдиката (#1959)
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/softsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/softsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/softsuits.ftl
Owners: @ficcialfaint

Small languages patch (#294)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/translators.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/implanters.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/subdermal_implants.ftl
  Resources/Prototypes/ADT/Languages/roundstart.yml
Owners: @ficcialfaint, @JerryImMouse

- add: показ информации о состоянии бункера в дисе
  Content.Server/ADT/Discord/Adminwho/DiscordAdminInfoSenderSystem.cs
Owners: @JerryImMouse

[Discord] Показ информации о состоянии бункера в Дискорде (#1968)
  Content.Server/ADT/Discord/Adminwho/DiscordAdminInfoSenderSystem.cs
Owners: @JerryImMouse

Update youtool.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Owners: @JerryImMouse

Update Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
Owners: @JerryImMouse

Update hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @JerryImMouse

Update improvised_shotgun_shell.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/improvised_shotgun_shell.yml
Owners: @JerryImMouse

Update statues.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/statues.ftl
Owners: @ficcialfaint

fix
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/migration.yml
Owners: @JerryImMouse

Safety Moth (#293)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
Owners: @ficcialfaint

Update ancient_bones.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/ancient_bones.ftl
Owners: @ficcialfaint

fix: bot review
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
Owners: @JerryImMouse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
