Repository AdventureTimeSS14/space_station_ADT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Morb0, @JerryImMouse, @ficcialfaint, @Ko4ergaPunk, @DrSmugleaf, @nikthechampiongr, @crazybrain23, @TheShuEd, @PJB3005, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint

# Map files
/Resources/Prototypes/Maps/** @Ko4ergaPunk 
/Resources/Maps/** @Ko4ergaPunk 

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005


# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

Починка
  Resources/Prototypes/holidays.yml
Owners: @JerryImMouse

Update holiday-greet.ftl
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
Owners: @ficcialfaint

Update holiday-greet.ftl
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
Owners: @ficcialfaint

папочки ура
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
Owners: @ficcialfaint

дебафф динамики
  Content.Server/ADT/GameTicking/Rules/Components/DynamicRandomRuleComponent.cs
  Content.Server/ADT/GameTicking/Rules/DynamicRandomRuleSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
  Resources/Locale/ru-RU/ADT/game-ticking/game-presets/preset-traitor.ftl
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/dynamic_weights.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/game_presets.yml
Owners: @JerryImMouse, @ficcialfaint

- tweak: Отключаю спавн морфа
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

meson fix
  Content.Client/ADT/MesonVision/MesonVisionOverlay.cs
Owners: @JerryImMouse

PermanentBlindness fix
  Content.Client/ADT/MesonVision/MesonVisionOverlay.cs
Owners: @JerryImMouse

Отключаю спавн морфа (#1871)
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

fix clone
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Owners: @DrSmugleaf

fix_dna
  Content.Server/ADT/Objectives/Systems/StealDnaConditionSystem.cs
  Resources/Prototypes/ADT/Objectives/objectiveGroups.yml
Owners: @JerryImMouse

Narcoleps
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
Owners: @JerryImMouse

Cowboy JackBoots Fix (#1862)
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
Owners: @JerryImMouse

ops
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
Owners: @JerryImMouse

trait
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Owners: @JerryImMouse

[Fix] Narcoleps (#1875)
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
Owners: @JerryImMouse

фикс морфа
  Content.Server/ADT/Morph/MorphSystem.cs
  Content.Shared/ADT/Morph/MorphComponent.cs
Owners: @JerryImMouse

Revert "Отключаю спавн морфа (#1871)"
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

морфпочиненен (#1877)
  Content.Server/ADT/Morph/MorphSystem.cs
  Content.Shared/ADT/Morph/MorphComponent.cs
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
Owners: @JerryImMouse

[Fix] Quark point (#1876)
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Owners: @JerryImMouse

Vore Station 14 (i mean i should store it somewhere????)
  Content.Client/Devour/UI/DevourSettingsWindow.xaml
  Content.Client/Devour/UI/DevourSettingsWindow.xaml.cs
  Content.Server/Devour/DevourDigestionSystem.cs
  Content.Server/Devour/DevourRoleFallbackSystem.cs
  Content.Server/Devour/DevourScatSystem.cs
  Content.Server/Devour/EnhancedDevourSystem.cs
  Content.Server/Devour/PredatorSystem.cs
  Content.Server/Devour/PreySystem.cs
  Content.Server/Devour/README.md
  Content.Shared/Devour/Components/DevourSettingsComponent.cs
  Content.Shared/Devour/Components/GutsComponent.cs
  Content.Shared/Devour/Components/PredatorComponent.cs
  Content.Shared/Devour/Components/PreyComponent.cs
  Content.Shared/Devour/DevourActions.cs
  Resources/Locale/en-US/devour.ftl
  Resources/Locale/en-US/objects.ftl
  Resources/Locale/en-US/traits.ftl
  Resources/Prototypes/Actions/devour_actions.yml
  Resources/Prototypes/Entities/Objects/Misc/DevourScat.yml
  Resources/Prototypes/Traits/DevourTraits.yml
  Resources/Prototypes/Traits/categories.yml
Owners: @JerryImMouse, @ficcialfaint

Множественное перетаскивание
  Resources/Prototypes/ADT/AnimatedLobbyScreen/lobbyScreens.yml
  Resources/Prototypes/ADT/Effects/cut.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/bots.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/cburn_startinggear.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/ert_startinggear.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/spacesec_startinggear.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/timepatrol_startinggear.yml
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/ADT/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/guard_officer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Sponsor/fill.txt
  Resources/Prototypes/ADT/StartingGear/DroneAntag_StartingGear.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert.yml
  Resources/Prototypes/ADT/StartingGear/ERT/fill.txt
  Resources/Prototypes/ADT/StartingGear/Events/fill.txt
  Resources/Prototypes/ADT/StartingGear/HermitEquipment.yml
  Resources/Prototypes/ADT/StartingGear/SpaceSec/Cadet.yml
  Resources/Prototypes/ADT/StartingGear/SpaceSec/Commander.yml
  Resources/Prototypes/ADT/StartingGear/SpaceSec/Officer.yml
  Resources/Prototypes/ADT/StartingGear/SpaceSec/Pilot.yml
  Resources/Prototypes/ADT/StartingGear/SpaceSec/Service.yml
  Resources/Prototypes/ADT/StartingGear/USSP/fill.txt
  Resources/Prototypes/ADT/StatusEffects/status_effects.yml
  Resources/Prototypes/ADT/ghostbar.yml
  Resources/Prototypes/ADT/status_effects.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Owners: @JerryImMouse

Вернул комментарии
  Resources/Prototypes/Roles/Jobs/departments.yml
Owners: @JerryImMouse

[Fix] AbsorbDna (#1874)
  Content.Server/ADT/Objectives/Systems/StealDnaConditionSystem.cs
  Resources/Prototypes/ADT/Objectives/objectiveGroups.yml
Owners: @JerryImMouse

Добавил АДТ и вернул рецепт первой позицией
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/ADT/Recipes/Lathes/electronics.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Research/civilianservices.yml
Owners: @JerryImMouse

- add: Автоматические чейнжлоги через GitHub Action
  .github/workflows/adt-pr-to-discord.yml
  Tools/ADT/pr_to_discord.py
Owners: @JerryImMouse

- Правки
  Tools/ADT/pr_to_discord.py
Owners: @JerryImMouse

Автоматические чейнджлогов через GitHub Action (#1880)
  .github/workflows/adt-pr-to-discord.yml
  Tools/ADT/pr_to_discord.py
Owners: @JerryImMouse

Никто ничего не видел, ошибся путём
  .github/workflows/adt-pr-to-discord.yml
Owners: @JerryImMouse

Test
  .github/workflows/adt-build-test-debug-win.yml
Owners: @JerryImMouse

[TEST] Тестовая отправка чейнджлога в Дискорд (#1881)
  .github/workflows/adt-build-test-debug-win.yml
Owners: @JerryImMouse

- Правки эмбеда отправляемого в дискорд
  Tools/ADT/pr_to_discord.py
Owners: @JerryImMouse

Change send discord (#1882)
  Tools/ADT/pr_to_discord.py
Owners: @JerryImMouse

Клубникаааа (#1864)
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/ADT/Objects/Specific/Hydroponics/strawberry.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Hydroponics/strawberry.rsi/produce-inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Hydroponics/strawberry.rsi/produce-inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Hydroponics/strawberry.rsi/produce.png
Owners: @JerryImMouse

test
  .github/workflows/adt-pr-to-discord.yml
Owners: @JerryImMouse

Final Test (#1883)
  .github/workflows/adt-pr-to-discord.yml
Owners: @JerryImMouse

Revert "Final Test (#1883)"
  .github/workflows/adt-pr-to-discord.yml
Owners: @JerryImMouse

Опять блять
  .github/workflows/adt-pr-to-discord.yml
Owners: @JerryImMouse

Test WebHook (#1884)
  .github/workflows/adt-pr-to-discord.yml
Owners: @JerryImMouse

Мини правка отправки чейнджлогов
  Tools/ADT/pr_to_discord.py
Owners: @JerryImMouse
