Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2024-11, with the labels that each got.

#720 Добавление серой одежды
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/guard_officer.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/Head/Hats/grey_guard_officer_cap.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hats/grey_guard_officer_cap.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hats/grey_guard_officer_cap.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Hats/grey_guard_officer_cap.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Hats/grey_guard_officer_cap.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/grey_guard_officer.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/grey_guard_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/grey_guard_officer.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/grey_guard_officer.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/grey_guard_officer.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/grey_guard_officer.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#715 Редактирование содержимого Сокомата
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
Labels: No C#

#646 мимикрические шутки
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Eyes/glasses.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/boots.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Prototypes/ADT/Actions/mimicry.yml
  Resources/Prototypes/ADT/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Effects/mimicry.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/mimicria.yml
  Resources/Textures/ADT/Clothing/Eyes/Glasses/mimicry.rsi/equipped-EYES.png
  Resources/Textures/ADT/Clothing/Eyes/Glasses/mimicry.rsi/icon.png
  Resources/Textures/ADT/Clothing/Eyes/Glasses/mimicry.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Eyes/Glasses/mimicry.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Eyes/Glasses/mimicry.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Boots/mimicry.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/mimicry.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/mimicry.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/mimicry.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/mimicry.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mimicry.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mimicry.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mimicry.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mimicry.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mimicry.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/mimicria_sword.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/mimicria_sword.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/mimicria_sword.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/mimicria_sword.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/mimicria_sword.rsi/mimicria_tentacle_retract.png
  Resources/Textures/ADT/Objects/Weapons/Melee/mimicria_sword.rsi/mimicria_tentacle_spawn.png
  Resources/Textures/ADT/Objects/Weapons/Melee/mimicria_sword.rsi/mimicria_tentacle_wiggle.png
Labels: Changes: Sprites, No C#, Changes: Localization

#725 Fix auto cl.py
  Tools/ADT/auto_cl.py
Labels: No C#

#724 [ADMIN] New command "chat_echo"
  Content.Server/ADT/Administration/Commands/BanMassCommand.cs
  Content.Server/ADT/Administration/Commands/EchoChatCommand.cs
  Content.Server/ADT/Administration/Commands/KickHideCommand.cs
  Resources/Locale/ru-RU/ADT/administration/commands.ftl
Labels: Changes: Localization

#731 [FIX][ХЕЛЛОУИН] Хеллоуинский баллон можно на спину + фикс
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Objects/Tools/gas_tanks.yml
Labels: No C#

#732 Опять Кэш пакостит и поэтому он сделал пр из мастера
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Resources/Prototypes/ADT/Atmospherics/reactions.yml
Labels: Changes: UI, Status: Needs Review

#735 UI Бриг-Таймера
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml.cs
  Resources/Locale/ru-RU/ADT/machine-linking/components/signal-timer-component.ftl
  Resources/Locale/ru-RU/machine-linking/components/signal-timer-component.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#738 [ЗАКАЗ, TWEAK] Спавнер опоссум Поппи + локаль для спавнер КарпКат
  Resources/Locale/en-US/ADT/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/mobs.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/mobs.yml
Labels: No C#, Changes: Localization

#740 Удаление подкреплений у одинокого оперативника
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
Labels: No C#, Status: Needs Review

#727 Морожемат
  Resources/Locale/ru-RU/ADT/Adverisements/IceCreammatAds.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/vending_machines.ftl
  Resources/Prototypes/ADT/Catalog/VendingMachines/Advertisements/icecreammat.yml
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/ADTIceCreamVendInventory.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/ADT/Structures/Machines/VendingMachines/icecream.rsi/broken.png
  Resources/Textures/ADT/Structures/Machines/VendingMachines/icecream.rsi/deny-unshaded.png
  Resources/Textures/ADT/Structures/Machines/VendingMachines/icecream.rsi/eject-unshaded.png
  Resources/Textures/ADT/Structures/Machines/VendingMachines/icecream.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/VendingMachines/icecream.rsi/normal-unshaded.png
  Resources/Textures/ADT/Structures/Machines/VendingMachines/icecream.rsi/off.png
  Resources/Textures/ADT/Structures/Machines/VendingMachines/icecream.rsi/panel.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#739 Спонсоркие вещи (от 5.11.2024)
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Textures/ADT/Personalization/anagiri_gloves.rsi/equipped-HAND.png
  Resources/Textures/ADT/Personalization/anagiri_gloves.rsi/icon.png
  Resources/Textures/ADT/Personalization/anagiri_gloves.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/anagiri_gloves.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/anagiri_gloves.rsi/meta.json
  Resources/Textures/ADT/Personalization/oktyabrina_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/oktyabrina_coat.rsi/icon.png
  Resources/Textures/ADT/Personalization/oktyabrina_coat.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/oktyabrina_coat.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/oktyabrina_coat.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#729 Тестовое Задание
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/food.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/meals.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/vulpix.yml
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Textures/ADT/Objects/Consumable/Food/Vulpix.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Vulpix.rsi/vulpix.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#633 янтарный код
  Resources/Audio/ADT/Misc/amber.ogg
  Resources/Audio/ADT/Misc/attributions.yml
  Resources/Locale/ru-RU/ADT/alert-levels/alert-levels.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: No C#, Changes: Localization, Не Мерджить

#746 Пупупу
  Resources/Prototypes/ADT/Atmospherics/reactions.yml
Labels: No C#

#701 Разновидности пауков из вентиляций
  Resources/Locale/ru-RU/ADT/Ghost/Roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/spiders.ftl
  Resources/Locale/ru-RU/ADT/reagents/effects/toxin_effects.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/toxins.ftl
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/spiders.yml
  Resources/Prototypes/ADT/GameRules/events.yml
  Resources/Prototypes/ADT/Polymorphs/polymorphs.yml
  Resources/Prototypes/ADT/Reagents/medicine.yml
  Resources/Prototypes/ADT/Reagents/toxins.yml
  Resources/Prototypes/ADT/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Textures/ADT/Mobs/Animals/minispider.rsi/inhand-left.png
  Resources/Textures/ADT/Mobs/Animals/minispider.rsi/inhand-right.png
  Resources/Textures/ADT/Mobs/Animals/minispider.rsi/meta.json
  Resources/Textures/ADT/Mobs/Animals/minispider.rsi/mini-moving.png
  Resources/Textures/ADT/Mobs/Animals/minispider.rsi/mini.png
  Resources/Textures/ADT/Mobs/Animals/minispider.rsi/mini_dead.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review, Не Мерджить

#743 Fix? Возращаю StationAiWhitelist
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
Labels: No C#

#748 Паралаксы
  Resources/Prototypes/ADT/Parallaxes/NES_parallaxes.yml
  Resources/Textures/ADT/Parallaxes/NES/Asteroids.png
  Resources/Textures/ADT/Parallaxes/NES/BlueParallax.png
  Resources/Textures/ADT/Parallaxes/NES/CoolBluePlanet.png
  Resources/Textures/ADT/Parallaxes/NES/Frontier.png
  Resources/Textures/ADT/Parallaxes/NES/GreenParallax.png
  Resources/Textures/ADT/Parallaxes/NES/GreenParallax2.png
  Resources/Textures/ADT/Parallaxes/NES/GreenPlanet.png
  Resources/Textures/ADT/Parallaxes/NES/LunaChe.png
  Resources/Textures/ADT/Parallaxes/NES/MirStationParallaxBG.png
  Resources/Textures/ADT/Parallaxes/NES/NebulaAqua.png
  Resources/Textures/ADT/Parallaxes/NES/NebulaBlue.png
  Resources/Textures/ADT/Parallaxes/NES/NebulaRed.png
  Resources/Textures/ADT/Parallaxes/NES/PurpleParallax.png
  Resources/Textures/ADT/Parallaxes/NES/PurpleParallax2.png
  Resources/Textures/ADT/Parallaxes/NES/PurplePlanet.png
  Resources/Textures/ADT/Parallaxes/NES/PystinaPlanet.png
  Resources/Textures/ADT/Parallaxes/NES/planet.png
  Resources/Textures/ADT/Parallaxes/NES/planet2.png
  Resources/Textures/ADT/Parallaxes/NES/planet3.png
  Resources/Textures/ADT/Parallaxes/NES/planet4.png
Labels: No C#

#751 карта Pie
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/ADTMaps/ADTStations/adt_pie.yml
  Resources/Maps/ADTMaps/Shuttles/pie_cargo_shuttle.yml
  Resources/Maps/ADTMaps/Shuttles/pie_emergency_shuttle.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_pie.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

#756 Починка КПК
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#

#758 Изменения офф кода для работы пульта удаленного управления шаттлами
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Shuttles/Components/SharedShuttleConsoleComponent.cs
Labels: Status: Needs Review

#760 QoL патч
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/chemistry.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/diona.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/chemistry.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Textures/ADT/Mobs/Customization/Diona/customization.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Diona/customization.rsi/tree_paint.png
Labels: Changes: Sprites, No C#, Changes: Localization

#757 Маленькие 6 фикса
  Resources/Locale/ru-RU/ADT/Interaction/interaction-system.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Entities/Clothing/Head/bandanas.yml
  Resources/Prototypes/Entities/Clothing/Masks/base_clothingmask.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#761 Фикс ттса наверное?
  Content.Server/ADT/Language/ChatSystem.Language.cs
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Status: Needs Review

#764 СПАТЬ на унитазе
  Resources/Prototypes/ADT/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/ADT/Entities/Structures/Furniture/sofas.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
Labels: No C#

#766 Rerev
  Content.Client/ADT/Revolutionary/EUI/AcceptRevolutionEui.cs
  Content.Client/ADT/Revolutionary/EUI/AcceptRevolutionEuiWindow.cs
  Content.Server/ADT/Revolitionary/EUI/AcceptRevolutionEui.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Shared/ADT/Revolutinary/EUI/AcceptRevolutionEuiMessage.cs
  Content.Shared/Revolutionary/Components/HeadRevolutionaryComponent.cs
  Resources/Locale/ru-RU/ADT/Objects/Tools/emag.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/revtoolbox.ftl
  Resources/Locale/ru-RU/ADT/revolution/eui.ftl
  Resources/Locale/ru-RU/ADT/revolution/toolbox.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/ADT/Catalog/revolution_toolbox_sets.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/revtoolbox.yml
  Resources/Prototypes/ADT/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/secret_weights.yml
  Resources/Textures/ADT/Objects/Tools/emag_handmade.rsi/icon.png
  Resources/Textures/ADT/Objects/Tools/emag_handmade.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Tools/emag_handmade.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Tools/emag_handmade.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#767 Fix Forntier
  Resources/Maps/ADTMaps/ADTStations/adt_frontier.yml
Labels: Changes: Map, No C#

#771 ь
  Resources/Locale/ru-RU/ADT/revolution/eui.ftl
Labels: No C#, Changes: Localization

#781 заказ Костегрыза
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/vending_machines.ftl
  Resources/Prototypes/ADT/Decals/concrete_trim.yml
  Resources/Prototypes/ADT/Decals/markings.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Textures/ADT/Decals/concretetrim.rsi/meta.json
  Resources/Textures/ADT/Decals/concretetrim.rsi/whiteconcrete_box.png
  Resources/Textures/ADT/Decals/markings.rsi/arrows_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/bot_left_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/bot_right_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/bot_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/caution_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/delivery_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/loading_area_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/meta.json
  Resources/Textures/ADT/Decals/markings.rsi/standclear_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_box_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_corner_flipped_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_corner_small_whitescale_ne.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_corner_small_whitescale_nw.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_corner_small_whitescale_se.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_corner_small_whitescale_sw.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_corner_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_corner_whitescale_ne.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_corner_whitescale_nw.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_corner_whitescale_se.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_corner_whitescale_sw.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_end_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_end_whitescale_e.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_end_whitescale_n.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_end_whitescale_s.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_end_whitescale_w.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_full_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_line_whitescale_e.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_line_whitescale_n.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_line_whitescale_s.png
  Resources/Textures/ADT/Decals/markings.rsi/warn_line_whitescale_w.png
  Resources/Textures/ADT/Decals/markings.rsi/warningline_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/warninglinecorner_flipped_whitescale.png
  Resources/Textures/ADT/Objects/Misc/6pack_beer.rsi/6pack1.png
  Resources/Textures/ADT/Objects/Misc/6pack_beer.rsi/6pack2.png
  Resources/Textures/ADT/Objects/Misc/6pack_beer.rsi/6pack3.png
  Resources/Textures/ADT/Objects/Misc/6pack_beer.rsi/6pack4.png
  Resources/Textures/ADT/Objects/Misc/6pack_beer.rsi/6pack5.png
  Resources/Textures/ADT/Objects/Misc/6pack_beer.rsi/6pack6.png
  Resources/Textures/ADT/Objects/Misc/6pack_beer.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/6pack_beer.rsi/plastic-thingy.png
Labels: Changes: Sprites, No C#, Changes: Localization

#782 Убираем сокращение на эмоцию
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
Labels: Status: Needs Review

#783 Добавляем в стальной лист свинец, снова.
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: No C#

#779 Добавление различения имплантов и наши роли в вайтлисты скрытых описаний
  Resources/Locale/ru-RU/ADT/hidden-description/hiddenDescription.ftl
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Clothing/Ears/specific.yml
  Resources/Prototypes/Entities/Clothing/Eyes/specific.yml
  Resources/Prototypes/Entities/Clothing/Hands/specific.yml
  Resources/Prototypes/Entities/Clothing/Head/specific.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/specific.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/guardian_activators.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Power/powersink.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/spider.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#765 Маленькая доработка паущков.
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/chelicerae.ftl
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/spiders.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/chelicerae.yml
  Resources/Prototypes/ADT/Recipes/Reactions/medicine.yml
  Resources/Textures/ADT/Objects/Misc/chelicerae.rsi/icon.png
  Resources/Textures/ADT/Objects/Misc/chelicerae.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#773 Переводы вещей
  Resources/Locale/ru-RU/ADT/Interaction/interaction-system.ftl
  Resources/Locale/ru-RU/ADT/headset/headset-component.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/implanters.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Power/powercell.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Prototypes/ADT/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/ADT/Entities/Objects/Power/fill.txt
  Resources/Prototypes/ADT/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Datasets/Names/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#776 Небольшие изменения в расах.
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Human.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Drask.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Ursus.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/kobolt.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/novakid.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/ADT/Mobs/Customization/Human/demon.rsi/milky_tail.png
  Resources/Textures/ADT/Mobs/Customization/Human/demon.rsi/milky_tail_secondary.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#742 Кассетный проигрыватель
  Content.Client/ADT/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/ADT/TapeRecorder/Ui/TapeRecorderBoundUserInterface.cs
  Content.Client/ADT/TapeRecorder/Ui/TapeRecorderWindow.xaml
  Content.Client/ADT/TapeRecorder/Ui/TapeRecorderWindow.xaml.cs
  Content.Server/ADT/Bark/Systems/VoiceOverrideSystem.Barks.cs
  Content.Server/ADT/Language/LanguageSystem.cs
  Content.Server/ADT/TTS/VoiceOverrideSystem.TTS.cs
  Content.Server/ADT/TapeRecorder/TapeRecorderSystem.cs
  Content.Server/Speech/Components/VoiceOverrideComponent.cs
  Content.Shared/ADT/Language/Systems/SharedLanguageSystem.cs
  Content.Shared/ADT/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/ADT/TapeRecorder/Components/TapeCassetteComponent.cs
  Content.Shared/ADT/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/ADT/TapeRecorder/Events/TapeRecorderEvents.cs
  Content.Shared/ADT/TapeRecorder/SharedTapeRecorderSystem.cs
  Content.Shared/ADT/TapeRecorder/TapeCassetteRecordedMessage.cs
  Resources/Audio/ADT/Items/Taperecorder/attributions.yml
  Resources/Audio/ADT/Items/Taperecorder/taperecorder_play.ogg
  Resources/Audio/ADT/Items/Taperecorder/taperecorder_rewind.ogg
  Resources/Audio/ADT/Items/Taperecorder/taperecorder_stop.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/tape_recorder.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/paper.ftl
  Resources/Locale/ru-RU/ADT/taperecorder/recorder.ftl
  Resources/Locale/ru-RU/ADT/taperecorder/ui.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/ADT/Recipes/Lathes/misc.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Textures/ADT/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/ADT/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/ADT/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/ADT/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/ADT/Objects/Devices/tape_recorder.rsi/taperecorder_empty.png
  Resources/Textures/ADT/Objects/Devices/tape_recorder.rsi/taperecorder_idle.png
  Resources/Textures/ADT/Objects/Devices/tape_recorder.rsi/taperecorder_playing.png
  Resources/Textures/ADT/Objects/Devices/tape_recorder.rsi/taperecorder_recording.png
  Resources/Textures/ADT/Objects/Devices/tape_recorder.rsi/taperecorder_rewinding.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: UI, Changes: Sprites, Changes: Localization, Approved

#788 Добавил генокрада в секрет
  Resources/Prototypes/secret_weights.yml
Labels: No C#, Status: Needs Review

#787 Исправил инвентарь рюкзаков парамеда.
  Resources/Prototypes/ADT/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/ADT/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/ADT/Entities/Clothing/Back/satchel.yml
Labels: No C#, Status: Needs Review

#791 Main
  Resources/Maps/ADTMaps/ADTStations/adt_frontier.yml
  Resources/Maps/Shuttles/emergency_frontier.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_frontier.yml
Labels: Changes: Map, No C#

#790 Оппорозидрон у ГВ
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#785 add new command AdminToggle
  Content.Server/ADT/Administration/Commands/AdminToggleCommand.cs
  Content.Server/ADT/Administration/Commands/BanMassCommand.cs
  Content.Server/ADT/Administration/Commands/EchoChatCommand.cs
  Content.Server/ADT/Administration/Commands/KickHideCommand.cs
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/GhostKick/GhostKickManager.cs
  Content.Server/Info/ShowRulesCommand.cs
  Content.Server/Tips/TipsSystem.cs
  Content.Shared/ADT/Ghost/HideGhostWarpComponent.cs
  Content.Shared/Follower/FollowerSystem.cs
  Resources/Locale/ru-RU/ADT/administration/commands.ftl
  Resources/clientCommandPerms.yml
Labels: Changes: Localization, In progress

#793 [FIX] Почему крысиных слуг нельзя было положить в мусорный мешок?
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: No C#, Status: Needs Review

#770 [FIX] Фикс и добавление элементов внешности для вульп
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/vulpkanin.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/altpointsfadebelly.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/pointsfade.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/kita.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/old.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/oldchin.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/ruff.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#796 Fastrevert
  Resources/Prototypes/ADT/Atmospherics/reactions.yml
  Resources/Textures/Structures/Wallmounts/Lighting/emergency_light.rsi/base.png
  Resources/Textures/Structures/Wallmounts/Lighting/emergency_light.rsi/emergency_light_off.png
  Resources/Textures/Structures/Wallmounts/Lighting/emergency_light.rsi/emergency_light_on.png
  Resources/Textures/Structures/Wallmounts/Lighting/emergency_light.rsi/meta.json
  Resources/Textures/Structures/cryostorage.rsi/meta.json
  Resources/Textures/Structures/cryostorage.rsi/sleeper_0.png
  Resources/Textures/Structures/cryostorage.rsi/sleeper_1.png
Labels: Changes: Sprites, No C#

#789 [ЗАКАЗ] декали пепельной флоры
  Resources/Prototypes/ADT/Decals/fill.txt
  Resources/Prototypes/ADT/Decals/flora.yml
  Resources/Prototypes/ADT/Decals/markings.yml
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusA1.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusA2.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusA3.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusA4.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusA5.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusA6.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusA7.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusA8.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusB1.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusB2.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusB3.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusB4.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusB5.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusB6.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusB7.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/cactusB8.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/meta.json
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomA1.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomA2.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomA3.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomA4.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomA5.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomA6.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomA7.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomA8.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomB1.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomB2.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomB3.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomB4.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomB5.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomB6.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomB7.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomB8.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomC1.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomC2.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomC3.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomC4.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomC5.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomC6.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomC7.png
  Resources/Textures/ADT/Decals/Flora/ash_flora.rsi/mushroomC8.png
  Resources/Textures/ADT/Decals/markings.rsi/box_whitescale.png
  Resources/Textures/ADT/Decals/markings.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#797 Победа Гооооол
  Resources/Prototypes/ADT/audio.yml
  Resources/Prototypes/audio.yml
  Resources/Textures/Structures/cryostorage.rsi/meta.json
  Resources/Textures/Structures/cryostorage.rsi/sleeper_0.png
  Resources/Textures/Structures/cryostorage.rsi/sleeper_1.png
Labels: Changes: Sprites, No C#

#798 Новый набор для главревы, защита от ЭМИ, GasLeak fix, шанс ЛонОпса, замедление от щитов
  Content.Server/ADT/DNALocker/Systems/DNALockerSystem.cs
  Content.Server/Emp/EmpSystem.cs
  Content.Server/Ninja/Systems/NinjaSuitSystem.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Shared/ADT/EmpProtection/EmpProtectionComponent.cs
  Resources/Locale/ru-RU/ADT/revolution/toolbox.ftl
  Resources/Prototypes/ADT/Catalog/revolution_toolbox_sets.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/revtoolbox.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Localization, Status: Needs Review

#800 [Jukebox, Lobby] New sound
  Resources/Audio/ADT/Jukebox/A_Tense_Adventure.ogg
  Resources/Audio/ADT/Jukebox/A_beautiful_lull.ogg
  Resources/Audio/ADT/Jukebox/Happy_ending.ogg
  Resources/Audio/ADT/Jukebox/The_fall_of_the_corporation.ogg
  Resources/Audio/ADT/Jukebox/Waiting_for_the_meeting.ogg
  Resources/Audio/ADT/Jukebox/attributions.yml
  Resources/Audio/ADT/Lobby/Gift_of_Adventure_from_Conjurer.ogg
  Resources/Audio/ADT/Lobby/attributions.yml
  Resources/Prototypes/ADT/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#799 [FIX] Еще один фикс карты Frontier!
  Resources/Maps/ADTMaps/ADTStations/adt_frontier.yml
Labels: Changes: Map, No C#

#804 Старая новая карта
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_cluster_legacy.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

#809 Фикс ревы
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Locale/ru-RU/ADT/Objects/Tools/emag.ftl
  Resources/Prototypes/ADT/Catalog/ling_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/changeling.yml
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
Labels: Changes: Localization, Status: Needs Review

#810 нерф лежания при взрыве
  Content.Shared/ADT/Crawling/Components/CrawlerComponent.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
Labels: Status: Needs Review

#814 Several Fixes
  Content.Server/Medical/DefibrillatorSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: Status: Needs Review

#815 Сегодня не колимся в скафандре
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
Labels: No C#, Status: Needs Review

#795 [ПЕРЕНОС] Перенос вещей со старой сборки
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/evidancebag.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Chemistry/chemistry.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Grenades/grenades.ftl
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/zipbag.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Chemistry/chemical-pills.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/ADT/Objects/Misc/Evidance.rsi/icon.png
  Resources/Textures/ADT/Objects/Misc/Evidance.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/Evidance.rsi/place_number.png
  Resources/Textures/ADT/Objects/Misc/Evidance.rsi/place_number2.png
  Resources/Textures/ADT/Objects/Misc/pill_ex.rsi/extezi_ent.png
  Resources/Textures/ADT/Objects/Misc/pill_ex.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/pill_ex.rsi/trava_ent.png
  Resources/Textures/ADT/Objects/Weapons/Grenades/tritiumgrenad/effect.rsi/broken.png
  Resources/Textures/ADT/Objects/Weapons/Grenades/tritiumgrenad/effect.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Grenades/tritiumgrenad/effect.rsi/miner.png
  Resources/Textures/ADT/Objects/Weapons/Grenades/tritiumgrenad/effect.rsi/on.png
  Resources/Textures/ADT/Objects/Weapons/Grenades/tritiumgrenad/tritiumgrenades.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Grenades/tritiumgrenad/tritiumgrenades.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Grenades/tritiumgrenad/tritiumgrenades.rsi/primed.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#817 [ADMIN TOOL] new command "lslawset_get"
  Content.Server/ADT/Administration/Commands/EchoChatCommand.cs
  Content.Server/ADT/Administration/Commands/ListLawsSetGetCommand.cs
  Resources/Locale/ru-RU/ADT/administration/command_sendert.ftl
  Resources/Locale/ru-RU/ADT/administration/commands.ftl
Labels: Changes: Localization

#819 [ADMIN TOOL] adminwho posting in discord channel
  Content.Server/ADT/Discord/Adminwho/DiscordAdminInfoSenderSystem.cs
  Content.Shared/ADT/CCVar/CCVars.WebhookDiscord.cs
  Resources/Locale/ru-RU/ADT/Discord/discord-adminwho.ftl
Labels: Changes: Localization

#786 [TWEAK] Еще немного с пауками
  Content.Server/Spider/SpiderSystem.cs
  Content.Shared/Spider/SpiderComponent.cs
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/spiders.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review

#825 [FIX] Фикс Карты Frontier.
  Resources/Maps/ADTMaps/ADTStations/adt_frontier.yml
  Resources/Maps/Shuttles/emergency_frontier.yml
Labels: Changes: Map, No C#

#826 Дорожная карта
  Content.Client/ADT/Roadmap/RoadmapItem.xaml
  Content.Client/ADT/Roadmap/RoadmapItem.xaml.cs
  Content.Client/ADT/Roadmap/RoadmapItemState.cs
  Content.Client/ADT/Roadmap/RoadmapUIController.cs
  Content.Client/ADT/Roadmap/RoadmapVersionHeader.xaml
  Content.Client/ADT/Roadmap/RoadmapVersionHeader.xaml.cs
  Content.Client/ADT/Roadmap/RoadmapWindow.xaml
  Content.Client/ADT/Roadmap/RoadmapWindow.xaml.cs
  Content.Client/Administration/UI/CustomControls/HSeparator.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Resources/Locale/ru-RU/ADT/user-interface/options.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#827 Откат PR #32423 and #32429.
  Content.Server/Destructible/Thresholds/Behaviors/TimerStartBehavior.cs
  Content.Server/Explosion/Components/TimerStartOnSignalComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Signal.cs
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Maps/ADTMaps/ADTStations/adt_frontier.yml
  Resources/Prototypes/DeviceLinking/sink_ports.yml
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Changes: Map, Changes: Localization

#829 [ADMIN, BUG] опять 1984, и фикс бага команды ghost
  Content.Server/ADT/Discord/Adminwho/DiscordAdminInfoSenderSystem.cs
  Content.Server/Ghost/GhostCommand.cs
Labels: In progress

#832 Фикс бага, который только начали абузить
  Content.Server/Atmos/Components/AirtightComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Airtight.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/piping/atmospherics/special.ftl
  Resources/Prototypes/ADT/Entities/Structures/Piping/Atmospherics/fill.txt
  Resources/Prototypes/ADT/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Prototypes/ADT/Interface/Radial/RPD.yml
Labels: Changes: Localization

#820 Я же хотел просто починить генокрада...
  Content.Client/VendingMachines/UI/VendingMachineItem.xaml
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/ADT/Changeling/Components/ChangelingComponent.cs
  Content.Shared/Actions/ActionContainerSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Content.Shared/VendingMachines/VendingMachineInterfaceState.cs
  Resources/Locale/ru-RU/ADT/store/store.ftl
  Resources/Locale/ru-RU/vending-machines/vending-machine.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#841 [ROADMAP] Доделал роадмап
  Content.Client/ADT/Roadmap/RoadmapItem.xaml.cs
  Content.Client/ADT/Roadmap/RoadmapItemState.cs
  Content.Client/ADT/Roadmap/RoadmapUIController.cs
  Content.Client/ADT/Roadmap/RoadmapWindow.xaml
  Content.Client/ADT/Roadmap/RoadmapWindow.xaml.cs
  Content.Shared/ADT/Roadmap/RoadmapItemPrototype.cs
  Resources/Locale/ru-RU/ADT/prototypes/roadmap.ftl
  Resources/Prototypes/ADT/roadmap.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#833 [TWEAK] Сумки и переработчик руды
  Content.Client/ADT/Material/AutoMaterialInsertSystem.cs
  Content.Client/Materials/MaterialStorageSystem.cs
  Content.Server/ADT/Materials/AutoMaterialInsertSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/ADT/Materials/AutoMaterialInsertComponent.cs
  Content.Shared/ADT/Materials/SharedAutoMaterialInsertSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Locale/ru-RU/ADT/machine/machine.ftl
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: Localization, Status: Needs Review

#843 [ADMIN] Новые фичи Adminwho диса
  Content.Server/ADT/Discord/Adminwho/DiscordAdminInfoSenderSystem.cs
  Content.Server/ServerUpdates/ServerUpdateManager.cs
  Resources/Locale/ru-RU/ADT/Discord/discord-update.ftl
Labels: Changes: Localization, Status: Needs Review

#844 НЕУЖЕЛИ ФИКС ЭМОУТ ПАНЕЛИ
  Content.Shared/Speech/Components/VocalComponent.cs
  Resources/Prototypes/ADT/Entities/Mobs/Species/Tajaran.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/ADT/Voice/speech_emote_sounds.yml
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/ADT/Interface/Emotes/Vocal/bark.png
  Resources/Textures/ADT/Interface/Emotes/Vocal/confirm.png
  Resources/Textures/ADT/Interface/Emotes/Vocal/deny.png
  Resources/Textures/ADT/Interface/Emotes/Vocal/growl.png
  Resources/Textures/ADT/Interface/Emotes/Vocal/hiss.png
  Resources/Textures/ADT/Interface/Emotes/Vocal/meow.png
  Resources/Textures/ADT/Interface/Emotes/Vocal/mew.png
  Resources/Textures/ADT/Interface/Emotes/Vocal/purr.png
Labels: Status: Needs Review

#851 Нормальная цена мед набору синдиката
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#848 Тудудудууууууууу
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Useful.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.cs
  Content.Server/ADT/Objectives/Components/AbsorbDnaConditionComponent.cs
  Content.Server/ADT/Objectives/Systems/AbsorbDnaConditionSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/ADT/Changeling/Components/ChangelingComponent.cs
  Resources/Locale/ru-RU/ADT/changeling/objectives.ftl
  Resources/Prototypes/ADT/Objectives/changeling.yml
Labels: Changes: Localization, Status: Needs Review

#802 [ПЕРЕНОС]Мультифазовый пистолет ГСБ
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/armory.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Battery/battery_gun.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Objectives/steal-target-groups.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/impact.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Objectives/stealTargetGroups.yml
  Resources/Prototypes/ADT/Objectives/traitor.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/base.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/inhand-left-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/inhand-left-1.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/inhand-left-2.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/inhand-left-3.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/inhand-right-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/inhand-right-1.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/inhand-right-2.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/inhand-right-3.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/mag-unshaded-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/mag-unshaded-1.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/mag-unshaded-2.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/mag-unshaded-3.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/mag-unshaded-4.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/mag-unshaded.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/multifazpistol.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/projectiles_ss.rsi/impact_laser_red.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/projectiles_ss.rsi/impact_laser_yellow.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/projectiles_ss.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/projectiles_ss.rsi/omnilaser.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/projectiles_ss.rsi/omnilaser_yellow.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#860 semena
  Resources/Prototypes/ADT/Hydroponics/seeds.yml
Labels: No C#, Status: Needs Review
