Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2024-07, with the labels that each got.

#117 немецкий акцент
  Content.Server/ADT/Speech/DeutschAccentComponent.cs
  Content.Server/ADT/Speech/EntitySystems/DeutschAccentSystem.cs
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Traits/neutral.yml
Labels: Changes: Localization

#111 Закинул телескопичку
  Content.Server/ADT/SwitchableWeapon/SwitchableWeapon/SwitchableWeaponSystem.cs
  Content.Shared/ADT/SwitchableWeapon/SwitchableWeaponComponent.cs
  Resources/Audio/ADT/Entities/Objects/Weapons/Melee/close_telescopichka.ogg
  Resources/Audio/ADT/Entities/Objects/Weapons/Melee/open_telescopichka.ogg
  Resources/Locale/ru-RU/ADT/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton.rsi/off-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton.rsi/off-inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton.rsi/on-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton.rsi/on-inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton.rsi/telescope_off.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton.rsi/telescope_on.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_bob.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_bob.rsi/off-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_bob.rsi/off-inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_bob.rsi/on-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_bob.rsi/on-inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_bob.rsi/telescope_off.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_bob.rsi/telescope_on.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_kon.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_kon.rsi/off-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_kon.rsi/off-inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_kon.rsi/on-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_kon.rsi/on-inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_kon.rsi/telescope_off.png
  Resources/Textures/ADT/Objects/Weapons/Melee/telescopic_baton_kon.rsi/telescope_on.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#28 Drask
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Audio/ADT/Drask/draskcough.ogg
  Resources/Audio/ADT/Drask/draskscream.ogg
  Resources/Audio/ADT/Drask/drasksneeze.ogg
  Resources/Audio/ADT/Drask/drasktalk.ogg
  Resources/Locale/en-US/species/namepreset.ftl
  Resources/Locale/ru-RU/ADT/Chemistry/metabolizer-types.ftl
  Resources/Locale/ru-RU/ADT/Entities/Mobs/Player/drask.ftl
  Resources/Locale/ru-RU/ADT/Entities/Mobs/Species/drask.ftl
  Resources/Locale/ru-RU/ADT/Species/drask.ftl
  Resources/Prototypes/ADT/Body/Organs/Drask.yml
  Resources/Prototypes/ADT/Body/Parts/Drask.yml
  Resources/Prototypes/ADT/Body/Prototypes/Drask.yml
  Resources/Prototypes/ADT/Chemistry/metabolizer_types.yml
  Resources/Prototypes/ADT/Damage/ADTmodifiers.yml
  Resources/Prototypes/ADT/Datasets/Names/name_drask.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Drask.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Drask.yml
  Resources/Prototypes/ADT/Entities/Mobs/player/Drask.yml
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/Species/drask.yml
  Resources/Prototypes/ADT/Voice/speech_emote_sounds.yml
  Resources/Prototypes/ADT/Voice/speech_sounds.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Textures/ADT/Mobs/Drask/custom.rsi/l_arm.png
  Resources/Textures/ADT/Mobs/Drask/custom.rsi/meta.json
  Resources/Textures/ADT/Mobs/Drask/custom.rsi/r_arm.png
  Resources/Textures/ADT/Mobs/Drask/organs.rsi/eyes.png
  Resources/Textures/ADT/Mobs/Drask/organs.rsi/heart_on.png
  Resources/Textures/ADT/Mobs/Drask/organs.rsi/innards.png
  Resources/Textures/ADT/Mobs/Drask/organs.rsi/kidneys.png
  Resources/Textures/ADT/Mobs/Drask/organs.rsi/lungs.png
  Resources/Textures/ADT/Mobs/Drask/organs.rsi/meta.json
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/eyes.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/full.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/head_f.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/head_m.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/l_arm.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/l_foot.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/l_hand.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/l_leg.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/meta.json
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/r_arm.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/r_foot.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/r_hand.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/r_leg.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/torso_f.png
  Resources/Textures/ADT/Mobs/Drask/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#116 Перенос механики языков, переводчиков языков, имплантеров языков.
  Content.Client/ADT/Language/LanguageMenuUIController.cs
  Content.Client/ADT/Language/LanguageMenuWindow.xaml
  Content.Client/ADT/Language/LanguageMenuWindow.xaml.cs
  Content.Client/ADT/Language/Systems/LanguageSystem.cs
  Content.Client/ADT/Language/Systems/TranslatorImplanterSystem.cs
  Content.Server/ADT/Language/Commands/ListLanguagesCommand.cs
  Content.Server/ADT/Language/Commands/SayLanguageCommand.cs
  Content.Server/ADT/Language/Commands/SelectLanguageCommand.cs
  Content.Server/ADT/Language/LanguageSystem.Windows.cs
  Content.Server/ADT/Language/LanguageSystem.cs
  Content.Server/ADT/Language/TranslatorImplanterSystem.cs
  Content.Server/ADT/Language/TranslatorSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/ADT/Language/Components/CommonLangUnknown.cs
  Content.Shared/ADT/Language/Components/LanguageSpeakerComponent.cs
  Content.Shared/ADT/Language/Components/TranslatorComponent.cs
  Content.Shared/ADT/Language/Components/TranslatorImplanterComponent.cs
  Content.Shared/ADT/Language/Components/UniversalLanguageSpeacerComponent.cs
  Content.Shared/ADT/Language/LanguagePrototype.cs
  Content.Shared/ADT/Language/Systems/SharedLanguageSystem.cs
  Content.Shared/ADT/Language/Systems/SharedTranslatorImplanterSystem.cs
  Content.Shared/ADT/Language/Systems/SharedTranslatorSystem.cs
  Resources/Locale/ru-RU/ADT/Actions/language-menu.ftl
  Resources/Locale/ru-RU/ADT/Entities/Objects/Device/translators.ftl
  Resources/Locale/ru-RU/ADT/Entities/Objects/Misc/implanters.ftl
  Resources/Locale/ru-RU/ADT/Languages/languages.ftl
  Resources/Locale/ru-RU/ADT/Research/translators.ftl
  Resources/Prototypes/ADT/Actions/language.yml
  Resources/Prototypes/ADT/Entities/Objects/Device/translators.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/ADT/Languages/languages.yml
  Resources/Prototypes/ADT/Recipes/Lathes/translators.yml
  Resources/Prototypes/ADT/Research/translators.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/_NF/Interface/Actions/language.png
  Resources/Textures/_NF/Objects/Devices/translator.rsi/icon.png
  Resources/Textures/_NF/Objects/Devices/translator.rsi/inhand-left-translator.png
  Resources/Textures/_NF/Objects/Devices/translator.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Devices/translator.rsi/inhand-right-translator.png
  Resources/Textures/_NF/Objects/Devices/translator.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Devices/translator.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/translator.rsi/translator.png
Labels: Changes: UI, Changes: Sprites, Changes: Localization

#115 жужащий ацент
  Content.Server/Speech/EntitySystems/MothAccentSystem.cs
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Traits/neutral.yml
Labels: Changes: Localization

#130 мелкие добавки к немецкому акценту
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Traits/speech.yml
Labels: No C#, Changes: Localization

#90 739
  Resources/Textures/Logo/new_logo.png
  Resources/manifest.yml
Labels: No C#

#143 мелкий фикс путей
  .github/workflows/auto-cl-update-atd.yml
  Tools/ADT/auto_cl.py
  Tools/ADT/cl_old.yml
Labels: No C#

#147 Add time for first connection
  Content.Server/GameTicking/GameTicker.Player.cs
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
Labels: Changes: Localization

#149 add send NukeCode on facs CentComm
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Labels: No C#

#154 Добавлены новые виды вредной еды
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/ADT/Objects/Consumable/Drinks/nostop.rsi/icon-open.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/nostop.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/nostop.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Chips/chips.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Chips/chips.rsi/onion-and-sourcream.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Chips/chips.rsi/shrimp.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Chips/chips.rsi/space.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Chips/chips.rsi/spicy.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Chips/trash.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Chips/trash.rsi/onion-and-sourcream-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Chips/trash.rsi/shrimp-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Chips/trash.rsi/space-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Chips/trash.rsi/spicy-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Dried/meat.rsi/beef.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Dried/meat.rsi/chicken.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Dried/meat.rsi/horse.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Dried/meat.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Dried/meat.rsi/pig.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Dried/trash.rsi/beef-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Dried/trash.rsi/chicken-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Dried/trash.rsi/horse-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Dried/trash.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Dried/trash.rsi/pig-trash.png
Labels: Changes: Sprites, No C#, Changes: Localization

#153 Добавлены шоколадные батончики
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/bars.rsi/bar-choco.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/bars.rsi/bar-coconut.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/bars.rsi/bar-energy.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/bars.rsi/bar-nuts.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/bars.rsi/bar-pink.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/bars.rsi/bar-two.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/bars.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/packing.rsi/choco-packed.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/packing.rsi/coconut-packed.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/packing.rsi/energy-packed.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/packing.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/packing.rsi/nuts-packed.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/packing.rsi/pink-packed.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/packing.rsi/two-packed.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/trash.rsi/choco-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/trash.rsi/coconut-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/trash.rsi/energy-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/trash.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/trash.rsi/nuts-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/trash.rsi/pink-trash.png
  Resources/Textures/ADT/Objects/Consumable/Food/Chocolate/trash.rsi/two-trash.png
Labels: Changes: Sprites, No C#, Changes: Localization

#148 Add customization vulpkanin
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Vulpkanin/vulpkanin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Vulpkanin/vulpkanin_hair.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/frozen.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Vulpkanin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Vulpkanin_hair.yml
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/altpointsfadebelly.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/bellycrest.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/crestpoints.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/foxbelly.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/fullbelly.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/pointsfade.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/pointsfadebelly.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_body.rsi/sharppoints.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/abhara.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/anite.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/apollo.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/belle.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/braided.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/bun.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/curl.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/hair_sponsor.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/hawk.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/jagged_sponsor_hair.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/kajam1.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/kajam2.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/keid.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/kleeia.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/mizar.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/raine.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/rough.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/short.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/short2.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/spike.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_hair.rsi/ykiteru_sponsor_hair.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/ear.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/ear_back.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/muzzle.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/muzzle_ear.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/nose.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/points_fade.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/points_sharp.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/skull_sponsor.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/tiger_face.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/tiger_head.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/tail1.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/tail2.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/tail3.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/tail_m.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review
