Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2024-12, with the labels that each got.

#456 увеличение слотов на кастомизации
  Resources/Prototypes/ADT/Species/Tajaran.yml
  Resources/Prototypes/ADT/Species/Ursus.yml
  Resources/Prototypes/ADT/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Species/demon.yml
  Resources/Prototypes/ADT/Species/drask.yml
  Resources/Prototypes/ADT/Species/felinid.yml
  Resources/Prototypes/ADT/Species/moth.yml
  Resources/Prototypes/ADT/Species/novakid.yml
  Resources/Prototypes/ADT/Species/shadekin.yml
  Resources/Prototypes/Species/reptilian.yml
Labels: No C#

#863 РХБЗЗ и деды все еще были ксеносы
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Textures/ADT/Changeling/Objects/bone_shard.rsi/festive.png
  Resources/Textures/ADT/Changeling/Objects/bone_shard.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#867 Откат дробовика
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/armory.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#859 Emotion damage
  Resources/Audio/ADT/Voice/Human/attributions.yml
  Resources/Audio/ADT/Voice/Human/female_laugh.ogg
  Resources/Audio/ADT/Voice/Human/female_sigh.ogg
  Resources/Audio/ADT/Voice/Human/male_sigh.ogg
  Resources/Audio/ADT/Voice/Human/sneeze_female.ogg
  Resources/Audio/ADT/Voice/Human/sneeze_male.ogg
  Resources/Audio/ADT/Voice/Human/sneeze_neutral.ogg
  Resources/Audio/ADT/Voice/Human/spit_1.ogg
  Resources/Audio/ADT/Voice/Human/spit_2.ogg
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/Voice/speech_emote_sounds.yml
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/SoundCollections/disease.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#, Status: Needs Review

#868 [FIX] Сокрытие принтера книг
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/refill_cartridge.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/book_printer.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
Labels: No C#

#850 [ПЕРЕНОС] Перенес вещи со старой сборки
  Resources/Prototypes/ADT/Entities/Clothing/Back/backpacks.yml
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/mercglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/meta.json
Labels: Changes: Sprites, No C#

#872 Revert "[WIKI] СРП в гайдбук и в книжки"
  Resources/Prototypes/ADT/Guidebook/srp.yml
  Resources/ServerInfo/ADT/SrpOperatorCentComm.xml
Labels: No C#

#845 Стаминзащита скафам, новый костюм КМ-а, фикс слайма и дисплейсмент.
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/ADT/Reagents/Materials/materials.yml
  Resources/Prototypes/ADT/Stacks/misc.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/qm_camisole.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/qm_camisole.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/qm_camisole.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/qm_camisole.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/qm_camisole.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/qm_camisole.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/qm_camisole.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/qm_camisole.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/qm_camisole.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/qm_camisole.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/Demon/displacement.rsi/jumpsuit-female.png
  Resources/Textures/ADT/Mobs/Species/Demon/displacement.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/Vulpkanin/displacement.rsi/head.png
  Resources/Textures/ADT/Mobs/Species/Vulpkanin/displacement.rsi/jumpsuit-female.png
  Resources/Textures/ADT/Mobs/Species/Vulpkanin/displacement.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#871 Заказ празата. Вещи компании DV
  Resources/Locale/ru-RU/ADT/paper/stamp-component.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/paper.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/pen.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Tools/lighters.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Wallmount/Signs/posters.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/ADT/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/ADT/Entities/Structures/Wallmount/Signs/posters.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Textures/ADT/Objects/Consumable/Drinks/flask_dv.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/flask_dv.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/bureaucracy.rsi/folder-base.png
  Resources/Textures/ADT/Objects/Misc/bureaucracy.rsi/folder-colormap.png
  Resources/Textures/ADT/Objects/Misc/bureaucracy.rsi/folder-dv.png
  Resources/Textures/ADT/Objects/Misc/bureaucracy.rsi/folder-overlay-paper.png
  Resources/Textures/ADT/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/dv-clipboard.rsi/clipboard.png
  Resources/Textures/ADT/Objects/Misc/dv-clipboard.rsi/clipboard_over.png
  Resources/Textures/ADT/Objects/Misc/dv-clipboard.rsi/clipboard_paper.png
  Resources/Textures/ADT/Objects/Misc/dv-clipboard.rsi/clipboard_pen.png
  Resources/Textures/ADT/Objects/Misc/dv-clipboard.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Misc/dv-clipboard.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Misc/dv-clipboard.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Misc/dv-clipboard.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/pens.rsi/ADTpen_capdv.png
  Resources/Textures/ADT/Objects/Misc/pens.rsi/ADTpen_dv.png
  Resources/Textures/ADT/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/stamps.rsi/stamp-dv.png
  Resources/Textures/ADT/Objects/Tools/Lighters/dvzippo.rsi/closed.png
  Resources/Textures/ADT/Objects/Tools/Lighters/dvzippo.rsi/lighter_flame.png
  Resources/Textures/ADT/Objects/Tools/Lighters/dvzippo.rsi/meta.json
  Resources/Textures/ADT/Objects/Tools/Lighters/dvzippo.rsi/open.png
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_unclepraz_legit.png
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_whatdv_legit.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-dv.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#877 [FIX] Я не еретик!
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#

#712 Вещи ЦК и суперсинтезатор в лодауте музыканта.
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Back/satchels.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/musician.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/Back/centcom_satchel.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Clothing/Back/centcom_satchel.rsi/icon.png
  Resources/Textures/ADT/Clothing/Back/centcom_satchel.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Back/centcom_satchel.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Back/centcom_satchel.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/centcom_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/centcom_coat.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/centcom_coat.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/centcom_coat.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/centcom_coat.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#864 Фигсы барков
  Content.Client/ADT/Bark/Systems/HumanoidProfileEditor.Barks.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/ADT/Bark/Systems/SpeechBarksSystem.cs
  Content.Server/ADT/Bark/Systems/VoiceMaskSystem.Barks.cs
  Content.Server/ADT/Bark/Systems/VoiceOverrideSystem.Barks.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Useful.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.cs
  Content.Server/ADT/TapeRecorder/TapeRecorderSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Server/Speech/Components/VoiceOverrideComponent.cs
  Content.Server/Speech/EntitySystems/VoiceOverrideSystem.cs
  Content.Shared/ADT/Bark/BarkPrototype.cs
  Content.Shared/ADT/Bark/Components/SpeechBarksComponent.cs
  Content.Shared/ADT/Bark/Events/TransformSpeakerBarkEvent.cs
  Content.Shared/ADT/Changeling/Components/ChangelingComponent.cs
  Content.Shared/ADT/TapeRecorder/TapeCassetteRecordedMessage.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Prototypes/ADT/Entities/Objects/Devices/handheld.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: UI, Status: Needs Review

#882 Откат того, что не должно существовать
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#

#881 [ADD] Добавлен русский перевод некоторых вещей.
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/filing_cabinets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/fun.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Mask/mask.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/hardsuits.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/matches.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/filing_cabinets.ftl
  Resources/Maps/ADTMaps/ADTStations/adt_frontier.yml
  Resources/Maps/ADTMaps/ADTStations/adt_frontier_newyear.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/ADT/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/ADT/Heretic/Entities/Clothing/Mask/masks.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, No C#, Changes: Localization

#886 Новые барки!
  Resources/Audio/ADT/Voice/Vocal-Barks/bark-bark.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/bark-meow.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-berdly.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-jevil.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-lancer.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-noelle.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-queen.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-ralsei.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-roxlscaard.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-rudolph.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-spamton.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/deltarune-susie.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/oneshot-robot.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/oneshot-text.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/skeleton-bark-1.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/skeleton-bark-10.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/skeleton-bark-2.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/skeleton-bark-3.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/skeleton-bark-4.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/skeleton-bark-5.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/skeleton-bark-6.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/skeleton-bark-7.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/skeleton-bark-8.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/skeleton-bark-9.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/underswap-sans.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-default.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-flowey-angry.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-stats.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-undyne.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-yellow-ace.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-yellow-axis.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-yellow-ceroba.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-yellow-chujin.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-yellow-davl.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-yellow-ed.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-yellow-martlet.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-yellow-mooch.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-yellow-moray.ogg
  Resources/Audio/ADT/Voice/Vocal-Barks/undertale-yellow-starlo.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Barks/roundstart.ftl
  Resources/Prototypes/ADT/Barks/misc.yml
  Resources/Prototypes/ADT/Barks/roundstart.yml
Labels: No C#, Changes: Localization

#884 [FIX, ADD] Снова лоудауты, фары для шаттлов, спрайт болы в руках, спрайты кнопок, пульты управления шаттлами
  Content.Server/ADT/Misc/SecShuttleComponent.cs
  Content.Server/GameTicking/Rules/Components/NukeOpsShuttleComponent.cs
  Resources/Locale/ru-RU/ADT/Objects/Specific/handheldshuttleconsole.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Lighting/base_shuttle_lighting.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Objectives/steal-target-groups.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Maps/Shuttles/infiltrator.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/handheldshuttleconsole.yml
  Resources/Prototypes/ADT/Entities/Structures/Lighting/base_shuttle_lighting.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/senior_officer.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/ADT/Objectives/stealTargetGroups.yml
  Resources/Prototypes/ADT/Objectives/traitor.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Textures/ADT/Objects/Specific/handheldshuttleconsole.rsi/default.png
  Resources/Textures/ADT/Objects/Specific/handheldshuttleconsole.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/handheldshuttleconsole.rsi/security.png
  Resources/Textures/ADT/Objects/Specific/handheldshuttleconsole.rsi/syndicate.png
  Resources/Textures/ADT/Structures/Wallmounts/Lighting/shuttle_light.rsi/base.png
  Resources/Textures/ADT/Structures/Wallmounts/Lighting/shuttle_light.rsi/broken.png
  Resources/Textures/ADT/Structures/Wallmounts/Lighting/shuttle_light.rsi/burned.png
  Resources/Textures/ADT/Structures/Wallmounts/Lighting/shuttle_light.rsi/empty.png
  Resources/Textures/ADT/Structures/Wallmounts/Lighting/shuttle_light.rsi/glow.png
  Resources/Textures/ADT/Structures/Wallmounts/Lighting/shuttle_light.rsi/meta.json
  Resources/Textures/Objects/Weapons/Throwable/bola.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Throwable/bola.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Throwable/bola.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/locked_switch.rsi/base.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/dead.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/off.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/on.png
  Resources/Textures/Structures/Wallmounts/switch_frame.rsi/caution.png
  Resources/Textures/Structures/Wallmounts/switch_frame.rsi/caution_security.png
  Resources/Textures/Structures/Wallmounts/switch_frame.rsi/exit.png
  Resources/Textures/Structures/Wallmounts/switch_frame.rsi/grey.png
  Resources/Textures/Structures/Wallmounts/switch_frame.rsi/janitor.png
Labels: Changes: Sprites, Changes: Map, Changes: Localization

#893 [FIX] Бар и Ядерка в подарок
  Resources/Maps/ADTMaps/ADTStations/NewYear/adt_frontier_newyear.yml
  Resources/Maps/ADTMaps/Ghostbars/calm_ghostly_bar.yml
  Resources/Prototypes/ADT/ghostbar.yml
Labels: Changes: Map, No C#, Changes: No C#

#878 [Заказ] Плачущий ангел
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/creatures.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/statues.ftl
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/creatures.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/statues.yml
  Resources/Textures/ADT/Mobs/Demons/angel_crying.rsi/angel.png
  Resources/Textures/ADT/Mobs/Demons/angel_crying.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, size/L, Changes: No C#, S: Needs Review

#890 Плащ Невидимка и ПНВ для синдикеков, а также новый инвиз для ниндзи
  Content.Client/ADT/_RMC14/Stealth/EntityInvisibilityVisualsSystem.cs
  Content.Client/StatusIcon/StatusIconSystem.cs
  Content.Server/ADT/Eye/Blinding/Components/NoDamageEyesOnFlashComponent.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Shared/ADT/Eye/Blinding/Components/DamageEyesOnFlashedComponent.cs
  Content.Shared/ADT/Eye/Blinding/Components/NoDamageEyesOnFlashComponent.cs
  Content.Shared/ADT/Eye/Blinding/FlashedEvent.cs
  Content.Shared/ADT/Eye/Blinding/Systems/DamageEyesOnFlashSystem.cs
  Content.Shared/ADT/NightVision/SharedNightVisionSystem.cs
  Content.Shared/ADT/_RMC14/Armor/ThermalCloak/ThermalCloakComponent.cs
  Content.Shared/ADT/_RMC14/Armor/ThermalCloak/ThermalCloakSystem.cs
  Content.Shared/ADT/_RMC14/Armor/ThermalCloak/ThermalCloakTurnInvisibleActionEvent.cs
  Content.Shared/ADT/_RMC14/Stealth/ActiveInvisibleToggledEvent.cs
  Content.Shared/ADT/_RMC14/Stealth/EntityActiveInvisibleComponent.cs
  Content.Shared/ADT/_RMC14/Stealth/EntityTurnInvisibleComponent.cs
  Content.Shared/ADT/_RMC14/Stealth/RMCPassiveStealthComponent.cs
  Content.Shared/ADT/_RMC14/Stealth/RMCPassiveStealthSystem.cs
  Content.Shared/Ninja/Components/StunProviderComponent.cs
  Resources/Audio/ADT/Effects/Cloak/attributions.yml
  Resources/Audio/ADT/Effects/Cloak/cloak_scout_off.ogg
  Resources/Audio/ADT/Effects/Cloak/cloak_scout_on.ogg
  Resources/Locale/ru-RU/ADT/clothing/invisible_cloak.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Eyes/glasses.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Neck/cloaks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Chemistry/chemical-bottles.ftl
  Resources/Prototypes/ADT/Actions/cloak.yml
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/ADT/Catalog/boobr_catalog.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Effects/cloak.yml
  Resources/Prototypes/ADT/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/ADT/Entities/Clothing/Neck/Cloaks.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Tajaran.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Chemistry/chemical-bottles.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/ADT/Clothing/Neck/Cloaks/invisible_cloak.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/invisible_cloak.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/invisible_cloak.rsi/meta.json
  Resources/Textures/ADT/Effects/cloak.rsi/cloak.png
  Resources/Textures/ADT/Effects/cloak.rsi/meta.json
  Resources/Textures/ADT/Effects/cloak.rsi/uncloak.png
  Resources/Textures/ADT/Shaders/invisible.swsl
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, Changes: Shaders, size/L

#901 [Prototype] Мелкие улучшения нимфы дионы
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Mobs/Animals/nymph.rsi/meta.json
  Resources/Textures/Mobs/Animals/nymph.rsi/nimf-equipped-HELMET.png
  Resources/Textures/Mobs/Animals/nymph.rsi/nimf-inhand-left.png
  Resources/Textures/Mobs/Animals/nymph.rsi/nimf-inhand-right.png
Labels: Changes: Sprites, size/S, Changes: No C#

#897 Починка некоторых вещей, и добавление новогодних предметов
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/shards.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/misc.ftl
  Resources/Prototypes/ADT/Entities/Objects/Fun/misc.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/newyearkatalki.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/slimehappines.yml
  Resources/Prototypes/ADT/Entities/Objects/Shields/fullshield.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/shives.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/swords.yml
  Resources/Prototypes/ADT/Entities/Structures/Storage/Crates/snowballcrate.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/daggers.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/shield.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/shives.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/spear.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
  Resources/Textures/ADT/Objects/Fun/snowball.rsi/meta.json
  Resources/Textures/ADT/Objects/Fun/snowball.rsi/snowball.png
  Resources/Textures/ADT/Objects/Misc/slimehappines.rsi/icon.png
  Resources/Textures/ADT/Objects/Misc/slimehappines.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/snowdispenser.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/snowdispenser.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/wooden_sword.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/wooden_sword.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/wooden_sword.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/wooden_sword.rsi/meta.json
  Resources/Textures/ADT/Structures/Specific/newyearkatalki.rsi/meta.json
  Resources/Textures/ADT/Structures/Specific/newyearkatalki.rsi/newyearkatalka.png
Labels: Changes: Sprites, Changes: Localization, size/L, Changes: No C#

#900 [Update] Buff Xeno
  Content.Server/ADT/Abilities/XenoQeen/XenoQeenComponent.cs
  Content.Server/ADT/Abilities/XenoQeen/XenoQeenSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Actions/XenoQeen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/xeno.ftl
  Resources/Prototypes/ADT/Actions/XenoQeen.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/Objects/Weapons/Guns/Turrets/xenoturret.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/xenoturret.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/L, S: Untriaged

#903 [FIX] Быстренькие починки
  Resources/Prototypes/ADT/Entities/Objects/Fun/misc.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/swords.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/daggers.yml
Labels: size/L, S: Untriaged, Changes: No C#

#906 [Remove] Убрана карта Frontier из пула.
  Resources/Locale/ru-RU/ADT/prototypes/Actions/XenoQeen.ftl
  Resources/Prototypes/ADT/Actions/XenoQeen.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#907 QoL Changes for anomaly generator
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/special.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Specific/anomaly/anomalies.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Specific/anomaly/cores.ftl
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/special.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Anomaly/cores.yml
  Resources/Prototypes/ADT/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Textures/ADT/Mobs/Animals/mad_gorilla.rsi/crawling.png
  Resources/Textures/ADT/Mobs/Animals/mad_gorilla.rsi/dead.png
  Resources/Textures/ADT/Mobs/Animals/mad_gorilla.rsi/icon.png
  Resources/Textures/ADT/Mobs/Animals/mad_gorilla.rsi/meta.json
  Resources/Textures/ADT/Mobs/Animals/mad_gorilla.rsi/standing.png
  Resources/Textures/ADT/Structures/Specific/Anomalies/Cores/monkey_core.rsi/core.png
  Resources/Textures/ADT/Structures/Specific/Anomalies/Cores/monkey_core.rsi/meta.json
  Resources/Textures/ADT/Structures/Specific/Anomalies/Cores/monkey_core.rsi/pulse.png
  Resources/Textures/ADT/Structures/Specific/Anomalies/monk_anom.rsi/anom.png
  Resources/Textures/ADT/Structures/Specific/Anomalies/monk_anom.rsi/meta.json
  Resources/Textures/ADT/Structures/Specific/Anomalies/monk_anom.rsi/pulse.png
Labels: Changes: Sprites, Changes: Localization, size/L, S: Untriaged, Changes: No C#

#908 Изменение, которое никто не просил, но я захотел
  README.md
Labels: S: Untriaged, Changes: No C#, size/XS

#889 Мелкие доработки.
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Resources/Locale/ru-RU/ADT/Chat/emotes.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Items/belt.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Underwear/socks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Chemistry/chemical-bottles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/hypospray.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Items/bandoliers.yml
  Resources/Prototypes/ADT/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/ADT/Catalog/boobr_catalog.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Clothing/Underwear/Socks/socks.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/novakid.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Chemistry/chemical-bottles.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/ADT/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/emergenctresponceteam.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert_leader.yml
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Textures/ADT/Clothing/Underwear/Socks/socks_liexer.rsi/equipped-SOCKS.png
  Resources/Textures/ADT/Clothing/Underwear/Socks/socks_liexer.rsi/icon.png
  Resources/Textures/ADT/Clothing/Underwear/Socks/socks_liexer.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Medical/adt_combathypo.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Medical/adt_combathypo.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Medical/adt_combathypo.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Medical/adt_combathypo.rsi/meta.json
  Resources/Textures/ADT/Personalization/owl_scimitar/icon.rsi/icon.png
  Resources/Textures/ADT/Personalization/owl_scimitar/icon.rsi/meta.json
  Resources/Textures/ADT/Personalization/owl_scimitar/meta.json
  Resources/Textures/ADT/Personalization/owl_scimitar/other.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/owl_scimitar/other.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/owl_scimitar/other.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/owl_scimitar/other.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, size/L

#914 [MAPS] Удаление Фронтира
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/ADTMaps/ADTStations/NewYear/adt_frontier_newyear.yml
  Resources/Maps/ADTMaps/ADTStations/adt_frontier.yml
  Resources/Maps/ADTMaps/ADTStations/adt_frontier_halloween.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_frontier.yml
  Resources/Prototypes/ADT/Maps/HalloweenMaps/adt_frontier_halloween.yml
  Resources/Prototypes/ADT/Maps/NewYear/adt_frontier_newyear.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, S: Untriaged, S: Needs Review

#913 Добавление музыки в автомат и лобби.
  Content.Shared/Revenant/Components/RevenantComponent.cs
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-countdown-deck-the-halls.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-is-coming.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-mood.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-vibes.ogg
  Resources/Audio/ADT/Jukebox/NewYear/attributions.yml
  Resources/Audio/ADT/Jukebox/NewYear/maxkomusic-christmas-is-coming.ogg
  Resources/Audio/ADT/Jukebox/NewYear/roa-music-winter-magic.ogg
  Resources/Audio/ADT/Jukebox/NewYear/the-piano-says-yuletide.ogg
  Resources/Audio/ADT/Jukebox/attributions.yml
  Resources/Audio/ADT/Jukebox/fsm-team-eagle.ogg
  Resources/Audio/ADT/Jukebox/fsm-team-escp-midnight-room.ogg
  Resources/Audio/ADT/Jukebox/fsm-team-escp-neonscapes.ogg
  Resources/Prototypes/ADT/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: size/L, S: Untriaged

#895 [FIX]Чиним баг-репорт
  Content.Shared/ADT/CCVar/CCVars.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/mandarin.ftl
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/shotgunsawn.yml
Labels: Changes: Localization, size/M, S: Untriaged

#918 РП откат "Лечение проводами ожогов у КПБ"
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#917 [FIX] Удаляем из РРТ вентиляторы
  Resources/Prototypes/ADT/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/utilities/tiny_fan.yml
  Resources/Prototypes/ADT/Recipes/Construction/utilities.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
Labels: size/M, S: Untriaged, Changes: No C#, S: Needs Review

#916 Мета для музыки в лобби..
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-countdown-deck-the-halls.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-is-coming.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-mood.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-vibes.ogg
  Resources/Audio/ADT/Jukebox/NewYear/maxkomusic-christmas-is-coming.ogg
  Resources/Audio/ADT/Jukebox/NewYear/roa-music-winter-magic.ogg
  Resources/Audio/ADT/Jukebox/NewYear/the-piano-says-yuletide.ogg
  Resources/Audio/ADT/Jukebox/fsm-team-eagle.ogg
  Resources/Audio/ADT/Jukebox/fsm-team-escp-midnight-room.ogg
  Resources/Audio/ADT/Jukebox/fsm-team-escp-neonscapes.ogg
Labels: S: Untriaged, Changes: No C#, size/XS

#919 [Admin, Fix] Fix command "sendert"
  Content.Server/ADT/Administration/Commands/SendERTCommand.cs
  Resources/Audio/Misc/gamma.ogg
Labels: S: Untriaged, size/S

#920 Уведомления о обновлениях сервера через Discord webhook
  Content.Server/ADT/Administration/Commands/SendUpdateServerCommand.cs
  Content.Server/ServerUpdates/ServerUpdateManager.cs
  Content.Shared/ADT/CCVar/CCVars.WebhookDiscord.cs
Labels: size/L, S: Untriaged

#835 [Admin, Discord] Добавление вебхука для админ-чата
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Shared/ADT/CCVar/CCVars.WebhookDiscord.cs
Labels: Status: Needs Review, size/L

#922 Правда
  Content.Client/ADT/BookPrinter/BookPrinterBoundUserInterface.cs
  Content.Client/ADT/BookPrinter/BookPrinterWindow.xaml
  Content.Client/ADT/BookPrinter/BookTerminalWindow.xaml.cs
  Content.Client/ADT/BookPrinter/Visualizers/BookPrinterlVisualizerSystem.cs
  Content.Server/ADT/BookPrinter/BookPrinterSystem.cs
  Content.Server/ADT/BookPrinter/Components/BookPrinterComponent.cs
  Content.Shared/ADT/BookPrinter/Components/BookPrinterCartridgeComponent.cs
  Content.Shared/ADT/BookPrinter/Components/BookPrinterVisualsComponent.cs
  Content.Shared/ADT/BookPrinter/SharedBookPrinter.cs
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/refill_cartridge.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/book_printer.yml
  Resources/Textures/ADT/Structures/Machines/book_printer.rsi/meta.json
Labels: Changes: UI, size/M, S: Untriaged

#923 Revert "Уведомления о обновлениях сервера через Discord webhook"
  Content.Server/ADT/Administration/Commands/SendUpdateServerCommand.cs
  Content.Server/ServerUpdates/ServerUpdateManager.cs
  Content.Shared/ADT/CCVar/CCVars.WebhookDiscord.cs
Labels: size/L, S: Untriaged

#927 [Admin, BugFix] Admin title in ooc chat and bugfix rules xaml
  Content.Server/Chat/Managers/ChatManager.cs
  Resources/Locale/ru-RU/ADT/Chat/chat-manager.ftl
  Resources/ServerInfo/ADT/Guidebook/ServerRules/MrpRuleset.xml
Labels: Changes: Localization, S: Untriaged, size/S

#926 Дворфы стали лучше!
  Content.Shared/ADT/Mining/Components/InnateMiningScannerViewerComponent.cs
  Content.Shared/ADT/Mining/System/MiningScannerSystem.cs
  Content.Shared/Mining/MiningScannerSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
Labels: size/M, S: Untriaged, S: Needs Review
