Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2024-06, with the labels that each got.

#4 Создать конвеер для авто ченджлога
  .github/workflows/ADT/auto_cl.yml
  Tools/ATD/auto_cl.py
  Tools/ATD/cl_old.yml
Labels: No C#, Status: Needs Review

#5 Update README.md
  README.md
Labels: No C#

#9 Add ADT Credits
  Content.Client/Credits/CreditsWindow.xaml.cs
  Resources/Credits/ADTeam.txt
  Resources/Credits/GitHub.txt
  Resources/Locale/ru-RU/credits/credits-window.ftl
Labels: Changes: UI, Changes: Localization

#16 Вырезаем лишний акшон update-wiki
  .github/workflows/update-wiki.yml
Labels: No C#

#23 Removed corvax sponsor
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/fox_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/slime_cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/slime_fox_parts.yml
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cyberlibs.yml
Labels: No C#
