Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2024-08, with the labels that each got.

#164 правки к патологу
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Spawners/jobs.ftl
Labels: No C#, Changes: Localization, Status: Needs Review

#167 Постарели текстуры
  Resources/Textures/ADT/Interface/Radial/RPD/DisposalBend.png
  Resources/Textures/ADT/Interface/Radial/RPD/DisposalJunction.png
  Resources/Textures/ADT/Interface/Radial/RPD/DisposalJunctionFlipped.png
  Resources/Textures/ADT/Interface/Radial/RPD/DisposalPipe.png
  Resources/Textures/ADT/Interface/Radial/RPD/DisposalRouter.png
  Resources/Textures/ADT/Interface/Radial/RPD/DisposalRouterFlipped.png
  Resources/Textures/ADT/Interface/Radial/RPD/DisposalTagger.png
  Resources/Textures/ADT/Interface/Radial/RPD/DisposalTrunk.png
  Resources/Textures/ADT/Interface/Radial/RPD/DisposalYJunction.png
Labels: No C#

#177 робототех, электрик бугало 2
  Resources/Locale/ru-RU/ADT/Entities/Objects/Misc/identification_cards.ftl
  Resources/Locale/ru-RU/ADT/Job/job-description.ftl
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/jobs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/ADT/Entities/Objects/Device/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/ADT/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/ADT/Roles/play_time_trackers.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#175 ниан
  Resources/Audio/ADT/Moth/attributions.yml
  Resources/Audio/ADT/Moth/moth_buzz.ogg
  Resources/Audio/ADT/Moth/moth_chitter.ogg
  Resources/Audio/ADT/Moth/moth_laugh.ogg
  Resources/Audio/ADT/Moth/moth_screm.ogg
  Resources/Audio/ADT/Moth/moth_squeak.ogg
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/moth.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/species/moth.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Parts/moth.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Moth/moth.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Species/moth.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Species/moth.ftl
  Resources/Locale/ru-RU/markings/moth.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/moth.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/moth.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/moth.ftl
  Resources/Prototypes/ADT/Body/Organs/moth.yml
  Resources/Prototypes/ADT/Body/Parts/moth.yml
  Resources/Prototypes/ADT/Body/Prototypes/moth.yml
  Resources/Prototypes/ADT/Damage/ADTmodifiers.yml
  Resources/Prototypes/ADT/Datasets/Names/first_female_moth.yml
  Resources/Prototypes/ADT/Datasets/Names/first_male_moth.yml
  Resources/Prototypes/ADT/Datasets/Names/last_moth.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/ADT/Polymorphs/polymorphs.yml
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/Species/moth.yml
  Resources/Prototypes/ADT/Voice/speech_emote_sounds.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Parts/moth.yml
  Resources/Prototypes/Body/Prototypes/moth.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Datasets/Names/moth_first_female.yml
  Resources/Prototypes/Datasets/Names/moth_first_male.yml
  Resources/Prototypes/Datasets/Names/moth_last.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/eyes.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/full.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/head_f.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/head_m.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/icon.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/l_arm.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/l_foot.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/l_hand.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/l_leg.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/r_arm.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/r_foot.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/r_hand.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/r_leg.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/torso_f.png
  Resources/Textures/ADT/Mobs/Species/Moth/parts.rsi/torso_m.png
Labels: Changes: Sprites, No C#, Changes: Localization

#162 Гемофилия
  Content.Server/ADT/Hemophilia/HemophiliaSystem.cs
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Shared/ADT/hemophilia/HemophiliaComponent.cs
  Resources/Locale/en-US/ADT/traits/disabilities.ftl
  Resources/Locale/ru-RU/ADT/traits/disabilities.ftl
  Resources/Prototypes/ADT/Traits/disabilities.yml
  Resources/Prototypes/ADT/Traits/speech.yml
Labels: Changes: Localization, Status: Needs Review

#179 Сумеречники
  Content.Client/ADT/Shadekin/Systems/ShadekinSystem.Tint.cs
  Content.Client/ADT/Shaders/ColorTintOverlay.cs
  Content.Shared/ADT/Shadekin/Components/ShadekinComponent.cs
  Resources/Locale/ru-RU/ADT/Languages/languages.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/translators.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/implanters.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Species/shadekin.ftl
  Resources/Locale/ru-RU/ADT/reagents/biological.ftl
  Resources/Prototypes/ADT/Body/Parts/shadekin.yml
  Resources/Prototypes/ADT/Body/Prototypes/shadekin.yml
  Resources/Prototypes/ADT/Damage/ADTmodifiers.yml
  Resources/Prototypes/ADT/Datasets/first_shadekin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/shadekin_ears.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/shadekin_tails.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/shadekin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Prototypes/ADT/Entities/Objects/Device/handheld.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/ADT/Languages/languages.yml
  Resources/Prototypes/ADT/Reagents/biological.yml
  Resources/Prototypes/ADT/Recipes/Lathes/translators.yml
  Resources/Prototypes/ADT/Research/translators.yml
  Resources/Prototypes/ADT/Shaders/shaders.yml
  Resources/Prototypes/ADT/Species/shadekin.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_ears.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_ears.rsi/shadekin.png
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_ears.rsi/shadekin_stripes.png
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_medium.png
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_32x32.rsi/shadekin_shorter.png
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_64x32.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_64x32.rsi/shadekin.png
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_64x32.rsi/shadekin_big.png
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_64x32.rsi/shadekin_big_fluff.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/hand.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/head.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/jumpsuit.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/Shadekin/displacement.rsi/shoes.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/eyes.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/full.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/head_f.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/head_m.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/l_arm.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/l_foot.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/l_hand.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/l_leg.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/r_arm.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/r_foot.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/r_hand.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/r_leg.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/torso_f.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/parts.rsi/torso_m.png
  Resources/Textures/ADT/Shaders/color_tint.swsl
Labels: Changes: Sprites, Changes: Localization

#138 Security vend
  Resources/Locale/ru-RU/ADT/prototypes/Entites/Clothing/OuterClothing/coats.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/fill.txt
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/kadet_trenchcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/kadet_trenchcoat.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/kadet_trenchcoat.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#168 New adt icon
  Resources/Textures/ADT/Logo/icon-adt/icon-128x128.png
  Resources/Textures/ADT/Logo/icon-adt/icon-16x16.png
  Resources/Textures/ADT/Logo/icon-adt/icon-24x24.png
  Resources/Textures/ADT/Logo/icon-adt/icon-256x256.png
  Resources/Textures/ADT/Logo/icon-adt/icon-32x32.png
  Resources/Textures/ADT/Logo/icon-adt/icon-48x48.png
  Resources/Textures/ADT/Logo/icon-adt/icon-64x64.png
  Resources/Textures/ADT/Logo/new_logo.png
  Resources/manifest.yml
Labels: No C#

#88 733
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Mask/mask.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Masks/mask.yml
  Resources/Prototypes/ADT/Objectives/stealTargetGroups.yml
  Resources/Prototypes/ADT/Objectives/thief.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Textures/ADT/Clothing/Mask/gasCE.rsi/equipped-MASK.png
  Resources/Textures/ADT/Clothing/Mask/gasCE.rsi/icon.png
  Resources/Textures/ADT/Clothing/Mask/gasCE.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Mask/gasCE.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Mask/gasCE.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#198 Revert "add test release"
  .github/workflows/reliese.yml
Labels: No C#

#199 fix hands slots
  Resources/Prototypes/ADT/Body/Prototypes/Drask.yml
  Resources/Prototypes/ADT/Body/Prototypes/Tajaran.yml
  Resources/Prototypes/ADT/Body/Prototypes/Ursus.yml
  Resources/Prototypes/ADT/Body/Prototypes/Vulpkanin.yml
  Resources/Prototypes/ADT/Body/Prototypes/demon.yml
  Resources/Prototypes/ADT/Body/Prototypes/ipc.yml
  Resources/Prototypes/ADT/Body/Prototypes/novakid.yml
  Resources/Prototypes/ADT/Body/Prototypes/shadekin.yml
Labels: No C#, Status: Needs Review

#205 Фиксы и добавления черт: Низкий, Высокий
  Content.Server/ADT/SizeAttribute/SizeAttributeComponent.cs
  Content.Server/ADT/SizeAttribute/SizeAttributeSystem.cs
  Content.Server/ADT/SizeAttribute/SizeAttributeWhitelistComponent.cs
  Content.Shared/ADT/Cloning/ITransferredByCloning.cs
  Content.Shared/ADT/Item/PseudoItemComponent.cs
  Resources/Locale/ru-RU/ADT/traits/categories.ftl
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Player/Drask.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/demon.yml
  Resources/Prototypes/ADT/Traits/categories.yml
  Resources/Prototypes/ADT/Traits/neutral.yml
Labels: Changes: Localization, Status: Needs Review

#203 фелиниды
  Content.Server/Abilities/WoundLicking/WoundLickingComponent.cs
  Content.Server/Abilities/WoundLicking/WoundLickingSystem.cs
  Content.Server/Speech/Components/NyaAccentComponent.cs
  Content.Server/Speech/Components/NyaAccentSystem.cs
  Content.Shared/WoundLicking/WoundLickingEvents.cs
  Resources/Locale/ru-RU/starshine/actions/lick-wounds.ftl
  Resources/Prototypes/ADT/Body/Organs/felinid.yml
  Resources/Prototypes/ADT/Body/Prototypes/felinid.yml
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/SoundCollections/screams.yml
  Resources/Prototypes/ADT/Species/felinid.yml
  Resources/Prototypes/ADT/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Actions/felinid.yml
Labels: Changes: Localization

#208 Smes
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/engineering.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/Machine/production.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Power/industrialSMES.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Research/industrial.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/ADT/Entities/Objects/Device/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Structures/Power/industrialSMES.yml
  Resources/Prototypes/ADT/Recipes/Lathes/electronics.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/meta.json
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc0.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og3.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og4.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og5.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op0.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-open.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#213 майор РХБЗЗ
  Resources/Locale/ru-RU/ADT/Ghost/Roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Player/humanoid.ftl
  Resources/Prototypes/ADT/Datasets/Names/cburn_names.yml
  Resources/Prototypes/ADT/Datasets/Names/military.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert_leader.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#214 Добавил ножны центкомма
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Belt/belts.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Belt/belts.yml
  Resources/Textures/ADT/Clothing/Belt/sheath_OCK.rsi/equipped-BELT.png
  Resources/Textures/ADT/Clothing/Belt/sheath_OCK.rsi/meta.json
  Resources/Textures/ADT/Clothing/Belt/sheath_OCK.rsi/sheath-sabre-equipped-BELT.png
  Resources/Textures/ADT/Clothing/Belt/sheath_OCK.rsi/sheath-sabre.png
  Resources/Textures/ADT/Clothing/Belt/sheath_OCK.rsi/sheath.png
Labels: Changes: Sprites, No C#, Changes: Localization

#219 Новые правила ВП
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/ADT/Guidebook/fill.txt
  Resources/Prototypes/ADT/Guidebook/rules.yml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/MrpRuleset.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule0.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule1.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule10.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule2.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule3.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule4.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule5.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule6.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule7.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule8.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule9.xml
  Resources/Textures/ADT/Objects/Misc/adventuretime.rsi/icon.png
  Resources/Textures/ADT/Objects/Misc/adventuretime.rsi/meta.json
Labels: Changes: Sprites

#202 Черты персонажа
  Content.Client/ADT/Quirks/QuirksSystem.cs
  Content.Server/ADT/Quirks/QuirksSystem.cs
  Content.Shared/ADT/Quirks/Components/FastLockersComponent.cs
  Content.Shared/ADT/Quirks/Components/FreerunningComponent.cs
  Content.Shared/ADT/Quirks/Components/HardThrowerComponent.cs
  Content.Shared/ADT/Quirks/Components/SoftWalkComponent.cs
  Content.Shared/ADT/Quirks/Components/SprinterComponent.cs
  Content.Shared/ADT/Quirks/EntitySystems/SharedQuirksSystem.cs
  Content.Shared/Climbing/Events/CheckClimbSpeedModifiers.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/StepTrigger/Components/StepTriggerImmuneComponent.cs
  Content.Shared/StepTrigger/Systems/StepTriggerImmuneSystem.cs
  Content.Shared/Throwing/CheckThrowRangeModifiersEvent.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Resources/Locale/ru-RU/ADT/Interaction/fast-hide-popups.ftl
  Resources/Locale/ru-RU/ADT/traits/categories.ftl
  Resources/Locale/ru-RU/ADT/traits/positive.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/ADT/Traits/disabilities.yml
  Resources/Prototypes/ADT/Traits/quirks.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/quirks.yml
Labels: Changes: Localization, Status: Needs Review

#227 Описание трейта "Немецкий акцент"
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
Labels: No C#, Changes: Localization

#226 Корректировка (правила, опечатка, книжка КЗ)
  Resources/Locale/ru-RU/ADT/economy/announcemets.ftl
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule0.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule2.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule3.xml
Labels: No C#, Changes: Localization

#229 поменял ссылку КЗ на нашу
  Resources/Prototypes/Entities/Objects/Misc/books.yml
Labels: No C#, Changes: Prototypes

#231 no more tts from corvax
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#

#237 закомментил ттс корвуха у мобов
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: No C#, Status: Needs Review

#236 Хотфиксы моих обнов
  Content.Client/ADT/Bark/Systems/SpeechBarksSystem.cs
  Content.Server/ADT/Hallucinations/Systems/HallucinationsSystem.cs
  Content.Server/ADT/Phantom/EntitySystems/PhantomSystem.cs
  Content.Server/ADT/Poltergeist/Systems/PoltergeistSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Eye/VisibilityFlags.cs
  Resources/Prototypes/ADT/StatusEffects/starvation.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#235 Плюшевая акула с заказа и замена ?? в чате
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Locale/en-US/chat/sanitizer-replacements.ftl
  Resources/Locale/ru-RU/ADT/Chat/sanitizer-replacements.ftl
  Resources/Locale/ru-RU/corvax/chat/emotes.ftl
  Resources/Prototypes/ADT/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/janicart.yml
  Resources/Textures/ADT/Objects/Fun/sharkplushie.rsi/black-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/sharkplushie.rsi/black-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/sharkplushie.rsi/black.png
  Resources/Textures/ADT/Objects/Fun/sharkplushie.rsi/meta.json
  Resources/Textures/Objects/Fun/sharkplush.rsi/meta.json
  Resources/Textures/Objects/Fun/sharkplush.rsi/mopbucket_shark_black.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#240 Мини фикс
  Content.Server/ADT/Hallucinations/Systems/HallucinationsSystem.cs
  Content.Server/ADT/Phantom/EntitySystems/PhantomSystem.cs
  Content.Server/ADT/Quirks/QuirksSystem.cs
  Content.Server/Prayer/PrayerSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Rifels/rifles.yml
  Resources/Prototypes/ADT/Traits/quirks.yml
Labels: Status: Needs Review

#242 Newtts
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Server/Corvax/TTS/TTSManager.cs
  Content.Server/Corvax/TTS/TTSSystem.SSML.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Credits/TTS.txt
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: Changes: UI, Changes: Localization

#243 crawling
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/ADT/Crawling/CrawlerComponent.cs
  Content.Shared/ADT/Crawling/CrawlingComponent.cs
  Content.Shared/ADT/Crawling/CrawlingSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/ADT/Alerts/alerts.yml
  Resources/Prototypes/Alerts/Alerts.lnk
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/ADT/Interface/Alerts/crawling.rsi/icon.png
  Resources/Textures/ADT/Interface/Alerts/crawling.rsi/meta.json
  Resources/keybinds.yml
Labels: Changes: UI, Changes: Sprites, Changes: Localization

#241 [ПЕРЕНОС] кастомизация, рога
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/sponsor.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/sponsor.yml
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/durak.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/horn1.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/horn2.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/horn3.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/horn4.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/horn5.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/horn6.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/lord.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/meta.json
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/oldpain.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/tavrhorn.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/telehorn.png
  Resources/Textures/ADT/Entities/Mobs/Customization/Markings/horns/head.rsi/vampirehorn.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#273 Обновление ридми, чтоб больше не пугали
  README.md
Labels: No C#

#267 Фикс недоработок предыдуших пров
  Content.Shared/ADT/Crawling/CrawlerComponent.cs
  Content.Shared/ADT/Crawling/CrawlingComponent.cs
  Content.Shared/ADT/Crawling/CrawlingSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Locale/ru-RU/ADT/alerts/alerts.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/sponsor.yml
  Resources/Prototypes/Alerts/Alerts.lnk
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/durak.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/horn1.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/horn2.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/horn3.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/horn4.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/horn5.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/horn6.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/lord.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/oldpain.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/tavrhorn.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/telehorn.png
  Resources/Textures/ADT/Mobs/Customization/Sponsor/horns.rsi/vampirehorn.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#274 Пиздец какой фикс
  Content.Shared/ADT/Language/Components/UniversalLanguageSpeakerComponent.cs
  Content.Shared/ADT/Language/Systems/SharedLanguageSystem.cs
  Resources/Prototypes/ADT/Entities/Mobs/Player/phantom.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/poltergeist.yml
Labels: Status: Needs Review

#279 Update lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#275 Поменьше запросов для ттс
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#277 Engine power
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Shuttles/thrusters.ftl
  Resources/Prototypes/ADT/Entities/Structures/Machines/thrusters.yml
  Resources/Textures/ADT/Structures/Machines/Thrusters/big_thruster.rsi/base.png
  Resources/Textures/ADT/Structures/Machines/Thrusters/big_thruster.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/Thrusters/big_thruster.rsi/thrust.png
  Resources/Textures/ADT/Structures/Machines/Thrusters/big_thruster.rsi/thrust_burn_unshaded.png
  Resources/Textures/ADT/Structures/Machines/Thrusters/medi_thruster.rsi/base.png
  Resources/Textures/ADT/Structures/Machines/Thrusters/medi_thruster.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/Thrusters/medi_thruster.rsi/thrust.png
  Resources/Textures/ADT/Structures/Machines/Thrusters/medi_thruster.rsi/thrust_burn_unshaded.png
  Resources/migration.yml
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#280 Исправление текстов финалок фантома
  Resources/Locale/ru-RU/ADT/Phantom/phantom.ftl
Labels: No C#, Changes: Localization

#286 Лютый нёрф фантома
  Content.Server/ADT/Hallucinations/Systems/HallucinationsSystem.cs
  Content.Server/ADT/Phantom/EntitySystems/PhantomSystem.cs
  Content.Server/ADT/Phantom/EntitySystems/VesselSystem.cs
  Content.Server/ADT/Phantom/Role/PhantomRuleComponent.cs
  Content.Server/ADT/Phantom/Role/PhantomRuleSystem.cs
  Content.Server/Objectives/Systems/KillPhantomImmunePersonConditionSystem.cs
  Content.Server/Objectives/Systems/MakeTargetVesselConditionComponent.cs
  Content.Server/Objectives/Systems/PhantomNightmareStartedConditionSystem.cs
  Content.Server/Objectives/Systems/PhantomReincarnateConditionSystem.cs
  Content.Server/Objectives/Systems/PhantomTyranyConditionSystem.cs
  Content.Shared/ADT/Hallucinations/Components/HallucinationsDiseaseComponent.cs
  Content.Shared/ADT/Phantom/Components/PhantomComponent.cs
  Content.Shared/ADT/Phantom/SharedPhantom.cs
  Content.Shared/ADT/Phantom/Systems/SharedPhantomSystem.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Locale/ru-RU/ADT/Phantom/game-rule.ftl
  Resources/Locale/ru-RU/ADT/Phantom/phantom.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Player/phantom.yml
  Resources/Prototypes/ADT/Phantom/objective_groups.yml
  Resources/Prototypes/ADT/Recipes/Lathes/paranormal.yml
Labels: Changes: Localization, Status: Needs Review

#288 Уменьшаем силу подрыва топливников
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
Labels: No C#, Status: Needs Review

#289 Обмотки для ног
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/specific.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Textures/ADT/Clothing/Shoes/Specific/black_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/black_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/black_footwraps.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/black_footwraps.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/black_footwraps.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/black_footwraps.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Specific/blackhigh_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/blackhigh_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/blackhigh_footwraps.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/blackhigh_footwraps.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/blackhigh_footwraps.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/blackhigh_footwraps.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Specific/brown_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brown_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brown_footwraps.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brown_footwraps.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brown_footwraps.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brown_footwraps.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Specific/brownhigh_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brownhigh_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brownhigh_footwraps.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brownhigh_footwraps.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brownhigh_footwraps.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brownhigh_footwraps.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Specific/white_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/white_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/white_footwraps.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/white_footwraps.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/white_footwraps.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/white_footwraps.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Specific/whitehigh_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/whitehigh_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/whitehigh_footwraps.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/whitehigh_footwraps.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/whitehigh_footwraps.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/whitehigh_footwraps.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#292 Решение энергетического кризиса станций
  Content.Server/Solar/Components/SolarPanelComponent.cs
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
Labels: Status: Needs Review

#294 Фикс "ангела хранителя"
  Content.Server/Objectives/Systems/KillPhantomImmunePersonConditionSystem.cs
  Resources/Prototypes/ADT/Objectives/phantom.yml
  Resources/Prototypes/ADT/Phantom/objective_groups.yml
Labels: Status: Needs Review

#285 Удаления различных сомнительных вещей
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/fill.txt
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Misc/handy_flags.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#284 Новы(й/е) лобби-скрин(ы)
  Resources/Prototypes/ADT/lobbyscreens.yml
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/ADT/LobbyScreens/NOGORLEX.webp
  Resources/Textures/ADT/LobbyScreens/NOGORLEX.webp.yml
  Resources/Textures/ADT/LobbyScreens/attributions.yml
  Resources/Textures/ADT/LobbyScreens/nanotrasen-3024.webp
  Resources/Textures/ADT/LobbyScreens/nanotrasen-3024.webp.yml
  Resources/Textures/ADT/LobbyScreens/spider-clan.webp
  Resources/Textures/ADT/LobbyScreens/spider-clan.webp.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: No C#

#283 Книжки с вики
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/books.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/books.ftl
  Resources/Prototypes/ADT/Entities/Objects/Misc/books.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/science.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Textures/ADT/Objects/Misc/books.rsi/CRP_CMD.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/CRP_CRG.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/CRP_ENG.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/CRP_JRD.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/CRP_MED.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/CRP_RND.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/CRP_SEC.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/CRP_SRV.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/KZ.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/PCD_CMD.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/PCD_JRD.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/PCD_SEC.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#299 фикс возможности изучить все техи 3 уровня
  Content.Shared/Research/Prototypes/TechDisciplinePrototype.cs
Labels: Status: Needs Review

#297 [ПЕРЕНОС] Прыжковые ботинки
  Content.Server/ADT/Jumpoots/JumpbootsSystem.cs
  Content.Shared/ADT/Jumpboots/JumpbootsComponent.cs
  Content.Shared/ADT/Jumpboots/SharedJumpbootsSystem.cs
  Resources/Locale/ru-RU/ADT/Catalog/Store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/jumpboots.ftl
  Resources/Prototypes/ADT/Actions/jumpboots.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/jumpboots.yml
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots_syndie.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots_syndie.rsi/icon-on.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots_syndie.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots_syndie.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots_syndie.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots_syndie.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots_syndie.rsi/on-equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots_syndie.rsi/on-inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/jumpboots_syndie.rsi/on-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#298 канистры для реагентов в раздатчиках
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Chemistry/chemical_canisters.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/soda.ftl
  Resources/Prototypes/ADT/Entities/Objects/Specific/Chemistry/chemical_canisters.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Chemistry/drinks_canisters.yml
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/inhand-left-fill-1.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/inhand-left-fill-2.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/inhand-left-fill-3.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/inhand-right-fill-1.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/inhand-right-fill-2.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/inhand-right-fill-3.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Chemistry/canister.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#301 [ПЕРЕНОС] Добавил прически,поменял локализацию горилы,дал карте синдиката копирование доступов и поменял иконку роли ОСЩ
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/mobs/npcs/pets.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/ADT/Interface/Misc/job_icons.rsi/ADTBlueShieldOfficer.png
  Resources/Textures/ADT/Mobs/Customization/Hair/hair.rsi/honor.png
  Resources/Textures/ADT/Mobs/Customization/Hair/hair.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Hair/hair.rsi/shaved_female.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#281 Кпк призраку (#276)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/InventoryTemplates/ghost_inventory_template.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Textures/ADT/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/ADT/Objects/Devices/pda.rsi/pda-ghost.png
  Resources/Textures/ADT/Objects/Devices/pda.rsi/pda-lawyer.png
  Resources/Textures/ADT/Objects/Devices/pda.rsi/pda-pathologist.png
  Resources/Textures/ADT/Objects/Devices/pda.rsi/pda-roboticist.png
  Resources/Textures/ADT/Objects/Devices/pda.rsi/pda.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#305 hotfix
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
Labels: No C#

#308 hypernoblium fix
  Resources/Prototypes/ADT/Atmospherics/reactions.yml
Labels: No C#

#309 SpaceSec Fix
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Electronics/door_access.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Doors/Airlock/access.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlock/access.yml
  Resources/Textures/ADT/Structures/Walls/space_sec_diagonal.rsi/state1.png
Labels: Changes: Sprites, No C#, Changes: Localization

#310 Нерф космического паука
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Labels: No C#, Status: Needs Review

#312 удаление реплейса слов корваха, снятия плиток от разгермы и тяжёлых бронекостюмов
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/ru-RU/corvax/speech/speech-chatsan.ftl
  Resources/migration.yml
Labels: Changes: Localization

#320 Фикс анимированного фона
  Content.Client/Lobby/LobbyState.cs
  Resources/Prototypes/ADT/AnimatedLobbyScreen/lobbyScreens.yml
  Resources/Textures/ADT/LobbyScreens/backgrounds/milkyway.rsi/1.png
  Resources/Textures/ADT/LobbyScreens/backgrounds/milkyway.rsi/meta.json
Labels: Changes: Sprites

#318 Центрированные радиальные меню
  Content.Client/ADT/RPD/RPDMenuBoundUserInterface.cs
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml.cs
  Content.Client/RCD/RCDMenuBoundUserInterface.cs
  Content.Client/UserInterface/Systems/Emotes/EmotesUIController.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
  Resources/Locale/ru-RU/ADT/barks/ui.ftl
  Resources/Locale/ru-RU/ADT/user-interface/options.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#326 Фикс звуков эмоции молей (Ниан)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Species/moth.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#, Changes: Localization

#327 Возможность стать антагом за атмоса и добавил МЩ Ревизору или кто он там
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
Labels: No C#, Status: Needs Review

#330 наследственный глава революции
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
Labels: Changes: Localization

#332 fix IPC namepreset
  Content.Shared/Humanoid/NamingSystem.cs
  Resources/Locale/en-US/species/namepreset.ftl
Labels: Changes: Localization, Status: Needs Review

#334 галлюцинации + фантом с секрете
  Resources/Audio/ADT/hallucinations/attributions.yml
  Resources/Audio/ADT/hallucinations/behind_you1.ogg
  Resources/Audio/ADT/hallucinations/behind_you2.ogg
  Resources/Audio/ADT/hallucinations/far_noise.ogg
  Resources/Audio/ADT/hallucinations/growl1.ogg
  Resources/Audio/ADT/hallucinations/growl2.ogg
  Resources/Audio/ADT/hallucinations/growl3.ogg
  Resources/Audio/ADT/hallucinations/i_see_you1.ogg
  Resources/Audio/ADT/hallucinations/i_see_you2.ogg
  Resources/Audio/ADT/hallucinations/im_here1.ogg
  Resources/Audio/ADT/hallucinations/im_here2.ogg
  Resources/Audio/ADT/hallucinations/look_up1.ogg
  Resources/Audio/ADT/hallucinations/look_up2.ogg
  Resources/Audio/ADT/hallucinations/over_here1.ogg
  Resources/Audio/ADT/hallucinations/over_here2.ogg
  Resources/Audio/ADT/hallucinations/over_here3.ogg
  Resources/Audio/ADT/hallucinations/radio_static.ogg
  Resources/Audio/ADT/hallucinations/turn_around1.ogg
  Resources/Audio/ADT/hallucinations/turn_around2.ogg
  Resources/Audio/ADT/hallucinations/veryfar_noise.ogg
  Resources/Audio/ADT/hallucinations/wail.ogg
  Resources/Prototypes/ADT/SoundCollections/hallucinations.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#333 Время на младшие должности
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#

#329 Приколы атмоса
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/piping/atmospherics/pipes.ftl
  Resources/Locale/ru-RU/ADT/research/technologies.ftl
  Resources/Prototypes/ADT/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/ADT/Recipes/Lathes/misc.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: No C#, Changes: Localization

#314 Защита от стамина урона + блокировка шприцов ухтантам и скафандрам
  Content.Server/ADT/Chemistry/Systems/InjectorsBlockerSystem.cs
  Content.Server/Chemistry/Components/BaseSolutionInjectOnEventComponent.cs
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnEventSystem.cs
  Content.Shared/ADT/Chemistry/Components/InjectorsBlockerComponent.cs
  Content.Shared/ADT/Chemistry/Events/InjectAttemptEvent.cs
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Content.Shared/Chemistry/Components/InjectorComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Locale/ru-RU/ADT/armor/armor-examine.ftl
  Resources/Locale/ru-RU/ADT/chemistry/injector-component.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
Labels: Changes: Localization, Status: Needs Review

#339 Add fix tweak
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Clothing/Back/backpacks.yml
  Resources/Prototypes/ADT/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Clothing/Uniforms/Jumpskirt.yml
  Resources/Prototypes/ADT/Clothing/Uniforms/Jumpsuit.yml
  Resources/Prototypes/ADT/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/ADT/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/ADT/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/ADT/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/ADT/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Reagents/gases.yml
  Resources/Prototypes/ADT/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/ADT/Personalization/bolper_trenchcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/bolper_trenchcoat.rsi/icon.png
  Resources/Textures/ADT/Personalization/bolper_trenchcoat.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/bolper_trenchcoat.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/bolper_trenchcoat.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#342 фикс секретного режима
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#345 Tweak: textures slimes Revert: airlocks chemistry
  Resources/Prototypes/ADT/Economy/salary.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/aslime-_3.png
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/blue_adult_slime.png
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/blue_adult_slime_dead.png
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/green_adult_slime.png
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/green_adult_slime_dead.png
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/rainbow_baby_slime.png
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/rainbow_baby_slime_dead.png
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/rainbow_slime_extract.png
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/yellow_adult_slime.png
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/yellow_adult_slime_dead.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#347 гетерохромия для аркан
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/demon.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/demon.yml
Labels: No C#, Changes: Localization

#338 Фикс локали...
  Resources/Locale/ru-RU/contraband/contraband-severity.ftl
Labels: No C#, Changes: Localization

#348 QoL - аварийные наборы
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/crowbars.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/paranormal.yml
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Tools/crowbars.yml
  Resources/Prototypes/Entities/Structures/Machines/telecomms.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/StatusIcon/security.yml
  Resources/Textures/ADT/Clothing/Shoes/Specific/black_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/black_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/blackhigh_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/blackhigh_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brown_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brown_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brownhigh_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/brownhigh_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/white_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/white_footwraps.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/whitehigh_footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/ADT/Clothing/Shoes/Specific/whitehigh_footwraps.rsi/equipped-FEET.png
  Resources/Textures/Objects/Tools/crowbar.rsi/cover-icon.png
  Resources/Textures/Objects/Tools/crowbar.rsi/green-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/orange-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/yellow-storage.png
  Resources/migration.yml
Labels: Changes: Sprites, No C#, Changes: Localization

#350 [ПЕРЕНОС] Добавлен страйкбольный лектер
  Resources/Locale/ru-RU/ADT/Objects/Weapons/Guns/rifles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/cartridges.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magazines.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/strikball.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Ammunition/Magazines/fill.txt
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Ammunition/Magazines/strikeball.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/BulletBibis.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/fill.txt
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Rifels/fill.txt
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Rifels/rifles.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Casings/airsoft_bibis.rsi/base-spent.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Casings/airsoft_bibis.rsi/base.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Casings/airsoft_bibis.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#359 кастомизация КПБ
  Resources/Locale/en-US/ADT/Entities/Mobs/Customization/ipcAntenna.ftl
  Resources/Locale/en-US/ADT/Entities/Mobs/Customization/ipcHeadTop.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/ipc.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/ipc_antenna.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/ipc_headtop.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_duality.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_holo_aura.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_wireless_connection.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_small_eye.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_headtops.rsi/ipc_wires.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_headtops.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#360 делаем стелс великим снова
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
  Resources/Textures/Shaders/stealth.swsl
Labels: No C#, Status: Needs Review, Changes: Shaders

#361 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#

#366 Add credits
  Resources/Credits/ADTeam.txt
  Resources/Credits/GitHub.txt
Labels: No C#

#367 Revert "Add credits"
  Resources/Credits/ADTeam.txt
  Resources/Credits/GitHub.txt
Labels: No C#

#369 Фикс спрайта лисьего хвоста.
  Resources/Textures/ADT/Mobs/Customization/Human/fox_parts.rsi/tail_fox_wag_stripes_prime.png
  Resources/Textures/ADT/Mobs/Customization/Human/fox_parts.rsi/tail_fox_wag_stripes_second.png
  Resources/Textures/ADT/Mobs/Customization/Human/fox_parts.rsi/tail_fox_wag_stripes_third.png
Labels: Changes: Sprites, No C#

#370 Респрайт именных вещей Йохана
  Resources/Textures/ADT/Personalization/johan_cap.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Personalization/johan_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/johan_pants.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/johan_pants.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/johan_pants.rsi/inhand-right.png
Labels: Changes: Sprites, No C#

#353 Лютый нёрф КПБ
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/ADT/Power/Systems/BatteryDrinkerSystem.cs
  Content.Server/ADT/Silicon/Systems/SiliconEmpSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Prototypes/ADT/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/ADT/Traits/disabilities.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/quirks.yml
Labels: Changes: UI, Status: Needs Review

#372 Кастом новакидам и арканам
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/demon.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/ipc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/novakid.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/demon_horns.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/ipc_headtop.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/novakid.yml
  Resources/Textures/ADT/Mobs/Customization/Demon/size_horns32x64.rsi/backward_horns.png
  Resources/Textures/ADT/Mobs/Customization/Demon/size_horns32x64.rsi/dark_crown.png
  Resources/Textures/ADT/Mobs/Customization/Demon/size_horns32x64.rsi/devil_prime1.png
  Resources/Textures/ADT/Mobs/Customization/Demon/size_horns32x64.rsi/devil_prime1_s.png
  Resources/Textures/ADT/Mobs/Customization/Demon/size_horns32x64.rsi/devil_prime2.png
  Resources/Textures/ADT/Mobs/Customization/Demon/size_horns32x64.rsi/fat_horn.png
  Resources/Textures/ADT/Mobs/Customization/Demon/size_horns32x64.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/horns.png
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/hourglasses.png
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/love.png
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/madness.png
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/naive.png
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/rev_triangle.png
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/scar.png
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/spider.png
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/spinning_top.png
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/supernova2.png
  Resources/Textures/ADT/Mobs/Customization/Novakid/custom.rsi/symbolism.png
Labels: Changes: Sprites, No C#, Changes: Localization, Не Мерджить

#373 First connection fix
  Content.Server/GameTicking/GameTicker.Player.cs
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
Labels: Changes: Localization, Не Мерджить

#377 добавление именных вещичек
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Textures/ADT/Personalization/bolper_boots.rsi/equipped-FEET.png
  Resources/Textures/ADT/Personalization/bolper_boots.rsi/icon.png
  Resources/Textures/ADT/Personalization/bolper_boots.rsi/meta.json
  Resources/Textures/ADT/Personalization/bolper_cloak.rsi/equipped-NECK.png
  Resources/Textures/ADT/Personalization/bolper_cloak.rsi/icon.png
  Resources/Textures/ADT/Personalization/bolper_cloak.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/bolper_cloak.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/bolper_cloak.rsi/meta.json
  Resources/Textures/ADT/Personalization/bolper_jumpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/bolper_jumpsuit.rsi/icon.png
  Resources/Textures/ADT/Personalization/bolper_jumpsuit.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/bolper_jumpsuit.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/bolper_jumpsuit.rsi/meta.json
  Resources/Textures/ADT/Personalization/bolper_katana.rsi/icon.png
  Resources/Textures/ADT/Personalization/bolper_katana.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/bolper_katana.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/bolper_katana.rsi/meta.json
  Resources/Textures/ADT/Personalization/bolper_sheaths.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Personalization/bolper_sheaths.rsi/meta.json
  Resources/Textures/ADT/Personalization/bolper_sheaths.rsi/sheath-sabre-equipped-BACKPACK.png
  Resources/Textures/ADT/Personalization/bolper_sheaths.rsi/sheath-sabre.png
  Resources/Textures/ADT/Personalization/bolper_sheaths.rsi/sheath.png
  Resources/Textures/ADT/Personalization/pangaari_american_sleeveless.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/pangaari_american_sleeveless.rsi/icon.png
  Resources/Textures/ADT/Personalization/pangaari_american_sleeveless.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/pangaari_american_sleeveless.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/pangaari_american_sleeveless.rsi/meta.json
  Resources/Textures/ADT/Personalization/rip_zoro_mantle.rsi/equipped-NECK.png
  Resources/Textures/ADT/Personalization/rip_zoro_mantle.rsi/icon.png
  Resources/Textures/ADT/Personalization/rip_zoro_mantle.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#375 a lot of fixes
  Content.Client/ADT/Economy/UI/AtmWindow.xaml
  Content.Client/ADT/Economy/UI/AtmWindow.xaml.cs
  Content.Server/ADT/Atmos/Reactions/HyperNobliumProductionReaction.cs
  Content.Shared/ADT/Construction/SharedCanBuildWallOnTopRPDComponent.cs
  Content.Shared/ADT/Construction/SharedCanBuildWindowOnTopRPDComponent.cs
  Resources/Locale/ru-RU/ADT/economy/atm.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/door_remote.ftl
  Resources/Prototypes/ADT/Access/engineering.yml
  Resources/Prototypes/ADT/Atmospherics/reactions.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/atm.yml
  Resources/Prototypes/ADT/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/ADT/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Textures/ADT/Structures/Machines/atm.rsi/atm.png
  Resources/Textures/ADT/Structures/Machines/atm.rsi/atm_off.png
  Resources/Textures/ADT/Structures/Machines/atm.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/atm.rsi/off.png
  Resources/Textures/ADT/Structures/Machines/atm.rsi/on.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Changes: Localization, Status: Needs Review

#376 Виляние хвостом Вульп и Таяр через Action
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Tajaran.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Vulpkanin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Tajaran.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Species/Tajaran.yml
  Resources/Prototypes/ADT/Species/Vulpkanin.yml
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_fluffy.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_fluffy_wagging.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_ring.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_ring_wagging.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_skeleton.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_skeleton_wagging.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_tip.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_tip_wagging.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/wingler_1.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/wingler_1_wagging.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/wingler_2.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/wingler_2_wagging.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/wingler_3.png
  Resources/Textures/ADT/Mobs/Customization/Tajaran/tajaran_tail.rsi/wingler_3_wagging.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/tail1.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/tail1_wagging.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/tail2.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/tail2_wagging.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/tail_m.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_tail.rsi/tail_m_wagging.png
  Resources/Textures/ADT/Mobs/Species/Tajaran/parts.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/Tajaran/parts.rsi/tail_m.png
  Resources/Textures/ADT/Mobs/Species/Tajaran/parts.rsi/tail_m_wagging.png
  Resources/Textures/ADT/Mobs/Species/Vulpkanin/parts.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/Vulpkanin/parts.rsi/tail_m.png
  Resources/Textures/ADT/Mobs/Species/Vulpkanin/parts.rsi/tail_m_wagging.png
Labels: Changes: Sprites, No C#

#351 [Заказ] Существо
  Resources/Locale/en-US/ADT/Entities/Mobs/NPCs/creature.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/creature.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/human.ftl
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/creature.yml
  Resources/Textures/ADT/Mobs/Demons/creature.rsi/alive-unshaded.png
  Resources/Textures/ADT/Mobs/Demons/creature.rsi/creature.png
  Resources/Textures/ADT/Mobs/Demons/creature.rsi/dead.png
  Resources/Textures/ADT/Mobs/Demons/creature.rsi/icon.png
  Resources/Textures/ADT/Mobs/Demons/creature.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#374 [ПЕРЕНОС] Ведущие роли
  Resources/Locale/ru-RU/ADT/Job/job-description.ftl
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/senior_officer.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_astra.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_avrite.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_bagel.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_box.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_cluster.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_core.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_delta.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_fland.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_marathon.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_meta.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_oasis.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_origin.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_packed.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_saltern.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_train.yml
  Resources/Prototypes/ADT/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/ADT/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/ADT/Roles/play_time_trackers.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#, Changes: Localization, Status: Needs Review, In progress

#380 Фиксы спонсорки
  Content.Client/ADT/RPD/RPDMenu.xaml
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml.cs
  Content.Server.Database/Migrations/Postgres/20231226154937_AdminLogPk.cs
  Content.Server.Database/Model.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Corvax/Sponsors/CheckSponsorSystem.cs
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Shared/Administration/PlayerInfo.cs
  Resources/ConfigPresets/Build/debug.toml
  Resources/Locale/en-US/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
Labels: Changes: UI, Changes: Localization

#378 [ПЕРЕНОС]Закинул одежду Иллизиума
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/helmets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Mask/mask.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/hardsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/Masks/fill.txt
  Resources/Prototypes/ADT/Entities/Clothing/Masks/mask.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuit.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Textures/ADT/Clothing/Head/Hardsuits/helmet_ili.rsi/icon-flash.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/helmet_ili.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/helmet_ili.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Hardsuits/helmet_ili.rsi/off-equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/helmet_ili.rsi/on-equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hats/hurashka.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hats/hurashka.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hats/hurashka.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Helmets/helmetSolder.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Helmets/helmetSolder.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Helmets/helmetSolder.rsi/meta.json
  Resources/Textures/ADT/Clothing/Mask/gasmask_ili.rsi/equipped-MASK.png
  Resources/Textures/ADT/Clothing/Mask/gasmask_ili.rsi/icon.png
  Resources/Textures/ADT/Clothing/Mask/gasmask_ili.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Mask/gasmask_ili.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Mask/gasmask_ili.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/plash_ili.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/plash_ili.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/plash_ili.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/plash_ili.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/plash_ili.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/hardsuit_ili.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/hardsuit_ili.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/hardsuit_ili.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/hardsuit_ili.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/hardsuit_ili.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/uniform_ili.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/uniform_ili.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/uniform_ili.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/uniform_ili.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/uniform_ili.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Awaiting Changes
