Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2024-10, with the labels that each got.

#570 шаттл сб на картах и платы в шкафах ГСБ и Вардена
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#

#565 Add new button "Pause Lobby" in AdminPanel
  Content.Client/Administration/UI/Tabs/RoundTab.xaml
  Resources/Locale/ru-RU/ADT/administration/ui/tabs/round-tab.ftl
Labels: Changes: UI, No C#, Changes: Localization

#563 Add new command "banmass"
  Content.Server/ADT/Administration/Commands/BanMassCommand.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/ru-RU/ADT/info/ban.ftl
Labels: Changes: Localization

#561 Добавил кнопку "Панель" в АХ
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Resources/Locale/ru-RU/ADT/administration/ui/actions.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#572 Bans Updated
  Content.Server/ADT/Discord/BanInfo.cs
  Content.Server/ADT/Discord/Bans/DiscordBanInfoSender.cs
  Content.Server/ADT/Discord/Bans/IDiscordBanInfoSender.cs
  Content.Server/ADT/Discord/Bans/IDiscordBanPayloadGenerator.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/BanPayloadGenerator.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/DepartmentBanPayloadGenerator.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/PanelBanPayloadGenerator.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/RoleBanPayloadGenerator.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/ServerBanPayloadGenerator.cs
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Locale/ru-RU/ADT/Discord/discord-ban.ftl
Labels: Changes: Localization

#567 fix bugs printer
  Content.Server/ADT/DocumentPrinter/DocumentPrinterSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/ADT/DocumentPrinter/DocumentPrinterComponent.cs
Labels: Status: Needs Review

#554 Исправления характеристик рас и некоторых багов.
  Resources/Locale/ru-RU/ADT/Interaction/interaction-popup-component.ftl
  Resources/Prototypes/ADT/Body/Organs/Drask.yml
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/Drask.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/Tajaran.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/Ursus.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/Vulpkanin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/demon.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/kobalt.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/kobolt.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/novakid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Drask.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Tajaran.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Ursus.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/kobolt.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/novakid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Prototypes/ADT/Reagents/chemicals.yml
  Resources/Prototypes/ADT/Reagents/gases.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/gases.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#535 Пофиксил заковывание стяжками
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Status: Needs Review

#584 Закинул локализацию и починил имеющуюся
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/backpacks/starter_gear/backpack.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/backpacks/starter_gear/duffelbag.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/backpacks/starter_gear/satchel.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Back/backpacks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Back/duffels.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Back/satchels.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/paranormal.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/translators.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/implanters.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/handheld.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Command/blueshield.yml
  Resources/Prototypes/ADT/Recipes/Lathes/paranormal.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#586 уменьшаем веселье
  Content.Server/StationEvents/Components/BasicStationEventSchedulerComponent.cs
  Resources/Prototypes/secret_weights.yml
Labels: Status: Needs Review

#587 фиксы + изменения секрета
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#

#591 пытаемси забороть спам шаттлами
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#

#467 Внутренние изменения Сумеречников
  Resources/Locale/ru-RU/ADT/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/shadekin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Parts/shadekin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Chemistry/metabolizer-types.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/meat.ftl
  Resources/Prototypes/ADT/Body/Organs/shadekin.yml
  Resources/Prototypes/ADT/Body/Prototypes/shadekin.yml
  Resources/Prototypes/ADT/Chemistry/metabolizer_types.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/ADT/Reagents/medicine.yml
  Resources/Prototypes/ADT/Reagents/narcotics.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/food/fill.txt
  Resources/Prototypes/ADT/Recipes/Construction/Graph/food/steak.yml
  Resources/Prototypes/ADT/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/brain-inhand-left.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/brain-inhand-right.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/brain.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/eyeball-l.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/eyeball-r.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/heart-off.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/heart-on.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/kidney-l.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/kidney-r.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/liver.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/lung.png
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/Shadekin/organs.rsi/stomach.png
  Resources/Textures/ADT/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/meat.rsi/shadekin-cooked.png
  Resources/Textures/ADT/Objects/Consumable/Food/meat.rsi/shadekin.png
  Resources/Textures/ADT/Objects/Consumable/Food/meat.rsi/shadekincutlet-cooked.png
  Resources/Textures/ADT/Objects/Consumable/Food/meat.rsi/shadekincutlet.png
  Resources/Textures/ADT/Objects/Consumable/Food/skewer.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/skewer.rsi/skewer-shadekin-meat.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#571 новые обломки
  Resources/Maps/ADTMaps/Salvage/bar_small.yml
  Resources/Maps/ADTMaps/Salvage/clownincident_small.yml
  Resources/Maps/ADTMaps/Salvage/cyberdune_small.yml
  Resources/Maps/ADTMaps/Salvage/engi_medium.yml
  Resources/Maps/ADTMaps/Salvage/engi_singulo_small.yml
  Resources/Maps/ADTMaps/Salvage/engi_small.yml
  Resources/Maps/ADTMaps/Salvage/medical_medium.yml
  Resources/Maps/ADTMaps/Salvage/mining_small.yml
  Resources/Maps/ADTMaps/Salvage/mining_small2.yml
  Resources/Maps/ADTMaps/Salvage/piece_debris_com.yml
  Resources/Maps/ADTMaps/Salvage/piece_debris_med.yml
  Resources/Maps/ADTMaps/Salvage/piece_debris_sec.yml
  Resources/Maps/ADTMaps/Salvage/ratvar_small.yml
  Resources/Maps/ADTMaps/Salvage/research_medium.yml
  Resources/Maps/ADTMaps/Salvage/sec_armory_medium.yml
  Resources/Maps/ADTMaps/Salvage/sec_hos_small.yml
  Resources/Maps/ADTMaps/Salvage/sec_large.yml
  Resources/Maps/ADTMaps/Salvage/service1_large.yml
  Resources/Maps/ADTMaps/Salvage/service2_large.yml
  Resources/Maps/ADTMaps/Salvage/shuttle_ai_medium.yml
  Resources/Maps/ADTMaps/Salvage/shuttle_crash_medium.yml
  Resources/Maps/ADTMaps/Salvage/syndicate_large.yml
  Resources/Maps/ADTMaps/Salvage/syndicate_small.yml
  Resources/Maps/ADTMaps/Shuttles/sec_shuttle.yml
  Resources/Prototypes/ADT/Maps/salvage.yml
Labels: Changes: Map, No C#

#606 фикс невероятной хуйни, которая не должна была никогда ломаться
  Content.Shared/ADT/Construction/NeverPreventAnchorComponent.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/phantom_portal.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: Status: Needs Review

#613 Изменение весов секрета для выпадения режимов
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#594 Отключение из пулла Аллеи.
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, No C#, Status: Needs Review

#618 Удаление фелинидов
  Resources/Prototypes/ADT/Species/felinid.yml
Labels: No C#

#562 Добавил кнопку скрытия интерфейса в лобби
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Resources/Locale/ru-RU/ADT/lobby/lobby-gui.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#621 Багфиксы лодаутов, халата паталогоанатома и изменения экрана загрузки, локализации модулей борга
  Resources/Locale/ru-RU/ADT/Objects/Specific/Robotics/borg_modules.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist.rsi/icon-open.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist.rsi/open-inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist.rsi/open-inhand-right.png
  Resources/Textures/ADT/Logo/adt_logo.png
  Resources/manifest.yml
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#623 Доработка моментов в расах
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/Tajaran.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/demon.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/drask.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/kobalt.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/moth.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/reptilian.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/shadekin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Body/Organs/vulpkanin.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Body/Organs/Drask.yml
  Resources/Prototypes/ADT/Body/Organs/felinid.yml
  Resources/Prototypes/ADT/Body/Organs/reptilian.yml
  Resources/Prototypes/ADT/Body/Organs/shadekin.yml
  Resources/Prototypes/ADT/Body/Parts/Drask.yml
  Resources/Prototypes/ADT/Body/Parts/Ursus.yml
  Resources/Prototypes/ADT/Body/Prototypes/kobalt.yml
  Resources/Prototypes/ADT/Chemistry/metabolizer_types.yml
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Drask.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Tajaran.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Ursus.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/kobolt.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/novakid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/fill.txt
  Resources/Prototypes/ADT/Reagents/biological.yml
  Resources/Prototypes/ADT/Reagents/medicine.yml
  Resources/Prototypes/ADT/Species/novakid.yml
  Resources/Prototypes/ADT/Traits/speech.yml
  Resources/Prototypes/ADT/ai_factions.yml
  Resources/Prototypes/Body/Parts/arachnid.yml
  Resources/Prototypes/Body/Prototypes/reptilian.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#624 Дайте уже loadout-у бригмедикa жить
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
Labels: No C#, Changes: Prototypes

#628 спонсоркие вещи Умы
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Wallmount/Signs/posters.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/Entities/Structures/Wallmount/Signs/posters.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Textures/ADT/Personalization/uma_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/uma_armor.rsi/icon.png
  Resources/Textures/ADT/Personalization/uma_armor.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/uma_armor.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/uma_armor.rsi/meta.json
  Resources/Textures/ADT/Personalization/uma_choker.rsi/equipped-NECK.png
  Resources/Textures/ADT/Personalization/uma_choker.rsi/icon.png
  Resources/Textures/ADT/Personalization/uma_choker.rsi/meta.json
  Resources/Textures/ADT/Personalization/uma_pistol.rsi/base.png
  Resources/Textures/ADT/Personalization/uma_pistol.rsi/bolt-open.png
  Resources/Textures/ADT/Personalization/uma_pistol.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/uma_pistol.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Personalization/uma_pistol.rsi/icon.png
  Resources/Textures/ADT/Personalization/uma_pistol.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/uma_pistol.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/uma_pistol.rsi/mag-0.png
  Resources/Textures/ADT/Personalization/uma_pistol.rsi/meta.json
  Resources/Textures/ADT/Personalization/uma_sport_clothing.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/uma_sport_clothing.rsi/icon.png
  Resources/Textures/ADT/Personalization/uma_sport_clothing.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/uma_sport_clothing.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/uma_sport_clothing.rsi/meta.json
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_umaazalia_contraband.png
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_umahot_contraband.png
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_umaonbeach_contraband.png
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_umapress_contraband.png
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_umarabbit_contraband.png
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_umasport_contraband.png
Labels: Changes: Sprites, No C#, Changes: Localization

#615 СЛИЗНЕКОТИКИ И СКАФАНДРЫ!!!!
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/slugcat.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#, Status: Needs Review

#632 кега-граната
  Resources/Audio/ADT/Effects/kega.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Grenades/grenades.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/ADT/Objects/Weapons/Grenades/grenade.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Grenades/grenade.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Grenades/grenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/grenade.rsi/icon.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#589 Спальник Бобо + игрушка
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/Entities/Structures/Furniture/beds.yml
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_bobo.png
  Resources/Textures/ADT/Structures/Furniture/meshok.rsi/duffel_bag.png
  Resources/Textures/ADT/Structures/Furniture/meshok.rsi/duffel_bag_folded.png
  Resources/Textures/ADT/Structures/Furniture/meshok.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Structures/Furniture/meshok.rsi/inhand-left.png
  Resources/Textures/ADT/Structures/Furniture/meshok.rsi/inhand-right.png
  Resources/Textures/ADT/Structures/Furniture/meshok.rsi/meta.json
  Resources/Textures/ADT/Structures/Furniture/meshok.rsi/open_overlay.png
Labels: Changes: Sprites, No C#, Changes: Localization

#625 Фикс для работы КПК у гостов
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: No C#

#604 Добавил возможность емагать монитор экипажа
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Resources/Locale/ru-RU/ADT/medical/components/crew-monitoring-component.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review, Ожидает Тестирования(QA Engineer)

#637 попытка фикса спама ивентами
  Content.Server/GameTicking/GameTicker.Lobby.cs
Labels: Status: Needs Review

#635 Ревенант больше не заваривает шлюзы, а болтирует их
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
Labels: Status: Needs Review

#647 Небольшой ребаланс
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#648 Фикс спалки бобо
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
Labels: No C#, Status: Needs Review

#644 Добавил возможность написать моноширинным подчерком хе-хе
  Content.Client/ADT/UserInterface/RichText/MonospaceTag.cs
  Content.Client/Paper/UI/PaperWindow.xaml.cs
Labels: Changes: UI, Status: Needs Review

#645 Фикс белья и отображение магистрата
  Resources/Prototypes/ADT/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#, Status: Needs Review

#655 Изменения требования для пиков карт
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_alley.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_astra.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_avrite.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_box.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_core.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_delta.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_fland.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_gemini.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_meta.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_oasis.yml
Labels: No C#, Status: Needs Review

#657 Коллективный разум
  Content.Client/ADT/CollectiveMind/Systems/CollectiveMindSystem.cs
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Chat/Managers/IChatManager.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Server/ADT/CollectiveMind/CollectiveMindCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/ADT/CollectiveMind/CollectiveMindComponent.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/ru-RU/ADT/collectivemind/collective-mind.ftl
  Resources/Locale/ru-RU/ADT/collectivemind/options-menu.ftl
  Resources/Locale/ru-RU/ADT/collectivemind/radio.ftl
  Resources/Locale/ru-RU/ADT/collectivemind/rank.ftl
  Resources/Prototypes/ADT/CollectiveMind/channels.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#610 ы
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Weapons/Ranged/Components/TargetedProjectileComponent.cs
Labels: Status: Needs Review

#654 ЗАЕБАЛО. Клоуны могут стрелять из оружия если являются антагонистами
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.Clumsy.cs
Labels: Status: Needs Review

#626 ДНК Замок для скафандров
  Content.Server/ADT/DNALocker/Components/DNALockerComponent.cs
  Content.Server/ADT/DNALocker/Systems/DNALockerSystem.cs
  Content.Shared/Salvage/Fulton/FultonComponent.cs
  Resources/Audio/ADT/dna-lock.ogg
  Resources/Locale/ru-RU/ADT/actions/syndicate.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: Localization, Status: Needs Review

#664 Фикс ревенанта, небольшой ребаланс
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Shared/Revenant/Components/RevenantComponent.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Status: Needs Review

#651 гостбар
  Content.Client/ADT/UserInterface/Systems/Ghost/Controls/GhostBarRulesWindow.xaml
  Content.Client/ADT/UserInterface/Systems/Ghost/Controls/GhostBarRulesWindow.xaml.cs
  Content.Client/ADT/UserInterface/Systems/Ghost/GhostUIController.Ghostbar.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/ADT/Clothing/MadnessMaskSystem.cs
  Content.Server/ADT/Ghostbar/Components/GhostBarPlayerComponent.cs
  Content.Server/ADT/Ghostbar/Components/GhostBarSpawnPointComponent.cs
  Content.Server/ADT/Ghostbar/GhostBarMapPrototype.cs
  Content.Server/ADT/Ghostbar/Systems/GhostBarSystem.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/ru-RU/ADT/guidebook/ghost-gui.ftl
  Resources/Maps/ADTMaps/Ghostbars/ghostbar_goob.yml
  Resources/Maps/ADTMaps/Ghostbars/ratbar.yml
  Resources/Prototypes/ADT/ghostbar.yml
  Resources/Prototypes/Goobstation/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: UI, Changes: Map, Changes: Localization

#662 Изменил защиту экзокостюмов и комплектацию вещмешков РХБЗЗ
  Resources/Prototypes/ADT/StartingGear/ERT/ert_leader.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
Labels: No C#

#668 хотфикс днк замка
  Content.Server/ADT/DNALocker/Systems/DNALockerSystem.cs
Labels: Status: Needs Review

#670 Изменил доступ у шкафа бригмедика
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: No C#

#671 Первая партия переводов и возвращение старых ПРов
  Resources/Locale/ru-RU/advertisements/vending/ammo.ftl
  Resources/Locale/ru-RU/advertisements/vending/atmosdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/boozeomat.ftl
  Resources/Locale/ru-RU/advertisements/vending/bruiseomat.ftl
  Resources/Locale/ru-RU/advertisements/vending/cargodrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/chang.ftl
  Resources/Locale/ru-RU/advertisements/vending/chefdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/chefvend.ftl
  Resources/Locale/ru-RU/advertisements/vending/chemdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/cigs.ftl
  Resources/Locale/ru-RU/advertisements/vending/clothesmate.ftl
  Resources/Locale/ru-RU/advertisements/vending/coffee.ftl
  Resources/Locale/ru-RU/advertisements/vending/cola.ftl
  Resources/Locale/ru-RU/advertisements/vending/condiments.ftl
  Resources/Locale/ru-RU/advertisements/vending/detdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/dinnerware.ftl
  Resources/Locale/ru-RU/advertisements/vending/discount.ftl
  Resources/Locale/ru-RU/advertisements/vending/donut.ftl
  Resources/Locale/ru-RU/advertisements/vending/engidrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/games.ftl
  Resources/Locale/ru-RU/advertisements/vending/happyhonk.ftl
  Resources/Locale/ru-RU/advertisements/vending/hydrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/janidrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/lawdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/magivend.ftl
  Resources/Locale/ru-RU/advertisements/vending/medidrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/megaseed.ftl
  Resources/Locale/ru-RU/advertisements/vending/nanomed.ftl
  Resources/Locale/ru-RU/advertisements/vending/nutrimax.ftl
  Resources/Locale/ru-RU/advertisements/vending/robodrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/scidrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/secdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/sectech.ftl
  Resources/Locale/ru-RU/advertisements/vending/smartfridge.ftl
  Resources/Locale/ru-RU/advertisements/vending/snack.ftl
  Resources/Locale/ru-RU/advertisements/vending/sovietsoda.ftl
  Resources/Locale/ru-RU/advertisements/vending/syndiedrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/theater.ftl
  Resources/Locale/ru-RU/advertisements/vending/vendomat.ftl
  Resources/Locale/ru-RU/advertisements/vending/virodrobe.ftl
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
  Resources/ServerInfo/Guidebook/Antagonist/SpaceNinja.xml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Chemicals.xml
  Resources/ServerInfo/Guidebook/Glossary.xml
  Resources/ServerInfo/Guidebook/NewPlayer/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
  Resources/ServerInfo/Guidebook/Service/Bartender.xml
  Resources/ServerInfo/Guidebook/Service/FoodRecipes.xml
Labels: No C#, Changes: Localization

#653 Добавление кнопки открытия логов игрока в АХ
  .vscode/launch.json
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
  Content.Client/Administration/UI/Logs/AdminLogsEui.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Server/Administration/Commands/OpenAdminLogsCommand.cs
  Content.Server/Administration/Logs/AdminLogsEui.cs
  Content.Shared/Administration/Logs/AdminLogsEuiState.cs
  Resources/Locale/ru-RU/ADT/administration/ui/actions.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#679 Фикс реагента
  Resources/Prototypes/ADT/Reagents/medicine.yml
Labels: No C#

#677 Фикс. Больше сказать нечего.
  Resources/ServerInfo/Guidebook/Service/Bartender.xml
Labels: No C#

#682 хеллоуинский фронтир
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/ADTMaps/ADTStations/adt_frontier_halloween.yml
  Resources/Maps/ADTMaps/ADTStations/adt_saltern_halloween.yml
  Resources/Maps/ADTMaps/ADTStations/adt_train_halloween.yml
  Resources/Prototypes/ADT/Maps/HalloweenMaps/adt_frontier_halloween.yml
  Resources/Prototypes/ADT/Maps/HalloweenMaps/adt_saltern_halloween.yml
  Resources/Prototypes/ADT/Maps/HalloweenMaps/adt_train_halloween.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

#435 Ai law update
  Content.Server/ADT/CustomAILaw/CustomAiLawBoardComponent.cs
  Content.Server/ADT/CustomAILaw/CustomAiLawBoardSystem.cs
  Content.Server/Silicons/Laws/SiliconLawEui.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/aicustomlaw.ftl
  Resources/Locale/ru-RU/administration/ui/silicon-law-ui.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/aicustomlaw.yml
  Resources/Prototypes/ADT/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: Localization

#683 update auto cl
  Tools/ADT/auto_cl.py
Labels: No C#

#684 Auto cl update v2
  Tools/ADT/auto_cl.py
Labels: No C#

#686 Да убираю эту хурню, а то CI CD всё равно видит его
  .github/workflows/update-wiki.off
Labels: No C#

#676 Перевод :)
  Resources/Locale/ru-RU/ADT/Objects/Specific/product-unit.ftl
  Resources/Locale/ru-RU/ADT/Objects/Weapons/Guns/rifles.ftl
Labels: No C#, Changes: Localization

#666 Добавление игрушки Скида и Тыковки для хеллоуина.
  Resources/Audio/Items/Toys/attributions.yml
  Resources/Audio/Items/Toys/scaryswings.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/toys.ftl
  Resources/Prototypes/ADT/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Textures/ADT/Objects/Fun/skidandpump.rsi/icon.png
  Resources/Textures/ADT/Objects/Fun/skidandpump.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#688 Снова доработки моментов.
  Resources/Locale/ru-RU/ADT/Ghost/Roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/bobr.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Underwear/top.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/carp.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Prototypes/ADT/Catalog/boobr_catalog.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Human.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Labels: No C#, Changes: Localization

#689 Метелочка исправлена
  Resources/Textures/ADT/Objects/Fun/broom.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Fun/broom.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Fun/broom.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/broom.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#697 YES
  Resources/Prototypes/ADT/Catalog/boobr_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: No C#

#690 [ADMIN] new command "sendert"
  Content.Server/ADT/Administration/Commands/SendERTCommand.cs
  Resources/Locale/ru-RU/ADT/command/sendert.ftl
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Maps/ADTMaps/Shuttles/ERT/cbun.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/deathsquad.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/default-rev.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/default.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/engineer.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/janitor.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/medical.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/security.yml
  Resources/Maps/ADTMaps/Shuttles/heilig_shuttle_empty.yml
  Resources/Maps/ADTMaps/Shuttles/multifunctional_empty.yml
  Resources/Prototypes/ADT/Entities/Markers/warp_point.yml
  Resources/Textures/ADT/Personalization/schrodinger_coat.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: Sprites, Changes: Map, Changes: Localization

#698 Коллективный разум для дракоши и дион + попытка пофиксить отсутствие ивентов
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Labels: Status: Needs Review

#693 Пушка гонка
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: No C#, Status: Awaiting Changes

#702 Особая медицина сервисного отдела
  Resources/Locale/ru-RU/ADT/Flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Chemistry/chemistry.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/relaxpill.yml
  Resources/Prototypes/ADT/Flavors/flavors.yml
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/ADT/Objects/Consumable/Food/servicepill.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/servicepill.rsi/pill1.png
Labels: Changes: Sprites, No C#, Changes: Localization

#705 [ FIX chat ] ъ
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
Labels: Status: Needs Review

#608 Добавил возможность вешать значки на броню
  Content.Shared/ADT/Clothing/Badge/BadgeComponent.cs
  Content.Shared/ADT/Clothing/Badge/BadgeSystem.cs
  Content.Shared/ADT/Clothing/Badge/BadgeableComponent.cs
  Content.Shared/ADT/Clothing/Badge/BadgeableSystem.cs
  Resources/Locale/ru-RU/ADT/clothing/vest.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: Changes: Localization, Status: Needs Review

#707 Мелодия в Jukbox для истинных ковбоев
  Resources/Audio/ADT/Jukebox/attributions.yml
  Resources/Audio/ADT/Jukebox/lateraligator.ogg
  Resources/Prototypes/ADT/Catalog/Jukebox/Standard.yml
Labels: No C#

#708 плюшка hollowing
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_hollowing.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#719 Респрайты игральных карт
  Resources/Textures/ADT/Objects/Fun/cards.rsi/aceofclubs-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/aceofdimonds-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/aceofhearts-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/aceofspades-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/clubs10-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/clubs2-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/clubs3-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/clubs4-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/clubs5-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/clubs6-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/clubs7-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/clubs8-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/clubs9-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/dimonds10-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/dimonds2-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/dimonds3-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/dimonds4-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/dimonds5-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/dimonds6-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/dimonds7-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/dimonds8-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/dimonds9-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/hearts10-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/hearts2-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/hearts3-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/hearts4-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/hearts5-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/hearts6-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/hearts7-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/hearts8-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/hearts9-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/jackofclubs-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/jackofdimonds-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/jackofhearts-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/jackofspades-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/kingofclubs-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/kingofdimonds-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/kingofhearts-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/kingofspades-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/queenofclubs-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/queenofdimonds-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/queenofhearts-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/queenofspades-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/spades10-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/spades2-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/spades3-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/spades4-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/spades5-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/spades6-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/spades7-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/spades8-on.png
  Resources/Textures/ADT/Objects/Fun/cards.rsi/spades9-on.png
Labels: Changes: Sprites, No C#
