Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2024-09, with the labels that each got.

#384 БОЛЬШЕ ПАТРОН
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
Labels: No C#

#336 Вокс-пиджин
  Resources/Locale/ru-RU/ADT/Languages/languages.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/translators.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/implanters.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/handheld.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/ADT/Languages/languages.yml
  Resources/Prototypes/ADT/Recipes/Lathes/translators.yml
  Resources/Prototypes/ADT/Research/translators.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#386 Снимаем спонсорку с феленидов
  Resources/Prototypes/ADT/Species/Ursus.yml
  Resources/Prototypes/ADT/Species/felinid.yml
Labels: No C#

#387 Fix auto cl
  .github/workflows/auto-cl-update-atd.yml
  Tools/ADT/auto_cl.py
Labels: No C#, Status: Needs Review

#389 Перенос аварийных ламп
  Resources/Audio/ADT/Ambience/Objects/warning-buzzer-alarm-fascinatedsound.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/paranormal.ftl
  Resources/Prototypes/ADT/Entities/Objects/Power/base_lightning.yml
  Resources/Prototypes/ADT/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Textures/ADT/Structures/Wallmounts/emergency_light.rsi/base.png
  Resources/Textures/ADT/Structures/Wallmounts/emergency_light.rsi/broken.png
  Resources/Textures/ADT/Structures/Wallmounts/emergency_light.rsi/empty.png
  Resources/Textures/ADT/Structures/Wallmounts/emergency_light.rsi/glow.png
  Resources/Textures/ADT/Structures/Wallmounts/emergency_light.rsi/meta.json
  Resources/Textures/ADT/Structures/Wallmounts/emergency_light.rsi/off.png
  Resources/Textures/ADT/Structures/Wallmounts/emergency_light.rsi/on.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#391 Отображение наших обновлений в виде красной кнопки
  Resources/Changelog/1ChangelogADT.yml
  Resources/Locale/ru-RU/changelog/changelog-window.ftl
  Tools/ADT/auto_cl.py
Labels: No C#, Changes: Localization, Status: Needs Review

#392 Ренейм должностей
  Resources/Locale/ru-RU/corvax/paper/books-lore.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
Labels: No C#, Changes: Localization

#340 Мед апдейт™ - мед препараты.
  Content.Server/ADT/Atmos/Rotting/EmbalmedSystem.cs
  Content.Server/ADT/EntityEffects/Effects/Embalm.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Shared/ADT/Atmos/Rotting/EmbalmedComponent.cs
  Content.Shared/ADT/Damage/Components/IgnoreSlowOnDamageComponent.cs
  Content.Shared/Damage/Systems/SlowOnDamageSystem.cs
  Resources/Locale/en-US/disease/miasma.ftl
  Resources/Locale/ru-RU/ADT/alerts/alerts.ftl
  Resources/Locale/ru-RU/ADT/disease/miasma.ftl
  Resources/Locale/ru-RU/ADT/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/ADT/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/ru-RU/ADT/medical/defibrillator.ftl
  Resources/Locale/ru-RU/ADT/reagents/effects/medicine_effects.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/statuseffects.ftl
  Resources/Prototypes/ADT/Alerts/alerts.yml
  Resources/Prototypes/ADT/Reagents/medicine.yml
  Resources/Prototypes/ADT/StatusEffects/hallucinations.yml
  Resources/Prototypes/ADT/StatusEffects/seeingstatic.yml
  Resources/Prototypes/ADT/StatusEffects/starvation.yml
  Resources/Prototypes/ADT/StatusEffects/status_effects.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: Localization, Status: Needs Review

#395 Добавление новых стен
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Walls/walls.ftl
  Resources/Prototypes/ADT/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/ADT/Roles/Jobs/USSP/fill.txt
  Resources/Textures/ADT/Structures/Walls/cardboard_walls.rsi/cardboard0.png
  Resources/Textures/ADT/Structures/Walls/cardboard_walls.rsi/cardboard1.png
  Resources/Textures/ADT/Structures/Walls/cardboard_walls.rsi/cardboard2.png
  Resources/Textures/ADT/Structures/Walls/cardboard_walls.rsi/cardboard3.png
  Resources/Textures/ADT/Structures/Walls/cardboard_walls.rsi/cardboard4.png
  Resources/Textures/ADT/Structures/Walls/cardboard_walls.rsi/cardboard5.png
  Resources/Textures/ADT/Structures/Walls/cardboard_walls.rsi/cardboard6.png
  Resources/Textures/ADT/Structures/Walls/cardboard_walls.rsi/cardboard7.png
  Resources/Textures/ADT/Structures/Walls/cardboard_walls.rsi/full.png
  Resources/Textures/ADT/Structures/Walls/cardboard_walls.rsi/meta.json
  Resources/Textures/ADT/Structures/Walls/stone_bricks_wall.rsi/full.png
  Resources/Textures/ADT/Structures/Walls/stone_bricks_wall.rsi/meta.json
  Resources/Textures/ADT/Structures/Walls/stone_bricks_wall.rsi/stonebricks0.png
  Resources/Textures/ADT/Structures/Walls/stone_bricks_wall.rsi/stonebricks1.png
  Resources/Textures/ADT/Structures/Walls/stone_bricks_wall.rsi/stonebricks2.png
  Resources/Textures/ADT/Structures/Walls/stone_bricks_wall.rsi/stonebricks3.png
  Resources/Textures/ADT/Structures/Walls/stone_bricks_wall.rsi/stonebricks4.png
  Resources/Textures/ADT/Structures/Walls/stone_bricks_wall.rsi/stonebricks5.png
  Resources/Textures/ADT/Structures/Walls/stone_bricks_wall.rsi/stonebricks6.png
  Resources/Textures/ADT/Structures/Walls/stone_bricks_wall.rsi/stonebricks7.png
  Resources/Textures/ADT/Structures/Walls/yellow_bricks_wall.rsi/full.png
  Resources/Textures/ADT/Structures/Walls/yellow_bricks_wall.rsi/meta.json
  Resources/Textures/ADT/Structures/Walls/yellow_bricks_wall.rsi/yellowbricks0.png
  Resources/Textures/ADT/Structures/Walls/yellow_bricks_wall.rsi/yellowbricks1.png
  Resources/Textures/ADT/Structures/Walls/yellow_bricks_wall.rsi/yellowbricks2.png
  Resources/Textures/ADT/Structures/Walls/yellow_bricks_wall.rsi/yellowbricks3.png
  Resources/Textures/ADT/Structures/Walls/yellow_bricks_wall.rsi/yellowbricks4.png
  Resources/Textures/ADT/Structures/Walls/yellow_bricks_wall.rsi/yellowbricks5.png
  Resources/Textures/ADT/Structures/Walls/yellow_bricks_wall.rsi/yellowbricks6.png
  Resources/Textures/ADT/Structures/Walls/yellow_bricks_wall.rsi/yellowbricks7.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#25 Перенос одежды Следователя СБ, Лодауты СБ, Фиксы
  Content.Shared/ADT/SwitchableWeapon/SwitchableWeaponComponent.cs
  Resources/Locale/ru-RU/ADT/Job/job-description.ftl
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Belt/belts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Neck/specific.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/security_cadet.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/fill.txt
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Textures/ADT/Clothing/Head/Hats/investigator_cap.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hats/investigator_cap.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hats/investigator_cap.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Hats/investigator_cap.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Hats/investigator_cap.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/secbadge.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/secbadge.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/secbadge.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/investigator_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/investigator_coat.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/investigator_coat.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/investigator_coat.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/investigator_coat.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/investigator_suit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/investigator_suit.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/investigator_suit.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/investigator_suit.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/investigator_suit.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Moth/custom.rsi/wings-skull.png
  Resources/Textures/ADT/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/ADT/Objects/Devices/pda.rsi/pda-investigator.png
  Resources/Textures/ADT/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, In progress

#394 + гемини - астра
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/ADTMaps/ADTStations/adt_gemini.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_gemini.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

#399 Изменения цвета гарнитуры синдиката
  Resources/Prototypes/radio_channels.yml
Labels: No C#, Status: Needs Review

#388 Blood cough
  Content.Server/ADT/BloodCough/BloodCoughSystem.cs
  Content.Shared/ADT/AutoPostingChat/AutoEmotePostingChatComponent.cs
  Content.Shared/ADT/AutoPostingChat/AutoSpeakPostingChatComponent.cs
  Content.Shared/ADT/BloodCough/BloodCoughComponent.cs
  Resources/Locale/ru-RU/ADT/Chat/blood-cough-system.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/kobalt.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/novakid.yml
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Voice/disease_emotes.yml
Labels: Changes: Localization, In progress

#405 Hot FIX
  Resources/Locale/ru-RU/ADT/Chat/blood-cough-system.ftl
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/disease_emotes.yml
Labels: No C#, Changes: Localization

#398 Добавление подносов
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Service/iron_tray.ftl
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Service/Iron_tray.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Service/fill.txt
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Textures/ADT/Objects/Specific/Service/iron_tray.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/iron_tray.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/iron_tray.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/iron_tray.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#409 Chronos, Сэт Новой Мекки
  Content.Shared/ADT/NoShowFov/NoShowFovComponent.cs
  Content.Shared/ADT/NoShowFov/NoShowFovSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Mask/mask.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Neck/cloaks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/boots.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Masks/mask.yml
  Resources/Prototypes/ADT/Entities/Clothing/Neck/Cloaks.yml
  Resources/Prototypes/ADT/Entities/Clothing/Neck/fill.txt
  Resources/Prototypes/ADT/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Textures/ADT/Clothing/Head/Hats/armyberet.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hats/armyberet.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hats/armyberet.rsi/meta.json
  Resources/Textures/ADT/Clothing/Mask/chronosvisor.rsi/equipped-MASK.png
  Resources/Textures/ADT/Clothing/Mask/chronosvisor.rsi/icon.png
  Resources/Textures/ADT/Clothing/Mask/chronosvisor.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/Cloaks/newmekkacloak.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/newmekkacloak.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/newmekkacloak.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Boots/newmekka.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/newmekka.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/newmekka.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#412 Добавление ручек для глав станции
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/pen.ftl
  Resources/Prototypes/ADT/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Textures/ADT/Objects/Misc/pens.rsi/ADTpen_CE.png
  Resources/Textures/ADT/Objects/Misc/pens.rsi/ADTpen_QM.png
  Resources/Textures/ADT/Objects/Misc/pens.rsi/ADTpen_RD.png
  Resources/Textures/ADT/Objects/Misc/pens.rsi/ADTpen_cmo.png
  Resources/Textures/ADT/Objects/Misc/pens.rsi/ADTpen_hos.png
  Resources/Textures/ADT/Objects/Misc/pens.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#414 Улучшение возможностей ИИ, чтобы он не был обычной открывашкой дверей
  Resources/Audio/Misc/attributions.yml
  Resources/Audio/Misc/bluealert.ogg
  Resources/Audio/Misc/delta.ogg
  Resources/Audio/Misc/greenalert.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Back/duffels.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/clothing/durathead.yml
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Textures/ADT/Clothing/Back/duffel_durathead.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Clothing/Back/duffel_durathead.rsi/icon.png
  Resources/Textures/ADT/Clothing/Back/duffel_durathead.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Back/duffel_durathead.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Back/duffel_durathead.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#419 Kerfus is real
  Content.Client/ADT/SlimeHair/SlimeHairBoundUserInterface.cs
  Content.Client/ADT/SlimeHair/SlimeHairWindow.xaml
  Content.Client/ADT/SlimeHair/SlimeHairWindow.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Server/ADT/SlimeHair/SlimeHairComponent.cs
  Content.Server/ADT/SlimeHair/SlimeHairSystem.Abilities.cs
  Content.Server/ADT/SlimeHair/SlimeHairSystem.cs
  Content.Shared/ADT/SlimeHair/SharedSlimeHairSystem.cs
  Resources/Audio/ADT/Ambience/Objects/minecraft_cat.ogg
  Resources/Audio/ADT/slime-hair.ogg
  Resources/Locale/ru-RU/ADT/Interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ADT/Objects/Specific/Robotics/borg_parts.ftl
  Resources/Locale/ru-RU/ADT/actions/slime.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Cyborgs/borg.ftl
  Resources/Prototypes/ADT/Actions/slime.yml
  Resources/Prototypes/ADT/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Robotics/borg_parts.yml
  Resources/Prototypes/ADT/Recipes/Lathes/robotics.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/endoskeleton.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/Textures/ADT/Interface/Actions/actions_slime.rsi/hair.png
  Resources/Textures/ADT/Interface/Actions/actions_slime.rsi/meta.json
  Resources/Textures/ADT/Mobs/Silicon/Borgs/cyborg_kerfus.rsi/kerfus.png
  Resources/Textures/ADT/Mobs/Silicon/Borgs/cyborg_kerfus.rsi/kerfusNT.png
  Resources/Textures/ADT/Mobs/Silicon/Borgs/cyborg_kerfus.rsi/kerfusNT_e.png
  Resources/Textures/ADT/Mobs/Silicon/Borgs/cyborg_kerfus.rsi/kerfusNT_l.png
  Resources/Textures/ADT/Mobs/Silicon/Borgs/cyborg_kerfus.rsi/kerfus_e.png
  Resources/Textures/ADT/Mobs/Silicon/Borgs/cyborg_kerfus.rsi/kerfus_e_r.png
  Resources/Textures/ADT/Mobs/Silicon/Borgs/cyborg_kerfus.rsi/kerfus_l.png
  Resources/Textures/ADT/Mobs/Silicon/Borgs/cyborg_kerfus.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/atm.rsi/atm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/kerfusNT_head+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/kerfusNT_head.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/kerfusNT_torso+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/kerfusNT_torso.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Changes: Localization

#411 Мед апдейт™ #2 - остальные реагенты и рецепты.
  Resources/Locale/ru-RU/ADT/alerts/alerts.ftl
  Resources/Locale/ru-RU/ADT/reagents/effects/fun_effects.ftl
  Resources/Locale/ru-RU/ADT/reagents/effects/medicine_effects.ftl
  Resources/Locale/ru-RU/ADT/reagents/effects/narcotic_effects.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/chemicals.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/toxins.ftl
  Resources/Prototypes/ADT/Alerts/alerts.yml
  Resources/Prototypes/ADT/Polymorphs/polymorphs.yml
  Resources/Prototypes/ADT/Reagents/chemicals.yml
  Resources/Prototypes/ADT/Reagents/fun.yml
  Resources/Prototypes/ADT/Reagents/medicine.yml
  Resources/Prototypes/ADT/Reagents/narcotics.yml
  Resources/Prototypes/ADT/Reagents/toxins.yml
  Resources/Prototypes/ADT/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/ADT/Recipes/Reactions/fill.txt
  Resources/Prototypes/ADT/Recipes/Reactions/fun.yml
  Resources/Prototypes/ADT/Recipes/Reactions/medicine.yml
  Resources/Prototypes/ADT/Recipes/Reactions/toxins.yml
  Resources/Textures/ADT/Interface/Alerts/polymorph.rsi/icon.png
  Resources/Textures/ADT/Interface/Alerts/polymorph.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#420 Меня Стёпа задушил 😫😫😫😫
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/meta.json
Labels: No C#

#371 Шоковый ошейник
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/shock_collar.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/shock_collar.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Textures/ADT/Clothing/Neck/Misc/shock_collar.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Misc/shock_collar.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Misc/shock_collar.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#400 Хачапуре ТЗ от Дубика
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/ADT/Recipes/Cooking/fill.txt
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/ServerInfo/ADT/NewRecipes.xml
  Resources/Textures/ADT/Objects/Consumable/Food/meals.rsi/khachapuri.png
  Resources/Textures/ADT/Objects/Consumable/Food/meals.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#427 Kerfus is ready to destroy balance
  Resources/Prototypes/ADT/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/endoskeleton.yml
Labels: No C#, Status: Needs Review

#428 Rpd for borgs
  Resources/Locale/ru-RU/ADT/Objects/Specific/Robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Tools/tools.ftl
  Resources/Prototypes/ADT/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/ADT/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/ADT/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#430 Фикс спрайтов скафа ОСЩ
  Resources/Textures/ADT/Clothing/Head/Hardsuits/blueshield_hardsuithead.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/blueshield_hardsuithead.rsi/off-equipped-HELMET-vulp.png
Labels: Changes: Sprites, No C#

#431 Kerfus fix
  Content.Shared/Corvax/TTS/TTSVoicePrototype.cs
  Resources/Locale/ru-RU/ADT/Objects/Specific/Robotics/borg_parts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Player/silicon.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: Changes: Localization, Status: Needs Review

#437 Смены без цели
  Resources/Locale/ru-RU/ADT/station-goal/station-goal-component.ftl
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_astra.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_delta.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_gemini.yml
  Resources/Prototypes/ADT/Objectives/goals.yml
  Resources/Prototypes/Corvax/Entities/Stations/base.yml
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/frame.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
  Resources/Prototypes/Corvax/Maps/split.yml
  Resources/Prototypes/Corvax/Maps/terra.yml
Labels: Changes: Map, No C#, Changes: Localization, Status: Needs Review

#439 Добавление капюшона для плаща пустоты и перенос скафандра инквизитора
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hoods.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/hardsuits.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/ADT/Clothing/Head/Hardsuits/inquisitoryhead.rsi/icon-flash.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/inquisitoryhead.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/inquisitoryhead.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Hardsuits/inquisitoryhead.rsi/off-equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/inquisitoryhead.rsi/off-inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/inquisitoryhead.rsi/off-inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/inquisitoryhead.rsi/on-equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/hoods/hoods_void_cloak.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/hoods/hoods_void_cloak.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/hoods/hoods_void_cloak.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/inquisitory.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/inquisitory.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/inquisitory.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#364 shadekin update
  Content.Server/ADT/EntityEffects/Effects/RandomTeleport.cs
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Shared/ADT/Shadekin/Components/ShadekinComponent.cs
  Content.Shared/ADT/Shadekin/SharedShadekin.cs
  Content.Shared/Humanoid/Events/ProfileLoadedEvent.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Audio/ADT/Shadekin/shadekin-transition.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Actions/shadekin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Alerts/alerts.ftl
  Resources/Locale/ru-RU/ADT/shadekin/examine.ftl
  Resources/Prototypes/ADT/Actions/shadekin.yml
  Resources/Prototypes/ADT/Alerts/alerts.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Textures/ADT/Interface/Actions/shadekin.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/shadekin.rsi/teleport.png
  Resources/Textures/ADT/Interface/Alerts/shadekin.rsi/bad.png
  Resources/Textures/ADT/Interface/Alerts/shadekin.rsi/good.png
  Resources/Textures/ADT/Interface/Alerts/shadekin.rsi/max.png
  Resources/Textures/ADT/Interface/Alerts/shadekin.rsi/meta.json
  Resources/Textures/ADT/Interface/Alerts/shadekin.rsi/ok.png
  Resources/Textures/ADT/Interface/Alerts/shadekin.rsi/zero.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#438 новая торговая станция
  Resources/Maps/ADTMaps/Shuttles/adt_trade_outpost.yml
  Resources/Prototypes/ADT/Datasets/Names/trade_station.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: Map, No C#, Status: Needs Review

#446 Tea
  Resources/Locale/ru-RU/ADT/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/shadekin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/toys.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/consumable/alcohol.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/medicine.ftl
  Resources/Prototypes/ADT/Datasets/Names/first_female_shadekin_names.yml
  Resources/Prototypes/ADT/Datasets/Names/first_male_shadekin_names_.yml
  Resources/Prototypes/ADT/Datasets/last_female_shadekin.yml
  Resources/Prototypes/ADT/Datasets/last_male_shadekin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/shadekin_ears.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/ADT/Species/shadekin.yml
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_64x32.rsi/hook_lines.png
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_64x32.rsi/hook_snake.png
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_64x32.rsi/hook_traced.png
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_64x32.rsi/snail_gradient.png
  Resources/Textures/ADT/Mobs/Customization/Shadekin/shadekin_tails_64x32.rsi/tail_hook.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#458 Небольшой QoL в химке для олдов.
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
Labels: Changes: UI, No C#

#459 Фикс акшона авточейнжлогов
  .github/workflows/auto-cl-update-atd.yml
Labels: No C#

#432 Добавление музыки, газов в артефакты и изменение антажного подноса
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Resources/Audio/ADT/Lobby/The_Wrong_Party.ogg
  Resources/Audio/ADT/Lobby/attributions.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Service/Iron_tray.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Status: Needs Review

#460 [UI] Fix accelerator control
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml
  Content.Client/ParticleAccelerator/UI/ParticleAcceleratorControlMenu.xaml
Labels: Changes: UI, No C#

#463 плазменные резаки, ретекстур моргов
  Content.Server/ADT/PlasmaCutter/BatteryRechargeComponent.cs
  Content.Server/ADT/PlasmaCutter/BatteryRechargeSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Guns.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Research/arsenal.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Recipes/Lathes/armory.yml
  Resources/Prototypes/ADT/Research/arsenal.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/cutter.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/cutter.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/cutter.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/cutter.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/cutteradv.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/cutteradv.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/cutteradv.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/cutteradv.rsi/meta.json
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/crema_active_light.png
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/crema_closed.png
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/crema_contents_light.png
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/crema_open.png
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/crema_tray.png
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/meta.json
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/morgue_closed.png
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/morgue_nomob_light.png
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/morgue_nosoul_light.png
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/morgue_open.png
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/morgue_soul_light.png
  Resources/Textures/ADT/Structures/Storage/morgue.rsi/morgue_tray.png
Labels: Changes: Sprites, Changes: Localization

#454 еда для молей
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: No C#, Status: Needs Review

#457 мелкие изменения локализации
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/ServerInfo/Guidebook/Science/ArtifactReports.xml
Labels: No C#, Changes: Localization, Status: Needs Review

#455 нерф спринтера
  Resources/Prototypes/ADT/Traits/quirks.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/quirks.yml
Labels: No C#, Status: Needs Review

#436 Фиксики
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/ADT/Economy/salary.yml
  Resources/Prototypes/ADT/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/ADT/Traits/speech.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#468 Фикс расшира
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#, Status: Needs Review

#464 add moose and update aspid
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_moose.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_moose.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Status: Needs Review

#469 спрайты артефактов от Иллюми
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/bloodyone_piece1.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/bloodyone_piece2.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/forerunners_piece1.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/forerunners_piece2.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/meta.json
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano12-inhand-left.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano12-inhand-right.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano12.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano12_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano13-inhand-left.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano13-inhand-right.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano13.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano13_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/meta.json
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano37.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano37_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano38.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano38_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano39.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano39_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano40.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano40_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#477 Эмоуты BloodCough с маленькой буквы для РПЭшности ё маё
  Resources/Locale/ru-RU/ADT/Chat/blood-cough-system.ftl
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/disease_emotes.yml
Labels: No C#, Changes: Localization

#481 пальмы и шезлонги
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Decoration/flora.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/beds.ftl
  Resources/Prototypes/ADT/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/handheld.yml
  Resources/Prototypes/ADT/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/furniture/beds.yml
  Resources/Prototypes/ADT/Recipes/Construction/furniture.yml
  Resources/Textures/ADT/Objects/Decoration/palm_tree.rsi/meta.json
  Resources/Textures/ADT/Objects/Decoration/palm_tree.rsi/palm1.png
  Resources/Textures/ADT/Objects/Decoration/palm_tree.rsi/palm2.png
  Resources/Textures/ADT/Objects/Devices/ghost_radio.rsi/icon.png
  Resources/Textures/ADT/Objects/Devices/ghost_radio.rsi/meta.json
  Resources/Textures/ADT/Objects/Devices/ghost_radio.rsi/radio.png
  Resources/Textures/ADT/Structures/Furniture/deckchair.rsi/deckchair.png
  Resources/Textures/ADT/Structures/Furniture/deckchair.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#462 Добавление супа из опилок, костюма горничной, изменение продвинутой аптечки и добавление перевода
  Resources/Locale/ru-RU/ADT/Flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/jumpboots.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/soup.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/ADT/Flavors/flavors.yml
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meal.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/janimaid.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/janimaid.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/janimaid.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/janimaid.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/janimaid.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpskirt/janimaid.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/bowl.rsi/bowl.png
  Resources/Textures/ADT/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/bowl.rsi/soupsawdust.png
  Resources/Textures/ADT/Objects/Consumable/Food/meals.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#434 Добавлена страйкбольная броня, а также именная вещь Maki_GG
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Player/humanoid.ftl
  Resources/Locale/ru-RU/ADT/research/technologies.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_blue_armor.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_blue_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_blue_armor.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_blue_armor.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_blue_armor.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_blue_armor.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_red_armor.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_red_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_red_armor.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_red_armor.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_red_armor.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/airsoft_red_armor.rsi/meta.json
  Resources/Textures/ADT/Personalization/maki_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/maki_coat.rsi/icon.png
  Resources/Textures/ADT/Personalization/maki_coat.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#472 Фикс оружия для осщ
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magazines.ftl
  Resources/Prototypes/ADT/Entities/Objects/Specific/bsweaponcase.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Revolvers/saber_revolvers.yml
  Resources/Prototypes/ADT/Recipes/Lathes/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/base.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/incendiary.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/mag-1.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/mag-2.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/mag-3.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/mag-4.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/mag-5.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/piercing.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/practice.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/red-icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/red.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/rubber.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/uranium.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#470 Добавил проверку, не держат ли при рандомном телепорте в системе Shadekin
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
Labels: Status: Needs Review

#486 Теперь консоль айди карт не убирает доступы, которые не может изменить
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
Labels: Status: Needs Review

#492 Тенкодовый акцент
  Resources/Locale/ru-RU/ADT/accent/shitcure.ftl
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Accents/word_replacements.yml
  Resources/Prototypes/Traits/speech.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#493 Два новых лобби-скрина
  Resources/Prototypes/ADT/lobbyscreens.yml
  Resources/Textures/ADT/LobbyScreens/attributions.yml
  Resources/Textures/ADT/LobbyScreens/detective.webp
  Resources/Textures/ADT/LobbyScreens/detective.webp.yml
  Resources/Textures/ADT/LobbyScreens/starbow.webp
  Resources/Textures/ADT/LobbyScreens/starbow.webp.yml
Labels: No C#

#500 Именная вещь, Filo
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/owl_scimitar/icon.rsi/icon.png
  Resources/Textures/ADT/Personalization/owl_scimitar/icon.rsi/meta.json
  Resources/Textures/ADT/Personalization/owl_scimitar/other.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/owl_scimitar/other.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/owl_scimitar/other.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/owl_scimitar/other.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#466 Фикс телепортирующихся трупов
  Content.Server/ADT/EntityEffects/Effects/RandomTeleport.cs
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Content.Shared/ADT/Shadekin/Components/ShadekinComponent.cs
Labels: Status: Needs Review

#497 Feature/highlight messages in chat for ai
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Shared/ADT/UI/Chat/HighlightWordsInChatComponent.cs
  Resources/Locale/ru-RU/ADT/Chat/highlight-words.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: Localization

#504 Добавил магистрату возраст в требованиях к професиии
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
Labels: No C#, Status: Needs Review

#502 по пожеланиям трудящихся возвращаем чокеры с Сирены
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Neck/misc.ftl
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/prazatclothing.yml
  Resources/Prototypes/ADT/Entities/Clothing/Neck/misc.yml
  Resources/Textures/ADT/Clothing/Neck/Misc/choker_with_heart.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Misc/choker_with_heart.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Misc/choker_with_heart.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/Misc/choker_with_spike.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Misc/choker_with_spike.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Misc/choker_with_spike.rsi/meta.json
Labels: Changes: Sprites, No C#, Changes: Localization

#494 хеллоуинские тайлы (я просто тестирую будет ли ругаться проверка)
  Resources/Locale/ru-RU/ADT/Tiles/tiles.ftl
  Resources/Prototypes/ADT/Tiles/floors.yml
  Resources/Prototypes/ADT/Tiles/plating.yml
  Resources/Textures/ADT/Tiles/attributions.yml
  Resources/Textures/ADT/Tiles/blackorange.png
  Resources/Textures/ADT/Tiles/lattice_left_lower.png
  Resources/Textures/ADT/Tiles/lattice_left_upper.png
  Resources/Textures/ADT/Tiles/lattice_right_lower.png
  Resources/Textures/ADT/Tiles/lattice_right_upper.png
  Resources/Textures/ADT/Tiles/yelloworange.png
Labels: No C#, Changes: Localization, Status: Needs Review

#507 хотфикс еретика
  Resources/Prototypes/ADT/Datasets/tags.yml
  Resources/Prototypes/ADT/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: No C#

#512 Fix moose and aspid
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_moose.yml
Labels: Changes: Map, No C#

#510 мелкий QoL патч
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#503 множественные станционные цели
  Resources/Locale/ru-RU/ADT/station-goal/station-goal-component.ftl
  Resources/Prototypes/ADT/Objectives/goals.yml
  Resources/Prototypes/Corvax/Entities/Stations/base.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#516 Костюмчик и катана для мя!
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/rip_zoro_jumpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/rip_zoro_jumpsuit.rsi/icon.png
  Resources/Textures/ADT/Personalization/rip_zoro_jumpsuit.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/rip_zoro_jumpsuit.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/rip_zoro_jumpsuit.rsi/meta.json
  Resources/Textures/ADT/Personalization/rip_zoro_katana.rsi/icon.png
  Resources/Textures/ADT/Personalization/rip_zoro_katana.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/rip_zoro_katana.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/rip_zoro_katana.rsi/meta.json
  Resources/Textures/ADT/Personalization/rip_zoro_sheats.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/rip_zoro_sheats.rsi/meta.json
  Resources/Textures/ADT/Personalization/rip_zoro_sheats.rsi/sheath-sabre-equipped-BELT.png
  Resources/Textures/ADT/Personalization/rip_zoro_sheats.rsi/sheath-sabre.png
  Resources/Textures/ADT/Personalization/rip_zoro_sheats.rsi/sheath.png
Labels: Changes: Sprites, No C#, Changes: Localization

#520 Улучшение системы подсвечивания слов
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Shared/Chat/SharedChatSystem.cs
Labels: Status: Needs Review

#525 Планшет ID карт, фикс шлемов ОБР
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Devices/clipboard.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/clipboard.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/ADT/Objects/Devices/hop_clipboard.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Devices/hop_clipboard.rsi/hop_clipboard-unshaded.png
  Resources/Textures/ADT/Objects/Devices/hop_clipboard.rsi/hop_clipboard.png
  Resources/Textures/ADT/Objects/Devices/hop_clipboard.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Devices/hop_clipboard.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Devices/hop_clipboard.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_emma.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#521 Document printer for auto complite documents fields.
  Content.Server/ADT/DocumentPrinter/DocumentPrinterSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/ADT/DocumentPrinter/DocumentPrinterComponent.cs
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
Labels: Changes: Localization, Status: Needs Review

#515 Перенесы слизне-котики, а также добавлены именные вещи Syrel
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/slugcat.ftl
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/slugcat.yml
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/InventoryTemplates/slugcat_inventory_template.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Textures/ADT/Mobs/slug-cat.rsi/creek-rest.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/creek.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/dead-creek.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/dead-holy.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/dead-monk.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/dead-sonfariel.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/dead-spear-master.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/dead-technician.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/holy-rest.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/holy.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/icon-creek.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/icon-holy.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/icon-monk.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/icon-sonfariel.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/icon-spear-master.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/icon-technician.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/meta.json
  Resources/Textures/ADT/Mobs/slug-cat.rsi/monk-rest.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/monk.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/sonfariel-rest.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/sonfariel.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/spear-master-rest.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/spear-master.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/technician-rest.png
  Resources/Textures/ADT/Mobs/slug-cat.rsi/technician.png
  Resources/Textures/ADT/Personalization/syrel_battleaxe.rsi/icon.png
  Resources/Textures/ADT/Personalization/syrel_battleaxe.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/syrel_battleaxe.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/syrel_battleaxe.rsi/meta.json
  Resources/Textures/ADT/Personalization/syrel_sheath.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/syrel_sheath.rsi/meta.json
  Resources/Textures/ADT/Personalization/syrel_sheath.rsi/sheath-sabre-equipped-BELT.png
  Resources/Textures/ADT/Personalization/syrel_sheath.rsi/sheath-sabre.png
  Resources/Textures/ADT/Personalization/syrel_sheath.rsi/sheath.png
Labels: Changes: Sprites, No C#, Changes: Localization

#533 фикс размера ломиков
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/Entities/Objects/Tools/crowbars.yml
Labels: No C#, Status: Needs Review

#523 Добавил переводы для некоторых эмоций
  Resources/Locale/ru-RU/ADT/Chat/emotes.ftl
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#536 Добавил кнопку "Следовать" в панель игрока
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml.cs
  Content.Client/Administration/UI/PlayerPanel/PlayerPanelEui.cs
  Content.Server/Administration/PlayerPanelEui.cs
  Content.Shared/Administration/PlayerPanelEuiState.cs
  Resources/Locale/ru-RU/administration/ui/player-panel.ftl
Labels: Changes: UI, Changes: Localization

#522 ап утилей и попытка сделать консоль удаленного управления шаттлом
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/computer.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/Computers/computers.ftl
  Resources/Maps/ADTMaps/Shuttles/pioneer.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Textures/ADT/Objects/Specific/handheldshuttleconsole.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/handheldshuttleconsole.rsi/salvage.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma_3.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Map, No C#, Changes: Localization, Status: Needs Review

#545 Изменил настройку по умолчанию для определения новый игрок или нет до…
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#542 Заказ от descente
  Content.Client/ADT/Implants/VisibleImplantSystem.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
  Content.Server/ADT/Implants/VisibleImplantSystem.cs
  Content.Shared/ADT/Crawling/Components/CrawlerComponent.cs
  Content.Shared/ADT/Crawling/Components/CrawlingComponent.cs
  Content.Shared/ADT/Crawling/SharedCrawling.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Content.Shared/ADT/Implants/Components/GigaMusclesComponent.cs
  Content.Shared/ADT/Implants/Components/MantisDaggersComponent.cs
  Content.Shared/ADT/Implants/Components/MistralFistsComponent.cs
  Content.Shared/ADT/Implants/Components/SundownerShieldsComponent.cs
  Content.Shared/ADT/Implants/Components/ToggleableStealthComponent.cs
  Content.Shared/ADT/Implants/SharedVisibleImplant.cs
  Content.Shared/ADT/Implants/SharedVisibleImplantSystem.cs
  Content.Shared/Stealth/Components/StealthComponent.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Audio/ADT/Weapons/Melee/blade.ogg
  Resources/Audio/ADT/Weapons/Melee/sundowner.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Actions/implant.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Prototypes/ADT/Actions/implants.yml
  Resources/Prototypes/ADT/Entities/Clothing/Belt/fill.txt
  Resources/Prototypes/ADT/Entities/Clothing/Belt/implants.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/Entities/Effects/weapon_arc.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/implants.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/muscles.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/muscles.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/muscles.rsi/meta.json
  Resources/Textures/ADT/Effects/arcs.rsi/attack-crash-muscle.png
  Resources/Textures/ADT/Effects/arcs.rsi/attack-fist-mistal.png
  Resources/Textures/ADT/Effects/arcs.rsi/mantis-hit.png
  Resources/Textures/ADT/Effects/arcs.rsi/mantis-slash.png
  Resources/Textures/ADT/Effects/arcs.rsi/meta.json
  Resources/Textures/ADT/Effects/arcs.rsi/mistral-slash.png
  Resources/Textures/ADT/Implants/mantis_daggers.rsi/equipped-HAND.png
  Resources/Textures/ADT/Implants/mantis_daggers.rsi/hands.png
  Resources/Textures/ADT/Implants/mantis_daggers.rsi/icon.png
  Resources/Textures/ADT/Implants/mantis_daggers.rsi/meta.json
  Resources/Textures/ADT/Implants/mistral_fists.rsi/equipped-HANDS.png
  Resources/Textures/ADT/Implants/mistral_fists.rsi/icon.png
  Resources/Textures/ADT/Implants/mistral_fists.rsi/meta.json
  Resources/Textures/ADT/Implants/sundowner_shields.rsi/equipped-BELT-closed.png
  Resources/Textures/ADT/Implants/sundowner_shields.rsi/equipped-BELT.png
  Resources/Textures/ADT/Implants/sundowner_shields.rsi/icon.png
  Resources/Textures/ADT/Implants/sundowner_shields.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/mantis_daggers.rsi/icon.png
  Resources/Textures/ADT/Interface/Actions/mantis_daggers.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/muscles_implant.rsi/icon.png
  Resources/Textures/ADT/Interface/Actions/muscles_implant.rsi/jump-icon.png
  Resources/Textures/ADT/Interface/Actions/muscles_implant.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/stealth.rsi/icon.png
  Resources/Textures/ADT/Interface/Actions/stealth.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/sundowner_shields.rsi/icon-ON.png
  Resources/Textures/ADT/Interface/Actions/sundowner_shields.rsi/icon.png
  Resources/Textures/ADT/Interface/Actions/sundowner_shields.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#548 Update auto-cl-update-atd.yml
  .github/workflows/auto-cl-update-atd.yml
Labels: No C#

#546 фикс весов секрета
  Resources/Prototypes/secret_weights.yml
Labels: No C#, Status: Needs Review

#540 Activate Brigmedic Loadout.
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#550 [ERT-QoL] Пинпоинтеры для ОБР
  Resources/Prototypes/ADT/Roles/Jobs/Fun/emergenctresponceteam.yml
Labels: No C#

#557 музыка для ивента Иллюми
  Resources/Audio/ADT/Event_Musics/attributions.yml
  Resources/Audio/ADT/Event_Musics/factory_newgrounds_boss.ogg
Labels: No C#, Status: Needs Review

#526 добавил именные вещи Moon_so_red: плащ, палку, шляпу, очки
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/moon_so_red_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/moon_so_red_coat.rsi/icon.png
  Resources/Textures/ADT/Personalization/moon_so_red_coat.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/moon_so_red_coat.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/moon_so_red_coat.rsi/meta.json
  Resources/Textures/ADT/Personalization/moon_so_red_glasses.rsi/equipped-EYES.png
  Resources/Textures/ADT/Personalization/moon_so_red_glasses.rsi/icon.png
  Resources/Textures/ADT/Personalization/moon_so_red_glasses.rsi/meta.json
  Resources/Textures/ADT/Personalization/moon_so_red_hat.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Personalization/moon_so_red_hat.rsi/icon.png
  Resources/Textures/ADT/Personalization/moon_so_red_hat.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/moon_so_red_hat.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/moon_so_red_hat.rsi/meta.json
  Resources/Textures/ADT/Personalization/moon_so_red_wand.rsi/icon.png
  Resources/Textures/ADT/Personalization/moon_so_red_wand.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/moon_so_red_wand.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/moon_so_red_wand.rsi/meta.json
  Resources/Textures/ADT/Personalization/moon_so_red_wand.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Personalization/moon_so_red_wand.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#, Changes: Localization, Status: Needs Review

#559 фиксики
  Content.Server/ADT/Implants/VisibleImplantSystem.cs
  Content.Shared/ADT/Vehicle/Systems/SharedVehicleSystem.cs
Labels: Status: Needs Review

#558 Добавление радиатора в РРТ
  Resources/Locale/ru-RU/ADT/prototypes/Interface/Radial/RPD/RPD.ftl
  Resources/Prototypes/ADT/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/ADT/Interface/Radial/RPD.yml
Labels: No C#, Changes: Localization, Status: Needs Review

#547 Sec shuttle (сделал за 15 минут)
  Content.Server/ADT/Misc/SecShuttleComponent.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/computer.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/Computers/computers.ftl
  Resources/Maps/ADTMaps/Shuttles/sec_shuttle.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: Map, Changes: Localization, Status: Needs Review
