Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2025-01, with the labels that each got.

#929 [Admin] Синхронизация цвета имени администратора с настройками OOC чата
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: S: Untriaged, size/S

#932 арблялет
  Content.Shared/ADT/Blur/BlurOnCollideComponent.cs
  Content.Shared/ADT/Blur/BlurOnCollideSystem.cs
  Content.Shared/ADT/Knockdown/KnockdownOnCollideComponent.cs
  Content.Shared/ADT/Knockdown/KnockdownOnCollideSystem.cs
  Content.Shared/Eye/Blinding/Components/BlurryVisionComponent.cs
  Resources/Audio/ADT/Weapons/Guns/Gunshots/heavy_shot_suppressed.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Battery/battery_gun.ftl
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/crossbow.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
  Resources/Prototypes/ADT/status_effects.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ebow.rsi/base.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ebow.rsi/equipped-BACK.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ebow.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ebow.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ebow.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ebow.rsi/mag-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ebow.rsi/mag-1.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ebow.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/base.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/mag-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/mag-1.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/miniature_ebow.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/cbbolt.rsi/cbbolt.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/cbbolt.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/L

#936 Нёрфы шахтёров
  Content.Client/ADT/MiningShop/MiningShopBui.cs
  Content.Shared/ADT/MiningShop/MiningShopComponent.cs
  Content.Shared/ADT/MiningShop/MiningShopSection.cs
  Content.Shared/ADT/MiningShop/MiningShopVendorUI.cs
  Content.Shared/ADT/MiningShop/SharedMiningShopSystem.cs
  Resources/Maps/ADTMaps/Nonstation/lavaland_outpost.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/miningshop.yml
  Resources/Prototypes/ADT/mining_shop.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
Labels: Changes: Map, size/L, S: Untriaged, S: Needs Review

#938 [Admin, Discord] Добавление вебхука для админ-чата 2
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Shared/ADT/CCVar/CCVars.WebhookDiscord.cs
Labels: size/L, S: Untriaged

#935 New debug test Windows
  .github/workflows/build-test-debug-win.yml
Labels: Status: Awaiting Changes, size/M, S: Untriaged, Changes: No C#

#939 Tweak Name build-test-debug.yml
  .github/workflows/build-test-debug.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#937 Декоративная руна Еретика
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Specific/decrune.ftl
  Resources/Prototypes/ADT/Entities/Structures/Specific/decrune.yml
Labels: Changes: Localization, size/S, Changes: No C#, S: Needs Review

#933 OfferItem
  Content.Client/ADT/OfferItem/OfferItemIndicatorsOverlay.cs
  Content.Client/ADT/OfferItem/OfferItemSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Server/ADT/OfferItemSystem/OfferItemSystem.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
  Content.Shared/ADT/OfferItem/Alert/Click/AcceptingOffer.cs
  Content.Shared/ADT/OfferItem/OfferItem/OfferItemComponent.cs
  Content.Shared/ADT/OfferItem/OfferItem/SharedOfferItemSystem.Interactions.cs
  Content.Shared/ADT/OfferItem/OfferItem/SharedOfferItemSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/ru-RU/ADT/Interaction/offer-item-system.ftl
  Resources/Locale/ru-RU/ADT/alerts/alerts.ftl
  Resources/Locale/ru-RU/ADT/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/ADT/Alerts/offer_item.rsi/meta.json
  Resources/Textures/ADT/Alerts/offer_item.rsi/offer_item.png
  Resources/Textures/ADT/Misc/give_item.rsi/give_item.png
  Resources/Textures/ADT/Misc/give_item.rsi/meta.json
  Resources/keybinds.yml
Labels: Changes: UI, Changes: Sprites, Changes: Localization, size/L, S: Untriaged

#943 Изменение нуарного "тренчкота" на "плащ"
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
Labels: Changes: Localization, Changes: No C#, size/XS

#945 Update build-test-debug-win.yml
  .github/workflows/build-test-debug-win.yml
Labels: S: Untriaged, size/S, Changes: No C#, S: Needs Review

#942 Правка Вебхука а-чата
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Chat/Managers/ChatManager.cs
Labels: S: Untriaged, size/S

#941 Дрейк и база для мегафауны
  Content.Client/ADT/Salvage/MegafaunaVisualsSystem.cs
  Content.Server/ADT/Salvage/Systems/Megafauna/MegafaunaSystem.Drake.cs
  Content.Server/ADT/Salvage/Systems/Megafauna/MegafaunaSystem.cs
  Content.Server/NPC/Components/NPCUseActionOnTargetComponent.cs
  Content.Server/NPC/Systems/NPCUseActionOnTargetSystem.cs
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Content.Shared/ADT/Salvage/Components/MegafaunaComponent.cs
  Content.Shared/ADT/Salvage/Events/ActionEvents.cs
  Content.Shared/Projectiles/ProjectileEmbedEvent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Misc/SharedGrapplingGunSystem.cs
  Resources/Prototypes/ADT/Actions/lava.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/Megafauna/Drake.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/ADT/Procedural/biome_templates.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Textures/ADT/Effects/target_circle.rsi/icon.png
  Resources/Textures/ADT/Effects/target_circle.rsi/meta.json
  Resources/Textures/ADT/Mobs/Aliens/Lavaland/drake.rsi/dragon.png
  Resources/Textures/ADT/Mobs/Aliens/Lavaland/drake.rsi/dragon_dead.png
  Resources/Textures/ADT/Mobs/Aliens/Lavaland/drake.rsi/meta.json
  Resources/Textures/ADT/Mobs/Aliens/Lavaland/drake.rsi/shadow.png
  Resources/Textures/ADT/Mobs/Aliens/Lavaland/drake.rsi/swoop.png
Labels: Changes: Sprites, size/XL, S: Untriaged

#949 [FIX]КПБ теперь тоже могут передавать вещи на F
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#950 [Admin, Discord] Achat most dis
  Content.Server/Administration/ServerApi.cs
Labels: size/M, S: Untriaged, S: Needs Review

#958 ребаланс кинетиков
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Resources/Audio/ADT/Weapons/Guns/Gunshots/beam_sniper.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/PKAs.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/PKAs/PKAs.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
  Resources/Prototypes/ADT/mining_shop.yml
  Resources/Prototypes/ADT/planets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/animation-icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/icon_a.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/animation-icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/icon_a.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/animation-icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/icon_a.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/animation-icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/icon_a.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/L, S: Untriaged

#959 фикс пиратиков
  Content.Server/ADT/GameTicking/Rules/Components/PiratesRuleComponent.cs
  Resources/Maps/ADTMaps/Shuttles/pirate.yml
Labels: Changes: Map, size/L, S: Untriaged

#952 fix and tweak
  Resources/Locale/ru-RU/ADT/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: Localization, S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#955 corvax query fix
  Content.Client/Corvax/JoinQueue/QueueState.cs
Labels: Status: Needs Review, S: Untriaged, size/XS

#960 слегка нёрф арбалета
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: S: Untriaged, size/S, Changes: No C#

#956 [ЗАКАЗ] Вещи компании MG&D
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Eyes/glasses.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Eyes/huds.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/helmets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/banners.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/ADT/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/banners.yml
  Resources/Textures/ADT/Clothing/Eyes/Glasses/mgd_pnvhud.rsi/equipped-EYES.png
  Resources/Textures/ADT/Clothing/Eyes/Glasses/mgd_pnvhud.rsi/icon.png
  Resources/Textures/ADT/Clothing/Eyes/Glasses/mgd_pnvhud.rsi/meta.json
  Resources/Textures/ADT/Clothing/Eyes/HUD/mgd_hud.rsi/equipped-EYES.png
  Resources/Textures/ADT/Clothing/Eyes/HUD/mgd_hud.rsi/icon.png
  Resources/Textures/ADT/Clothing/Eyes/HUD/mgd_hud.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Helmets/mgd_helmet.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Helmets/mgd_helmet.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Helmets/mgd_helmet.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mgd_agent.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mgd_agent.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mgd_agent.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mgd_guard.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mgd_guard.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mgd_guard.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mgd_participant.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mgd_participant.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/mgd_participant.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/banners48x48.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/banners48x48.rsi/mgdflag.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/L, Changes: No C#

#963 Фикс голиафов и прочей нечисти с лавы
  Content.Server/EntityEffects/Effects/Ignite.cs
Labels: S: Untriaged, size/XS

#953 Пытаемся фиксить лаги от передачи вещей на F
  Content.Server/ADT/OfferItemSystem/OfferItemSystem.cs
Labels: S: Untriaged, size/XS

#954 Реворк выбора рас
  Content.Client/ADT/Lobby/UI/SpeciesWindow.xaml
  Content.Client/ADT/Lobby/UI/SpeciesWindow.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/ru-RU/ADT/prototypes/Species/descriptions.ftl
  Resources/Locale/ru-RU/ADT/user-interface/species.ftl
  Resources/Prototypes/ADT/Species/Tajaran.yml
  Resources/Prototypes/ADT/Species/Ursus.yml
  Resources/Prototypes/ADT/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Species/demon.yml
  Resources/Prototypes/ADT/Species/drask.yml
  Resources/Prototypes/ADT/Species/felinid.yml
  Resources/Prototypes/ADT/Species/ipc.yml
  Resources/Prototypes/ADT/Species/kobalt.yml
  Resources/Prototypes/ADT/Species/moth.yml
  Resources/Prototypes/ADT/Species/novakid.yml
  Resources/Prototypes/ADT/Species/shadekin.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Arkan.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Diona.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Drask.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Human.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/IPC.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Nian.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Novakid.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Shadekin.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Slime.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Tajaran.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Unath.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Unfinished.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Urs.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Vox.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Vulpa.xml
Labels: Changes: UI, Changes: Localization, Status: Needs Review, size/L, S: Untriaged

#969 Фикс подарка id: Present
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#912 [UPDATE Xeno and litle FIX]
  Content.Server/ADT/Abilities/XenoQeen/XenoQeenComponent.cs
  Content.Server/ADT/Abilities/XenoQeen/XenoQeenSystem.cs
  Content.Server/ADT/Abilities/XenoQueen/XenoQueenComponent.cs
  Content.Server/ADT/Abilities/XenoQueen/XenoQueenSystem.cs
  Content.Shared/ADT/Actions/EmptyXenoActionEvent.cs
  Content.Shared/ADT/Actions/SpawnXenoQueenEvent.cs
  Resources/Locale/ru-RU/ADT/prototypes/Actions/XenoQeen.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Actions/XenoQueen.ftl
  Resources/Prototypes/ADT/Actions/XenoQueen.yml
  Resources/Prototypes/ADT/Alerts/alerts.yml
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Textures/ADT/Interface/Alerts/XenoQueenBloobCount.rsi/meta.json
  Resources/Textures/ADT/Interface/Alerts/XenoQueenBloobCount.rsi/power0.png
  Resources/Textures/ADT/Interface/Alerts/XenoQueenBloobCount.rsi/power1.png
  Resources/Textures/ADT/Interface/Alerts/XenoQueenBloobCount.rsi/power2.png
  Resources/Textures/ADT/Interface/Alerts/XenoQueenBloobCount.rsi/power3.png
  Resources/Textures/ADT/Interface/Alerts/XenoQueenBloobCount.rsi/power4.png
  Resources/Textures/ADT/Interface/Alerts/XenoQueenBloobCount.rsi/power5.png
  Resources/Textures/ADT/Interface/Alerts/XenoQueenBloobCount.rsi/power6.png
  Resources/Textures/ADT/Interface/Alerts/XenoQueenBloobCount.rsi/power7.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/L, S: Untriaged, S: Needs Review

#975 Карась дуреет от этой прикормки
  Resources/Prototypes/ADT/audio.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#973 Добавлен рецепт готовки салями
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
Labels: S: Untriaged, size/S, Changes: No C#

#966 Фикс отображения заполненной сумки в панели спавна
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/satchel.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#986 QoL консоли учёта кекипажа и криминальных записей
  Content.Client/CriminalRecords/CriminalRecordsConsoleBoundUserInterface.cs
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Client/StationRecords/GeneralRecord.xaml
  Content.Client/StationRecords/GeneralRecord.xaml.cs
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/StationRecords/GeneralStationRecord.cs
  Resources/Locale/ru-RU/ADT/user-interface/station-records.ftl
  Resources/Locale/ru-RU/station-records/general-station-records.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review, size/L, S: Untriaged

#983 [ЗАКАЗ] Убираем базу синдиката из обломков
  Resources/Prototypes/Corvax/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#972 гарантированные данжи, кровавый шахтёр, возможная временная починка ИИ
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/ADT/SpawnInRange/SpawnInRangeComponent.cs
  Content.Server/ADT/SpawnInRange/SpawnInRangeSystem.cs
  Content.Server/ADT/SwitchableWeapon/SwitchableWeapon/SwitchableWeaponSystem.cs
  Content.Server/NPC/HTN/HTNSystem.cs
  Content.Shared/ADT/SwitchableWeapon/SwitchableWeaponComponent.cs
  Content.Shared/CCVar/CCVars.NPC.cs
  Resources/Audio/ADT/Effects/Magic/Clockwork/fellowship_armory.ogg
  Resources/Audio/ADT/Effects/Magic/Clockwork/fellowship_armory_edited.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/lavaland.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Maps/ADTMaps/Nonstation/lavaland_outpost.yml
  Resources/Maps/ADTMaps/Ruins/lavadunges.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/Megafauna/BloodMiner.yml
  Resources/Prototypes/ADT/Entities/Objects/Tools/pka_upgrade.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/cleawing_saw.yml
  Resources/Prototypes/ADT/Procedural/Themes/lavadunges.yml
  Resources/Prototypes/ADT/planets.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Textures/ADT/Mobs/Aliens/Lavaland/bloodminer.rsi/alive_1.png
  Resources/Textures/ADT/Mobs/Aliens/Lavaland/bloodminer.rsi/alive_2.png
  Resources/Textures/ADT/Mobs/Aliens/Lavaland/bloodminer.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/cleaving_saw-inhands.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/cleaving_saw-inhands.rsi/off-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/cleaving_saw-inhands.rsi/off-inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/cleaving_saw-inhands.rsi/on-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/cleaving_saw-inhands.rsi/on-inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/cleaving_saw.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Melee/cleaving_saw.rsi/icon_off.png
  Resources/Textures/ADT/Objects/Weapons/Melee/cleaving_saw.rsi/icon_on.png
  Resources/Textures/ADT/Objects/Weapons/Melee/cleaving_saw.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: Localization, Status: Awaiting Changes, size/XL, S: Untriaged

#988 Правка логирования. Добавлена нормальная локаль ftl
  Content.Server/ADT/Administration/Commands/EchoChatCommand.cs
  Resources/Locale/ru-RU/ADT/administration/commands.ftl
Labels: Changes: Localization, size/XS

#984 Heretic fix
  Content.IntegrationTests/Tests/ADT/Heretic/RitualKnowledgeTests.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Blade.cs
  Content.Server/ADT/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/PathSpecific/AristocratSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Content.Shared/ADT/Heretic/Components/HereticComponent.cs
  Content.Shared/ADT/Heretic/Heretic.Abilites.cs
  Resources/Locale/ru-RU/ADT/Heretic/abilities/heretic.ftl
  Resources/Prototypes/ADT/Datasets/tags.yml
  Resources/Prototypes/ADT/Heretic/Entities/Objects/Specific/heretic.yml
  Resources/Prototypes/ADT/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/Entities/Objects/Devices/geiger.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Localization, size/L, S: Untriaged

#980 Респрайт КПБ
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/full.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/head_f.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/head_m.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/l_arm.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/l_foot.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/l_hand.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/l_leg.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/r_arm.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/r_foot.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/r_hand.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/r_leg.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/torso_f.png
  Resources/Textures/ADT/Mobs/Species/IPC/parts.rsi/torso_m.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#989 [ReSprite] Респрайт кастома КПБ
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_antlers.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_crowned.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_cyberhead.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_droneeyes.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_holo_aura.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_light.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_lightb.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_sidelights.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_towers.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_tv.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_wireless_connection.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_small_eye.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_headtops.rsi/ipc_wires.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_headtops.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_blank.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_blue.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_breakout.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_bsod.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_console.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_ecgwave.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eight.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_exclaim.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyes.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyesangry.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyestall.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_frown.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_glider.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_goggles.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_heart.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_l.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_loading.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_monoeye.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_orange.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_question.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_rainbowdiag.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_rainbowhoriz.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_redtext.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_rgb.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_ring.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_scroll.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_shower.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_sinewave.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_smile.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_squarewave.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_stars.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_static.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_tetris.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_textdrop.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_tv.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_windowsxp.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_yellow.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#992 нёрф пиратов, удаление микрореакторок
  Resources/Prototypes/ADT/Catalog/pirate_catalog.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
Labels: S: Untriaged, Changes: No C#

#1000 Фикс экспорта карт
  Content.Client/ADT/Administration/ExportManager.cs
  Content.Shared/ADT/Administration/ExportMessage.cs
Labels: S: Untriaged, size/S

#987 Мелкие изменения игры.
  Content.Shared/ADT/SwitchableWeapon/SwitchableWeaponComponent.cs
  Resources/Locale/ru-RU/ADT/borg/borg.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Back/satchels.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/Computers/computers.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/crates/necropolis.ftl
  Resources/Locale/ru-RU/ADT/states/item-states.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/ADT/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/ADT/Entities/Clothing/Hands/rings.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/ADT/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/spiders.yml
  Resources/Prototypes/ADT/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Recipes/Lathes/clothing.yml
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/ADT/borg_types.yml
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/ADT/Clothing/Head/Hats/blueshield_beret.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Hats/blueshield_beret.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Hats/blueshield_beret_black.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Hats/blueshield_beret_black.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Eyes/Glasses/kim.rsi/equipped-EYES.png
  Resources/Textures/Mobs/Animals/clownspider.rsi/clown-moving.png
  Resources/Textures/Mobs/Animals/clownspider.rsi/meta.json
  Resources/Textures/Mobs/Silicon/chassis.rsi/meta.json
  Resources/Textures/Mobs/Silicon/chassis.rsi/sec.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/sec_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/sec_e_r.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/sec_l.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/L, S: Untriaged

#1002 Правки описаний рас
  Resources/Prototypes/ADT/Species/ipc.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
Labels: size/M, S: Untriaged, Changes: No C#

#1006 хотфикс языков
  Content.Client/ADT/Language/UI/HumanoidProfileEditor.Languages.cs
  Content.Client/ADT/Language/UI/LanguageEntry.xaml
  Content.Client/ADT/Language/UI/LanguageMenuWindow.xaml
  Content.Client/ADT/Language/UI/LanguageMenuWindow.xaml.cs
  Content.Server/ADT/Language/LanguageSystem.cs
  Content.Shared/ADT/Language/Systems/SharedLanguageSystem.cs
Labels: Changes: UI, size/M, S: Untriaged

#1004 Костлявая рыба - лучший друг пиратов
  Resources/Locale/ru-RU/ADT/Ghost/Roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/mobs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/carp.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/banners.ftl
  Resources/Prototypes/ADT/Catalog/pirate_catalog.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/banners.yml
  Resources/Prototypes/ADT/ai_factions.yml
  Resources/Textures/ADT/Mobs/Aliens/carppirate.rsi/alive.png
  Resources/Textures/ADT/Mobs/Aliens/carppirate.rsi/dead.png
  Resources/Textures/ADT/Mobs/Aliens/carppirate.rsi/icon.png
  Resources/Textures/ADT/Mobs/Aliens/carppirate.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/pirate.rsi/icon.png
  Resources/Textures/ADT/Structures/Decoration/pirate.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/L, S: Untriaged, Changes: No C#

#1005 Добавления крафта обмоток
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/ADT/Recipes/Crafting/wraps.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1009 *кричит*
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
Labels: S: Untriaged, size/XS

#1013 [TWEAK] В пачку сигарет и портсигар снова можно класть зажигалки
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1017 svetlana_zov_5_metrov_ot_vas
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Wallmount/Signs/posters.ftl
  Resources/Prototypes/ADT/Entities/Structures/Wallmount/Signs/posters.yml
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_HB_Pangaari.png
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_noLRP.png
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, Changes: No C#

#1016 дофикшиваем
  Content.Server/ADT/DNALocker/Components/DNALockerComponent.cs
  Content.Server/ADT/DNALocker/Systems/DNALockerSystem.cs
  Resources/Maps/ADTMaps/Shuttles/ERT/cbun.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/default-rev.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/default.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/engineer.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/janitor.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/medical.yml
  Resources/Maps/ADTMaps/Shuttles/ERT/security.yml
  Resources/Maps/ADTMaps/Shuttles/ERT_base.yml
  Resources/Maps/ADTMaps/Shuttles/ERT_riot.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: Map, size/XL, S: Untriaged

#874 [SHIPBATTLE] friendly_fire
  Content.Server/ADT/_TornadoTech/FriendlyFire/Actions/FriendlyFireToggleableComponent.cs
  Content.Server/ADT/_TornadoTech/FriendlyFire/FriendlyFireComponent.cs
  Content.Server/ADT/_TornadoTech/FriendlyFire/FriendlyFireSystem.Toggleable.cs
  Content.Server/ADT/_TornadoTech/FriendlyFire/FriendlyFireSystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/implanters.ftl
  Resources/Prototypes/ADT/Actions/_TornadoTech/actions.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Textures/ADT/Interface/Actions/friendly_fire.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/friendly_fire.rsi/off.png
  Resources/Textures/ADT/Interface/Actions/friendly_fire.rsi/on.png
Labels: Changes: Sprites, Changes: Localization, size/L

#911 [SHIPBATTLE] Турели by Korol_Charodey
  Content.Shared/ADT/SS40k/Turrets/Components/TurretControllableComponent.cs
  Content.Shared/ADT/SS40k/Turrets/Components/TurretControllerComponent.cs
  Content.Shared/ADT/SS40k/Turrets/Events/TurretEvents.cs
  Content.Shared/ADT/SS40k/Turrets/Systems/TurretControllableSystem.cs
  Content.Shared/ADT/SS40k/Turrets/Systems/TurretControllerSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/Computers/computers.ftl
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/ADT/Actions/turrets.yml
  Resources/Prototypes/ADT/DeviceLinking/source_ports.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/ADT/Entities/Structures/Shuttles/cannons.yml
Labels: Changes: Localization, size/L, S: Untriaged

#1019 [ADD] New monsters and fix pirates
  Content.Server/ADT/Jumpoots/JumpbootsSystem.cs
  Content.Shared/ADT/Jumpboots/SharedJumpbootsSystem.cs
  Resources/Audio/ADT/Effects/MobsEffects/jump_mob_death.ogg
  Resources/Audio/ADT/Effects/MobsEffects/spawn_mob_death.ogg
  Resources/Locale/ru-RU/ADT/Entities/Mobs/Species/Abomination.ftl
  Resources/Locale/ru-RU/ADT/Ghost/Roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ADT/accent/accents.ftl
  Resources/Prototypes/ADT/Accents/full_replace.yml
  Resources/Prototypes/ADT/Actions/Abomination.yml
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/Abomination.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Abomination.yml
  Resources/Prototypes/ADT/Languages/languages.yml
  Resources/Textures/ADT/Mobs/Abominations/bloated.rsi/dead.png
  Resources/Textures/ADT/Mobs/Abominations/bloated.rsi/meta.json
  Resources/Textures/ADT/Mobs/Abominations/bloated.rsi/running.png
  Resources/Textures/ADT/Mobs/Abominations/death.rsi/dead.png
  Resources/Textures/ADT/Mobs/Abominations/death.rsi/meta.json
  Resources/Textures/ADT/Mobs/Abominations/death.rsi/running.png
  Resources/Textures/ADT/Mobs/Abominations/hypertrophied.rsi/dead.png
  Resources/Textures/ADT/Mobs/Abominations/hypertrophied.rsi/meta.json
  Resources/Textures/ADT/Mobs/Abominations/hypertrophied.rsi/running.png
Labels: Changes: Sprites, Changes: Localization, size/L, S: Untriaged

#1015 Возвращение старшего брата ревенанта
  Content.Server/ADT/Phantom/Role/PhantomRuleComponent.cs
  Content.Server/ADT/Phantom/Role/PhantomRuleSystem.cs
  Content.Server/Objectives/Systems/PhantomNightmareStartedConditionSystem.cs
  Content.Server/Objectives/Systems/PhantomReincarnateConditionSystem.cs
  Resources/Locale/ru-RU/ADT/Ghost/Roles/ghost-role-component.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/phantom.yml
  Resources/Prototypes/ADT/GameRules/events.yml
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/Objectives/phantom.yml
  Resources/Prototypes/ADT/Roles/Antags/phantom.yml
  Resources/Prototypes/ADT/Threats/threats.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/threats.yml
Labels: Changes: Localization, size/L, S: Untriaged

#1020 обновление призраков
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Ghost/GhostComponent.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Resources/Locale/ru-RU/ADT/prototypes/Species/ghost.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/clothing.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Species/ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Changes: Localization, size/L, S: Untriaged

#1023 [ADMIN] Update Overlay admin
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/Systems/AdminSystem.Overlay.cs
  Content.Shared/Administration/PlayerPanelEuiState.cs
Labels: Status: Needs Review, size/M, S: Untriaged

#1026 [ADMIN] Добавлена команда `setmind_swap` для обмена сознаниями между сущностями
  Content.Server/ADT/Administration/Commands/SetMindSwapCommand.cs
  Resources/Locale/ru-RU/ADT/administration/commands.ftl
Labels: Changes: Localization, size/M, S: Untriaged

#1022 [SHIPBATTLE] РСУ и каналы связи
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Headset/headset-component.ftl
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Prototypes/Entities/Objects/Tools/tools.ftl
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/RCD/rcd-component.ftl
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Structures/Doors/airlocks.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Structures/Windows/windows.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Structures/plastic_flaps.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/RCD/rcd.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/radio_channels.yml
  Resources/Prototypes/ADT/CollectiveMind/channels.yml
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/airlock_glass_docking.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/airlock_glass_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/airlock_glass_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/airlock_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/airlock_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/flaps.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/light_bevel_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/light_bevel_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/wall_light_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/wall_light_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/window_heavy_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/window_heavy_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/window_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Radial/RCD/window_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_kmt.rsi/ammo-inhand-left.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_kmt.rsi/ammo-inhand-right.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_kmt.rsi/ammo.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_kmt.rsi/equipped-BELT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_kmt.rsi/icon.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_kmt.rsi/inhand-left.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_kmt.rsi/inhand-right.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_kmt.rsi/meta.json
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_tsf.rsi/ammo-inhand-left.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_tsf.rsi/ammo-inhand-right.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_tsf.rsi/ammo.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_tsf.rsi/equipped-BELT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_tsf.rsi/icon.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_tsf.rsi/inhand-left.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_tsf.rsi/inhand-right.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Objects/Tools/rcd_tsf.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/L, Changes: No C#

#1028 Добавлена картина "Чих" (ТЗ)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Wallmount/Signs/posters.ftl
  Resources/Prototypes/ADT/Entities/Structures/Wallmount/Signs/posters.yml
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/ADT/Structures/Wallmounts/posters.rsi/poster_adtchihposter.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1024 Доработки
  Content.Server/Atmos/Piping/Unary/Components/GasVentPumpComponent.cs
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Traits/speech.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
Labels: Changes: Localization, Status: Needs Review, size/M, S: Untriaged

#1031 [ADMIN] Убираю спам в админ уведы
  Content.Shared/CCVar/CCVars.Interactions.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: S: Untriaged, size/S

#1033 [ADMIN] Опять 1984. Фильтр а-чата... его больше нет.
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
Labels: Changes: UI, S: Untriaged, size/XS

#1034 Чуть понизил шанс на антагов.
  Resources/Prototypes/ADT/GameRules/events.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1035 Изминение названия "мини-шприц"
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
Labels: Changes: Localization, S: Untriaged, Changes: No C#, size/XS

#1032 Delete Test corvax map
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/awesome.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/frame.yml
  Resources/Prototypes/Corvax/Maps/gelta.yml
  Resources/Prototypes/Corvax/Maps/glacier.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
  Resources/Prototypes/Corvax/Maps/split.yml
  Resources/Prototypes/Corvax/Maps/terra.yml
  Resources/Prototypes/Corvax/Maps/tushkan.yml
Labels: Changes: Map, size/XL, S: Untriaged

#1038 [TWEAK] QoL-патч
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Basic/staves.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.ftl
  Resources/Maps/ADTMaps/Ruins/lavadunges.yml
  Resources/Prototypes/ADT/Catalog/boobr_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Attachments/Attachments/under_attachment.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Basic/staves.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/ADT/Recipes/Lathes/armory.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/jaws_cutter.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/jaws_pry.png
Labels: Changes: Sprites, Changes: Map, Changes: Localization, size/L, S: Untriaged, Changes: No C#

#1040 Modfiks
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
Labels: S: Untriaged, size/S

#1039 Укороченная кожанка [Именное, Pangaari]
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Textures/ADT/Personalization/pangaari_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/pangaari_jacket.rsi/icon.png
  Resources/Textures/ADT/Personalization/pangaari_jacket.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/pangaari_jacket.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/pangaari_jacket.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1046 шишкод
  Content.Client/Corvax/JoinQueue/QueueState.cs
Labels: S: Untriaged, size/S
