Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2025-06, with the labels that each got.

#1569 Слизне-котики теперь умеют спать!
  Content.Client/ADT/Slimecats/SlimecatsSleepActionSystem.cs
  Content.Server/ADT/Actions/Slimecats/SlimecatsSleepActionSystem.cs
  Content.Shared/ADT/Slimecats/Component/SharedSlimecatsActionComponent.cs
  Content.Shared/ADT/Slimecats/SharedSlimecatSleep.cs
  Resources/Locale/ru-RU/ADT/actions/slimecatSleep.ftl
  Resources/Prototypes/ADT/Actions/slimecatSleep.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/slugcat.yml
Labels: Changes: Localization, size/M, S: Untriaged

#1571 Запрет сумеречникам быть в службе безопасности раундстартом.
  Resources/Prototypes/ADT/Roles/Jobs/Security/guard_officer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Status: Needs Review, S: Untriaged, Changes: No C#

#1563 Чуток меняем кази... Харвестер
  Content.Server/ADT/BluespaceHarvester/BluespaceHarvesterComponent.cs
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/bluespace_harvester.yml
Labels: S: Untriaged, size/S

#1580 [TWEAK] Настройка и приведение мехов к историческим данным
  Resources/Prototypes/ADT/Catalog/mechuplink.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Mech/Mech.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Mech/mech_gun.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/mechs/clarke_construction.yml
  Resources/Prototypes/ADT/Research/mech_tecnology.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/industrial.yml
Labels: Changes: No C#

#1570 Оригами из бумаги
  Content.Client/ADT/PaperOrigami/PaperOrigamiSystem.cs
  Content.Server/ADT/PaperOrigami/PaperOrigamiSystem.cs
  Content.Shared/ADT/PaperOrigami/Components/PaperOrigamiComponent.cs
  Content.Shared/ADT/PaperOrigami/SharedPaperOrigami.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/ru-RU/ADT/paper/origami.ftl
  Resources/Locale/ru-RU/ADT/paper/stamp-component.ftl
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paperairplane.png
Labels: Changes: Sprites, Changes: Localization, size/M

#1578 [ADD] Оригами
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/paper.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Masks/mask.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/paper.yml
  Resources/Prototypes/ADT/Recipes/Crafting/paper.yml
  Resources/Prototypes/ADT/Recipes/Crafting/papermask.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Textures/ADT/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/bureaucracy.rsi/pack-closed.png
  Resources/Textures/ADT/Objects/Misc/bureaucracy.rsi/pack-full.png
  Resources/Textures/ADT/Objects/Misc/bureaucracy.rsi/pack-one.png
  Resources/Textures/ADT/Objects/Misc/bureaucracy.rsi/pack-open.png
  Resources/Textures/ADT/Objects/Misc/papers.rsi/crane.png
  Resources/Textures/ADT/Objects/Misc/papers.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/papers.rsi/ship.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1567 Мобы могут попадать по лежачим.
  Content.Shared/ADT/Crawling/Components/ProjectileIgnoreCrawlingComponent.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_base.yml
Labels: Status: Needs Review, S: Untriaged, size/S

#1579 Бомбер шахтёрам/утилятам
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/explorer_bomber.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/explorer_bomber.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/explorer_bomber.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/explorer_bomber.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/explorer_bomber.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/explorer_bomber.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1589 [PORT] Портирование спрайтов и баф проклятого сердца
  Resources/Prototypes/ADT/Actions/lava.yml
  Resources/Textures/Interface/Alerts/breathing.rsi/meta.json
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_co2.png
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_nitro.png
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_oxy.png
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_tox.png
  Resources/Textures/Interface/Alerts/breathing.rsi/too_much_co2.png
  Resources/Textures/Interface/Alerts/breathing.rsi/too_much_nitro.png
  Resources/Textures/Interface/Alerts/breathing.rsi/too_much_oxy.png
  Resources/Textures/Interface/Alerts/breathing.rsi/too_much_tox.png
  Resources/Textures/Interface/Alerts/stamina.rsi/meta.json
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina0.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina1.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina2.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina3.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina4.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina5.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina6.png
  Resources/Textures/Objects/Power/AME/ame_jar.rsi/inhand-left.png
  Resources/Textures/Objects/Power/AME/ame_jar.rsi/inhand-right.png
  Resources/Textures/Objects/Power/AME/ame_jar.rsi/jar.png
  Resources/Textures/Objects/Power/AME/ame_jar.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/ame.rsi/control.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/control_critical.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/control_fuck.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/control_on.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/control_warning.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/core.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/core_strong.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/core_weak.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_0.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_1.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_10.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_11.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_12.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_13.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_14.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_15.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_2.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_3.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_4.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_5.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_6.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_7.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_8.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_9.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/static.png
Labels: Changes: Sprites, size/M, S: Untriaged, Changes: No C#

#1595 Elysian language
  Resources/Locale/ru-RU/ADT/Languages/languages.ftl
  Resources/Prototypes/ADT/Languages/roundstart.yml
Labels: Changes: Localization, size/S, Changes: No C#

#1592 [ADD] Юппи, почва и чай
  Resources/Locale/ru-RU/ADT/Flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/boxes/other.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Drinks/yupi.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Containers/pack.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/teabox.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Hydroponics/soil.ftl
  Resources/Locale/ru-RU/ADT/reagents/Consumable/Drinks/drink.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/ADT/Datasets/tags.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/yupi.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/teapacks.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/teabox.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Hydroponics/soil.yml
  Resources/Prototypes/ADT/Flavors/flavors.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/ADT/Recipes/Reactions/drinks.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Textures/ADT/Objects/Consumable/Drinks/sh4ziktea/cherrytea.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/sh4ziktea/cherrytea.rsi/teapack.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/sh4ziktea/orangetea.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/sh4ziktea/orangetea.rsi/teapack.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/sh4ziktea/teapack.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/sh4ziktea/teapack.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/sh4ziktea/teapack.rsi/teabox.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/sh4ziktea/watermelontea.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/sh4ziktea/watermelontea.rsi/teapack.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/box.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/packet-apple.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/packet-berries.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/packet-cherry.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/packet-mango.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/packet-orange.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/packet-peach.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/packet-pineapple.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/packet-raspberry.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/packet-strawberry.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/yupi.rsi/packet-watermelon.png
  Resources/Textures/ADT/Objects/Specific/Hydroponics/soil.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Hydroponics/soil.rsi/soil-packed.png
  Resources/Textures/ADT/Objects/Specific/Hydroponics/soil.rsi/soil-trash.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1591 Ломание (труб) жизнь атмосам.
  Content.Server/ADT/Atmos/EntityDamage/Systems/OverpressurePipeDamageSystem.cs
  Content.Server/NodeContainer/NodeGroups/PipeNet.cs
  Content.Shared/ADT/Atmos/EntityDamage/Components/OverpressurePipeDamageComponent.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
Labels: S: Untriaged, size/S

#1562 Добавление радиовещания. Новый хеллоуинский костюм
  Content.Server/Radio/Components/RadioSpeakerComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Resources/Audio/ADT/Effects/static.ogg
  Resources/Locale/ru-RU/ADT/Chat/Managers/chat-manager.ftl
  Resources/Locale/ru-RU/ADT/headset/headset-component.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Eyes/glasses.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Devices/radio.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Storage/boxes.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/vendingMachine.yml
  Resources/Prototypes/ADT/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/tools/radio.yml
  Resources/Prototypes/ADT/Recipes/Construction/tools.yml
  Resources/Prototypes/ADT/Voice/speech_verbs.yml
  Resources/Prototypes/ADT/radio_channels.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Textures/ADT/Clothing/Head/Hats/demonic_deer_horns.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hats/demonic_deer_horns.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hats/demonic_deer_horns.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/radiodemoncoat.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/radiodemoncoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/radiodemoncoat.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/radiodemoncoat.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/radiodemoncoat.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/radiodemoncoat.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Misc/demongentleman.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Misc/demongentleman.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Misc/demongentleman.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Misc/demongentleman.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Misc/demongentleman.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/radiodemonsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/radiodemonsuit.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/radiodemonsuit.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/radiodemonsuit.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/radiodemonsuit.rsi/meta.json
  Resources/Textures/ADT/Objects/Storage/Boxes/halloween_box.rsi/alastor.png
  Resources/Textures/ADT/Objects/Storage/Boxes/halloween_box.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/old-radio-off.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, Changes: Audio

#1597 Мега смачный фикс обновы лаваленда
  Resources/Prototypes/ADT/Actions/lava.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/lavaland.yml
Labels: Changes: No C#, size/XS

#1599 Фикс джампбутсов
  Content.Server/ADT/Jumpoots/JumpbootsSystem.cs
Labels: S: Untriaged, size/XS

#1536 Обновление системы ваучеров, выбор оружия для ОСЩ
  Content.Shared/ADT/Salvage/Components/MiningVoucherComponent.cs
  Content.Shared/ADT/Salvage/MiningVoucherUI.cs
  Content.Shared/ADT/Salvage/Systems/MiningVoucherSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/voucherBS.ftl
  Resources/Locale/ru-RU/ADT/salvage/mining-voucher.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Catalog/blueshield_voucher.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/misc_voucher.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Textures/ADT/Objects/Specific/blueshield_voucher.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/blueshield_voucher.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged

#1583 работа
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Walls/walls.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/swords.yml
  Resources/Prototypes/ADT/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Textures/ADT/Objects/Weapons/Melee/Crushers/crusher_hammer.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Melee/Crushers/crusher_hammer.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/Crushers/crusher_machete.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Melee/Crushers/crusher_machete.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/Crushers/crusher_spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Melee/Crushers/crusher_spear.rsi/meta.json
  Resources/Textures/ADT/Structures/Walls/radiation_uranium_wall.rsi/full.png
  Resources/Textures/ADT/Structures/Walls/radiation_uranium_wall.rsi/meta.json
  Resources/Textures/ADT/Structures/Walls/radiation_uranium_wall.rsi/uranium0.png
  Resources/Textures/ADT/Structures/Walls/radiation_uranium_wall.rsi/uranium1.png
  Resources/Textures/ADT/Structures/Walls/radiation_uranium_wall.rsi/uranium2.png
  Resources/Textures/ADT/Structures/Walls/radiation_uranium_wall.rsi/uranium3.png
  Resources/Textures/ADT/Structures/Walls/radiation_uranium_wall.rsi/uranium4.png
  Resources/Textures/ADT/Structures/Walls/radiation_uranium_wall.rsi/uranium5.png
  Resources/Textures/ADT/Structures/Walls/radiation_uranium_wall.rsi/uranium6.png
  Resources/Textures/ADT/Structures/Walls/radiation_uranium_wall.rsi/uranium7.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1605 [SPONSOR] Добавление именного предмета
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/_Starlight/Objects/Weapons/Melee/doublestunbaton.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/doublestunbaton.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Melee/doublestunbaton.rsi/off-inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/doublestunbaton.rsi/off-inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/doublestunbaton.rsi/on-inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/doublestunbaton.rsi/on-inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/doublestunbaton.rsi/stunbaton_nocell.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/doublestunbaton.rsi/stunbaton_off.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/doublestunbaton.rsi/stunbaton_on.png
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: No C#

#1612 Возвращение классики
  Resources/Prototypes/ADT/Catalog/Jukebox/Standard.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1608 Откат оповещения при победе революции
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Resources/Locale/ru-RU/ADT/gamerules/revolutionary.ftl
Labels: Changes: Localization, size/S

#1610 Выпадение лома из структур
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
Labels: size/M, Changes: No C#

#1611 Комбо-топор
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/icon-prot.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1587 Очередное обновление Суперматтер (ну и радиации)
  Content.Server/ADT/Supermatter/Systems/SupermatterAnnounceSystem.cs
  Content.Server/ADT/Supermatter/Systems/SupermatterProcessingSystem.cs
  Content.Server/ADT/Supermatter/Systems/SupermatterSystem.cs
  Content.Server/Radiation/Systems/RadiationSystem.GridCast.cs
  Content.Shared/ADT/Supermatter/Components/SupermatterComponent.cs
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/hallucinations.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/SupermatterKudzu.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
Labels: size/M, S: Untriaged

#1618 Питьевая кепка
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/prazatclothing.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Textures/ADT/Clothing/Head/Hats/drink_cap.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hats/drink_cap.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hats/drink_cap.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1619 [SPONSOR] Спонсорские вещи 27.06.25
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/kori_axe.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Personalization/kori_axe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Personalization/kori_axe.rsi/icon.png
  Resources/Textures/ADT/Personalization/kori_axe.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/kori_axe.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/kori_axe.rsi/meta.json
  Resources/Textures/ADT/Personalization/kori_axe.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Personalization/kori_axe.rsi/wielded-inhand-right.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit.rsi/equipped-OUTERCLOTHING-PAI.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit.rsi/icon.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit.rsi/meta.json
  Resources/Textures/ADT/Personalization/rachel_hardsuit_helmet.rsi/equipped-HELMET-vox.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit_helmet.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit_helmet.rsi/icon-flash.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit_helmet.rsi/icon.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit_helmet.rsi/meta.json
  Resources/Textures/ADT/Personalization/rachel_hardsuit_helmet.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/ADT/Personalization/rachel_hardsuit_helmet.rsi/on-equipped-HELMET.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#

#1621 Заменяем удаление дракона на гиб.
  Content.Server/Dragon/DragonSystem.cs
Labels: S: Untriaged, size/S

#1622 Кольца update
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/fun.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Service/Ring_box.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Service/ring_box.yml
  Resources/Textures/ADT/Objects/Specific/Service/RingBox.rsi/box-inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/RingBox.rsi/box-inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/RingBox.rsi/box-open.png
  Resources/Textures/ADT/Objects/Specific/Service/RingBox.rsi/box.png
  Resources/Textures/ADT/Objects/Specific/Service/RingBox.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, Changes: No C#

#1626 [ADD] Warm and old light
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Power/lights.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Lighting/base_lighting.ftl
  Resources/Prototypes/ADT/Entities/Objects/Power/lights.yml
  Resources/Prototypes/ADT/Entities/Structures/Lighting/base_lighting.yml
Labels: Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1627 Скафандры воксов-налётчиков
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/hardsuits.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/ADT/Clothing/Head/Hardsuits/vox_raiders_common_hardsuithead.rsi/equipped-HELMET-vox.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/vox_raiders_common_hardsuithead.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/vox_raiders_common_hardsuithead.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/vox_raiders_common_hardsuithead.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Hardsuits/vox_raiders_hardsuithead.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/vox_raiders_hardsuithead.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/vox_raiders_hardsuithead.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/vox_raiders.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/vox_raiders.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/vox_raiders.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/vox_raiders.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/vox_raiders_common.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/vox_raiders_common.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/vox_raiders_common.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/vox_raiders_common.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#
