Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2025-05, with the labels that each got.

#1441 Фикс коллизии голопада и КПК
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1440 [ADMIN] Admin announcement
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: S: Untriaged, size/S

#1425 Случайные законы от ЦК
  Content.Server/ADT/StationEvents/Components/CentComRandomEventComponent.cs
  Content.Server/ADT/StationEvents/Events/CentComRandomEvent.cs
  Resources/Locale/ru-RU/ADT/station-events/events/centcom-random-event.ftl
  Resources/Prototypes/ADT/GameRules/events.yml
Labels: Changes: Localization, S: Untriaged, ⛔ ДО 5 МАЯ НЕ МЕРДЖИТЬ ⛔

#1397 Небольшие изменения атмоса.
  Content.Server/EntityEffects/Effects/PlantMutateGases.cs
  Resources/Prototypes/ADT/Atmospherics/reactions.yml
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/ADT/Reagents/gases.yml
Labels: size/M, S: Untriaged, ⛔ ДО 5 МАЯ НЕ МЕРДЖИТЬ ⛔

#1394 Mega service buff
  Content.Client/ADT/PlantAnalyzer/UI/PlantAnalyzerBoundUserInterface.cs
  Content.Client/ADT/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml
  Content.Client/ADT/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml.cs
  Content.Server/ADT/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/ADT/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Shared/ADT/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/ADT/PlantAnalyzer/PlantAnalyzerScannedSeedPlantInformation.cs
  Content.Shared/ADT/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/ADT/prototypes/entities/devices/plantanalyzer/plantanalyzer.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Devices/plantanalyzer/plant_analyzer.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Devices/plantanalyzer/plantanalyzer.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/Machine/production.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/service_machinery.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Research/civilianservice.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/plant_analyzer.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/hydro_tray.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/reagent_grinder.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/ADT/Recipes/Lathes/botany.yml
  Resources/Prototypes/ADT/Recipes/Lathes/service.yml
  Resources/Prototypes/ADT/Research/civilianservices.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Textures/ADT/Objects/Devices/plant_analyzer.rsi/icon.png
  Resources/Textures/ADT/Objects/Devices/plant_analyzer.rsi/meta.json
  Resources/Textures/ADT/Objects/Devices/plant_analyzer.rsi/plantanalyzer.png
  Resources/Textures/ADT/Objects/Devices/plant_analyzer.rsi/unlit.png
  Resources/Textures/ADT/Objects/Devices/plant_analyzerT2.rsi/icon.png
  Resources/Textures/ADT/Objects/Devices/plant_analyzerT2.rsi/meta.json
  Resources/Textures/ADT/Objects/Devices/plant_analyzerT2.rsi/plantanalyzer.png
  Resources/Textures/ADT/Objects/Devices/plant_analyzerT2.rsi/unlit.png
  Resources/Textures/ADT/Structures/Machines/hydroT2.rsi/hydrotrayT2.png
  Resources/Textures/ADT/Structures/Machines/hydroT2.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/juicer_T2.rsi/juicer0.png
  Resources/Textures/ADT/Structures/Machines/juicer_T2.rsi/juicer1.png
  Resources/Textures/ADT/Structures/Machines/juicer_T2.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Changes: Localization, size/L, S: Untriaged, ⛔ ДО 5 МАЯ НЕ МЕРДЖИТЬ ⛔

#1303 Добавление новых механик для наркоманов. Добавление электрочиллера для химиков.
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Smokeables/pipe.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/Machine/production.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/coldplate.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/flatpack.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Chemistry/chemistry.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/chemicals.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/narcotics.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/drug_food.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Smokeables/Grounded/chelmistryddrugs.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Smokeables/Pipes/pipe.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/coldplate.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/ADT/Reagents/chemicals.yml
  Resources/Prototypes/ADT/Reagents/fun.yml
  Resources/Prototypes/ADT/Reagents/narcotics.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/smokepipe.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/smokeables.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
  Resources/Prototypes/ADT/Recipes/Crafting/smokeables.yml
  Resources/Prototypes/ADT/Recipes/Lathes/electronics.yml
  Resources/Prototypes/ADT/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/ADT/Recipes/Reactions/medicine.yml
  Resources/Prototypes/ADT/Stacks/consumable_stacks.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Textures/ADT/Objects/Consumable/Food/drug_food.rsi/crystal_full.png
  Resources/Textures/ADT/Objects/Consumable/Food/drug_food.rsi/crystal_shard.png
  Resources/Textures/ADT/Objects/Consumable/Food/drug_food.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/coldplate.rsi/beaker.png
  Resources/Textures/ADT/Structures/Machines/coldplate.rsi/icon.png
  Resources/Textures/ADT/Structures/Machines/coldplate.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/coldplate.rsi/on.png
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/crack.rsi/burnt-icon.png
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/crack.rsi/lit-equipped-MASK.png
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/crack.rsi/lit-inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/crack.rsi/lit-inhand-right.png
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/crack.rsi/meta.json
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/crack.rsi/unlit-equipped-MASK.png
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/crack.rsi/unlit-inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Pipes/crack.rsi/unlit-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#, ⛔ ДО 5 МАЯ НЕ МЕРДЖИТЬ ⛔

#1442 Фикс языков цИИ
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1433 Информационное UI окно цИИ, замена спрайта кнопок на визардские
  Content.Client/ADT/Silicons/StationAi/StationAiInfo.xaml
  Content.Client/ADT/Silicons/StationAi/StationAiInfo.xaml.cs
  Content.Client/ADT/Silicons/StationAi/StationAiInfoBoundUserInterface.cs
  Content.Server/ADT/Silicons/StationAi/StationAiInfoComponent.cs
  Content.Server/ADT/Silicons/StationAi/StationAiInfoSystem.cs
  Content.Shared/ADT/Silicons/StationAi/SharedStationAiInfoSystem.cs
  Content.Shared/ADT/Silicons/StationAi/StationAiInfoState.cs
  Resources/Locale/ru-RU/ADT/silicons/station-ai.ftl
  Resources/Prototypes/ADT/Actions/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Textures/ADT/Interface/Actions/action_ai.rsi/atmos_alerts.png
  Resources/Textures/ADT/Interface/Actions/action_ai.rsi/comms_console.png
  Resources/Textures/ADT/Interface/Actions/action_ai.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Changes: Localization, size/M, S: Untriaged, ⛔ ДО 5 МАЯ НЕ МЕРДЖИТЬ ⛔

#1444 [FIX] Пытаемся починить тест трейтор обжектив
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
  Resources/Prototypes/game_presets.yml
Labels: size/M, Changes: No C#

#1445 fix: Локаль интерфейса печи
  Resources/Locale/ru-RU/ADT/kitchen/components/microwave-component.ftl
Labels: Changes: Localization, S: Untriaged, Changes: No C#, size/XS

#1447 [TWEAK] Небольшие правки правил
  Resources/ServerInfo/ADT/Guidebook/ServerRules/MrpRuleset.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule4.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule5.xml
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule8.xml
Labels: S: Untriaged, Changes: No C#

#1446 Увеличение числа слотов для утилизаторов на карте Packed
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_packed.yml
Labels: S: Untriaged, Changes: No C#

#1443 Прикольчики для легионеров лаваленда.
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/helmets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/boots.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Shields/shields.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/swords.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Wallmount/roman_flag.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Entities/Objects/Shields/roman_shield.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/swords.yml
  Resources/Prototypes/ADT/Entities/Structures/Wallmount/roman_flag.yml
  Resources/Textures/ADT/Clothing/Head/Helmets/centorion_hemlet.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Helmets/centorion_hemlet.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Helmets/centorion_hemlet.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Helmets/centorion_hemlet.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Helmets/centorion_hemlet.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Helmets/legioner_hemlet.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Helmets/legioner_hemlet.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Helmets/legioner_hemlet.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Helmets/legioner_hemlet.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Helmets/legioner_hemlet.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/centurion_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/centurion_armor.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/centurion_armor.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/centurion_armor.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/centurion_armor.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/legioner_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/legioner_armor.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/legioner_armor.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/legioner_armor.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/legioner_armor.rsi/meta.json
  Resources/Textures/ADT/Clothing/Shoes/Boots/roman_sandals.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/roman_sandals.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/roman_sandals.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/roman_sandals.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/roman_sandals.rsi/meta.json
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/roman_shirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/roman_shirt.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/roman_shirt.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/roman_shirt.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/roman_shirt.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/gladius.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/gladius.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/gladius.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/gladius.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/roman_shield.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/roman_shield.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/roman_shield.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/roman_shield.rsi/meta.json
  Resources/Textures/ADT/Structures/Wallmounts/roman_flag.rsi/icon.png
  Resources/Textures/ADT/Structures/Wallmounts/roman_flag.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1453 [HOT-FIX] Переворот шлюзов стыковки
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/welded.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#1452 [SHIPBATTLE] Исправление корабельных приколов
  Content.Shared/ADT/SS40k/Turrets/Systems/TurretControllableSystem.cs
Labels: S: Untriaged, size/XS

#1451 Обновление отображения протокинетов на спине
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/animation-icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/icon_a.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_pistol.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_railgun.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_repeater.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/kinetic_shotgun.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, size/S, Changes: No C#

#1449 [SHIPBATTLE] Фикс турелей
  Content.Shared/ADT/SS40k/Turrets/Systems/TurretControllerSystem.cs
Labels: S: Untriaged, size/S

#1436 Доработка драсков, визуальньный апдейт, шлифовка и прочее.
  Resources/Locale/ru-RU/ADT/prototypes/Body/Parts/drask.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/drask.ftl
  Resources/Prototypes/ADT/Body/Organs/Drask.yml
  Resources/Prototypes/ADT/Body/Parts/Drask.yml
  Resources/Prototypes/ADT/Body/Prototypes/Drask.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Drask.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Drask.yml
  Resources/Prototypes/ADT/Species/drask.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Textures/ADT/Clothing/Hands/Modsuit/hos.rsi/equipped-HAND.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/atmospheric.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/atmospheric.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/engineering.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/engineering.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/hos.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/medical.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/mining.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/mining.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/science.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/science.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/security.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/standart.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Modsuit/standart.rsi/icon.png
  Resources/Textures/ADT/Mobs/Customization/Drask/custom.rsi/gauze_eye_upper.png
  Resources/Textures/ADT/Mobs/Customization/Drask/custom.rsi/gauze_eyes_bottom.png
  Resources/Textures/ADT/Mobs/Customization/Drask/custom.rsi/l_arm.png
  Resources/Textures/ADT/Mobs/Customization/Drask/custom.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Drask/custom.rsi/r_arm.png
  Resources/Textures/ADT/Mobs/Customization/Drask/custom.rsi/roughness_arms.png
  Resources/Textures/ADT/Mobs/Customization/Drask/custom.rsi/roughness_body.png
  Resources/Textures/ADT/Mobs/Customization/Drask/custom.rsi/roughness_legs.png
  Resources/Textures/ADT/Mobs/Species/Drask/displacement.rsi/belt.png
  Resources/Textures/ADT/Mobs/Species/Drask/displacement.rsi/ears.png
  Resources/Textures/ADT/Mobs/Species/Drask/displacement.rsi/eyes.png
  Resources/Textures/ADT/Mobs/Species/Drask/displacement.rsi/gloves.png
  Resources/Textures/ADT/Mobs/Species/Drask/displacement.rsi/head.png
  Resources/Textures/ADT/Mobs/Species/Drask/displacement.rsi/jumpsuit.png
  Resources/Textures/ADT/Mobs/Species/Drask/displacement.rsi/meta.json
  Resources/Textures/ADT/Mobs/Species/Drask/displacement.rsi/outerclothing.png
  Resources/Textures/ADT/Mobs/Species/Drask/displacement.rsi/underwearb.png
  Resources/Textures/ADT/Mobs/Species/Drask/displacement.rsi/underweart.png
  Resources/Textures/ADT/Mobs/Species/Drask/parts.rsi/l_arm.png
  Resources/Textures/ADT/Mobs/Species/Drask/parts.rsi/l_hand.png
  Resources/Textures/ADT/Mobs/Species/Drask/parts.rsi/r_arm.png
  Resources/Textures/ADT/Mobs/Species/Drask/parts.rsi/r_hand.png
  Resources/Textures/ADT/Mobs/Species/Drask/parts.rsi/torso_f.png
  Resources/Textures/ADT/Mobs/Species/Drask/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1461 [PROTO] Добавление зеленого костюма для юристов
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/Jumpsuits.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Juridical/lawyer.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/lawyer_green_suit.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/lawyer_green_suit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/lawyer_green_suit.rsi/icon.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/lawyer_green_suit.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/lawyer_green_suit.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Uniforms/Jumpsuit/lawyer_green_suit.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1459 Перекрытие слоев одежды
  Content.Shared/ADT/Inventory/CoveredSlot/CoveredSlotComponent.cs
  Content.Shared/ADT/Inventory/CoveredSlot/CoveredSlotSystem.cs
  Content.Shared/Inventory/SlotFlags.cs
  Resources/Locale/ru-RU/ADT/inventory/covered-slot-component.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Changes: Localization, size/M, S: Untriaged

#1456 Разделение предметов на собственное количество
  Content.Server/Stack/StackSystem.cs
  Resources/Locale/ru-RU/stack/stack-component.ftl
Labels: Changes: Localization, size/S

#1457 Небольшой визуальный апдейт для жетонов СБ
  Resources/Prototypes/ADT/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/armor_overlay.rsi/badgebronze.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/armor_overlay.rsi/badgegolden.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/armor_overlay.rsi/badgesilver.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/armor_overlay.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review, size/S, Changes: No C#

#1462 Усиление системы кровообращения у дракона.
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1450 [PORT] Курицы теперь могут кушать
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/egg.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
Labels: Changes: Localization, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1463 Добавлена особенность для ботинок охранного МОДа.
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/modsuit_boots.yml
Labels: Status: Needs Review, S: Untriaged, Changes: No C#, size/XS

#1466 Фикс турелек
  Content.Shared/ADT/SS40k/Turrets/Systems/TurretControllerSystem.cs
Labels: S: Untriaged, size/XS

#1455 Ковбойские боты на манер подкованных сапог, респрайт противогазов и тулбоксов
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/boots.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Textures/ADT/Clothing/Head/Helmets/mining_reinforced_full.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Helmets/mining_reinforced_one.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/mining_reinforced_full.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/mining_reinforced_one.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/_DV/body_markings.rsi/points_crest-legs.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/icon.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/meta.json
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/icon.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/meta.json
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/up-equipped-MASK.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/icon.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/meta.json
  Resources/Textures/Clothing/Mask/gassecurity.rsi/up-equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/up-equipped-MASK.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_blue.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_blue.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_blue.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_gold.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_gold.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_gold.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_green.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_green.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_green.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_red.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_red.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_red.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_syn.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_syn.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_syn.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_thief.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_thief.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_yellow.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_yellow.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_yellow.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1470 [ADTMIN] При присоединении нового пользователя добавлено отображение даты создания аккаунта.
  Content.Server/ADT/Administration/AuthApiHelper/AuthApiHelper.cs
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: S: Untriaged, size/S

#1474 [ADMIN TOOL] Add new command "zoom_tweak"
  Content.Server/ADT/Administration/Commands/GetDiscordIdCommand.cs
  Content.Server/ADT/Administration/Commands/ZoomTweakCommand.cs
  Resources/Locale/ru-RU/ADT/administration/commands.ftl
Labels: Changes: Localization, size/M

#1473 [FIX] Фикс отправки на факс документа о изменение КЗ
  Content.Server/ADT/StationEvents/Events/CentComRandomEvent.cs
Labels: S: Untriaged, size/S

#1477 Откат целей ниндзя
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Objectives/ninja.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Не Мерджить, S: Untriaged, size/S, Changes: No C#

#1469 Фикс шлюзов
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Doors/Airlock/access.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Doors/Airlock/airlocks.ftl
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlock/access.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlocks/shuttle.yml
Labels: Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1478 09-05 update
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Neck/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/tank.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/tank.yml
  Resources/Textures/ADT/Clothing/Neck/Misc/george.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Misc/george.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Misc/george.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/tank.rsi/etp145.png
  Resources/Textures/ADT/Structures/Decoration/tank.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/S, Changes: No C#

#1482 [ADD] Добавление 8 новых целей для станции
  Resources/Locale/ru-RU/ADT/station-goal/station-goal-component.ftl
  Resources/Prototypes/ADT/Objectives/goals.yml
  Resources/Prototypes/Corvax/Entities/Stations/base.yml
Labels: Changes: Localization, S: Untriaged, Changes: No C#

#1480 [Feature] May 9 2025
  Resources/Audio/ADT/Jukebox/9May/day-pobedy.ogg
  Resources/Audio/ADT/Jukebox/9May/desyatiy-nash-desantniy-batalon.ogg
  Resources/Audio/ADT/Jukebox/9May/katyusha.ogg
  Resources/Audio/ADT/Jukebox/9May/mayskiy-vals.ogg
  Resources/Audio/ADT/Jukebox/9May/proshchanie-slavyanki.ogg
  Resources/Audio/ADT/Jukebox/9May/smuglyanka.ogg
  Resources/Audio/ADT/Jukebox/9May/svyashchennaya-voyna.ogg
  Resources/Audio/ADT/Jukebox/9May/tanki.ogg
  Resources/Audio/ADT/Jukebox/9May/tyomnaya-noch.ogg
  Resources/Audio/ADT/Jukebox/9May/zhuravli.ogg
  Resources/Audio/ADT/Misc/tank.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/tank.ftl
  Resources/Prototypes/ADT/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/tank.yml
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Structures/Decoration/tank_34.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/tank_34.rsi/t34tank-broken.png
  Resources/Textures/ADT/Structures/Decoration/tank_34.rsi/t34tank-open.png
  Resources/Textures/ADT/Structures/Decoration/tank_34.rsi/t34tank.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#, Changes: Audio

#1490 [FIX] Я запрещаю вам смотреть на голых девок
  Resources/Prototypes/Shaders/displacement.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1484 Фикс перекрытия одежды
  Content.Shared/ADT/Inventory/CoveredSlot/CoveredSlotSystem.cs
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: size/M, S: Untriaged

#1492 SMGU-fix
  Resources/Prototypes/ADT/Entities/Structures/Power/Generation/Supermatter/SupermatterCrystal.yml
Labels: Changes: No C#

#1493 [TWEAK] Голубые Щиты эволюционируют
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1489 [ADD] Добавлен обрез самодельного ружья
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/shotgunsawn.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/improvised_shotgun.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Shotguns/improvised_sawn.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Shotguns/improvised_sawn.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Shotguns/improvised_sawn.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Shotguns/improvised_sawn.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Shotguns/improvised_sawn.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Shotguns/improvised_sawn.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/S, Changes: No C#

#1491 [TWEAK] Маленькие правки режимов игры
  Content.Shared/CCVar/CCVars.Atmos.cs
  Resources/Locale/ru-RU/ADT/game-ticking/game-presets/preset-traitor.ftl
  Resources/Prototypes/ADT/GameRules/crew_transfer.yml
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: Localization, size/M, S: Untriaged

#1494 [ADD] Лодаут с обувью для юристов
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Prototypes/ADT/Loadouts/Jobs/Juridical/lawyer.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: Localization, size/S, Changes: No C#

#1481 fix: Дюп медипенов в ассемблере
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Status: Needs Review, S: Untriaged, size/S

#1496 [SPONSOR] Дополнения к спонсорскому контенту
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Basic/staves.ftl
  Resources/Locale/ru-RU/ADT/taumaturg_personalization.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Basic/staves.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_books.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_catalog.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_presets.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_spells.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_tools.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/anagiri_duffel.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Personalization/anagiri_duffel.rsi/icon.png
  Resources/Textures/ADT/Personalization/anagiri_duffel.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/anagiri_duffel.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/anagiri_duffel.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_azil.png
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, Changes: No C#

#1501 Добавлен тег NOTIFICATION в локаль оповещений о перезапуске сервера
  Resources/Locale/ru-RU/server-updates/server-updates.ftl
Labels: Changes: Localization, S: Untriaged, Changes: No C#, size/XS

#1503 Исправил ошибку форматирования текста оповещений от сервера
  Resources/Locale/ru-RU/server-updates/server-updates.ftl
Labels: Changes: Localization, S: Untriaged, Changes: No C#, size/XS

#1504 [ADMIN, FIX] Fix Banmass and ZoomTweak
  Content.Server/ADT/Administration/Commands/BanMassCommand.cs
  Content.Server/ADT/Administration/Commands/ZoomTweakCommand.cs
Labels: size/XS

#1502 [ADMIN, UI] Add Playtime panel
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/PlayTimeEditorWindow.xaml
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/PlayTimeEditorWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Resources/Locale/ru-RU/ADT/administration/ui/tabs/playtime-panel.ftl
Labels: Changes: UI, Changes: Localization, Не Мерджить, size/M

#1500 [ADMIN, UI] Add EchoChat Panel
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/EchoChatPanelWindow.xaml
  Content.Client/ADT/Administration/UI/Tabs/AdminTab/EchoChatPanelWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Resources/Locale/ru-RU/ADT/administration/ui/tabs/echo-chat-panel.ftl
Labels: Changes: UI, Changes: Localization, Не Мерджить, size/M

#1505 [ADMIN, UI] add command "readyall" for UI RoundTab
  Content.Client/Administration/UI/Tabs/RoundTab.xaml
  Resources/Locale/ru-RU/ADT/administration/ui/tabs/round-tab.ftl
Labels: Changes: UI, Changes: Localization, S: Untriaged, Changes: No C#, size/XS

#1479 Авто вызов эвака при победе революции
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Resources/Locale/ru-RU/ADT/gamerules/revolutionary.ftl
Labels: Changes: Localization, size/S

#1507 Изменен рецепт Метанола
  Resources/Prototypes/ADT/Recipes/Reactions/chemicals.yml
Labels: Status: Needs Review, Changes: No C#, size/XS

#1511 Update public publish workflow to .NET 9
  .github/workflows/publish-adt.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1514 [UI, FEATURE] New button for Lobby
  Content.Client/ADT/Discord/DiscordIdManager.cs
  Content.Client/ADT/Lobby/UI/DiscordLinkWindow.xaml
  Content.Client/ADT/Lobby/UI/DiscordLinkWindow.xaml.cs
  Content.Client/ADT/Lobby/UI/SponsorInfoWindow.xaml
  Content.Client/ADT/Lobby/UI/SponsorInfoWindow.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Server/ADT/Administration/AuthApiHelper/AuthApiHelper.cs
  Content.Server/ADT/Administration/Commands/ResolveDiscordNameCommand.cs
  Content.Server/ADT/Discord/ServerDiscordIdManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
  Content.Shared/ADT/Discord/MsgDiscordIdInfo.cs
  Resources/Locale/ru-RU/ADT/lobby/lobby-gui.ftl
  Resources/engineCommandPerms.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review, size/M

#1517 The end of road map
  Content.Client/ADT/Roadmap/RoadmapItem.xaml
  Content.Client/ADT/Roadmap/RoadmapItem.xaml.cs
  Content.Client/ADT/Roadmap/RoadmapUIController.cs
  Content.Client/ADT/Roadmap/RoadmapVersionHeader.xaml
  Content.Client/ADT/Roadmap/RoadmapVersionHeader.xaml.cs
  Content.Client/ADT/Roadmap/RoadmapWindow.xaml
  Content.Client/ADT/Roadmap/RoadmapWindow.xaml.cs
  Content.Client/Administration/UI/CustomControls/HSeparator.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.IntegrationTests/PoolManager.Cvars.cs
  Content.Server/Movement/Systems/MobCollisionSystem.cs
  Content.Shared/ADT/Roadmap/RoadmapItemPrototype.cs
  Content.Shared/CCVar/CCVars.Movement.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Movement/Components/MobCollisionComponent.cs
  Resources/Locale/ru-RU/ADT/prototypes/roadmap.ftl
  Resources/Locale/ru-RU/ADT/user-interface/options.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/ADT/roadmap.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undergarments.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
Labels: Changes: UI, Changes: Localization, size/M, S: Untriaged

#1516 кибериада
  Resources/Maps/ADTMaps/ADTStations/adt_cyberiada.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_box.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1512 Фиксы которые надо
  Content.Shared/ADT/Inventory/CoveredSlot/CoveredSlotSystem.cs
  Resources/Prototypes/ADT/Actions/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: S: Untriaged, size/S

#1519 Как-нибудь в другой раз
  Content.Server/Movement/Systems/MobCollisionSystem.cs
  Content.Shared/CCVar/CCVars.Movement.cs
Labels: S: Untriaged, size/XS

#1520 Фикс страшной кофемашины. Добавление `Anchorable` терминалу оплаты
  Resources/Prototypes/ADT/Entities/Objects/Devices/economy.yml
  Resources/Prototypes/ADT/Entities/Structures/Dispensers/coffee.yml
Labels: Status: Needs Review, S: Untriaged, Changes: No C#, size/XS

#1508 Добавлены все имеющиеся расцветки шлюзов в Краскопульт.
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
Labels: Status: Needs Review, size/S, Changes: No C#

#1524 [FIX] Фикс билдтеста и RSI от 18.05.25
  Resources/Maps/ADTMaps/ADTStations/adt_cyberiada.yml
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/meta.json
Labels: Changes: Map, size/M, S: Untriaged, Changes: No C#

#1528 [SPONSOR] Добавление и редактирование именных спонсорских вещей
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_catalog.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_tools.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_gipatter.png
Labels: Changes: Sprites, Changes: Localization, size/S, Changes: No C#

#1527 Бюрократический пояс
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Belt/belts.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Textures/ADT/Clothing/Belt/folder_belt.rsi/equipped-BELT.png
  Resources/Textures/ADT/Clothing/Belt/folder_belt.rsi/icon.png
  Resources/Textures/ADT/Clothing/Belt/folder_belt.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/S, Changes: No C#

#1523 Джэпэсэ респрите
  Resources/Textures/Objects/Devices/gps.rsi/active.png
  Resources/Textures/Objects/Devices/gps.rsi/icon.png
  Resources/Textures/Objects/Devices/gps.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/XS

#1543 Респрайт консоли УЧ
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/completed.png
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/unlitp.png
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/unlitp0.png
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/unlitp1.png
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/unlitp2.png
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/unlitp3.png
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/unwired.png
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/wired.png
Labels: Changes: Sprites, S: Untriaged, size/S, Changes: No C#

#1547 Не давайте КэшРасу работать с картами
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_aspid.yml
Labels: S: Untriaged, Changes: No C#

#1548 Я уже устал
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_aspid.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#1545 Замена лора Вульпканинов
  Resources/ServerInfo/ADT/SpeciesDescriptions/Vulpa.xml
Labels: S: Untriaged, size/S, Changes: No C#

#1537 Ребаланс статов защиты в службе безопасности.
  Resources/Prototypes/ADT/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1535 [ADD, FIX] Еще больше КПК, монокини в лодаут и каппа
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/identification_cards.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Medical/chief-medical-officer.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/underwear.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1550 Ослаблены токсичные свойства Метанола
  Resources/Prototypes/ADT/Reagents/chemicals.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1487 Фикс отображения рас в консоли учёта экипажа
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Species/novakid.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Species/Tarajan.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Species/Ursus.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Species/demon.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Species/drask.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Species/kobolt.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Species/resomi.ftl
  Resources/Locale/ru-RU/corvax/species/species.ftl
  Resources/Prototypes/ADT/Species/Ursus.yml
Labels: Changes: Localization, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1557 [SPONSOR] Спонорский контент от 270525
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/impact.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/projectiles_ss.rsi/greenlaser.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/projectiles_ss.rsi/impact_laser_green.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/projectiles_ss.rsi/meta.json
  Resources/Textures/ADT/Personalization/cutter_blad.rsi/icon.png
  Resources/Textures/ADT/Personalization/cutter_blad.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/cutter_blad.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/cutter_blad.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1540 Добавлены желейные конфеты и пачка желеек
  Resources/Locale/ru-RU/ADT/Flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/boxes/other.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Containers/box.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Containers/pack.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Containers/tin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/gummies.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Containers/fill.txt
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Containers/packs.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/gummies.yml
  Resources/Prototypes/ADT/Flavors/flavors.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Textures/ADT/Objects/Consumable/Food/Snacks/Candies/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/arachnid.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/arkana.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/cischi.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/drask.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/felinid.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/gummy-inhand-left.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/gummy-inhand-right.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/human.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/ipc.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/kidan.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/moth.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/murine.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/novakid.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/resomi.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/sareng.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/shadekin.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/slime-golden.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/slime.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/tayaran.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/unath.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/ursus.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/vox.png
  Resources/Textures/ADT/Objects/Consumable/Food/gummies.rsi/vulpkanin.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/base.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/gummy1.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/gummy2.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/gummy3.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/gummy4.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/gummy5.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/gummy6.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/icon.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Storage/gummypack.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/L, S: Untriaged, Changes: No C#

#1559 Фикс спавна лишнего КПК
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Changes: No C#, size/XS

#1558 Стены, полы и паралакс для ивентов Люмы
  Resources/Locale/ru-RU/ADT/Tiles/tiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Walls/walls.ftl
  Resources/Prototypes/ADT/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/ADT/Parallaxes/cyber.yml
  Resources/Prototypes/ADT/Tiles/floors.yml
  Resources/Textures/ADT/Parallaxes/CyberRed/digital1.png
  Resources/Textures/ADT/Parallaxes/CyberRed/digital2.png
  Resources/Textures/ADT/Parallaxes/CyberRed/digital3.png
  Resources/Textures/ADT/Structures/Walls/digital_blue_wall.rsi/digital0.png
  Resources/Textures/ADT/Structures/Walls/digital_blue_wall.rsi/digital1.png
  Resources/Textures/ADT/Structures/Walls/digital_blue_wall.rsi/digital2.png
  Resources/Textures/ADT/Structures/Walls/digital_blue_wall.rsi/digital3.png
  Resources/Textures/ADT/Structures/Walls/digital_blue_wall.rsi/digital4.png
  Resources/Textures/ADT/Structures/Walls/digital_blue_wall.rsi/digital5.png
  Resources/Textures/ADT/Structures/Walls/digital_blue_wall.rsi/digital6.png
  Resources/Textures/ADT/Structures/Walls/digital_blue_wall.rsi/digital7.png
  Resources/Textures/ADT/Structures/Walls/digital_blue_wall.rsi/full.png
  Resources/Textures/ADT/Structures/Walls/digital_blue_wall.rsi/meta.json
  Resources/Textures/ADT/Structures/Walls/digital_red_wall.rsi/digital0.png
  Resources/Textures/ADT/Structures/Walls/digital_red_wall.rsi/digital1.png
  Resources/Textures/ADT/Structures/Walls/digital_red_wall.rsi/digital2.png
  Resources/Textures/ADT/Structures/Walls/digital_red_wall.rsi/digital3.png
  Resources/Textures/ADT/Structures/Walls/digital_red_wall.rsi/digital4.png
  Resources/Textures/ADT/Structures/Walls/digital_red_wall.rsi/digital5.png
  Resources/Textures/ADT/Structures/Walls/digital_red_wall.rsi/digital6.png
  Resources/Textures/ADT/Structures/Walls/digital_red_wall.rsi/digital7.png
  Resources/Textures/ADT/Structures/Walls/digital_red_wall.rsi/full.png
  Resources/Textures/ADT/Structures/Walls/digital_red_wall.rsi/meta.json
  Resources/Textures/ADT/Tiles/attributions.yml
  Resources/Textures/ADT/Tiles/digitalblue.png
  Resources/Textures/ADT/Tiles/digitaloff.png
  Resources/Textures/ADT/Tiles/digitalred.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1538 Откат изменений в системе дефибриллятора.
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Shared/Medical/DefibrillatorComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
Labels: Status: Needs Review, size/M, S: Untriaged
