Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2025-03, with the labels that each got.

#1148 FixOutfitPrinter
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1155 sec tweaks
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: Status: Awaiting Changes, S: Untriaged, size/S, Changes: No C#

#1159 Hotfix: Фикс отсутствия акцентов при шёпоте
  Content.Server/ADT/Language/LanguageTypes/Generic.cs
  Content.Shared/ADT/Language/ILanguageType.cs
Labels: S: Untriaged, size/XS

#1163 Небольшой фикс кастомизации СИИ и коллективный разум ему
  Content.Shared/ADT/StationAi/SharedStationAiSystem.Loadout.cs
  Resources/Locale/ru-RU/ADT/collectivemind/rank.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: Changes: Localization, S: Untriaged, size/S

#1164 Test Wiki update
  .github/workflows/update-wiki.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1165 Revert "Test Wiki update"
  .github/workflows/update-wiki.yml
Labels: S: Untriaged, size/S

#1168 hotfix: Фикс нерабочей кастомизации ИИ
  Content.Client/Silicons/StationAi/StationAiSystem.Visuals.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Shared/ADT/StationAi/SharedStationAiSystem.Loadout.cs
  Content.Shared/ADT/StationAi/StationAiBrainComponent.cs
  Content.Shared/Silicons/StationAi/Systems/SharedStationAiSystem.cs
  Resources/Prototypes/Corvax/Entities/Mobs/Player/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/migration.yml
Labels: S: Untriaged, size/S

#1169 hotfix: Фикс невозможности писать в эмоуты глухим
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: S: Untriaged, size/XS

#1172 [TWEAK] Убираем радиацию у урановых штук
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Walls/meteor.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1157 Adding a black lab coat for the pathologist
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/patcholodrobe.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Medical/patholog.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/icon-open.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/open-inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/labcoat_pathologist_alt.rsi/open-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1175 Плащики
  Resources/Textures/ADT/Clothing/Neck/Cloaks/HoP_alt_cloak.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/HoP_alt_cloak.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/centcomcloakformal.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/centcomcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1152 no more avrit
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#, size/XS

#1161 Оповещение о радиации в организме
  Content.Server/ADT/Radiation/RadiationPopupComponent.cs
  Content.Server/ADT/Radiation/RadiationPopupSystems.cs
  Resources/Locale/ru-RU/ADT/prototypes/radiationPopup.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: Localization, S: Untriaged, size/S

#1178 Adding footwraps in loadouts
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/wraps.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: size/M, Changes: No C#

#1189 респрайт большей части поясов
  Resources/Textures/Clothing/Belt/assault.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/assault.rsi/icon.png
  Resources/Textures/Clothing/Belt/assault.rsi/meta.json
  Resources/Textures/Clothing/Belt/ce.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/ce.rsi/icon.png
  Resources/Textures/Clothing/Belt/ce.rsi/meta.json
  Resources/Textures/Clothing/Belt/janitor.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/janitor.rsi/icon.png
  Resources/Textures/Clothing/Belt/janitor.rsi/meta.json
  Resources/Textures/Clothing/Belt/medical.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/medical.rsi/icon.png
  Resources/Textures/Clothing/Belt/medical.rsi/meta.json
  Resources/Textures/Clothing/Belt/security.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/security.rsi/icon.png
  Resources/Textures/Clothing/Belt/security.rsi/meta.json
  Resources/Textures/Clothing/Belt/utility.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/utility.rsi/icon.png
  Resources/Textures/Clothing/Belt/utility.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/S, Changes: No C#

#1187 Vox-Slime-Skeleton-Fix
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1190 add(sprites): Добавлен 100% режим хп
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Textures/ADT/Interface/Alerts/human_alive.rsi/health0.png
  Resources/Textures/ADT/Interface/Alerts/human_alive.rsi/health1.png
  Resources/Textures/ADT/Interface/Alerts/human_alive.rsi/health2.png
  Resources/Textures/ADT/Interface/Alerts/human_alive.rsi/health3.png
  Resources/Textures/ADT/Interface/Alerts/human_alive.rsi/health4.png
  Resources/Textures/ADT/Interface/Alerts/human_alive.rsi/health5.png
  Resources/Textures/ADT/Interface/Alerts/human_alive.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#905 Реворк консоли РНД
  Content.Client/ADT/Research/UI/DraggableResearchPanel.cs
  Content.Client/ADT/Research/UI/MiniRecipeCardControl.xaml
  Content.Client/ADT/Research/UI/MiniRecipeCardControl.xaml.cs
  Content.Client/ADT/Research/UI/ResearchConsoleItem.xaml
  Content.Client/ADT/Research/UI/ResearchConsoleItem.xaml.cs
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Client/ADT/Research/UI/TechnologyInfoPanel.xaml
  Content.Client/ADT/Research/UI/TechnologyInfoPanel.xaml.cs
  Content.Client/Research/UI/ResearchConsoleBoundUserInterface.cs
  Content.Client/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Server/ADT/Research/ResearchSystem.ADT.cs
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Shared/ADT/Research/ResearchAvailablity.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Research/Components/SharedResearchConsoleComponent.cs
  Content.Shared/Research/Prototypes/TechDisciplinePrototype.cs
  Content.Shared/Research/Prototypes/TechnologyPrototype.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Locale/ru-RU/ADT/research/technologies.ftl
  Resources/Locale/ru-RU/ADT/research/ui.ftl
  Resources/Prototypes/ADT/Research/arsenal.yml
  Resources/Prototypes/ADT/Research/civilianservices.yml
  Resources/Prototypes/ADT/Research/disciplines.yml
  Resources/Prototypes/ADT/Research/experimental.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/ADT/Research/mech_tecnology.yml
  Resources/Prototypes/ADT/Research/paranormal.yml
  Resources/Prototypes/ADT/Research/translators.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/disciplines.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/ADT/Interface/rnd-static.rsi/meta.json
  Resources/Textures/ADT/Interface/rnd-static.rsi/static.png
  Resources/Textures/Interface/Misc/research_disciplines.rsi/mech.png
  Resources/Textures/Interface/Misc/research_disciplines.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Changes: Localization, Status: Needs Review, size/L, S: Untriaged

#1185 [fix](texture) Фикс багов с спрайтом ботинок
  Resources/Textures/Clothing/Shoes/Specific/large_clown.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Specific/large_clown.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/XS

#1191 Adding of Experimental PKA
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/PKAs.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/PKAs/PKAs.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/ADT/Recipes/Lathes/armory.yml
  Resources/Prototypes/ADT/Recipes/Lathes/salvage.yml
  Resources/Prototypes/ADT/Research/arsenal.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/animation-icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/icon_a.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/PKAs/experimental_pka.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1194 Усиленная шахтёрская броня и костоянное оружие.
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hoods.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/swords.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/bone.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/miningreinforced.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
  Resources/Prototypes/ADT/Recipes/Crafting/miningreinforced.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/ADT/Clothing/Head/Helmets/mining_reinforced.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Helmets/mining_reinforced.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Helmets/mining_reinforced.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/mining_reinforced.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/mining_reinforced.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/mining_reinforced.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_knife.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_knife.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_knife.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_knife.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_machete.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_machete.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_machete.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_machete.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_sword.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_sword.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_sword.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/bone_sword.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1186 [ADD] Добавление бронежилета скрытого ношения
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/foldable/components/foldable-component.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/icon-open.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/open-equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/open-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/open-inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Armor/hidden_vest.rsi/open-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1196 [Fix] Ops.. Фикс кол зарядов Кэпгана
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1197 Шрифты языков в рации
  Content.Server/ADT/Language/LanguageTypes/CollectiveMind.cs
  Content.Server/ADT/Language/LanguageTypes/Emotes.cs
  Content.Server/ADT/Language/LanguageTypes/Generic.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/ru-RU/headset/headset-component.ftl
Labels: Changes: Localization, S: Untriaged, size/S

#1198 Правки консоли РНД
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Client/ADT/Research/UI/TechnologyInfoPanel.xaml
  Content.Client/ADT/Research/UI/TechnologyInfoPanel.xaml.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Locale/ru-RU/ADT/research/ui.ftl
  Resources/Prototypes/ADT/Research/civilianservices.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/ADT/Research/translators.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/Research/industrial.yml
Labels: Changes: UI, Changes: Localization, S: Untriaged

#1205 [Fix "страйкбольный АКМС"]
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/Strikeball.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/cartridges.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Rifles/rifles.ftl
Labels: Changes: Localization, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1203 [Admin, Discord] Добавлена обработка пост запроса на добавления времени игроку
  Content.Server/Administration/ServerApi.cs
Labels: S: Untriaged, size/S

#1208 [ADD] Одежда, Служба Безопасности, и зловещие недочёты
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/helmets.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Neck/scarfs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/boots.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Textures/ADT/Clothing/Head/Helmets/seccap.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Helmets/seccap.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Helmets/seccap.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Helmets/seccap.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Helmets/seccap.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Helmets/secushanka.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Helmets/secushanka.rsi/icon-up.png
  Resources/Textures/ADT/Clothing/Head/Helmets/secushanka.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Helmets/secushanka.rsi/meta.json
  Resources/Textures/ADT/Clothing/Head/Helmets/secushanka.rsi/up-equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/chefshawl.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/chefshawl.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/chefshawl.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/biker_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/biker_jacket.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/biker_jacket.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/biker_jacket.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/biker_jacket.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_jacket.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_jacket.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_jacket.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_jacket.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_overcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_overcoat.rsi/icon-open.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_overcoat.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_overcoat.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_overcoat.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_overcoat.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/leather_overcoat.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/kirzaboots.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/kirzaboots.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/kirzaboots.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/kirzaboots.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Boots/kirzaboots.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1212 Исправление текстур и приложений КПК
  Resources/Prototypes/Corvax/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Status: Needs Review, size/S, Changes: No C#

#1214 Добавил боевые кошачьи лапки в набор горничной. Поменял тип урона
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Clothing/Hands/gloves.yml
Labels: Changes: Localization, size/S, Changes: No C#

#1210 [tweak](texture) респрайт иконки серого плаща детектива
  Resources/Textures/Clothing/OuterClothing/Coats/detective_grey.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective_grey.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#1211 чутка добавления БИ и переиначивание осщ
  Content.Server/ADT/Combat/ComboEffects.cs
  Content.Shared/ADT/Combat/Systems/ComboSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Revolvers/saber_revolvers.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: size/M, S: Untriaged

#1202 [SHIPBATTLE] Профессии для корабельных боев
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Job/department-desc.ftl
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Job/department.ftl
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Job/job-description.ftl
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Job/job-supervisors.ftl
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Command/captain_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Command/chief_gunner_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Command/commander_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Command/executional_officer_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Marines/marine_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Marines/marine_leutenant_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/ShipCrew/engineer_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/ShipCrew/gunner_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/ShipCrew/medic_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/ShipCrew/navigator_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/ShipCrew/pilot_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Command/captain_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Command/chief_gunner_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Command/commander_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Command/executional_officer_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Marines/marine_leutenant_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Marines/marine_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/ShipCrew/engineer_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/ShipCrew/gunner_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/ShipCrew/medic_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/ShipCrew/navigator_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/ShipCrew/pilot_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/departments.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/play_time_trackers.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/StatusIcon/job.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/ai_factions.yml
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/CaptainKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/CaptainTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/ChiefGunnerKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/ChiefGunnerTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/CommanderKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/CommanderTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/EngineerKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/EngineerTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/ExecutionalOfficerKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/ExecutionalOfficerTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/GunnerKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/GunnerTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/MarineKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/MarineLeutenantKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/MarineLeutenantTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/MarineTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/MedicKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/MedicTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/NavigatorKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/NavigatorTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/PilotKMT.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/PilotTSF.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/L, S: Untriaged, Changes: No C#

#1217 Сирена Бригмедика и фонарик шлема капитана
  Resources/Locale/ru-RU/ADT/prototypes/Actions/types.ftl
  Resources/Prototypes/ADT/Actions/types.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/brigmedic-praz.rsi/icon-siren.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/brigmedic-praz.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-equipped-HELMET.png
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1216 [SHIPBATTLE] Улучшение корабельных орудий
  Resources/Locale/ru-RU/ADT/actions/componental_actions.ftl
  Resources/Locale/ru-RU/ADT/machine-linking/transmitter_ports.ftl
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/ship_shells.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/radio_channels.yml
  Resources/Prototypes/ADT/Actions/turrets.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/ADT/radio_channels.yml
  Resources/Textures/ADT/Interface/Actions/actions_turret.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/actions_turret.rsi/stop_control.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1218 [TWEAK] Хамелеон и именные вещи
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
Labels: size/M, Changes: No C#

#1222 Вырезаем ракетницы ото всюду.
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/ADT/Research/mech_tecnology.yml
Labels: Changes: No C#, size/XS

#1227 [TWEAK] Шапки и фляги, фляги и шапки
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Vulpkanin.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1226 БиоЗамок "ДНК" на энергоревольвер ОСЩ
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Revolvers/saber_revolvers.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1230 Добавление расцветок шлюзов в краскопульт и изменение пульта командования
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1232 [SHIPBATTLE] Пофиксил видимость профессий для корабельных в консоли айди-карт
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Command/captain_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Command/chief_gunner_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Command/commander_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Command/executional_officer_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Marines/marine_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/Marines/marine_leutenant_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/ShipCrew/engineer_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/ShipCrew/gunner_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/ShipCrew/medic_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/ShipCrew/navigator_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/KMT/ShipCrew/pilot_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Command/captain_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Command/chief_gunner_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Command/commander_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Command/executional_officer_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Marines/marine_leutenant_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/Marines/marine_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/ShipCrew/engineer_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/ShipCrew/gunner_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/ShipCrew/medic_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/ShipCrew/navigator_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Roles/Jobs/TSF/ShipCrew/pilot_tsf.yml
Labels: Status: Needs Review, S: Untriaged, Changes: No C#

#1235 [ADD] Добавление крафтов вещей из сервиса и других мелочей
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/lantern.ftl
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/ADT/Recipes/Lathes/misc.yml
  Resources/Prototypes/ADT/Recipes/Lathes/service.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1215 Шкуры голиафов, кости и крафт утилизаторского скафандра. И аномалия мартышек.
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/goliath_hardsuit.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1234 Деревянный пол от Празата
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_red.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_red.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_red.png
  Resources/Textures/Corvax/Tiles/attributions.yml
  Resources/Textures/Corvax/Tiles/wood_black.png
  Resources/Textures/Corvax/Tiles/wood_chess.png
  Resources/Textures/Corvax/Tiles/wood_chess_black.png
  Resources/Textures/Corvax/Tiles/wood_chess_dark.png
  Resources/Textures/Corvax/Tiles/wood_chess_light.png
  Resources/Textures/Corvax/Tiles/wood_chess_red.png
  Resources/Textures/Corvax/Tiles/wood_dark.png
  Resources/Textures/Corvax/Tiles/wood_large_black.png
  Resources/Textures/Corvax/Tiles/wood_large_dark.png
  Resources/Textures/Corvax/Tiles/wood_large_light.png
  Resources/Textures/Corvax/Tiles/wood_large_red.png
  Resources/Textures/Corvax/Tiles/wood_light.png
  Resources/Textures/Corvax/Tiles/wood_parquet.png
  Resources/Textures/Corvax/Tiles/wood_parquet_black.png
  Resources/Textures/Corvax/Tiles/wood_parquet_dark.png
  Resources/Textures/Corvax/Tiles/wood_parquet_light.png
  Resources/Textures/Corvax/Tiles/wood_parquet_red.png
  Resources/Textures/Corvax/Tiles/wood_red.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/wood-large.png
  Resources/Textures/Objects/Tiles/tile.rsi/wood.png
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/wood_large.png
Labels: Changes: Sprites, Status: Awaiting Changes, S: Untriaged, Changes: No C#, size/XS

#1237 Добавление определенного наигранного времени на гост ролях
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
Labels: Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1236 I'm fucking returning
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/cargo/cargo_service.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/morgue.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/ADT/Entities/Structures/Storage/plantbox.yml
  Resources/Textures/ADT/Structures/Storage/plantbox.rsi/meta.json
  Resources/Textures/ADT/Structures/Storage/plantbox.rsi/plantbox-top.png
  Resources/Textures/ADT/Structures/Storage/plantbox.rsi/plantbox.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/rock_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/rock_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/rock_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/anomaly.rsi/anom6-pulse.png
  Resources/Textures/Structures/Specific/anomaly.rsi/anom6.png
  Resources/Textures/Structures/Specific/anomaly.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, Changes: No C#

#1239 защита от стана у брони
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: Status: Needs Review, S: Untriaged, Changes: No C#, size/XS

#1248 Шапка-ушанка в ЗимнеШкафах
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
Labels: Changes: No C#

#1256 Music pack for Illumy's events
  Resources/Audio/ADT/Misc/IllumysPodval/Cosmic-Temperance.ogg
  Resources/Audio/ADT/Misc/IllumysPodval/Dark-Matter-Moon.ogg
  Resources/Audio/ADT/Misc/IllumysPodval/Empty-Ocean.ogg
  Resources/Audio/ADT/Misc/IllumysPodval/Entropic-Rhapsody.ogg
  Resources/Audio/ADT/Misc/IllumysPodval/Lich-is-Unbreakable.ogg
  Resources/Audio/ADT/Misc/IllumysPodval/PathLoot-Crusader.ogg
  Resources/Audio/ADT/Misc/IllumysPodval/Star-Judgment.ogg
Labels: S: Untriaged, Changes: No C#, size/XS, Changes: Audio

#1255 [ИВЕНТ] Цифровые стены и пол
  Resources/Locale/ru-RU/ADT/Tiles/tiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Walls/walls.ftl
  Resources/Prototypes/ADT/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/ADT/Tiles/floors.yml
  Resources/Textures/ADT/Structures/Walls/digital_wall.rsi/digital0.png
  Resources/Textures/ADT/Structures/Walls/digital_wall.rsi/digital1.png
  Resources/Textures/ADT/Structures/Walls/digital_wall.rsi/digital2.png
  Resources/Textures/ADT/Structures/Walls/digital_wall.rsi/digital3.png
  Resources/Textures/ADT/Structures/Walls/digital_wall.rsi/digital4.png
  Resources/Textures/ADT/Structures/Walls/digital_wall.rsi/digital5.png
  Resources/Textures/ADT/Structures/Walls/digital_wall.rsi/digital6.png
  Resources/Textures/ADT/Structures/Walls/digital_wall.rsi/digital7.png
  Resources/Textures/ADT/Structures/Walls/digital_wall.rsi/full.png
  Resources/Textures/ADT/Structures/Walls/digital_wall.rsi/meta.json
  Resources/Textures/ADT/Tiles/attributions.yml
  Resources/Textures/ADT/Tiles/digital.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1257 Protofixes2
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/exoskeletons.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Research/civilianservice.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/exoskeletons.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_aspid.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_avrite.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_bagel.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_box.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_cluster.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_delta.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_fland.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_gemini.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_kerberos.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_marathon.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_packed.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_saltern.yml
  Resources/Prototypes/ADT/Recipes/Lathes/robotics.yml
  Resources/Prototypes/ADT/Research/civilianservices.yml
  Resources/Prototypes/ADT/Species/felinid.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Exoskeletons/rnd_exoskeleton.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Exoskeletons/rnd_exoskeleton.rsi/icon-on.png
  Resources/Textures/ADT/Clothing/OuterClothing/Exoskeletons/rnd_exoskeleton.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Exoskeletons/rnd_exoskeleton.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Exoskeletons/rnd_exoskeleton.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Exoskeletons/rnd_exoskeleton.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Exoskeletons/rnd_exoskeleton.rsi/on-equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Exoskeletons/rnd_exoskeleton.rsi/on-inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Exoskeletons/rnd_exoskeleton.rsi/on-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1253 Изменение звука ходьбы в обмотках
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/specific.yml
Labels: S: Untriaged, Changes: No C#

#1251 Шкафчик и печать патологоанатома
  Resources/Locale/ru-RU/ADT/paper/stamp-component.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/ADT/Entities/Structures/Storage/Lockers/lockers.yml
  Resources/Textures/ADT/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/stamps.rsi/stamp-pathologist.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/pathologist.png
  Resources/Textures/Structures/Storage/closet.rsi/pathologist_door.png
  Resources/Textures/Structures/Storage/closet.rsi/pathologist_open.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/S, Changes: No C#

#1244 Перерождение золотой биты
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/goldbat.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/goldbat.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/ADT/Objects/Weapons/Melee/incomplete_goldbat.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/incomplete_goldbat.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1258 невероятный фикс невероятной ошибки вызванной невероятным чередом невероятных совпадений
  Resources/Audio/ADT/Misc/IllumysPodval/attributions.yml
Labels: Status: Awaiting Changes, S: Untriaged, Changes: No C#, size/XS

#1259 невероятный фикс невероятной ошибки вызванной невероятным чередом невероятных совпадений №2
  Resources/Audio/ADT/Misc/IllumysPodval/attributions.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1263 Новые длинные шарфики
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Neck/scarfs.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Black_long_scarf.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Black_long_scarf.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Black_long_scarf.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Black_long_scarf.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Black_long_scarf.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Blue_long_scarf.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Blue_long_scarf.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Blue_long_scarf.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Blue_long_scarf.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Blue_long_scarf.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Green_long_scarf.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Green_long_scarf.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Green_long_scarf.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Green_long_scarf.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Green_long_scarf.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Orange_long_scarf.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Orange_long_scarf.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Orange_long_scarf.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Orange_long_scarf.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Orange_long_scarf.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Pink_long_scarf.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Pink_long_scarf.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Pink_long_scarf.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Pink_long_scarf.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Pink_long_scarf.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Purple_long_scarf.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Purple_long_scarf.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Purple_long_scarf.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Purple_long_scarf.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Purple_long_scarf.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Red_long_scarf.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Red_long_scarf.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Red_long_scarf.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Red_long_scarf.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Red_long_scarf.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Yellow_long_scarf.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Yellow_long_scarf.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Yellow_long_scarf.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Yellow_long_scarf.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/Yellow_long_scarf.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: No C#

#1264 Добавление генерации молока коровке и козе.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1265 TTS holopad fix
  Content.Server/Speech/ListenEvent.cs
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Telephone/TelephoneComponent.cs
Labels: S: Untriaged, size/S

#1266 Опять 25
  Resources/migration.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1269 Очередной супер скучный пр, не обращайте внимание
  Content.Server/Speech/EntitySystems/ListeningSystem.cs
Labels: S: Untriaged, size/XS

#1262 Salvage update
  Content.Client/ADT/Salvage/Systems/ShelterCapsuleSystem.cs
  Content.Server/ADT/Salvage/Systems/ShelterCapsuleSystem.cs
  Content.Shared/ADT/Salvage/Systems/SharedShelterCapsuleSystem.cs
  Content.Shared/ADT/Salvage/Systems/ShelterCapsuleComponent.cs
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/salvage.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Salvage/equip.ftl
  Resources/Locale/ru-RU/ADT/salvage/mining-voucher.ftl
  Resources/Locale/ru-RU/ADT/salvage/shelter-capsule.ftl
  Resources/Maps/ADTMaps/Nonstation/shelters.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/ADT/Catalog/mining_voucher.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Salvage/shelter_capsules.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/mining_voucher.yml
  Resources/Prototypes/ADT/mining_shop.yml
  Resources/Textures/ADT/Objects/Specific/Salvage/shelter_capsule.rsi/capsule.png
  Resources/Textures/ADT/Objects/Specific/Salvage/shelter_capsule.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/ame.rsi/core.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_0.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_1.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_10.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_11.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_12.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_13.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_14.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_15.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_2.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_3.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_4.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_5.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_6.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_7.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_8.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/shield_9.png
Labels: Changes: Sprites, Changes: Map, Changes: Localization, size/L

#1271 Рюкзак WinRAR для библиотекаря
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Back/backpacks.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Textures/ADT/Clothing/Back/winrar.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Clothing/Back/winrar.rsi/icon.png
  Resources/Textures/ADT/Clothing/Back/winrar.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Back/winrar.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Back/winrar.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: No C#

#1001 Доработочки нижнего белья
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Underwear/bottom.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Underwear/top.ftl
  Resources/Prototypes/ADT/Catalog/VendingMachines/Inventories/prazatclothing.yml
  Resources/Prototypes/ADT/Entities/Clothing/Underwear/Bottom/bottom.yml
  Resources/Prototypes/ADT/Entities/Clothing/Underwear/Top/top.yml
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/underwear.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/emergenctresponceteam.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert_leader.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Textures/ADT/Clothing/Underwear/Bottom/boxers_america.rsi/equipped-UNDERWEARB.png
  Resources/Textures/ADT/Clothing/Underwear/Bottom/boxers_america.rsi/icon.png
  Resources/Textures/ADT/Clothing/Underwear/Bottom/boxers_america.rsi/meta.json
  Resources/Textures/ADT/Clothing/Underwear/Bottom/boxers_boom.rsi/equipped-UNDERWEARB.png
  Resources/Textures/ADT/Clothing/Underwear/Bottom/boxers_boom.rsi/icon.png
  Resources/Textures/ADT/Clothing/Underwear/Bottom/boxers_boom.rsi/meta.json
  Resources/Textures/ADT/Clothing/Underwear/Bottom/briefs.rsi/equipped-UNDERWEARB.png
  Resources/Textures/ADT/Clothing/Underwear/Bottom/briefs.rsi/icon.png
  Resources/Textures/ADT/Clothing/Underwear/Bottom/briefs.rsi/meta.json
  Resources/Textures/ADT/Clothing/Underwear/Bottom/briefs_moth.rsi/equipped-UNDERWEARB.png
  Resources/Textures/ADT/Clothing/Underwear/Bottom/briefs_moth.rsi/icon.png
  Resources/Textures/ADT/Clothing/Underwear/Bottom/briefs_moth.rsi/meta.json
  Resources/Textures/ADT/Clothing/Underwear/Top/t_shirt.rsi/equipped-UNDERWEART.png
  Resources/Textures/ADT/Clothing/Underwear/Top/t_shirt.rsi/icon.png
  Resources/Textures/ADT/Clothing/Underwear/Top/t_shirt.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1273 QoL + Balance Changes
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/PKAs/PKAs.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Reactions/plastic.yml
  Resources/Prototypes/ADT/mining_shop.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
Labels: size/S, Changes: No C#

#1272 Мини qol мехов
  Content.Client/ADT/Mech/Systems/MechSystem.cs
  Content.Client/ADT/Mech/UI/MechEquipmentMenu.xaml.cs
  Content.Client/ADT/Mech/UI/MechEquipmentUIController.cs
  Content.Server/ADT/Mech/Systems/MechSystem.cs
  Content.Server/Mech/Systems/MechEquipmentSystem.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/MouseRotator/SharedMouseRotatorSystem.cs
Labels: Changes: UI, Status: Needs Review, size/M, S: Untriaged

#1279 [Discord] New POST Method server BAN
  Content.Server/ADT/Discord/BanInfo.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/PostServerBanPayloadGenerator.cs
  Content.Server/Administration/ServerApi.cs
  Resources/Locale/ru-RU/ADT/Discord/discord-ban.ftl
Labels: Changes: Localization, size/M

#1281 [TWEAK] Иконка патологоанатома
  Resources/Textures/ADT/Interface/Misc/job_icons.rsi/ADTPathologist.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#1282 [TWEAK] Ап шотганов, решение проблем с тако и квантовыми инверт…
  Resources/Locale/ru-RU/ADT/revolution/toolbox.ftl
  Resources/Prototypes/ADT/Catalog/revolution_toolbox_sets.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/crates.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/ADT/Recipes/Lathes/security.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_rifle.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_rifle.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_rifle.rsi/wielded-inhand-right.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, size/S, Changes: No C#

#1254 Капюшон для куртки и сладости в автоматы
  Resources/Prototypes/Catalog/VendingMachines/Inventories/discount.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pwrgame.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/passenger.yml
  Resources/migration.yml
Labels: Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1223 LazerGun
  Resources/Audio/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/Weapons/Guns/Gunshots/laser.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, size/S, Changes: No C#, Changes: Audio

#1219 melee update 2/4: БАФФ СБ!??
  Content.Server/ADT/Combat/ComboEffects.cs
  Content.Server/ADT/Combat/Systems/PrepareActionSystem.cs
  Content.Server/ADT/RespiratorBlocker/RespiratorBlockerComponent.cs
  Content.Server/ADT/RespiratorBlocker/RespiratorBlockerSystem.cs
  Content.Shared/ADT/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/ADT/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/ADT/Clothing/Systems/ClothingGrantingSystem.cs
  Content.Shared/ADT/Combat/ComboComponentParts.cs
  Content.Shared/ADT/Combat/ComboEffects.cs
  Content.Shared/ADT/Combat/Components/ComboComponent.cs
  Content.Shared/ADT/Combat/Components/PrepareActionComponent.cs
  Content.Shared/ADT/Combat/PrepereMoveEvent.cs
  Content.Shared/ADT/Combat/Systems/ComboSystem.cs
  Content.Shared/ADT/Combat/Systems/PrepereMoveSystem.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Content.Shared/ADT/Weapons/Melee/MeleeBlacklistComponent.cs
  Content.Shared/ADT/Weapons/Melee/MeleeBlacklistSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Locale/ru-RU/ADT/Combo/prepare.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Actions/materialarts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Belt/belts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/krav-maga.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Objectives/steal-target-groups.ftl
  Resources/Locale/ru-RU/ADT/speech/combo.ftl
  Resources/Prototypes/ADT/Actions/materialarts.yml
  Resources/Prototypes/ADT/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/kravmaga.yml
  Resources/Prototypes/ADT/Objectives/stealTargetGroups.yml
  Resources/Prototypes/ADT/Objectives/traitor.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/status_effects.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Textures/ADT/Clothing/Belt/judo_belt.rsi/equipped-BELT.png
  Resources/Textures/ADT/Clothing/Belt/judo_belt.rsi/icon.png
  Resources/Textures/ADT/Clothing/Belt/judo_belt.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Belt/judo_belt.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Belt/judo_belt.rsi/meta.json
  Resources/Textures/ADT/Clothing/Hands/Gloves/kravgloves.rsi/equipped-HAND.png
  Resources/Textures/ADT/Clothing/Hands/Gloves/kravgloves.rsi/icon.png
  Resources/Textures/ADT/Clothing/Hands/Gloves/kravgloves.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/kravmaga.rsi/legsweep.png
  Resources/Textures/ADT/Interface/Actions/kravmaga.rsi/lungpunch.png
  Resources/Textures/ADT/Interface/Actions/kravmaga.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/kravmaga.rsi/neckchop.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged

#1284 lang, remove whitelist TritiumGrenades
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/salvage/mining-voucher.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/binocular.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
Labels: Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1276 Воксы - все
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/guard_officer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1285 Респрайт сумки WinRar
  Resources/Textures/ADT/Clothing/Back/winrar.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Clothing/Back/winrar.rsi/icon.png
  Resources/Textures/ADT/Clothing/Back/winrar.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Back/winrar.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Back/winrar.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#1286 Респрайт МедиБота
  Resources/Textures/Mobs/Silicon/Bots/medibot.rsi/medibot.png
  Resources/Textures/Mobs/Silicon/Bots/medibot.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#1287 Много новых плиток в резательный станок
  Resources/Prototypes/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/Recipes/Lathes/tiles.yml
Labels: size/M, S: Untriaged, Changes: No C#

#1250 Коробка для клунь
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/misc.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/boxvest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/boxvest.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/boxvest.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/boxvest.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Misc/boxvest.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/S, Changes: No C#

#1275 Частичное улучшение коктейлей. Добавление нового реагента для создания гранат.
  Resources/Locale/ru-RU/ADT/Flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Drinks/drinks.ftl
  Resources/Locale/ru-RU/ADT/reagents/Consumable/Drinks/drink.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/consumable/alcohol.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/reagents/generic.ftl
  Resources/Prototypes/ADT/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/ADT/Flavors/flavors.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/ADT/Reagents/toxins.yml
  Resources/Prototypes/ADT/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/ADT/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
  Resources/Textures/ADT/Objects/Consumable/Drinks/bacchusblessing.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/bacchusblessing.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/bacchusblessing.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/bacchusblessing.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/bacchusblessing.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/silverhand.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/silverhand.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/silverhand.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/silverhand.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/silverhand.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/silverhand.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/L, Changes: No C#

#1289 Zauk'er
  Content.Server/ADT/Atmos/Reactions/BZProductionReaction.cs
  Content.Server/ADT/Atmos/Reactions/HyperNobliumProductionReaction.cs
  Content.Server/ADT/Atmos/Reactions/PluoxiumProductionReaction.cs
  Content.Server/ADT/Atmos/Reactions/ZaukerProductionReaction.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/ADT/Atmospherics/gases.yml
  Resources/Prototypes/ADT/Atmospherics/reactions.yml
  Resources/Prototypes/ADT/Reagents/gases.yml
  Resources/Prototypes/Reagents/gases.yml
Labels: S: Untriaged, size/S

#1292 Улучшения ШахтёрМата
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/mining_shop.yml
Labels: Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1293 Респрайт ботов
  Resources/Textures/Mobs/Silicon/Bots/cleanbot.rsi/cleanbot.png
  Resources/Textures/Mobs/Silicon/Bots/cleanbot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/honkbot.rsi/honkbot.png
  Resources/Textures/Mobs/Silicon/Bots/honkbot.rsi/jonkbot.png
  Resources/Textures/Mobs/Silicon/Bots/honkbot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/mimebot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/mimebot.rsi/mimebot.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#1278 Небольшой баг-фикс, индвидуальные ограничения возраста рас
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/ADT/Species/Tajaran.yml
  Resources/Prototypes/ADT/Species/Ursus.yml
  Resources/Prototypes/ADT/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Species/demon.yml
  Resources/Prototypes/ADT/Species/drask.yml
  Resources/Prototypes/ADT/Species/felinid.yml
  Resources/Prototypes/ADT/Species/kobalt.yml
  Resources/Prototypes/ADT/Species/moth.yml
  Resources/Prototypes/ADT/Species/novakid.yml
  Resources/Prototypes/ADT/Species/resomi.yml
  Resources/Prototypes/ADT/Species/shadekin.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/vox.yml
Labels: Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1295 [SPONSOR] Добавлена спонсорская вещь
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/icon_off.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/icon_on.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/on-inhand-left.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/on-inhand-right.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/storage_off.png
  Resources/Textures/ADT/Personalization/maria_pistol.rsi/base.png
  Resources/Textures/ADT/Personalization/maria_pistol.rsi/bolt-open.png
  Resources/Textures/ADT/Personalization/maria_pistol.rsi/icon.png
  Resources/Textures/ADT/Personalization/maria_pistol.rsi/mag-0.png
  Resources/Textures/ADT/Personalization/maria_pistol.rsi/meta.json
  Resources/Textures/ADT/Personalization/maria_pistol_inhand.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/maria_pistol_inhand.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/maria_pistol_inhand.rsi/meta.json
  Resources/Textures/ADT/Personalization/prazat_chainsword.rsi/inhand-left-chainsword.png
  Resources/Textures/ADT/Personalization/prazat_sheath.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/prazat_sheath.rsi/meta.json
  Resources/Textures/ADT/Personalization/prazat_sheath.rsi/sheath-sabre-equipped-BELT.png
  Resources/Textures/ADT/Personalization/prazat_sheath.rsi/sheath-sabre.png
  Resources/Textures/ADT/Personalization/prazat_sheath.rsi/sheath.png
  Resources/Textures/ADT/Personalization/prazat_suit.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/ADT/Personalization/prazat_suit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/prazat_suit.rsi/icon.png
  Resources/Textures/ADT/Personalization/prazat_suit.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/prazat_suit.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/inhand-left-light.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/inhand-right-light.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/meta.json
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/off-inhand-left.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/off-inhand-right.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/on-inhand-left.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/on-inhand-right.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_nocell.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_off.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_on.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_on_light.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1294 Крупноволновка 2000
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/Machine/production.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Machines/service_machinery.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Research/civilianservice.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/advanced_microwave.yml
  Resources/Prototypes/ADT/Recipes/Lathes/electronics.yml
  Resources/Prototypes/ADT/Research/civilianservices.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/meta.json
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/mw.png
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/mw0.png
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/mw_running_unlit.png
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/mw_unlit.png
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/mwb.png
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/mwbloody.png
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/mwbloody0.png
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/mwbloody1.png
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/mwbloodyo.png
  Resources/Textures/ADT/Structures/Machines/advanced_microwave.rsi/mwo.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1296 Универсальный пинпоинтер в аплинке
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/syndicate_pinpointer.yml
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/Objects/Devices/pinpointer.rsi/pinpointer-syndicate-way.png
Labels: Changes: Sprites, Changes: Localization, size/S, Changes: No C#

#1298 Перенос спрайтов аптечек с /тг/.
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/advkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/blackkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/brutekit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/burnkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/firstaid.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/o2kit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/radkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/toxinkit.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#1301 Mechs nukeops
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/syndi-mech.ftl
  Resources/Locale/ru-RU/ADT/store/categories,ftl
  Resources/Locale/ru-RU/ADT/store/categories.ftl
  Resources/Prototypes/ADT/ADTGlobalEvents/NewYears/Reagents/Consumable/Drink/new_year.yml
  Resources/Prototypes/ADT/Catalog/mechuplink.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Mech/Mech.yml
  Resources/Prototypes/ADT/Entities/Structures/Specific/mech_uplink.yml
  Resources/Prototypes/ADT/Store/categories.yml
  Resources/Prototypes/ADT/Store/presets.yml
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Store/categories.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Textures/ADT/Objects/Specific/cybersun_uplink.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/cybersun_uplink.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1311 Респрайт флатпаков.
  Resources/Textures/Objects/Devices/flatpack.rsi/ame-part.png
  Resources/Textures/Objects/Devices/flatpack.rsi/base.png
  Resources/Textures/Objects/Devices/flatpack.rsi/containment-field-generator.png
  Resources/Textures/Objects/Devices/flatpack.rsi/emitter.png
  Resources/Textures/Objects/Devices/flatpack.rsi/fax-machine.png
  Resources/Textures/Objects/Devices/flatpack.rsi/grounding-rod.png
  Resources/Textures/Objects/Devices/flatpack.rsi/icon-default.png
  Resources/Textures/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/Objects/Devices/flatpack.rsi/overlay.png
  Resources/Textures/Objects/Devices/flatpack.rsi/radiation-collector.png
  Resources/Textures/Objects/Devices/flatpack.rsi/singularity-generator.png
  Resources/Textures/Objects/Devices/flatpack.rsi/solar-assembly-part.png
  Resources/Textures/Objects/Devices/flatpack.rsi/tesla-coil.png
  Resources/Textures/Objects/Devices/flatpack.rsi/tesla-generator.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#1302 Ilja's replaces
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/ru-RU/ADT/speech/speech-adt-chatsan.ftl
  Resources/Prototypes/ADT/Accents/word_replacements.yml
Labels: Changes: Localization, size/M

#1313 Фиксы смишнявок
  Resources/Locale/ru-RU/ADT/hidden-description/hiddenDescription.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/identification_cards.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Guns.ftl
  Resources/Locale/ru-RU/corvax/job/job-description.ftl
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Prototypes/ADT/Economy/salary.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/april_fools.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Saber_revolvers/energy-inhands.rsi/inhand-left-blade.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Saber_revolvers/energy-inhands.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Saber_revolvers/energy-inhands.rsi/inhand-right-blade.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Saber_revolvers/energy-inhands.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Saber_revolvers/energy.rsi/base.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Saber_revolvers/energy.rsi/icon_saber.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Saber_revolvers/energy.rsi/mag-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Saber_revolvers/energy.rsi/mag-1.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#
