Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2025-04, with the labels that each got.

#1315 dop prikol
  Resources/Prototypes/ADT/Accents/word_replacements.yml
Labels: size/S, Changes: No C#

#1204 опять еретики?
  Content.Client/ADT/Heretic/GhoulSystem.cs
  Content.Client/ADT/Heretic/VoidCurseSystem.cs
  Content.Server/ADT/GameTicking/Rules/HereticRuleSystem.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/ADT/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/ADT/Heretic/Abilities/HereticFlames.cs
  Content.Server/ADT/Heretic/Components/MansusGraspComponent.cs
  Content.Server/ADT/Heretic/Components/PathSpecific/AristocratComponent.cs
  Content.Server/ADT/Heretic/Effects/VoidCurse.cs
  Content.Server/ADT/Heretic/EntitySystems/EldritchInfluenceSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/GhoulSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/HereticCombatMarkSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/PathSpecific/AristocratSystem.cs
  Content.Server/ADT/Heretic/EntitySystems/PathSpecific/VoidCurseSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/ADT/Magic/ImmovableVoidRodSystem.cs
  Content.Shared/ADT/Combat/Systems/ComboSystem.cs
  Content.Shared/ADT/Heretic/Components/GhoulComponent.cs
  Content.Shared/ADT/Heretic/Components/HereticComponent.cs
  Content.Shared/ADT/Heretic/Components/VoidCurseComponent.cs
  Content.Shared/ADT/Heretic/Heretic.Abilites.cs
  Content.Shared/ADT/Heretic/Systems/SharedVoidCurseSystem.cs
  Resources/Audio/ADT/Heretic/Ambience/Antag/Heretic/VoidsEmbrace.ogg
  Resources/Audio/ADT/Heretic/Ambience/Antag/Heretic/attributions.yml
  Resources/Audio/ADT/Heretic/attributions.yml
  Resources/Audio/ADT/Heretic/runebreak.ogg
  Resources/Prototypes/ADT/Catalog/boobr_catalog.yml
  Resources/Prototypes/ADT/Heretic/Actions/Heretic/basic.yml
  Resources/Prototypes/ADT/Heretic/Actions/Heretic/path_ash.yml
  Resources/Prototypes/ADT/Heretic/Catalog/Heretic/path_ash.yml
  Resources/Prototypes/ADT/Heretic/Catalog/Heretic/path_blade.yml
  Resources/Prototypes/ADT/Heretic/Catalog/Heretic/path_flesh.yml
  Resources/Prototypes/ADT/Heretic/Catalog/Heretic/path_side.yml
  Resources/Prototypes/ADT/Heretic/Catalog/Heretic/path_void.yml
  Resources/Prototypes/ADT/Heretic/Entities/Structures/Specific/Heretic/ritual_rune.yml
  Resources/Prototypes/ADT/Heretic/Entities/Structures/Specific/Heretic/tiles.yml
  Resources/Prototypes/ADT/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/ADT/Heretic/Polymorphs/polymorphs.yml
  Resources/Prototypes/ADT/Heretic/StatusIcon/antag.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Textures/ADT/Heretic/void_overlay.rsi/meta.json
  Resources/Textures/ADT/Heretic/void_overlay.rsi/void_chill_oh_fuck.png
  Resources/Textures/ADT/Heretic/void_overlay.rsi/void_chill_partial.png
  Resources/Textures/ADT/Heretic/void_overlay.rsi/void_conduit.png
  Resources/Textures/ADT/Heretic/void_overlay.rsi/voidtile.png
  Resources/Textures/ADT/Interface/Misc/job_icons.rsi/Ghoul.png
  Resources/Textures/ADT/Interface/Misc/job_icons.rsi/HereticMaster.png
  Resources/Textures/ADT/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: Audio

#1317 Нежданный нерф
  Resources/Prototypes/ADT/Recipes/Reactions/chemicals.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1243 Статы шахтёрской брони.
  Resources/Audio/ADT/Misc/IllumysPodval/Killer-X-Chase.ogg
  Resources/Audio/ADT/Misc/IllumysPodval/attributions.yml
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/miningreinforced.yml
  Resources/Prototypes/ADT/Recipes/Crafting/miningreinforced.yml
  Resources/Prototypes/ADT/mining_shop.yml
Labels: Changes: Localization, Status: Needs Review, S: Untriaged, size/S, Changes: No C#, Changes: Audio

#1318 Воксы - всё ( Ступень 2 из 5 )
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1322 Мега супер фикс спрайта СМ в консоли
  Content.Client/ADT/Supermatter/Consoles/SupermatterEntryContainer.xaml
Labels: Changes: UI, S: Untriaged, Changes: No C#

#1240 [Sponsor] RoundStart SponsorLoadout
  Content.Client/Entry/EntryPoint.cs
  Content.Server/ADT/SponsorLoadout/SponsorLoadoutPrototype.cs
  Content.Server/ADT/SponsorLoadout/SponsorLoadoutSystem.cs
  Content.Server/ADT/SponsorLoadout/SponsorLoadoutTierSettingPrototype.cs
  Content.Server/ADT/SponsorLoadout/SponsorPersonalLoadoutPrototype.cs
  Content.Server/Corvax/Sponsors/CheckSponsorSystem.cs
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
  Resources/Prototypes/ADT/Catalog/Loadout/Sponsor/default_sponsor_tiers.yml
  Resources/Prototypes/ADT/Catalog/Loadout/Sponsor/sponsor_loadout.yml
  Resources/Prototypes/ADT/Catalog/Loadout/Sponsor/sponsor_personal_loadout.yml
  Resources/Prototypes/ADT/Catalog/Loadout/fill.txt
Labels: size/M, S: Untriaged

#1326 НОРМИС-перила
  Resources/Textures/Structures/Walls/railing.rsi/corner.png
  Resources/Textures/Structures/Walls/railing.rsi/corner_small.png
  Resources/Textures/Structures/Walls/railing.rsi/meta.json
  Resources/Textures/Structures/Walls/railing.rsi/round.png
  Resources/Textures/Structures/Walls/railing.rsi/side.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#1323 [FIX] Починил проблемы с переносом .357 калибра.
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: Changes: Localization, Status: Needs Review, S: Untriaged, Changes: No C#, size/XS

#1328 [FIX] Сумеречникам разрешили бельё
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/underwear.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1329 [FIX] Решение проблем полного доступа
  Resources/Prototypes/ADT/Access/misc.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: S: Untriaged, Changes: No C#

#1319 Octocat
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/toys.ftl
  Resources/Prototypes/ADT/Entities/Objects/Fun/toys.yml
  Resources/Textures/ADT/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/ADT/Objects/Fun/toys.rsi/plushie_git.png
Labels: Changes: Sprites, Changes: Localization, size/S, Changes: No C#

#1324 Смена экранов для КПБ во время раунда, опять маркинги
  Content.Client/ADT/IpcScreen/IpcScreenBoundUserInterface.cs
  Content.Client/ADT/IpcScreen/IpcScreenWindow.xaml
  Content.Client/ADT/IpcScreen/IpcScreenWindow.xaml.cs
  Content.Server/ADT/IpcScreen/IpcScreenComponent.cs
  Content.Server/ADT/IpcScreen/IpcScreenSystem.Abilities.cs
  Content.Server/ADT/IpcScreen/IpcScreenSystem.cs
  Content.Shared/ADT/IpcScreen/SharedIpcScreenSystem.cs
  Resources/Locale/ru-RU/ADT/actions/ipsscreen.ftl
  Resources/Prototypes/ADT/Actions/ipc.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Textures/ADT/Interface/Actions/actions_ipc.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/actions_ipc.rsi/screen.png
Labels: Changes: UI, Changes: Sprites, Changes: Localization, size/M, S: Untriaged

#1333 Великое обновление рыбалки
  Content.Shared/ADT/Fishing/Systems/SharedFishingSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/food.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/fun.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/cargo/cargo_service.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/meals.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/meat.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Fishing/fish.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Fishing/loot_tables.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/food/steak.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
  Resources/Textures/ADT/Objects/Consumable/Food/fish.rsi/cooked.png
  Resources/Textures/ADT/Objects/Consumable/Food/fish.rsi/cooked_slice.png
  Resources/Textures/ADT/Objects/Consumable/Food/fish.rsi/fish.png
  Resources/Textures/ADT/Objects/Consumable/Food/fish.rsi/fish_slice.png
  Resources/Textures/ADT/Objects/Consumable/Food/fish.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M

#1331 [ADD] Халат безумного учёного
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/vulpkanin.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Vulpkanin.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/crazyscientist.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/crazyscientist.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/crazyscientist.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/crazyscientist.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/OuterClothing/Coats/crazyscientist.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/eyesglow.png
  Resources/Textures/ADT/Mobs/Customization/Vulpkanin/vulpkanin_head.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1335 новые цвета
  Resources/Prototypes/Palettes/advanced.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1332 Медали теперь полезные????
  Content.Client/ADT/CrewMedal/CrewMedalSystem.cs
  Content.Client/ADT/CrewMedal/UI/CrewMedalBoundUserInterface.cs
  Content.Client/ADT/CrewMedal/UI/CrewMedalWindow.xaml
  Content.Client/ADT/CrewMedal/UI/CrewMedalWindow.xaml.cs
  Content.Server/ADT/CrewMedal/CrewMedalSystem.cs
  Content.Shared/ADT/CrewMedal/CrewMedalComponent.cs
  Content.Shared/ADT/CrewMedal/CrewMedalEvents.cs
  Content.Shared/ADT/CrewMedal/SharedCrewMedalSystem.cs
  Resources/Locale/ru-RU/ADT/crew-medals/crew-medal-component.ftl
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
Labels: Changes: UI, Changes: Localization, size/M, S: Untriaged

#1336 fast fix
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/meat.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1337 Анимация Дизарма
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: S: Untriaged, size/XS

#1338 Nemnogaresprite
  Resources/Textures/ADT/Objects/Specific/Medical/patch.rsi/patchpack.png
  Resources/Textures/Clothing/Shoes/Boots/combatboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/combatboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/mercboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/mercboots.rsi/meta.json
  Resources/Textures/Objects/Devices/gps.rsi/active.png
  Resources/Textures/Objects/Devices/gps.rsi/icon.png
  Resources/Textures/Objects/Devices/gps.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/defib_cabinet.rsi/closed.png
  Resources/Textures/Structures/Wallmounts/defib_cabinet.rsi/frame.png
  Resources/Textures/Structures/Wallmounts/defib_cabinet.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/defib_cabinet.rsi/open.png
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet-empty-closed.png
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet-empty-open.png
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet-filled-closed.png
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet-filled-open.png
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet.png
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/locked.png
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/unlocked.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-empty-open.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-filled-closed.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-filled-open.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/locked.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/unlocked.png
Labels: Changes: Sprites, size/S, Changes: No C#

#1339 [SPONSOR] Добавлена именная спонсорская игрушка
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_anagiri.png
Labels: Changes: Sprites, Changes: Localization, size/S, Changes: No C#

#1341 [TWEAK] Изменены префиксы станций и малые фиксы
  Content.Shared/CCVar/CCVars.Game.cs
  Resources/Prototypes/ADT/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_aspid.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_avrite.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_bagel.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_box.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_cluster.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_cluster_legacy.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_delta.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_fland.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_gemini.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_kerberos.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_marathon.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_meta.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_packed.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_saltern.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Textures/ADT/Clothing/Neck/Cloaks/diamond_cape.rsi/equipped-NECK.png
Labels: Changes: Sprites, S: Untriaged

#1342 Fixes
  Build_Release-Linux-x64.bat
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutGroupContainer.xaml.cs
  Content.Shared/CCVar/CCVars.Config.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/ConfigPresets/main.toml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/SpaceDream/Guidebook/ServerRules/MRPRuleset.xml
  Resources/Textures/Logo/icon-ru/icon-128x128.png
  Resources/Textures/Logo/icon-ru/icon-16x16.png
  Resources/Textures/Logo/icon-ru/icon-24x24.png
  Resources/Textures/Logo/icon-ru/icon-256x256.png
  Resources/Textures/Logo/icon-ru/icon-32x32.png
  Resources/Textures/Logo/icon-ru/icon-48x48.png
  Resources/Textures/Logo/icon-ru/icon-64x64.png
  Resources/Textures/Logo/logo-ru.png
  Resources/manifest.yml
  Resources/migration.yml
Labels: Changes: UI, size/M, S: Untriaged

#1345 Несколько нововведений и твиков
  Content.Client/Materials/UI/MaterialDisplay.xaml.cs
  Content.Server/ADT/Chemistry/RandomPillSystem.cs
  Content.Shared/Chemistry/Components/PillComponent.cs
  Resources/Prototypes/ADT/Parallaxes/ocean.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/ADT/Parallaxes/attributions.yml
  Resources/Textures/ADT/Parallaxes/land.png
Labels: Changes: UI, size/S

#1344 Новые причёсочки аркан
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/demon_hair.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/demon_hair.yml
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-bubble_gum.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-gorgona.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-gorgona_2.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-morning_hairstyle.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-morning_hairstyle_2.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-morning_hairstyle_3.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-ponytail.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-shaved_female.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-shaved_unisex.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-valkyrie_scythe.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-valkyrie_scythe_2.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-valkyrie_scythe_3.png
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1346 Изменены временные рамки у большинства рас на сервере.
  Resources/Prototypes/ADT/Species/Tajaran.yml
  Resources/Prototypes/ADT/Species/Ursus.yml
  Resources/Prototypes/ADT/Species/demon.yml
  Resources/Prototypes/ADT/Species/drask.yml
  Resources/Prototypes/ADT/Species/felinid.yml
  Resources/Prototypes/ADT/Species/ipc.yml
  Resources/Prototypes/ADT/Species/kobalt.yml
  Resources/Prototypes/ADT/Species/novakid.yml
  Resources/Prototypes/ADT/Species/resomi.yml
  Resources/Prototypes/ADT/Species/shadekin.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/vox.yml
Labels: Status: Needs Review, size/S, Changes: No C#

#1355 Доделаны описания плюсов и минусов рас
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Tajaran.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Ursus.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/ADT/Species/Tajaran.yml
  Resources/Prototypes/ADT/Species/Ursus.yml
  Resources/Prototypes/ADT/Species/Vulpkanin.yml
  Resources/Prototypes/ADT/Species/demon.yml
  Resources/Prototypes/ADT/Species/drask.yml
  Resources/Prototypes/ADT/Species/felinid.yml
  Resources/Prototypes/ADT/Species/kobalt.yml
  Resources/Prototypes/ADT/Species/novakid.yml
  Resources/Prototypes/ADT/Species/resomi.yml
  Resources/Prototypes/ADT/Species/shadekin.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/slime.yml
Labels: Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1359 Иллюми момент
  Resources/Prototypes/ADT/Parallaxes/cyber.yml
  Resources/Textures/ADT/Parallaxes/Cyber/digital1.png
  Resources/Textures/ADT/Parallaxes/Cyber/digital2.png
  Resources/Textures/ADT/Parallaxes/Cyber/digital3.png
Labels: S: Untriaged, size/S, Changes: No C#

#1350 Добавление фишек для воксов
  Content.Server/ADT/Speech/Component/VoxAccentComponent.cs
  Content.Server/ADT/Speech/EntitySystems/VoxAccentSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Traits/Assorted/UncloneableComponent.cs
  Resources/Locale/ru-RU/ADT/speech/speech-adt-chatsan.ftl
  Resources/Locale/ru-RU/medical/components/cloning-console-component.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/ADT/Accents/word_replacements.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: Localization, Status: Needs Review, size/M

#1348 [ADD] Именная одежда Saint_madman-а
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Textures/ADT/Personalization/saintmadman-coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/saintmadman-coat.rsi/icon.png
  Resources/Textures/ADT/Personalization/saintmadman-coat.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/saintmadman-coat.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/saintmadman-coat.rsi/meta.json
  Resources/Textures/ADT/Personalization/saintmadman-coatViaDeus.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/saintmadman-coatViaDeus.rsi/icon.png
  Resources/Textures/ADT/Personalization/saintmadman-coatViaDeus.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/saintmadman-coatViaDeus.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/saintmadman-coatViaDeus.rsi/meta.json
  Resources/Textures/ADT/Personalization/saintmadman-headthingy.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Personalization/saintmadman-headthingy.rsi/icon.png
  Resources/Textures/ADT/Personalization/saintmadman-headthingy.rsi/meta.json
  Resources/Textures/ADT/Personalization/saintmadman-uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/saintmadman-uniform.rsi/icon.png
  Resources/Textures/ADT/Personalization/saintmadman-uniform.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/saintmadman-uniform.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/saintmadman-uniform.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1360 Наплечная мантия для кэпа
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Neck/cloaks.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Neck/Cloaks.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/Neck/Cloaks/captain_neck.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/captain_neck.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/captain_neck.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1361 Fi xass
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
Labels: S: Untriaged, size/S

#1364 Фикс стеночек для ивента.
  Resources/Prototypes/ADT/Entities/Structures/Walls/walls.yml
Labels: Changes: No C#, size/XS

#1347 Ребаланс мехов - Часть 2
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/syndi-mech.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-mech.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Mech/durand.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Mech/mechgun.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/uplink_ert.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Battery/battery_gun.ftl
  Resources/Maps/ADTMaps/Shuttles/ERT/deathsquad.yml
  Resources/Maps/Misc/terminal.yml
  Resources/Prototypes/ADT/Catalog/mechuplink.yml
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/mech.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Mech/Mech.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Mech/mech_gun.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/boobr_catalog_mechs.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/uplink_catalog_mechs.yml.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/ADT/Recipes/Lathes/security.yml
  Resources/Prototypes/ADT/Research/mech_tecnology.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/emergenctresponceteam.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert_leader.yml
  Resources/Prototypes/ADT/Store/categories.yml
  Resources/Prototypes/ADT/Store/presets.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/ADT/Objects/Specific/cybersun_uplink.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/cybersun_uplink.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/ert_mechuplink.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/ert_mechuplink.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/base.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/mag-unshaded-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/mag-unshaded-1.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/mag-unshaded-2.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/mag-unshaded-3.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/mag-unshaded-4.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/ion_carbine.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/meta.json
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ntgygax-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ntgygax-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ntgygax.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: Localization, size/L, S: Untriaged, Changes: No C#

#1367 fix_terminal
  Resources/Maps/Misc/terminal.yml
Labels: Changes: Map, size/S, Changes: No C#

#1349 Отражатель проджектайлов
  Content.Server/ADT/ProjectileMirror/ProjectileMirrorSystem.cs
  Content.Shared/ADT/ProjectileMirror/ProjectileMirrorComponent.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Specific/projectilemirror.ftl
  Resources/Prototypes/ADT/Entities/Structures/Specific/projectile_mirror.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/structures/projectilemirror.yml
  Resources/Prototypes/ADT/Recipes/Construction/structures.yml
  Resources/Textures/ADT/Structures/Specific/projectilemirror.rsi/binary.png
  Resources/Textures/ADT/Structures/Specific/projectilemirror.rsi/meta.json
  Resources/Textures/ADT/Structures/Specific/projectilemirror.rsi/tbinary.png
  Resources/Textures/ADT/Structures/Specific/projectilemirror.rsi/trinary.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged

#1369 Але, маг? Вас ниндзя вызывает
  Resources/Locale/ru-RU/ADT/communications/terror.ftl
  Resources/Prototypes/ADT/Threats/threats.yml
  Resources/Prototypes/threats.yml
Labels: Changes: Localization, S: Untriaged, Changes: No C#, size/XS

#1353 Stack chat
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
  Resources/Locale/ru-RU/ADT/Chat/chatstack.ftl
  Resources/Locale/ru-RU/ADT/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Changes: Localization, size/M

#1299 Auto vote [PORT]
  Content.Server/ADT/AutoVote/AutoVoteSystem.cs
  Content.Shared/CCVar/CCVars.Vote.cs
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/full.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/meta.json
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow0.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow1.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow2.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow3.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow4.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow5.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow6.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow7.png
Labels: Changes: Sprites, Status: Needs Review, S: Untriaged, size/S

#1370 Popup "Скопировано!" в КПК при копировании текста
  Content.Client/PDA/PdaMenu.xaml.cs
  Resources/Locale/ru-RU/ADT/ui.ftl
Labels: Changes: UI, Changes: Localization, S: Untriaged, size/S

#1377 Шляпа инспектора гаджета
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/specific.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/specific.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Textures/ADT/Clothing/Head/Hats/fedoragadget.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hats/fedoragadget.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hats/fedoragadget.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Head/Hats/fedoragadget.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Head/Hats/fedoragadget.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1382 [SPONSOR] Добавлен именной спонсоркий ивентовый контент
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.ftl
  Resources/Locale/ru-RU/ADT/taumaturg_personalization.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_books.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_catalog.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_clothes.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_job.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_presets.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_spells.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_tools.yml
  Resources/Textures/ADT/Interface/Misc/job_icons.rsi/Taumaturg.png
  Resources/Textures/ADT/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/id_cards.rsi/id-taumaturg.png
  Resources/Textures/ADT/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/ADT/Personalization/anomaly_prespawn.rsi/icon.png
  Resources/Textures/ADT/Personalization/anomaly_prespawn.rsi/meta.json
  Resources/Textures/ADT/Personalization/taumaturg_boxers.rsi/equipped-UNDERWEARB.png
  Resources/Textures/ADT/Personalization/taumaturg_boxers.rsi/icon.png
  Resources/Textures/ADT/Personalization/taumaturg_boxers.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: No C#

#1385 great ursus fix
  Resources/Prototypes/ADT/Entities/Mobs/Species/Ursus.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1387 [FIX BUILD TEST] Test revert
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/ADT/AutoVote/AutoVoteSystem.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
  Content.Shared/CCVar/CCVars.Vote.cs
  Resources/Locale/ru-RU/ADT/Chat/chatstack.ftl
  Resources/Locale/ru-RU/ADT/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/full.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/meta.json
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow0.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow1.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow2.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow3.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow4.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow5.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow6.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow7.png
Labels: Changes: UI, Changes: Sprites, Changes: Localization, size/M, S: Untriaged

#1384 Фикс пирсинга
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Human.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/misc.yml
Labels: Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1386 Алтарь октокота
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/altar.ftl
  Resources/Prototypes/ADT/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/altars.yml
  Resources/Textures/ADT/Structures/Furniture/Altars/Gods/convertaltar.rsi/gitoctocat.png
  Resources/Textures/ADT/Structures/Furniture/Altars/Gods/convertaltar.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1389 [TWEAK] Огромнейшие дольки мандаринов и станционная безопасность
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Neck/scarfs.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/mandarin.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Textures/ADT/Clothing/Neck/Scarfs/white.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/white.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/white.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/white.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Neck/Scarfs/white.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/S, Changes: No C#

#1388 биозащитка и хардсьют ОБР инжа
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/fun.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/crates/crates.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/crates.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/bio.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/ADT/Mobs/Customization/Human/custom.rsi/hair-shaved_unisex.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1391 [Admin, Discord] Сообщения о заходе новичка также отправляются вебхуком
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: size/S

#1399 Фикс локали
  Content.Server/Silicons/Laws/IonStormSystem.cs
  Resources/Locale/ru-RU/station-events/events/ion-storm.ftl
  Resources/Prototypes/Datasets/Names/military.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: Changes: Localization, S: Untriaged, size/S

#1396 Небольшой ап прото-дробовика
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: No C#, size/XS

#1376 Обновление аванпоста на лаваленде (от дс: kultistzvezd)
  Resources/Maps/ADTMaps/Nonstation/lavaland_outpost.yml
Labels: Changes: Map, size/M, Changes: No C#

#1398 Комментим визов
  Resources/Prototypes/ADT/Threats/threats.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
  Resources/Prototypes/threats.yml
Labels: size/M, S: Untriaged, Changes: No C#

#1401 add(proto): Добавил куличи со старой сборки
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Prototypes/secret_weights.yml
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/big.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/cheesy.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/small.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/sweetroll.png
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: No C#

#1395 [ADMIN] Приоритет на использование замен ADT и 1984 добавлены новые админ уведомления
  Content.Server/ADT/Chat/ConstantADT.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/ADT/CCVar/ADTCCVars.cs
Labels: In progress, size/S

#1403 Кобольды, крутые вещи ведущим ролям, очки СМО и фиксы
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Eyes/glasses.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/monkeycube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/ADT/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/ADT/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/ADT/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Textures/ADT/Clothing/Eyes/Glasses/med_chem_goggles.rsi/equipped-EYES.png
  Resources/Textures/ADT/Clothing/Eyes/Glasses/med_chem_goggles.rsi/icon.png
  Resources/Textures/ADT/Clothing/Eyes/Glasses/med_chem_goggles.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Eyes/Glasses/med_chem_goggles.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Eyes/Glasses/med_chem_goggles.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/S, Changes: No C#

#1404 Сканер масс снова стал маленьким
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
Labels: S: Untriaged, Changes: No C#

#1405 Фикс меты
  Resources/Textures/ADT/Clothing/Eyes/Glasses/med_chem_goggles.rsi/meta.json
Labels: Changes: No C#, size/XS

#1407 [REMOVE] Страйкобольные наборы убраны из заказов карго
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_fun.yml
Labels: size/S, Changes: No C#

#1409 [REMOVE] Окончание пасхи
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
Labels: S: Untriaged, Changes: No C#

#1410 [FIX] Фикс инвентаря КПБ
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1411 [ADD] Добавлены прически от hlaji
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/human_hair.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Human_hair.yml
  Resources/Textures/ADT/Mobs/Customization/Hair/hair.rsi/lady.png
  Resources/Textures/ADT/Mobs/Customization/Hair/hair.rsi/longhairfringe.png
  Resources/Textures/ADT/Mobs/Customization/Hair/hair.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Hair/hair.rsi/sheaf.png
  Resources/Textures/ADT/Mobs/Customization/Hair/hair.rsi/shorttail.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1415 fix station goals
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
Labels: S: Untriaged, size/XS

#1418 крю трансфер
  Content.Server/ADT/GameTicking/Rules/Components/CrewTransferSchedulerComponent.cs
  Content.Server/ADT/GameTicking/Rules/CrewTransferSchedulerSystem.cs
  Resources/Locale/ru-RU/ADT/vote/crew-transfer.ftl
  Resources/Prototypes/ADT/GameRules/crew_transfer.yml
Labels: Changes: Localization, size/M, S: Untriaged

#1419 бляха
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: size/S, Changes: No C#

#1417 Фиксы
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/vulpkanin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/meat.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Ursus.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Vulpkanin.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Textures/ADT/Mobs/Customization/Ursus/custom.rsi/foot_left.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1422 [SPONSOR] Добавлена спонсорская одежда
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Clothing/personalization_clothing.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/kringe-gloves.rsi/equipped-HAND.png
  Resources/Textures/ADT/Personalization/kringe-gloves.rsi/icon.png
  Resources/Textures/ADT/Personalization/kringe-gloves.rsi/meta.json
  Resources/Textures/ADT/Personalization/kringe-hardsuit-helmet.rsi/equipped-head-light.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit-helmet.rsi/equipped-head-unshaded.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit-helmet.rsi/equipped-head.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit-helmet.rsi/icon-flash.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit-helmet.rsi/icon-unshaded.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit-helmet.rsi/icon.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit-helmet.rsi/light-overlay.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit-helmet.rsi/meta.json
  Resources/Textures/ADT/Personalization/kringe-hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit.rsi/icon.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/kringe-hardsuit.rsi/meta.json
  Resources/Textures/ADT/Personalization/kringe-magboots.rsi/equipped-FEET.png
  Resources/Textures/ADT/Personalization/kringe-magboots.rsi/icon-on.png
  Resources/Textures/ADT/Personalization/kringe-magboots.rsi/icon.png
  Resources/Textures/ADT/Personalization/kringe-magboots.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/kringe-magboots.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/kringe-magboots.rsi/meta.json
  Resources/Textures/ADT/Personalization/kringe-magboots.rsi/on-equipped-FEET.png
  Resources/Textures/ADT/Personalization/kringe-magboots.rsi/on-inhand-left.png
  Resources/Textures/ADT/Personalization/kringe-magboots.rsi/on-inhand-right.png
  Resources/Textures/ADT/Personalization/kringe-uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/ADT/Personalization/kringe-uniform.rsi/icon.png
  Resources/Textures/ADT/Personalization/kringe-uniform.rsi/inhand-left.png
  Resources/Textures/ADT/Personalization/kringe-uniform.rsi/inhand-right.png
  Resources/Textures/ADT/Personalization/kringe-uniform.rsi/meta.json
  Resources/Textures/ADT/Personalization/kringe-whistle.rsi/equipped-NECK.png
  Resources/Textures/ADT/Personalization/kringe-whistle.rsi/icon.png
  Resources/Textures/ADT/Personalization/kringe-whistle.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1427 Небольшой фикс суперматтер
  Content.Server/ADT/Supermatter/Systems/SupermatterSystem.Processing.cs
Labels: S: Untriaged, size/S

#1430 [TWEAK] Правки после ребаланса мехов
  Resources/Prototypes/ADT/Entities/Objects/Specific/Mech/Mech.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Mech/mech_gun.yml
  Resources/Prototypes/ADT/Recipes/Lathes/mech_parts.yml
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ntgygax-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ntgygax-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ntgygax.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_missilerack.png
Labels: Changes: Sprites, size/M, S: Untriaged, Changes: No C#

#1431 [ADD] Новые цели станции
  Resources/Locale/ru-RU/ADT/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/ADT/Objectives/goals.yml
  Resources/Prototypes/Corvax/Entities/Stations/base.yml
Labels: Changes: Localization, size/M, Changes: No C#

#1438 [TWEAK] Ап травматических патронов
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1439 [FUN] Добавлены фановые сланцы в щитспавн
  Resources/Audio/ADT/Misc/attributions.yml
  Resources/Audio/ADT/Misc/slap.ogg
  Resources/Audio/ADT/Misc/slap_secondary.ogg
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/misc.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/ADT/SoundCollections/misc.yml
  Resources/Textures/ADT/Clothing/Shoes/Misc/shale_shoes.rsi/equipped-FEET.png
  Resources/Textures/ADT/Clothing/Shoes/Misc/shale_shoes.rsi/icon.png
  Resources/Textures/ADT/Clothing/Shoes/Misc/shale_shoes.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Shoes/Misc/shale_shoes.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Shoes/Misc/shale_shoes.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#, Changes: Audio
