Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2025-09, with the labels that each got.

#1871 Отключаю спавн морфа
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1862 Cowboy JackBoots Fix
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
Labels: S: Untriaged, Changes: No C#

#1875 [Fix] Narcoleps
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
Labels: S: Untriaged, size/S

#1877 морфпочиненен
  Content.Server/ADT/Morph/MorphSystem.cs
  Content.Shared/ADT/Morph/MorphComponent.cs
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, size/S

#1880 Автоматические чейнджлогов через GitHub Action
  .github/workflows/adt-pr-to-discord.yml
  Tools/ADT/pr_to_discord.py
Labels: size/M, Changes: No C#

#1881 [TEST] Тестовая отправка чейнджлога в Дискорд
  .github/workflows/adt-build-test-debug-win.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1882 Change send discord
  Tools/ADT/pr_to_discord.py
Labels: S: Untriaged, size/S, Changes: No C#

#1883 Final Test
  .github/workflows/adt-pr-to-discord.yml
Labels: Changes: No C#, size/XS

#1884 Test WebHook
  .github/workflows/adt-pr-to-discord.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1887 Отключаю спавн морфа
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1888 [Bounty] SickTeethAccent
  Content.Server/ADT/Speech/Component/SickTeethAccentComponent.cs
  Content.Server/ADT/Speech/EntitySystems/SickTeethAccentSystem.cs
  Resources/Locale/ru-RU/ADT/traits/neutral.ftl
  Resources/Prototypes/ADT/Traits/speech.yml
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Labels: Changes: Localization, S: Untriaged

#1886 Эмоции сумерам
  Resources/Audio/ADT/Voice/Shadekin/attributions.yml
  Resources/Audio/ADT/Voice/Shadekin/wurble.ogg
  Resources/Locale/ru-RU/ADT/Chat/emotes.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Prototypes/ADT/SoundCollections/emotes.yml
  Resources/Prototypes/ADT/Voice/speech_emote_sounds.yml
  Resources/Prototypes/ADT/Voice/speech_emotes.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/ADT/Interface/Emotes/Vocal/purse.png
Labels: Changes: Localization, size/M, S: Untriaged, Changes: No C#, Changes: Audio

#1897 Изменения боёвки и прочего бреда
  Content.Server/ADT/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.AshAscend.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/ADT/Morph/MorphSystem.cs
  Content.Shared/ADT/Grab/Events/ModifyGrabStageTimeEvent.cs
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Content.Shared/ADT/GrabProtection/GrabProtectionComponent.cs
  Content.Shared/ADT/GrabProtection/GrabProtectionSystem.cs
  Content.Shared/ADT/Heretic/Components/SacrificedComponent.cs.cs
  Content.Shared/ADT/ThermalVision/SharedThermalVisionSystem.cs
  Resources/Locale/ru-RU/ADT/Heretic/sacrificed.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Datasets/Names/names_eligibleTags.ftl
  Resources/Prototypes/ADT/Datasets/tags.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/Heretic/Catalog/Heretic/path_side.yml
  Resources/Prototypes/ADT/Heretic/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/ADT/Heretic/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/argocyte.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: Localization, size/M, S: Untriaged

#1899 ХОТФИКС
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Content.Shared/Weapons/Ranged/Systems/UseDelayOnShootSystem.cs
Labels: S: Untriaged, size/S

#1829 Теперь тела крысиных слуг можно запихивать в мешки для мусора
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1821 Спавнера мапперам
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/mobs.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/mobs.yml
Labels: Changes: Localization, size/M, Changes: No C#

#1863 locale fix
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
Labels: Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1890 [FIX] Fix movement speed not resetting after death or revival
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
Labels: S: Untriaged, size/S

#1906 [FIX] Фикс Агостов, взамен теряем фикс для ревенантов
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Changes: No C#

#1912 [Fix] Попытка в починку Вики
  .github/workflows/update-wiki.yml
Labels: Status: Needs Review, Changes: No C#, size/XS

#1896 [TWEAK] Chaplain-Candles QoL
  Content.Server/ADT/Chaplain/Systems/ChaplainSystem.cs
  Resources/Locale/ru-RU/ADT/chaplain/chaplain.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Actions/chaplain.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/candles.ftl
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
Labels: Changes: Localization, size/M, S: Untriaged

#1915 [Fix Sponsor] Корректная выдача Я КАПИТАНА при истёкшей спонсорке
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
Labels: S: Untriaged, size/S

#1916 Добавление шприцемета с баночкой ромерола в набор зомби вируса синдиката
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/healing.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/chemistry-bottles.ftl
  Resources/Prototypes/ADT/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1929 [revert] Возращение рандомной динамики
  Resources/Prototypes/ADT/game_presets.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1928 хотфикс
  Content.Server/ADT/GameTicking/Rules/DynamicRuleSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Knowledge.cs
Labels: S: Untriaged, size/S

#1933 Резаки снова можно изучить
  Resources/Prototypes/ADT/Research/industrial.yml
Labels: Changes: No C#, size/XS

#1938 [ADD] Заказ на крылья и уши от Пангари
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Markings/personalization_markings.yml
  Resources/Textures/ADT/Personalization/pangaari_feathered.rsi/feathered_ears.png
  Resources/Textures/ADT/Personalization/pangaari_feathered.rsi/feathered_wings.png
  Resources/Textures/ADT/Personalization/pangaari_feathered.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1940 Убираем лишнее у гостов
  Resources/Prototypes/ADT/InventoryTemplates/ghost_inventory_template.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1941 [FIX] Фиксы фиксы..
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Shared/ADT/Salvage/Systems/MiningVoucherSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/bats.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: UI, size/S

#1951 [TWEAK] Внешность КПБ
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/ipc.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/ipc_screens.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_absolute_poxui.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_awesome.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_best_friend.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_bigsmile.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_boredom.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_breakout.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_clown.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_console.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_creeper.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_dealmaker.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_ecgwave.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eight.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_exclaim.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyes.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyesangry.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyestall.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_frown.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_glider.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_heart.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_l.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_loading.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_mime.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_monoeye.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_mr_gutsy.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nerd.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nya.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_oko.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_poxui.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_question.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_redtext.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_ring.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_rock.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_skull.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_smile.png
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1954 [TEST DEV] New test proto map
  .github/workflows/map-proto-check.yml
  Resources/Maps/ADTMaps/ADTStations/NewYear/adt_centcom.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/shield.yml
  Tools/ADT/check_maps_vs_protos.py
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1955 Конец прогрева Поездом
  Content.Server/ADT/Administration/Commands/ResaveADTCommand.cs
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
  Resources/Maps/ADTMaps/Shuttles/genesis.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/book_printer.yml
Labels: Changes: Map, size/XL, S: Untriaged

#1907 Фикс кристаллов только в чистой ветке
  Content.Server/ADT/BlueSpaceCrystalTeleport/System/BsCrystalTeleportSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/bluespace.ftl
Labels: Changes: Localization, Status: Needs Review, size/S

#1905 Добавление проверки на имение компонента chaplain для святого оружия
  Content.Server/ADT/Chaplain/Systems/ForTheWorthySystem.cs
  Content.Shared/ADT/Chaplain/Components/ForTheWorthyComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/paranormal.yml
Labels: size/M, S: Untriaged

#1900 Больше касок богу касок
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Recipes/Lathes/misc.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1910 Разделение ролей утилизатора и шахтера
  Resources/Locale/ru-RU/ADT/Job/job-description.ftl
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/jobs.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/identification_cards.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/ADT/Roles/Jobs/Cargo/miner.yml
  Resources/Prototypes/ADT/Roles/play_time_trackers.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1932 [TWEAK/FIX] BugFix.v2
  Content.Client/ADT/Shadekin/Systems/ShadekinSystem.Tint.cs
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Content.Shared/ADT/PickupHumans/Systems/SharedPickupHumansSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/Species/kobalt.yml
  Resources/Prototypes/Body/Organs/vox.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Arachnid.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Dwarf.xml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Kobalt.xml
Labels: Changes: Localization, Status: Needs Review, size/M, S: Untriaged

#1957 [FIX] В вентиляцию нельзя залезть находясь в контейнере
  Content.Server/ADT/VentCrawling/VentCrawlerTubeSystem.cs
  Resources/Locale/ru-RU/ADT/ventcrawling/ventcrawling.ftl
Labels: Changes: Localization, S: Untriaged, size/XS

#1962 Улучшенное описание модулей для МОДов
  Content.Shared/ADT/Modsuit/Components/ModSuitModComponent.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Resources/Locale/ru-RU/ADT/modsuits/description-modsuit-mod.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/MODsuits/modules.ftl
Labels: Changes: Localization, Status: Needs Review, S: Untriaged, size/S

#1964 - Отключение логирование админ чата в дискорд
  Content.Server/Chat/Managers/ChatManager.cs
Labels: S: Untriaged, size/S

#1968 [Discord] Показ информации о состоянии бункера в Дискорде
  Content.Server/ADT/Discord/Adminwho/DiscordAdminInfoSenderSystem.cs
Labels: S: Untriaged, size/XS

#1973 Маленький фикс проблем с ботинками юристов
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1970 Маленький большой рефактор модов
  Content.Client/ADT/Modsuits/UI/ModSuitMenu.xaml
  Content.Client/ADT/Modsuits/UI/ModSuitMenu.xaml.cs
  Content.Client/ADT/Modsuits/UI/ModSuitMenuBoundUserInterface.cs
  Content.Client/ADT/Modsuits/UI/ModSuitRadialBoundUserInterface.cs
  Content.Client/ADT/Modsuits/UI/ModSuitRadialMenu.xaml.cs
  Content.Client/ADT/Modsuits/UI/ModuleControl.xaml
  Content.Client/ADT/Modsuits/UI/ModuleControl.xaml.cs
  Content.Client/ADT/UserInterface/Controls/FancyButton/DrawButton.cs
  Content.Client/ADT/UserInterface/Controls/FancyButton/FancyButton.xaml
  Content.Client/ADT/UserInterface/Controls/FancyButton/FancyButton.xaml.cs
  Content.Shared/ADT/Modsuit/Components/ModAttachedClothingComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModPartComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitModComponent.cs
  Content.Shared/ADT/Modsuit/Events/ActionEvents.cs
  Content.Shared/ADT/Modsuit/Events/ModBoundUiState.cs
  Content.Shared/ADT/Modsuit/Events/ModLockMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModuleActivateMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModuleDeactivateMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModuleRemoveMessage.cs
  Content.Shared/ADT/Modsuit/Events/ModModulesUiStateReadyEvent.cs
  Content.Shared/ADT/Modsuit/Events/ToggleClothingAttemptEvent.cs
  Content.Shared/ADT/Modsuit/Events/ToggleModPartsDoAfterEvent.cs
  Content.Shared/ADT/Modsuit/Events/ToggleModSuitPartMessage.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Modules.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Parts.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.Suit.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.cs
  Resources/Locale/ru-RU/ADT/clothing/mosduits.ftl
  Resources/Prototypes/ADT/Actions/types.yml
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review, size/L, S: Untriaged

#1977 fastfix
  Resources/Maps/ADTMaps/ADTStations/adt_train.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XS

#1979 хотфикс
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Content.Shared/Weapons/Melee/Components/MeleeThrowOnHitComponent.cs
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
Labels: S: Untriaged, size/S

#1944 Переработка тел без души
  Resources/Prototypes/ADT/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: No C#, size/XS

#1983 [ADD] Два новых пива.
  Resources/Locale/ru-RU/ADT/Flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Drinks/drinks.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/consumable/alcohol.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/ADT/Flavors/flavors.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/clownbeer.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/superbeer.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1981 Добавление компактной карты в лоадаут
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: No C#, size/XS

#1987 Поправил шоколадный батончик
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1988 Фикс тестов
  .github/Schemas/mapfile_requirements.txt
  .github/Schemas/rga.yml
  .github/Schemas/rga_requirements.txt
  .github/Schemas/rga_validators.py
  .github/workflows/map-proto-check.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
Labels: size/M, S: Untriaged, Changes: No C#

#1992 [RULE] Добавил пункт о запрете убийства в первые 30 минут в 8 правило
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule8.xml
Labels: S: Untriaged, Changes: No C#, size/XS
