Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2025-02, with the labels that each got.

#1050 Fix mod
  Content.Server/ADT/ModSuit/ModSuitModSystem.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitModComponent.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Labels: S: Untriaged, size/S

#1048 [BugFix] language
  Content.Client/ADT/Language/UI/HumanoidProfileEditor.Languages.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI, In progress, S: Untriaged, size/S

#1036 [Admin, Chat] Улучшение системы замены слов: поддержка нескольких акцентов
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/ru-RU/ADT/speech/speech-adt-chatsan.ftl
  Resources/Prototypes/ADT/Accents/word_replacements.yml
Labels: Changes: Localization, In progress, size/M, S: Untriaged

#1053 [ADMIN] Add option to disable bwoink sound.
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Shared/CCVar/CCVars.Sounds.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Changes: Localization, S: Untriaged, size/S

#1054 [FIX] QoL-5 фиксы
  Content.Server/Destructible/Thresholds/Behaviors/TimerStartBehavior.cs
  Resources/Locale/ru-RU/corvax/paper/books-lore.ftl
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/holopad/holopad.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/permaescape.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/suit_storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/eva-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/softsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/holopad.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/eva.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged

#1025 [FIX] Мелкие правки Мерзостей
  Resources/Prototypes/ADT/Entities/Mobs/Species/Abomination.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1052 [ADMIN] Add altVerbs admin rooms
  Content.Server/ADT/Administration/Commands/AdminToggleCommand.cs
  Content.Server/ADT/Administration/Commands/BanMassCommand.cs
  Content.Server/ADT/Administration/Commands/EchoChatCommand.cs
  Content.Server/ADT/Administration/Commands/ExportCommand.cs
  Content.Server/ADT/Administration/Commands/KickHideCommand.cs
  Content.Server/ADT/Administration/Commands/ListLawsSetGetCommand.cs
  Content.Server/ADT/Administration/Commands/SendERTCommand.cs
  Content.Server/ADT/Administration/Commands/SetMindSwapCommand.cs
  Content.Server/ADT/Administration/Systems/AdminTestArenaVariableSystem.cs
  Content.Server/ADT/Administration/Systems/AdminTimeOperSpawnVerbs.cs
  Content.Server/ADT/Administration/Systems/AdminVariableTestArenaVerbs.cs
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatSystem.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatSystem.cs
  Content.Server/ADT/BloodCough/BloodCoughSystem.cs
  Content.Server/ADT/Discord/Adminwho/DiscordAdminInfoSenderSystem.cs
  Content.Server/ADT/ProjectileDespawn/ProjectileDespawnSystem.cs
  Content.Server/ADT/TimeDespawnDamage/TimeDespawnDamageSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Shared/ADT/Administration/Prototype/AdminArenaTestPrototype.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/ru-RU/ADT/administration/aroom_verbs.ftl
  Resources/Maps/ADTMaps/ARoom/aroom_dev.yml
  Resources/Maps/ADTMaps/ARoom/aroom_hell.yml
  Resources/Maps/ADTMaps/ARoom/aroom_paradise.yml
  Resources/Maps/ADTMaps/ARoom/aroom_sandbox.yml
  Resources/Prototypes/ADT/Administration/admin_arens.yml
  Resources/Textures/ADT/Interface/VerbIcons/icons8-dev.png
  Resources/Textures/ADT/Interface/VerbIcons/icons8-hell.png
  Resources/Textures/ADT/Interface/VerbIcons/icons8-paradise.png
  Resources/Textures/ADT/Interface/VerbIcons/icons8-sandbox.png
  Resources/Textures/ADT/Interface/VerbIcons/licence.txt
Labels: Changes: Map, Changes: Localization, Status: Needs Review, size/XL, S: Untriaged

#1060 Узбекский Плов
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/soup.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/uzber_plow.rsi/bowl.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/uzber_plow.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/uzber_plow.rsi/riceplow.png
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1062 [FIX] Fix replace and Bola canMoveBreakout: false
  Content.Server/ADT/Language/LanguageSystem.cs
  Resources/Prototypes/ADT/Accents/word_replacements.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
Labels: S: Untriaged, size/S

#1051 Make melee great again
  Content.Client/ADT/Grab/PullingSystem.cs
  Content.Server/ADT/Grab/PullingSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/ADT/Grab/Components/GrabThrownComponent.cs
  Content.Shared/ADT/Grab/Components/ModifyGrabStageTimeComponent.cs
  Content.Shared/ADT/Grab/Events/GrabEscapeDoAfterEvent.cs
  Content.Shared/ADT/Grab/Events/GrabStageChangedEvent.cs
  Content.Shared/ADT/Grab/Events/ModifyGrabStageTimeEvent.cs
  Content.Shared/ADT/Grab/Events/SetGrabStageDoAfterEvent.cs
  Content.Shared/ADT/Grab/GrabStageStats.cs
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Content.Shared/ADT/Hands/HandEvents.cs
  Content.Shared/ADT/Inventory/VirtualItem/SharedVirtualItemSystem.ADT.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Inventory/VirtualItem/SharedVirtualItemSystem.cs
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Locale/ru-RU/ADT/grab/popups.ftl
  Resources/Prototypes/ADT/Alerts/alerts.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/kobolt.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Textures/ADT/Interface/Alerts/grab.rsi/grab-choke.png
  Resources/Textures/ADT/Interface/Alerts/grab.rsi/grab-hard.png
  Resources/Textures/ADT/Interface/Alerts/grab.rsi/grab-soft.png
  Resources/Textures/ADT/Interface/Alerts/grab.rsi/grabbed-choke.png
  Resources/Textures/ADT/Interface/Alerts/grab.rsi/grabbed-hard.png
  Resources/Textures/ADT/Interface/Alerts/grab.rsi/grabbed-soft.png
  Resources/Textures/ADT/Interface/Alerts/grab.rsi/meta.json
  Resources/Textures/ADT/Interface/Alerts/grab.rsi/pulled.png
  Resources/Textures/ADT/Interface/Alerts/grab.rsi/pulling.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/L, S: Untriaged

#1064 [FEATURE] Add typingIndicator ghost
  Resources/Prototypes/ADT/typing_indicator.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Textures/ADT/Effects/speech.rsi/ghost0.png
  Resources/Textures/ADT/Effects/speech.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/S, Changes: No C#

#1065 And another one
  Content.Server/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: S: Untriaged, size/S

#1066 [FIX] ОБВА
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/timepatrol.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#971 [Discord] улучшаю /admin/info
  Content.Server/Administration/ServerApi.cs
Labels: S: Untriaged, size/XS

#1068 [ADMIN] Add new Fun Verb SpeedBoostWake
  Content.Server/ADT/Administration/Systems/AdminSpeedBoostWakeVerb.cs
  Content.Server/ADT/SpeedBoostWake/Component/SpeedBoostWakeComponent.cs
  Content.Server/ADT/SpeedBoostWake/System/SpeedBoostWakeSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Resources/Locale/ru-RU/ADT/administration/verbs.ftl
Labels: Changes: Localization, size/M, S: Untriaged

#1069 [Litle FIX + Litle BUFF Borg for 100 TK]
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ADT/accent/accents.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Maps/ADTMaps/Ghostbars/calm_ghostly_bar.yml
  Resources/Prototypes/ADT/Accents/full_replace.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/Abomination.yml
  Resources/Prototypes/ADT/ghostbar.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
Labels: Changes: Map, Changes: Localization, size/XL, S: Untriaged, Changes: No C#

#1070 Pain
  Content.Client/ADT/Paint/PaintVisualizerSystem.cs
  Content.Server/ADT/Paint/PaintSystem.cs
  Content.Shared/ADT/Paint/PaintComponent.cs
  Content.Shared/ADT/Paint/PaintDoAfterEvent.cs
  Content.Shared/ADT/Paint/PaintRemoverComponent.cs
  Content.Shared/ADT/Paint/PaintRemoverDoAfterEvent.cs
  Content.Shared/ADT/Paint/PaintRemoverSystem.cs
  Content.Shared/ADT/Paint/PaintedComponent.cs
  Content.Shared/ADT/Paint/SharedPaintSystem.cs
  Resources/Locale/ru-RU/ADT/paint/paint.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/spray_paint.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/crates.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/spray_paint.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Textures/ADT/Interface/VerbIcons/paint.svg
  Resources/Textures/ADT/Interface/VerbIcons/paint.svg.192dpi.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/clown-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/clown-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/clown.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/clown2.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/clown2_cap.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/clown_cap.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/death.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/death2.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/death2_cap.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/death_cap.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/meta.json
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/mime.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/mime2.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/mime2_cap.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/mime_cap.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/rainbow.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/rainbow2.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/rainbow2_cap.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/rainbow_cap.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/spray-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/spray-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/spray.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/spray_cap.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/spray_cap_colors.png
  Resources/Textures/ADT/Objects/Fun/spraycans.rsi/spray_colors.png
Labels: Changes: Sprites, Changes: Localization, size/L

#1071 [FIX litle fix]
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Back/mods.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Clothing/Hands/modsuit_gloves.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/modsuit_boots.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/tendril.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/ADT/Entities/Structures/Specific/tendril.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/clothing/modsuits/cience.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1067 [Refactor] Move component on Server part
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatComponent.cs
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatSystem.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatComponent.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatSystem.cs
  Content.Server/ADT/BloodCough/BloodCoughComponent.cs
  Content.Server/ADT/BloodCough/BloodCoughSystem.cs
  Content.Server/ADT/OnGhostAttemtpDamage/OnGhostAttemtpDamageComponent.cs
  Content.Server/ADT/ProjectileDespawn/ProjectileDespawnComponent.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/ADT/OnGhostAttemtpDamage/OnGhostAttemtpDamageComponent.cs
  Content.Shared/ADT/ProjectileDespawn/ProjectileDespawnComponent.cs
Labels: size/M, S: Untriaged

#1073 [Discord] End Round in Dis
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: size/M, S: Untriaged

#1075 Hardsuit resprite
  Resources/Textures/ADT/Clothing/Head/Hardsuits/paramedic_hardsuithead.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/paramedic_hardsuithead.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hardsuits/paramedic_hardsuithead.rsi/meta.json
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/paramedic_hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/paramedic_hardsuit.rsi/icon.png
  Resources/Textures/ADT/Clothing/OuterClothing/Hardsuits/paramedic_hardsuit.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-light-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-light.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/icon-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/light-overlay.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/medical.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/medical.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/medical.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/S, Changes: No C#

#1076 [Admin] New smite!
  Content.Server/ADT/Administration/Systems/AdminADTSmitesVerbs.cs
  Content.Server/ADT/Administration/Systems/AdminSpeedBoostWakeVerb.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Resources/Locale/ru-RU/ADT/administration/verbs.ftl
  Resources/Textures/ADT/Interface/Alerts/AdminSmite/divineDelay.png
Labels: Changes: Localization, Status: Needs Review, size/M, S: Untriaged

#1080 Увеличение энергопотребления ноклипа Фазона
  Content.Shared/ADT/Mech/Components/MechPhazeComponent.cs
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_aspid.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
Labels: S: Untriaged, size/S

#1081 HOTFIX: Fix lineedit focus (#34621)
  Content.Client/Labels/UI/HandLabelerWindow.xaml.cs
  Content.Client/UserInterface/Controls/DialogWindow.xaml.cs
Labels: Changes: UI, S: Untriaged, size/S

#1082 Fix: Фикс падающего билд тестера
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: S: Untriaged, size/XS

#1085 [ADD] Спонсорские предметы 110225
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/icon_off.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/icon_on.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/meta.json
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/off-inhand-left.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/off-inhand-right.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/on-inhand-left.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/on-inhand-right.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/storage_off.png
  Resources/Textures/ADT/Personalization/egflaer_folded_knife.rsi/storage_on.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1087 ПЛАТНЫЕ КОТЫ
  Content.Client/ADT/Lobby/UI/SpeciesWindow.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Prototypes/ADT/Species/felinid.yml
  Resources/Prototypes/ADT/Traits/speech.yml
Labels: Changes: UI, S: Untriaged, size/S

#1089 [Refactor and Fix]: Исправлена отправка в ooc чат от админа со спонсоркой. Теперь его Никнейм также красится в спонсорский. + Рефакторинг функции SendOOC
  Content.Server/Chat/Managers/ChatManager.cs
  Resources/Locale/ru-RU/ADT/Chat/chat-manager.ftl
Labels: Changes: Localization, Status: Needs Review, size/M

#998 Самодельные инструменты
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/Improvised/handmade_tools.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Entities/Objects/Tools/crowbars.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1074 Фара шаттла в меню строительства
  Resources/Prototypes/ADT/Entities/Structures/Lighting/base_shuttle_lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/structures/lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/structures.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1098 Цветы в руках
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Service/bouquets.yml
  Resources/Prototypes/ADT/Recipes/Crafting/bouquet.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/blackrose_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/galakto_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/love_rose_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/love_yellow_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/loveday_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/mac_bouquet.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/Service/mix_bouquet.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, Changes: No C#

#1101 Small ixes
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: No C#, size/XS

#1102 Fix: Фикс шёпота
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
Labels: Status: Needs Review, S: Untriaged, size/S

#1008 Мрамор пак
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/marble.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Decorations/marble_structures/marble_structures.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Walls/marble_wal.ftl
  Resources/Prototypes/ADT/Decals/marble_decales.yml
  Resources/Prototypes/ADT/Entities/Objects/Materials/marble.yml
  Resources/Prototypes/ADT/Entities/Structures/Decorations/marble_structures/marble_statues.yml
  Resources/Prototypes/ADT/Entities/Structures/Walls/marble_wall.yml
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_box.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_corner_ne.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_corner_nw.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_corner_se.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_corner_sw.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_end_e.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_end_n.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_end_s.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_end_w.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_inner_ne.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_inner_nw.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_inner_se.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_inner_sw.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_line_e.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_line_n.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_line_s.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/marble_line_w.png
  Resources/Textures/ADT/Decals/marble/marble_decals.rsi/meta.json
  Resources/Textures/ADT/Objects/Materials/marble.rsi/icon.png
  Resources/Textures/ADT/Objects/Materials/marble.rsi/marble2.png
  Resources/Textures/ADT/Objects/Materials/marble.rsi/marblemat3.png
  Resources/Textures/ADT/Objects/Materials/marble.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marble_lady.rsi/marlady.png
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marble_lady.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marble_stand.rsi/marstand.png
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marble_stand.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marblelady_flower.rsi/marlady_flowers.png
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marblelady_flower.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marbleman.rsi/marman.png
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marbleman.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marblemandamage.rsi/marmandmg.png
  Resources/Textures/ADT/Structures/Decoration/marble_structures/marblemandamage.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/peacemaker.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/peacemaker.rsi/peacemaker.png
  Resources/Textures/ADT/Structures/Decoration/marble_structures/pillar_marble.rsi/meta.json
  Resources/Textures/ADT/Structures/Decoration/marble_structures/pillar_marble.rsi/pillar_marble.png
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/full.png
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/meta.json
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/state0.png
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/state1.png
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/state2.png
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/state3.png
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/state4.png
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/state5.png
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/state6.png
  Resources/Textures/ADT/Structures/Walls/marble_wall.rsi/state7.png
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1105 [Personal] Добавлена именная вещь Anvel
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/polaroid_anvel.rsi/icon.png
  Resources/Textures/ADT/Personalization/polaroid_anvel.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1106 Запрет ролей для Резоми.
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/guard_officer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: S: Untriaged, Changes: No C#

#1107 [HOTFIX] fix(src): фикс бага с резоми, чатом
  Content.Server/ADT/Chat/ChatSystem.ADT.cs
Labels: S: Untriaged, size/XS

#1111 [FEATURE] Personal item
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/kiwi_fruit_tartalio.rsi/icon.png
  Resources/Textures/ADT/Personalization/kiwi_fruit_tartalio.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1109 [UI] Добавлены кнопки с ссылками на бусти в ESC меню и в окно очереди
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Shared/CCVar/CCVars.Game.Infolinks.cs
  Resources/Locale/ru-RU/ADT/ui.ftl
Labels: Changes: UI, Changes: Localization, S: Untriaged, size/S

#1099 [ADMIN] Добавлен новый Verb "Scale" в трюки для администрации
  Content.Server/ADT/Administration/Systems/AddADTTricksVerbs.cs
  Content.Server/ADT/Administration/Systems/AdminADTSmitesVerbs.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Resources/Locale/ru-RU/ADT/administration/verbs.ftl
Labels: Changes: Localization, Status: Needs Review, S: Untriaged, size/S

#1114 [BugFix] Из-за неверного оформления, было сломано 9-ое правило в документации.
  Resources/ServerInfo/ADT/Guidebook/ServerRules/Rule9.xml
Labels: S: Untriaged, Changes: No C#, size/XS

#1112 [FIX] Локаль и прочее из багрепортов
  Resources/Locale/ru-RU/ADT/changeling/antags.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Items/patchpack.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/tables.ftl
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/ADT/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/ADT/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Datasets/Names/fortunes.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1100 [ADMIN] Добавлены аналоги команд playtime но с приставкой "_as" на конце, которые работают асинхронно ни с сессией игрока, а по его GUID.
  Content.Server/ADT/Administration/Commands/PlayTimeRoleDataBaseCommand.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
Labels: Status: Needs Review, size/M, S: Untriaged

#1116 [TWEAK] Время на АВД и Магистрата
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1108 Melee rework 1/4: combo system
  Content.Server/ADT/AddComponentsOnUse/Components/AddComponentsOnUseComponent.cs
  Content.Server/ADT/AddComponentsOnUse/Systems/AddComponentsOnUseSystem.cs
  Content.Server/ADT/Combat/Systems/ComboSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/ADT/CantShoot/Components/CantShootComponent.cs
  Content.Shared/ADT/CantShoot/Systems/CantShootSystem.cs
  Content.Shared/ADT/Combat/ComboComponentParts.cs
  Content.Shared/ADT/Combat/ComboEffects.cs
  Content.Shared/ADT/Combat/Components/ComboComponent.cs
  Content.Shared/ADT/Combat/Systems/ComboSystem.cs
  Content.Shared/ADT/Crawling/Components/CrawlerComponent.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Content.Shared/ADT/Grab/Systems/PullingSystem.Grab.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Audio/ADT/Misc/ui_togglecombat.ogg
  Resources/Audio/ADT/Misc/ui_toggleoffcombat.ogg
  Resources/Locale/ru-RU/ADT/CantShoot/cant-shoot-popups.ftl
  Resources/Locale/ru-RU/ADT/Combo/combo_end_popup.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/material_arts.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/centcomm.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Power/powercell.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Revolvers/saber_revolvers.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/cqc.png
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/meta.json
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/ptrc.png
  Resources/Textures/ADT/Objects/Specific/material_art_book.rsi/sleeping_carp.png
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: Audio

#1118 фикс локали
  Resources/Locale/ru-RU/ADT/CantShoot/cant-shoot-popups.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/material_arts.ftl
Labels: Changes: Localization, size/S, Changes: No C#

#1120 [FIX] просто передвинул альт верб Арум чуть ниже
  Content.Server/ADT/Administration/Systems/AdminVariableTestArenaVerbs.cs
Labels: S: Untriaged, size/XS

#1124 Фикс бага с тростью-ружьём
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Shotguns/shotguns.yml
Labels: Changes: No C#, size/XS

#1122 фиксы боевых искуств
  Content.Shared/ADT/CantShoot/Systems/CantShootSystem.cs
  Content.Shared/ADT/Combat/ComboEffects.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
Labels: size/M, S: Untriaged

#1125 [TEST FIX] Фикс дебаг-теста
  Resources/Maps/packed.yml
Labels: Changes: Map, S: Untriaged, size/S, Changes: No C#

#1128 Исправление бага + Локализация Numb
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: Localization, S: Untriaged, Changes: No C#, size/XS

#1121 BugFixes
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/OverallPlaytimeRequirement.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
  Resources/Prototypes/ADT/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Salvage/lavaland_loot.yml
  Resources/Prototypes/ADT/Entities/Structures/Doors/Airlock/airlocks.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_avrite.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_kerberos.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Textures/Clothing/Shoes/Specific/skates.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Specific/skates.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, In progress, S: Untriaged, size/S

#1135 [SPONSOR] Добавление спонсорских вещей
  Resources/Audio/ADT/Weapons/Melee/egflaer_knife_opening.ogg
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Textures/ADT/Personalization/toys.rsi/meta.json
  Resources/Textures/ADT/Personalization/toys.rsi/plushie_ineedpizza486.png
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#, Changes: Audio

#1137 [FIX] Отключение теста на прототипы с категорией DO NOT MAP
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: S: Untriaged, size/S

#1143 [ADD] Новый логотип в загрузочнике
  Resources/Textures/ADT/Logo/adt_logo.png
  Resources/Textures/ADT/Logo/icon-adt/icon-128x128.png
  Resources/Textures/ADT/Logo/icon-adt/icon-16x16.png
  Resources/Textures/ADT/Logo/icon-adt/icon-24x24.png
  Resources/Textures/ADT/Logo/icon-adt/icon-256x256.png
  Resources/Textures/ADT/Logo/icon-adt/icon-32x32.png
  Resources/Textures/ADT/Logo/icon-adt/icon-48x48.png
  Resources/Textures/ADT/Logo/icon-adt/icon-64x64.png
  Resources/Textures/ADT/Logo/old_logo2.png
  Resources/Textures/ADT/Logo/old_logo_1.png
  Resources/manifest.yml
Labels: Status: Needs Review, Changes: No C#, size/XS

#1141 Update timepatrol.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/timepatrol.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1140 [STYLE] Просто правки строк локализации
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Prototypes/Entities/Objects/Weapons/Ammunition/shipgun_cartridges.ftl
  Resources/Locale/ru-RU/ADT/Heretic/abilities/heretic.ftl
  Resources/Locale/ru-RU/ADT/Heretic/objectives/heretic.ftl
  Resources/Locale/ru-RU/ADT/administration/verbs.ftl
  Resources/Locale/ru-RU/ADT/lathe/production.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Belt/belts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Mask/mask.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Shoes/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/shadekin.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/frozen.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Guns.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Doors/Airlock/access.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Furniture/misc.ftl
  Resources/Locale/ru-RU/advertisements/vending/atmosdrobe.ftl
  Resources/Locale/ru-RU/store/revenant-catalog.ftl
Labels: Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1144 Upstream2302
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Doors/DoorEvents.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Roles/SharedRoleSystem.cs
  Content.Shared/Silicons/Laws/SharedSiliconLawSystem.cs
Labels: S: Untriaged, size/S

#1149 Золотая Бита
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/goldbat.yml
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/wielded-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/goldbat.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1146 IPC
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_eyestall.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_loading.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nature.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_pink.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_rainbowdiag.png
Labels: Changes: Sprites, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1153 Фиксики генокрада
  Content.Client/ADT/Changeling/UI/ChangelingTransformMenu.xaml.cs
  Content.Server/ADT/Changeling/ChangelingActionNotPresentCondition.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Combat.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Headslug.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.Useful.cs
  Content.Server/ADT/Changeling/Systems/ChangelingSystem.cs
  Content.Server/ADT/Objectives/Components/AbsorbChangelingConditionComponent.cs
  Content.Server/ADT/Objectives/Components/StealDnaConditionComponent.cs
  Content.Server/ADT/Objectives/Systems/AbsorbChangelingConditionSystem.cs
  Content.Server/ADT/Objectives/Systems/StealDnaConditionSystem.cs
  Content.Server/ADT/Store/ActionBoughtEvent.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/ADT/Changeling/Components/ChangelingComponent.cs
  Content.Shared/ADT/Changeling/SharedChangeling.cs
  Resources/Locale/ru-RU/ADT/changeling/objectives.ftl
  Resources/Locale/ru-RU/ADT/changeling/preset-changeling.ftl
  Resources/Prototypes/ADT/Objectives/changeling.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Textures/ADT/Interface/ling-objectives.rsi/absorb_dna.png
  Resources/Textures/ADT/Interface/ling-objectives.rsi/meta.json
  Resources/Textures/ADT/Interface/ling-objectives.rsi/sting_extract.png
Labels: Changes: UI, Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged
