Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2025-07, with the labels that each got.

#1625 Нужно больше кастома для КПБ.
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/ipc.ftl
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/ipc_antenna.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/ipc_screens.yml
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_cat.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/ipc_antenna_tvalt.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_antenna.rsi/meta.json
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_absolute_poxui.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_awesome.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_best_friend.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_bigsmile.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_boredom.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_clown.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_creeper.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_dealmaker.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_mime.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_monkey.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_mr_gutsy.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nerd.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_nya.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_oko.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_poxui.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_rock.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_skull.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/ipc_screen_tenna.png
  Resources/Textures/ADT/Mobs/Customization/Ipc/ipc_screens.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1614 [TWEAK] Слаймлюды и щёлочи
  Resources/Locale/ru-RU/armor/armor-examine.ftl
  Resources/Locale/ru-RU/damage/damage-types.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Species/slime.yml
Labels: Changes: Localization, S: Untriaged, Changes: No C#

#1629 Воксы-налётчики
  Resources/Locale/ru-RU/ADT/Ghost/Roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Markers/Spawners/mobs.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Maps/ADTMaps/Nonstation/voxbase.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/ADT/GameRules/events.yml
  Resources/Textures/ADT/Clothing/Head/Hardsuits/vox_raiders_common_hardsuithead.rsi/equipped-HELMET.png
Labels: Changes: Sprites, Changes: Map, Changes: Localization, size/XL, Changes: No C#

#1642 [TWEAK] Surnames tweak
  Resources/Locale/ru-RU/datasets/names/last_female.ftl
  Resources/Locale/ru-RU/datasets/names/last_male.ftl
  Resources/Prototypes/Datasets/Names/last_female.yml
  Resources/Prototypes/Datasets/Names/last_male.yml
Labels: Changes: Localization, size/M, Changes: No C#

#1600 [TWEAK] Юппи и пустой медипен
  Resources/Prototypes/ADT/Catalog/Fills/Boxes/boxes.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Containers/packs.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Hydroponics/soil.yml
Labels: size/S, Changes: No C#

#1624 Добавление крафта медицинских солнцезащитных очков
  Resources/Prototypes/ADT/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/ADT/Recipes/Construction/clothing.yml
  Resources/Prototypes/ADT/Recipes/Crafting/glasses_med_hud.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1639 Raiders VS Papers
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ADT/paper/books.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/pda.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/identification_cards.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Tools/blueprint.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/books.yml
  Resources/Prototypes/ADT/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/ADT/Entities/Objects/Tools/blueprint.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Recipes/Lathes/security.yml
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: Localization, size/M, Changes: No C#

#1649 Удаление дубликатов из лодаута
  Resources/Prototypes/ADT/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/security_cadet.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: size/M, S: Untriaged, Changes: No C#

#1644 Люк в космос
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Doors/Misc/blast_floor.ftl
  Resources/Prototypes/ADT/Entities/Structures/Doors/Shutters/blast_floor.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/structures/blast_floor.yml
  Resources/Prototypes/ADT/Recipes/Construction/structures.yml
  Resources/Textures/ADT/Structures/Doors/Misc/blastfloor.rsi/assembly.png
  Resources/Textures/ADT/Structures/Doors/Misc/blastfloor.rsi/closed.png
  Resources/Textures/ADT/Structures/Doors/Misc/blastfloor.rsi/closing.png
  Resources/Textures/ADT/Structures/Doors/Misc/blastfloor.rsi/meta.json
  Resources/Textures/ADT/Structures/Doors/Misc/blastfloor.rsi/open.png
  Resources/Textures/ADT/Structures/Doors/Misc/blastfloor.rsi/opening.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, Changes: No C#

#1653 Предложки из заказов
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/coats.ftl
  Resources/ServerInfo/ADT/SpeciesDescriptions/Unfinished.xml
Labels: Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1656 Летающие самолёты-оригами
  Content.Server/ADT/PaperOrigami/PaperOrigamiSystem.cs
Labels: Status: Needs Review, S: Untriaged, size/S

#1661 fix what isn't broken... In style
  Resources/Prototypes/ADT/Entities/Structures/Doors/Shutters/blast_floor.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1657 Новый костёр
  Content.Server/ADT/Temperature/Systems/ADTFlammableAmbientSoundComponent.cs
  Content.Server/ADT/Temperature/Systems/ADTFlammableEntityHeaterComponent.cs
  Content.Server/Atmos/Components/FlammableComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Audio/AmbientSoundSystem.cs
  Content.Server/Temperature/Systems/EntityHeaterSystem.cs
  Resources/Prototypes/ADT/Entities/Structures/Decorations/bonfire.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/structures/bonfire.yml
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Textures/ADT/Structures/Decoration/bonfire.rsi/bonfire.png
  Resources/Textures/ADT/Structures/Decoration/bonfire.rsi/bonfire_extinguished.png
  Resources/Textures/ADT/Structures/Decoration/bonfire.rsi/burning.png
  Resources/Textures/ADT/Structures/Decoration/bonfire.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, Status: Needs Review, size/M, S: Untriaged

#1664 [HotFix] Фикс вечного подключения к серверу
  Content.Server/Ghost/GhostSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: size/M, S: Untriaged

#1669 [FIX] Десплейсмент на сумеречницах в лобби
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
Labels: size/S, Changes: No C#

#1594 [SHIPBATTLE] Вендоматы для корабельных боёв [не мерджить]
  Resources/Locale/ru-RU/ADT/ADTGlobalEvents/ShipBattle/Prototypes/Entities/Structures/Machines/vending_machines.ftl
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/additions.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/engineering_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/engineering_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/food.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/uniform_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/uniform_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/weapon_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Catalog/VendingMachines/Inventories/weapon_tsf.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/broken_common.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/broken_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/broken_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/deny_common.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/deny_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/deny_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/eject_add.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/eject_ammo.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/eject_engi_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/eject_engi_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/eject_food.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/eject_med.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/eject_uniform_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/eject_uniform_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/eject_weapon_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/eject_weapon_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/meta.json
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/normal_add.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/normal_ammo.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/normal_engi_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/normal_engi_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/normal_food.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/normal_med.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/normal_uniform_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/normal_uniform_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/normal_weapon_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/normal_weapon_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/off_common.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/off_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/off_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/panel.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_add_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_add_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_ammo_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_ammo_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_engi_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_engi_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_food.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_med_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_med_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_uniform_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_uniform_tsf.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_weapon_kmt.png
  Resources/Textures/ADT/ADTGlobalEvents/ShipBattle/Structures/Machines/VendingMachines/vendings.rsi/screen_weapon_tsf.png
Labels: Changes: Sprites, Changes: Localization, Не Мерджить, In progress, size/L, S: Untriaged, Changes: No C#

#1668 Перенос безумного халата ученого из автомата в лодаут
  Resources/Prototypes/ADT/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: S: Untriaged, size/S, Changes: No C#

#1682 [FIX] Тупа кволити житухи 7
  Content.Shared/CCVar/CCVars.Interactions.cs
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/bluespace_harvester.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: S: Untriaged, size/S

#1687 [FIX] Исправлены ошибки локали и убран рецепт ультрахильдрагта.
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.ftl
  Resources/Prototypes/ADT/Recipes/Reactions/toxins.yml
Labels: Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1694 [GITHUB] Изменил шаблон пиара
  .github/PULL_REQUEST_TEMPLATE.md
Labels: S: Untriaged, Changes: No C#, size/XS

#1688 Фикс халата безумного ученого в лодауте
  Resources/Prototypes/ADT/Loadouts/Jobs/Science/scientist.yml
  Resources/Textures/ADT/Objects/Weapons/Melee/Crushers/crusher_machete-inhands.rsi/inhand-left.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#1693 Станнер магистрату
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Prototypes/ADT/Loadouts/Jobs/Juridical/magistrat.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/ADT/Loadouts/role_loadouts.yml
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
Labels: Changes: Localization, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1691 Цели на великую Суперматерию [ FIX ]
  Content.Server/ADT/Objectives/Components/CascadeConditionComponent.cs
  Content.Server/ADT/Objectives/Systems/CascadeConditionSystem.cs
  Content.Server/ADT/Objectives/Systems/CheckSupermatterSystem.cs
  Content.Server/Objectives/Components/StealConditionComponent.cs
  Content.Server/Objectives/Systems/StealConditionSystem.cs
  Resources/Prototypes/ADT/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: S: Untriaged, size/S

#1690 [FIX] Починил стамино-резисты, Исправил давню ошибку энерго-арбалета и сделал локаль паре вещей.
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/material_arts.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Clothing/OuterClothing/hardsuits_kmt.yml
  Resources/Prototypes/ADT/ADTGlobalEvents/ShipBattle/Entities/Clothing/OuterClothing/hardsuits_tsf.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Heretic/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: No C#

#1701 [SPONSOR] Добавление спонсорского контента
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/base.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/icon.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/inhand-left-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/inhand-left-1.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/inhand-left-2.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/inhand-left-3.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/inhand-right-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/inhand-right-1.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/inhand-right-2.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/inhand-right-3.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/mag-unshaded-0.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/mag-unshaded-1.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/mag-unshaded-2.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/mag-unshaded-3.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Battery/yv2.rsi/meta.json
  Resources/Textures/ADT/Personalization/yv2recharger.rsi/empty.png
  Resources/Textures/ADT/Personalization/yv2recharger.rsi/full.png
  Resources/Textures/ADT/Personalization/yv2recharger.rsi/icon.png
  Resources/Textures/ADT/Personalization/yv2recharger.rsi/meta.json
  Resources/Textures/ADT/Personalization/yv2recharger.rsi/yv2.png
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: No C#

#1703 Теперь можно играть на роли технического ассистента
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1705 Добавил рабочий КД для надувания шаров у мима
  Content.Server/ADT/Mime/MImeBaloonComponent.cs
  Content.Server/ADT/Mime/MimeBaloonSystem.cs
  Resources/Prototypes/ADT/Actions/baloon.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: S: Untriaged, size/S

#1702 [FIX] Исправлены спрайты всех проджектайлов, изменены спрайты, убран структурный урон у дробовиков и тд.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/grenade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/shotgun-ammo.rsi/buckshot-incendiary.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Projectiles/shotgun-ammo.rsi/meta.json
  Resources/Textures/Objects/Devices/desynchronizer.rsi/icon-on.png
  Resources/Textures/Objects/Devices/desynchronizer.rsi/icon.png
  Resources/Textures/Objects/Devices/desynchronizer.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/desynchronizer.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/desynchronizer.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles2.rsi/buckshot.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles2.rsi/meta.json
Labels: Changes: Sprites, size/M, Changes: No C#

#1699 Изменения цены алмазов и Добавление изменение громкости на музыкальном автомате
  Content.Client/Audio/Jukebox/JukeboxBoundUserInterface.cs
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml.cs
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Content.Shared/Audio/Jukebox/SharedJukeboxSystem.cs
  Resources/Locale/en-US/ADT/jukebox-volume.ftl
  Resources/Locale/ru-RU/ADT/jukebox-volume.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review, size/M

#1700 [ADD] Много нового и крутого для ИИ и боргов
  Content.Client/ADT/Hands/UI/HandPlaceholderStatus.cs
  Content.Client/ADT/Hands/UI/HandPlaceholderStatus.xaml
  Content.Client/ADT/Interaction/Component/HandPlaceholderVisualsComponent.cs
  Content.Client/ADT/Interaction/system/HandPlaceholderVisualsSystem.cs
  Content.Client/UserInterface/Systems/Hands/HandsUIController.cs
  Content.IntegrationTests/Tests/Sprite/ItemSpriteTest.cs
  Content.Server/ADT/Whitelist/Components/ElectronicsComponent.cs
  Content.Server/ADT/Whitelist/Components/StockPartComponent.cs
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Shared/ADT/Interaction/Components/HandPlaceholderComponent.cs
  Content.Shared/ADT/Interaction/Components/HandPlaceholderRemoveableComponent.cs
  Content.Shared/ADT/Interaction/Systems/SharedHandPlaceholderSystem.cs
  Content.Shared/Silicons/Borgs/Components/ItemBorgModuleComponent.cs
  Resources/Locale/ru-RU/ADT/Objects/Specific/Robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ADT/hands/hands-system.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Devices/clipboard.ftl
  Resources/Locale/ru-RU/ADT/silicons/lawsets.ftl
  Resources/Locale/ru-RU/ADT/station-laws/laws.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/law_boards.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Robotics/borg_hand_placeholder.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/ADT/silicon_laws.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/law_boards.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/control_box.yml
  Resources/Prototypes/borg_types.yml
  Resources/Prototypes/silicon-laws.yml
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-pka.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged

#1673 изменения баланса и не только
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/voucherBS.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Objectives/steal-target-groups.ftl
  Resources/Locale/ru-RU/ADT/salvage/mining-voucher.ftl
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/ADT/Catalog/hos_voucher.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/misc_voucher.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Battery/battery_gun.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/bats.yml
  Resources/Prototypes/ADT/Objectives/stealTargetGroups.yml
  Resources/Prototypes/ADT/Objectives/traitor.yml
  Resources/Prototypes/ADT/mining_shop.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/ore.yml
  Resources/Prototypes/secret_weights.yml
  Resources/Textures/ADT/Objects/Specific/hos_voucher.rsi/icon.png
  Resources/Textures/ADT/Objects/Specific/hos_voucher.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/tactic_bat.rsi/bat_off.png
  Resources/Textures/ADT/Objects/Weapons/Melee/tactic_bat.rsi/bat_on.png
  Resources/Textures/ADT/Objects/Weapons/Melee/tactic_bat.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/tactic_bat.rsi/off-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/tactic_bat.rsi/off-inhand-right.png
  Resources/Textures/ADT/Objects/Weapons/Melee/tactic_bat.rsi/on-inhand-left.png
  Resources/Textures/ADT/Objects/Weapons/Melee/tactic_bat.rsi/on-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: No C#

#1712 Добавил пару новых шариков для мима
  Content.Server/ADT/Mime/MImeBaloonComponent.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Fun/toys.ftl
  Resources/Prototypes/ADT/Entities/Objects/Fun/toys.yml
  Resources/Textures/ADT/Objects/Fun/Balloon/clown-balloon.png
  Resources/Textures/ADT/Objects/Fun/Balloon/clown-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon/clown-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/Balloon/corgi-balloon.png
  Resources/Textures/ADT/Objects/Fun/Balloon/corgi-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon/corgi-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/Balloon/icon-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon/icon-inhand-right.png
  Resources/Textures/ADT/Objects/Fun/Balloon/icon.png
  Resources/Textures/ADT/Objects/Fun/Balloon/meta.json
  Resources/Textures/ADT/Objects/Fun/Balloon/nt-balloon.png
  Resources/Textures/ADT/Objects/Fun/Balloon/nt-inhand-left.png
  Resources/Textures/ADT/Objects/Fun/Balloon/nt-inhand-right.png
Labels: Changes: Localization, size/M, S: Untriaged

#1720 Компонент ветра для карты
  Content.Client/ADT/Weather/HeavyWindVisualsSystem.cs
  Content.Server/ADT/Weather/HeavyWindSystem.cs
  Content.Shared/ADT/Weather/Components/HeavyWindComponent.cs
  Resources/Prototypes/ADT/Effects/wind.yml
  Resources/Textures/ADT/Effects/wind.rsi/icon.png
  Resources/Textures/ADT/Effects/wind.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged
