Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2025-08, with the labels that each got.

#1722 [FIX] Исправлено требуемое время для игры на тех. ассистенте
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1724 [FIXes] Fixes Patch
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Resources/Audio/ADT/Jukebox/space_asshole_mono_jukebox.ogg
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/ADT/Entities/Mobs/Customization/Markings/Reptilian_implant.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
  Resources/Prototypes/ADT/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/ServerInfo/ADT/SpeciesDescriptions/Resomi.xml
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/inhand-left-mag.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/inhand-left-stripe.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/inhand-right-mag.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/inhand-right-stripe.png
  Resources/Textures/ADT/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_magnum_mag.rsi/meta.json
  Resources/Textures/Interface/Ashen/Slots/socks.png
  Resources/Textures/Interface/Ashen/Slots/underwearb.png
  Resources/Textures/Interface/Ashen/Slots/underweart.png
  Resources/Textures/Interface/Default/Slots/socks.png
  Resources/Textures/Interface/Default/Slots/underwearb.png
  Resources/Textures/Interface/Default/Slots/underweart.png
  Resources/Textures/Interface/Minimalist/Slots/socks.png
  Resources/Textures/Interface/Minimalist/Slots/underwearb.png
  Resources/Textures/Interface/Minimalist/Slots/underweart.png
  Resources/Textures/Interface/Plasmafire/Slots/socks.png
  Resources/Textures/Interface/Plasmafire/Slots/underwearb.png
  Resources/Textures/Interface/Plasmafire/Slots/underweart.png
  Resources/Textures/Interface/Retro/Slots/socks.png
  Resources/Textures/Interface/Retro/Slots/underwearb.png
  Resources/Textures/Interface/Retro/Slots/underweart.png
  Resources/Textures/Interface/Slimecore/Slots/socks.png
  Resources/Textures/Interface/Slimecore/Slots/underwearb.png
  Resources/Textures/Interface/Slimecore/Slots/underweart.png
Labels: Changes: UI, Changes: Sprites, Changes: Localization, size/S, Changes: Audio

#1729 [RESPRITE] НАКОНЕЦ изменение спрайта генератора силового поля.
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/a1.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/a2.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/icon.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/on.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/p1.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/p2.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/p3.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/p4.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/p5.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/p6.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#1731 фикс карты
  Resources/Maps/ADTMaps/Nonstation/voxbase.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1650 [ADD] Герас
  Content.Client/ADT/Geras/GerasComponent.cs
  Content.Client/ADT/Geras/GerasSystem.cs
  Content.Server/ADT/Geras/GerasComponent.cs
  Content.Server/ADT/Geras/GerasSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/ADT/Geras/SharedGerasComponent.cs
  Content.Shared/ADT/Geras/SharedGerasSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Audio/ADT/slime-hair.ogg
  Resources/Locale/ru-RU/ADT/actions/slime.ftl
  Resources/Locale/ru-RU/ADT/geras/geras.ftl
  Resources/Locale/ru-RU/ADT/polymorph/polymorph.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/slimes.ftl
  Resources/Prototypes/ADT/Actions/types.yml
  Resources/Prototypes/ADT/Body/Parts/slimes.yml
  Resources/Prototypes/ADT/Body/Prototypes/slimes.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/ADT/Polymorphs/polymorphs.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/white_adult_slime.png
  Resources/Textures/ADT/Mobs/Aliens/slimes.rsi/white_adult_slime_dead.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: Audio

#1730 БИ боксёру
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Prototypes/ADT/Loadouts/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: Localization, Status: Needs Review, S: Untriaged, size/S, Changes: No C#

#1739 Водолазки по ролям
  Resources/Prototypes/ADT/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/botanist.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/librarian.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Medical/psychologist.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/ADT/Loadouts/Miscellaneous/turtlenecks.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: size/M, S: Untriaged, Changes: No C#

#1697 [ADD] Фростпанк
  Resources/Prototypes/ADT/Entities/Structures/Machines/frostpunk.yml
  Resources/Textures/ADT/Objects/Misc/Frostpunk/ParCore.rsi/ParReactor.png
  Resources/Textures/ADT/Objects/Misc/Frostpunk/ParCore.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/Frostpunk/ParGenik.rsi/HeatTransferPipes-2.png
  Resources/Textures/ADT/Objects/Misc/Frostpunk/ParGenik.rsi/PotectiveGrilles-3.png
  Resources/Textures/ADT/Objects/Misc/Frostpunk/ParGenik.rsi/box_1.png
  Resources/Textures/ADT/Objects/Misc/Frostpunk/ParGenik.rsi/box_2.png
  Resources/Textures/ADT/Objects/Misc/Frostpunk/ParGenik.rsi/meta.json
  Resources/Textures/ADT/Objects/Misc/Frostpunk/ParGenik.rsi/portgen0.png
  Resources/Textures/ADT/Objects/Misc/Frostpunk/ParGenik.rsi/portgen0on.png
  Resources/Textures/ADT/Objects/Misc/Frostpunk/ParGenik.rsi/portgen_on_unlit.png
Labels: Changes: Sprites, size/M, S: Untriaged, Changes: No C#

#1727 Баг-фиксы
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/Customization/Markings/moth.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/ADT/Clothing/Underwear/Bottom/Heads/hos_boxers.rsi/equipped-UNDERWEARB.png
Labels: Changes: Sprites, Changes: Localization, size/S, Changes: No C#

#1681 Dymanic 2.0
  Content.Server/ADT/GameTicking/Rules/Components/DynamicRuleComponent.cs
  Content.Server/ADT/GameTicking/Rules/DynamicRuleSystem.cs
  Resources/Locale/ru-RU/ADT/game-ticking/game-presets/preset-traitor.ftl
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: Changes: Localization, Status: Awaiting Changes, size/M, S: Untriaged

#1716 [FIX] Мелкие правки баланса. Возврат старого урона картечи
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Mech/equipment.ftl
  Resources/Prototypes/ADT/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1740 Optimization?
  Content.Client/Content.Client.runtimeconfig.json
  Content.Server/Content.Server.runtimeconfig.json
  Content.Shared/Content.Shared.runtimeconfig.json
  Resources/Maps/ADTMaps/Nonstation/voxbase.yml
Labels: Changes: Map, size/S, Changes: No C#

#1766 [Admin Tool] Добавлена новая команда "massmsg"
  Content.Server/ADT/Administration/Commands/SubtleMessageMassCommand.cs
  Resources/Locale/ru-RU/ADT/administration/commands.ftl
Labels: Changes: Localization, size/M

#1765 #1663 solved
  Content.Shared/ADT/Weapons/Melee/BackstabDamageMultipilierSystem.cs
Labels: S: Untriaged, size/XS

#1752 [FIX] Исправление бага с пролезанием куда-либо при попытке лечь на столе
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
Labels: Не Мерджить, S: Untriaged, size/S

#1767 [Admin Tools] Новый альт верб в категории Debug, для регулирования ХП сущности
  Content.Server/ADT/Administration/Systems/AdminADTSmitesVerbs.cs
  Content.Server/Administration/QuickDialogSystem.OpenDialog.cs
  Content.Shared/Mobs/Components/MobThresholdsComponent.cs
  Resources/Locale/ru-RU/ADT/administration/verbs.ftl
  Resources/Textures/ADT/Interface/VerbIcons/icon-tweak-health-smite.license.txt
  Resources/Textures/ADT/Interface/VerbIcons/icon-tweak-health-smite.png
Labels: Changes: Localization, size/M

#1768 Добавлено поле BannedRound для временной блокировки игровых режимов в голосовании
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/Presets/GamePresetPrototype.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Resources/Prototypes/ADT/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: Status: Needs Review, S: Untriaged, size/S

#1769 Fixes
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/ADT/Interface/Emotes/Vocal/deny.png
Labels: S: Untriaged, size/S, Changes: No C#

#1770 Бездонный бак для мусора
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Janitorial/bluespacetrashcan.ftl
  Resources/Prototypes/ADT/Entities/Objects/Specific/Janitorial/bluespacetrashcan.yml
  Resources/Prototypes/ADT/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/ADT/Objects/Specific/bluespace_trashcan.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Specific/bluespace_trashcan.rsi/icon-0.png
  Resources/Textures/ADT/Objects/Specific/bluespace_trashcan.rsi/icon-1.png
  Resources/Textures/ADT/Objects/Specific/bluespace_trashcan.rsi/icon-2.png
  Resources/Textures/ADT/Objects/Specific/bluespace_trashcan.rsi/icon-3.png
  Resources/Textures/ADT/Objects/Specific/bluespace_trashcan.rsi/inhand-left.png
  Resources/Textures/ADT/Objects/Specific/bluespace_trashcan.rsi/inhand-right.png
  Resources/Textures/ADT/Objects/Specific/bluespace_trashcan.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/S, Changes: No C#

#1641 Блюспейс обновление(Не в мастер ветке)
  Content.Server/ADT/BlueSpaceCrystalTeleport/Component/BsCrystalTeleportComponent.cs
  Content.Server/ADT/BlueSpaceCrystalTeleport/System/BsCrystalTeleportSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/lavaland.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Materials/bluespace.ftl
  Resources/Locale/ru-RU/ADT/research/technologies.ftl
  Resources/Prototypes/ADT/Entities/Effects/mobspawn.yml
  Resources/Prototypes/ADT/Entities/Effects/wallspawn.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/ADT/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/bluespace.yml
  Resources/Prototypes/ADT/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/ADT/Entities/Structures/Specific/tendril.yml
  Resources/Prototypes/ADT/Entities/Structures/Walls/meteor.yml
  Resources/Prototypes/ADT/Procedural/biome_ore_templates.yml
  Resources/Prototypes/ADT/Reagents/Materials/materials.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/ore.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/ADT/Recipes/Lathes/bluespace_things.yml
  Resources/Prototypes/ADT/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/ADT/Recipes/Lathes/sheet.yml
  Resources/Prototypes/ADT/Research/experimental.yml
  Resources/Prototypes/ADT/Stacks/misc.yml
  Resources/Prototypes/ADT/ore.yml
  Resources/Prototypes/ADT/planets.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Procedural/Magnet/asteroid_ore_gens.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Textures/ADT/Mobs/BS_crab.rsi/bs_crab-alive.png
  Resources/Textures/ADT/Mobs/BS_crab.rsi/bs_crab-dead.png
  Resources/Textures/ADT/Mobs/BS_crab.rsi/meta.json
  Resources/Textures/ADT/Objects/Materials/BS_ore.rsi/BS_ore.png
  Resources/Textures/ADT/Objects/Materials/BS_ore.rsi/meta.json
  Resources/Textures/ADT/Objects/Materials/crystal.rsi/crystal.png
  Resources/Textures/ADT/Objects/Materials/crystal.rsi/crystal_2.png
  Resources/Textures/ADT/Objects/Materials/crystal.rsi/crystal_3.png
  Resources/Textures/ADT/Objects/Materials/crystal.rsi/meta.json
  Resources/Textures/ADT/Objects/Materials/crystal_art.rsi/crystal.png
  Resources/Textures/ADT/Objects/Materials/crystal_art.rsi/meta.json
  Resources/Textures/Effects/mobspawn.rsi/crab_BS.png
  Resources/Textures/Effects/mobspawn.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_bsore.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged

#1774 [Feature] УПРАВЛЯЕМАЯ ДЕМОКРАТИЯ: переработка голосования в лобби
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Voting/VoteCommands.cs
  Content.Shared/CCVar/CCVars.Vote.cs
Labels: size/S

#1779 [FIX] Фикс бага телепортации сумеречника на руках
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
  Content.Shared/ADT/PickupHumans/Systems/SharedPickupHumansSystem.cs
Labels: S: Untriaged, size/S

#1781 [TWEAK] Ревенант
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: Changes: No C#, size/XS

#1758 [ADD] пиво "Каргония" ,Листолюб особый, Плазмо-эль, Бледный эль "Отто"
  Resources/Locale/ru-RU/ADT/Flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Drinks/drinks.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Storage/Tanks/tanks.ftl
  Resources/Locale/ru-RU/ADT/reagents/meta/consumable/alcohol.ftl
  Resources/Prototypes/ADT/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/ADT/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/ADT/Flavors/flavors.yml
  Resources/Prototypes/ADT/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/ADT/Recipes/Reactions/drinks.yml
  Resources/Textures/ADT/Objects/Consumable/Drinks/cargobeer.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cargobeer.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cargobeer.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cargobeer.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cargobeer.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cargobeer.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cargobeer.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/cargobeer.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/leafloverbeer.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/leafloverbeer.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/leafloverbeer.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/leafloverbeer.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/leafloverbeer.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/leafloverbeer.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/leafloverbeer.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/leafloverbeer.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/scientificale.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/scientificale.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/scientificale.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/scientificale.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/scientificale.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/scientificale.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/scientificale.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/scientificale.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Drinks/uraniumale.rsi/fill-1.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/uraniumale.rsi/fill-2.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/uraniumale.rsi/fill-3.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/uraniumale.rsi/fill-4.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/uraniumale.rsi/fill-5.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/uraniumale.rsi/icon.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/uraniumale.rsi/icon_empty.png
  Resources/Textures/ADT/Objects/Consumable/Drinks/uraniumale.rsi/meta.json
  Resources/Textures/ADT/Structures/Storage/beertank.rsi/cargobeer.png
  Resources/Textures/ADT/Structures/Storage/beertank.rsi/leafloverbeer.png
  Resources/Textures/ADT/Structures/Storage/beertank.rsi/meta.json
  Resources/Textures/ADT/Structures/Storage/beertank.rsi/scientificale.png
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: No C#

#1782 [FIX] Фикс верба "Изменение Хп"
  Content.Server/ADT/Administration/Systems/AdminADTSmitesVerbs.cs
Labels: S: Untriaged, size/XS

#1786 remove(proto): Удаление слаймов
  Resources/Prototypes/Species/slime.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1789 Откат слаймов
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/ServerInfo/ADT/Guidebook/Mobs/SlimePerson.xml
Labels: S: Untriaged, size/S, Changes: No C#

#1812 [FIX] Сумеречники вновь умеют телепортироваться через action в хотбаре
  Content.Server/ADT/Shadekin/ShadekinSystem.cs
Labels: S: Untriaged, size/XS

#1813 Лодаут капитана
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/Neck/cloaks.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/ADT/Entities/Clothing/Neck/Cloaks.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/ADT/Clothing/Head/Hats/captain_cocked_hat.rsi/equipped-HELMET.png
  Resources/Textures/ADT/Clothing/Head/Hats/captain_cocked_hat.rsi/icon.png
  Resources/Textures/ADT/Clothing/Head/Hats/captain_cocked_hat.rsi/meta.json
  Resources/Textures/ADT/Clothing/Neck/Cloaks/captain_admiral.rsi/equipped-NECK.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/captain_admiral.rsi/icon.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/captain_admiral.rsi/inhand-left.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/captain_admiral.rsi/inhand-right.png
  Resources/Textures/ADT/Clothing/Neck/Cloaks/captain_admiral.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1817 Починка слитков для использования на латах
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1815 Fix delete mech equipment
  Content.Server/ADT/Mech/Systems/MechSystem.cs
Labels: S: Untriaged, size/S

#1820 [ADD] Некоторые предметы теперь не подбираются в комбот моде
  Content.Shared/ADT/Combat/Components/CombatModePickupWhitelistComponent.cs
  Content.Shared/ADT/Combat/Systems/CombatModePickupWhitelistSystem.cs
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Status: Needs Review, S: Untriaged, size/S

#1675 The Greatest Ghost Return ever
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: size/M, S: Untriaged

#1827 БИПСКИ
  Content.Server/ADT/NPC/NTH/EntityWhitelistOperator.cs
  Content.Server/ADT/NPC/NTH/ForceHandcuffOperator.cs
  Content.Server/ADT/NPC/NTH/PickNearbyWantedOperator.cs
  Content.Server/ADT/NPC/NTH/SendRadioOperator.cs
  Content.Server/ADT/NPC/NTH/TargetStunnedPrecondition.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/NPC/NPCBlackboard.cs
  Content.Shared/Contraband/ContrabandComponent.cs
  Content.Shared/CriminalRecords/CriminalRecord.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsSystem.cs
  Content.Shared/Cuffs/Components/CanForceHandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Security/Components/CriminalRecordComponent.cs
  Content.Shared/Security/Systems/CriminalStatusSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Audio/ADT/Voice/Silicon/Beepsky/beepskyspinsabre.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/criminal.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/iamthelaw.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/justice.ogg
  Resources/Audio/ADT/Voice/Silicon/Beepsky/secureday.ogg
  Resources/Locale/ru-RU/ADT/Interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ADT/npc/beepsky.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Mobs/NPCs/silicon.ftl
  Resources/Locale/ru-RU/ADT/recipes/tag.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Prototypes/ADT/Entities/Markers/Spawners/bots.yml
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/ADT/NPCs/secbot.yml
  Resources/Prototypes/ADT/Recipes/Crafting/Graphs/bots.yml
  Resources/Prototypes/ADT/Recipes/Crafting/bots.yml
  Resources/Prototypes/ADT/SoundCollections/beepsky.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Textures/ADT/Mobs/Silicon/Bots/securitron.rsi/meta.json
  Resources/Textures/ADT/Mobs/Silicon/Bots/securitron.rsi/secbot.png
  Resources/Textures/ADT/Mobs/Silicon/Bots/securitron.rsi/secbot_charged.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged, Changes: Audio

#1835 Some tweaks
  Content.Client/ADT/Modsuits/UI/ModSuitMenu.xaml.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitComponent.cs
  Content.Shared/ADT/Modsuit/Components/ModSuitModComponent.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitModSystem.cs
  Content.Shared/ADT/Modsuit/Systems/ModSuitSystem.cs
  Resources/Prototypes/ADT/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/ADT/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/ADT/Entities/Markers/Spawners/Random/crates.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
Labels: Changes: UI, size/S

#1788 [FIX] Правки локали, добавление баффа сб бот другим сб тапкам, изменение щита синдиката и тд читать в описание пра
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/Chemistry/chemistry.ftl
  Resources/Locale/ru-RU/corvax/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/shotgun.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Shoes/Boots.yml
  Resources/Prototypes/ADT/Entities/Objects/Shields/fullshield.yml
  Resources/Prototypes/ADT/Entities/Objects/Shields/fullshieldsindi.yml
  Resources/Prototypes/ADT/Roles/Jobs/Fun/emergenctresponceteam.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert.yml
  Resources/Prototypes/ADT/StartingGear/ERT/ert_leader.yml
  Resources/Prototypes/ADT/tags.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/ADT/Objects/Weapons/Melee/fullshieldsindi.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Objects/Weapons/Melee/fullshieldsindi.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Melee/fullshieldsindi.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/buckler.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/buckler.rsi/equipped-BELT.png
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/buckler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/buckler.rsi/meta.json
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/metal.rsi/equipped-BACKPACK.png
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/metal.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/ADT/Objects/Weapons/Melee/shields/metal.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged, Changes: No C#

#1826 Удалил изучение Индустриального СМЭСа
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/Fills/Crates/engineering.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/Circuitboards/Machine/production.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Power/industrialSMES.ftl
  Resources/Maps/Shuttles/emergency_frontier.yml
  Resources/Prototypes/ADT/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/ADT/Entities/Structures/Power/industrialSMES.yml
  Resources/Prototypes/ADT/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/ADT/Recipes/Lathes/electronics.yml
  Resources/Prototypes/ADT/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/meta.json
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc0.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-oc2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og3.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og4.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-og5.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op0.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op1.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-op2.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes-open.png
  Resources/Textures/ADT/Structures/Power/industrial_smes.rsi/smes.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-open.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-static.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes.png
  Resources/Textures/Structures/Power/smes.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Map, Changes: Localization, size/M, Changes: No C#

#1839 [DEV] Update config development.toml
  Resources/ConfigPresets/Build/development.toml
Labels: Changes: No C#, size/XS

#1843 Revert "[DEV] Update config development.toml"
  Resources/ConfigPresets/Build/development.toml
Labels: Changes: No C#, size/XS

#1846 [OPTIMIZATION] Удалены неиспользуемые саунды 9 мая и нового года
  Resources/Audio/ADT/Jukebox/9May/day-pobedy.ogg
  Resources/Audio/ADT/Jukebox/9May/desyatiy-nash-desantniy-batalon.ogg
  Resources/Audio/ADT/Jukebox/9May/katyusha.ogg
  Resources/Audio/ADT/Jukebox/9May/mayskiy-vals.ogg
  Resources/Audio/ADT/Jukebox/9May/proshchanie-slavyanki.ogg
  Resources/Audio/ADT/Jukebox/9May/smuglyanka.ogg
  Resources/Audio/ADT/Jukebox/9May/svyashchennaya-voyna.ogg
  Resources/Audio/ADT/Jukebox/9May/tanki.ogg
  Resources/Audio/ADT/Jukebox/9May/tyomnaya-noch.ogg
  Resources/Audio/ADT/Jukebox/9May/zhuravli.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-countdown-deck-the-halls.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-is-coming.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-mood.ogg
  Resources/Audio/ADT/Jukebox/NewYear/alex-productions-christmas-vibes.ogg
  Resources/Audio/ADT/Jukebox/NewYear/attributions.yml
  Resources/Audio/ADT/Jukebox/NewYear/maxkomusic-christmas-is-coming.ogg
  Resources/Audio/ADT/Jukebox/NewYear/roa-music-winter-magic.ogg
  Resources/Audio/ADT/Jukebox/NewYear/the-piano-says-yuletide.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_1.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_2.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_3.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_4.ogg
  Resources/Audio/Corvax/Adminbuse/aimalf.ogg
  Resources/Audio/Corvax/Adminbuse/i-storm1.ogg
  Resources/Audio/Corvax/Adminbuse/irod.ogg
  Resources/Audio/Corvax/Adminbuse/outbreak5.ogg
  Resources/Audio/Corvax/Adminbuse/portal.ogg
  Resources/Audio/Corvax/Adminbuse/vox_arrival.ogg
  Resources/Audio/Corvax/Adminbuse/vox_returns.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_crew_win.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help_fail.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help_fail.ogg
Labels: size/S, Changes: No C#, Changes: Audio

#1850 [OPTIMIZATION] Рефактор систем AutoEmotePostingChatSystem и AutoSpeakPostingChatSystem
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatComponent.cs
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatSystem.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatComponent.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatSystem.cs
Labels: size/M, S: Untriaged

#1851 [OPTIMIZATION] Переписана система BloodCoughSystem, полностью убран Update и заменён на таймер
  Content.Server/ADT/AutoPostingChat/AutoEmotePostingChatSystem.cs
  Content.Server/ADT/AutoPostingChat/AutoSpeakPostingChatSystem.cs
  Content.Server/ADT/BloodCough/BloodCoughComponent.cs
  Content.Server/ADT/BloodCough/BloodCoughSystem.cs
Labels: size/M, S: Untriaged

#1853 [OPTIMIZATION] Убран пасхальный контент
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/Baked/misc.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Consumable/Food/snacks.ftl
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/ADT/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/big.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/cheesy.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/meta.json
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/small.png
  Resources/Textures/ADT/Objects/Consumable/Food/Baked/easter.rsi/sweetroll.png
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: No C#

#1858 пару обновлений
  Content.Server/ADT/Morph/MorphSystem.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifyComponent.cs
  Content.Server/ADT/PressureDamageModify/PressureDamageModifySystem.cs
  Content.Shared/ADT/Morph/MorphComponent.cs
  Content.Shared/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
  Resources/Prototypes/ADT/Entities/Mobs/NPCs/spiders.yml
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, size/S

#1859 [MAP] Барратри
  Resources/Maps/ADTMaps/ADTStations/adt_barratry.yml
  Resources/Prototypes/ADT/Maps/ADTMaps/adt_barratry.yml
Labels: Changes: Map, S: Untriaged, size/S, Changes: No C#

#1861 [FIX] Починка блюспейс кристаллов, как материал. Фикс Хранилища материалов
  Resources/Prototypes/ADT/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Labels: S: Untriaged, Changes: No C#, size/XS
