Repository AdventureTimeSS14/space_station_ADT, pull requests merged in 2025-10, with the labels that each got.

#1997 Tweaks and salvage
  Content.Server/ADT/Shuttles/Systems/DockingConsoleSystem.cs
  Content.Server/ADT/SpawnInRange/SpawnInRangeComponent.cs
  Content.Server/ADT/SpawnInRange/SpawnInRangeSystem.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Locale/ru-RU/ADT/spawnInRange/fax.ftl
  Resources/Prototypes/ADT/planets.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Procedural/salvage_mods.yml
Labels: Changes: Localization, size/M

#1998 fix
  Content.Server/ADT/SpawnInRange/SpawnInRangeSystem.cs
Labels: S: Untriaged, size/XS

#2001 Баланс ЗаконШкафа
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#2002 Фикс сеньоров
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: S: Untriaged, size/S, Changes: No C#

#2004 Фикс бага со слипом на резоми во время спринта
  Resources/Prototypes/ADT/Reagents/biological.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#2007 Реворк нескольких вещей в новакидах [Верните мне мой 2007]
  Resources/Prototypes/ADT/Body/Organs/novakid.yml
  Resources/Prototypes/ADT/Body/Prototypes/novakid.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/novakid.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: S: Untriaged, size/S, Changes: No C#

#2015 Фикс телескопичек
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/telescopic_baton.yml
Labels: Changes: Localization, S: Untriaged, Changes: No C#

#2019 [ADD] Мануал улучшенных пантомим
  Content.Server/ADT/Mime/EnhancedMimePowersComponent.cs
  Content.Server/ADT/Mime/EnhancedMimePowersSystem.cs
  Content.Server/ADT/Mime/MimeFingerGunComponent.cs
  Content.Server/ADT/Mime/MimeFingerGunSystem.cs
  Content.Server/ADT/Mime/MimeThroatPunchComponent.cs
  Content.Server/ADT/Mime/MimeThroatPunchSystem.cs
  Content.Server/Abilities/Mime/MimePowersComponent.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Shared/ADT/Mime/MimeFingerGunEvent.cs
  Content.Shared/ADT/Mime/MimeThroatPunchEvent.cs
  Resources/Locale/ru-RU/ADT/abilitties/mime.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Actions/mime.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Catalog/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Specific/mime_book.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/Projectiles/mime_projectile.ftl
  Resources/Prototypes/ADT/Actions/mime.yml
  Resources/Prototypes/ADT/Catalog/uplink_catalog.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/mime_book.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Projectiles/mime_projectile.yml
  Resources/Textures/ADT/Interface/Actions/mime.rsi/meta.json
  Resources/Textures/ADT/Interface/Actions/mime.rsi/pistol.png
  Resources/Textures/ADT/Interface/Actions/mime.rsi/thhhh.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/book_mime.png
  Resources/Textures/ADT/Objects/Misc/books.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, S: Untriaged

#2009 Space getting more liminal [не мерджить пока что]
  Resources/Audio/ADT/Ambience/Music/CL.ogg
  Resources/Audio/ADT/Ambience/Music/CM.ogg
  Resources/Audio/ADT/Ambience/Music/attributions.yml
  Resources/Audio/ADT/Lobby/DOS.ogg
  Resources/Audio/ADT/Lobby/IHYVA.ogg
  Resources/Audio/ADT/Lobby/Nebula.ogg
  Resources/Audio/ADT/Lobby/attributions.yml
  Resources/Prototypes/ADT/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/audio.yml
Labels: size/S, Changes: No C#, Changes: Audio

#2027 Driving in my car right after a beer
  Content.Server/Cargo/Components/CargoPalletConsoleComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Resources/Prototypes/ADT/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/ADT/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, S: Untriaged, size/S

#1991 [Tweak] Изменён кд на магнит обломков и другое
  Content.Shared/CCVar/CCVars.Salvage.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/trash.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Melee/melee.ftl
  Resources/Prototypes/ADT/Actions/materialarts.yml
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/ADT/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/cards.yml
  Resources/Prototypes/ADT/Entities/Objects/Fun/poker_chips.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Melee/crushers.yml
  Resources/Prototypes/ADT/Research/biochemical.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Tools/fulton.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: Localization, size/M, S: Untriaged

#2025 Great Upstream Fixes
  Content.Shared/ADT/Climbing/BonkSystem.cs
  Content.Shared/ADT/Crawling/SharedCrawling.cs
  Content.Shared/ADT/Crawling/Systems/SharedCrawlingSystem.cs
  Content.Shared/Flash/Components/FlashImmunityComponent.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Content.Shared/Mech/Equipment/Systems/MechSoundboardSystem.cs
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Resources/Locale/ru-RU/ADT/modsuits/description-modsuit-mod.ftl
  Resources/Locale/ru-RU/ADT/modsuits/ui-modsuit.ftl
  Resources/Prototypes/ADT/Actions/mime.yml
  Resources/Prototypes/ADT/Entities/Mobs/Species/novakid.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Lavaland/lavalandplants.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/Modsuits/modules.yml
  Resources/Prototypes/ADT/Entities/Objects/Specific/material_args.yml
  Resources/Prototypes/ADT/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/locked.png
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/meta.json
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/open.png
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/overlay-closed.png
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/overlay-open.png
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/overlay.png
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/sparking.png
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/unlocked.png
  Resources/Textures/Structures/Storage/Crates/lockbox.rsi/welded.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review, size/M, S: Untriaged

#2029 Фикс джаунтера + стандартизация кода.
  Content.Server/ADT/Salvage/Systems/JaunterSystem.cs
Labels: S: Untriaged, size/S

#2030 Fix of my fuckup
  Resources/Prototypes/ADT/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: Changes: No C#

#2031 [ТЕСТ, ПОТОМ ВОЗМОЖНО ОТКАТИТЬ] реворк звуков анаусментов
  Content.Server/Announcements/AnnounceCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/NukeOps/WarDeclaratorComponent.cs
  Resources/Audio/ADT/Announcements/announce.ogg
  Resources/Audio/ADT/Announcements/announce_syndi.ogg
  Resources/Locale/ru-RU/ADT/Heretic/store/heretic/heretic-catalog-side.ftl
  Resources/Prototypes/ADT/GameRules/events.yml
  Resources/Prototypes/ADT/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/random_sentience.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: Localization, S: Untriaged, size/S, Changes: Audio
